/* ==========================================================================
   COMPONENTS / #HOMEPAGE-SECTION
   ========================================================================== */

.nhsuk-section-break {
	border: 0;
	margin: 0;
}

.nhsuk-section-break--xl {
	margin-top: 48px;
	margin-bottom: 48px;
}

.nhsuk-section-break--l {
	margin-top: 32px;
	margin-bottom: 32px;
}

.nhsuk-section-break--m {
	margin-top: 16px;
	margin-bottom: 16px;
}

.nhsuk-section-break--visible {
	border-bottom: 1px solid $color_nhsuk-grey-4;
}

.nhsuk-homepage {
	background-color: $color_nhsuk-white;

	.nhsuk-section {
		&:nth-of-type(odd) {
			background: $color_nhsuk-grey-5;
		}
	}

	.nhsuk-section__content {
		.nhsuk-action-link {
			padding-top: 8px;
		}
	}
}

.nhsuk-section__content {
	padding-bottom: 64px;
	padding-top: 64px;

	> {
		:first-child {
			margin-top: 0;
		}
		:last-child {
			margin-bottom: 0;
		}
	}

	&:empty {
		display: none;
	}

	h2 {
		padding-top: 0;
	}
}

.nhsuk-section__description {
	color: $color_nhsuk-grey-1;
}

.nhsuk-section--with-image {
	position: relative;

	&:before {
		background-image: url("/images/crosses.svg");
		background-position: left top;
		background-repeat: no-repeat;
		bottom: 0;
		content: "";
		display: block;
		height: 700px;
		position: absolute;
		right: 0;
		width: 48%;
	}
}

.nhsuk-width-container {
  margin: 0 16px;
  max-width: 960px;
}
.nhsuk-width-container-fluid {
  margin: 0 16px;
  max-width: 100%;
}

.nhsuk-width-container--full {
	margin: 0;
	max-width: none;
}

.nhsuk-main-wrapper--no-padding {
	padding: 0;
}

@media (min-width:40.0625em) {
	.nhsuk-section-break--xl {
		margin-top: 56px;
		margin-bottom: 56px;
	}

	.nhsuk-section-break--l {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.nhsuk-section-break--m {
		margin-top: 24px;
		margin-bottom: 24px;
	}

	.nhsuk-homepage {
		.nhsuk-section {
			&:nth-of-type(2) {
				padding-top: 40px;
			}
		}
	}
}

@media (max-width:48.0525em) {
	.nhsuk-section__content {
		padding-bottom: 48px;
		padding-top: 48px;
	}

	.nhsuk-section__content+.nhsuk-section__content {
		padding-top: 0;
	}

	.nhsuk-section--with-image {
		&:before {
			background-image: url("/images/crosses-mobile.svg");
			bottom: auto;
			height: 125px;
			left: 0;
			right: auto;
			top: -10px;
			width: 100%;
		}
		padding-top: 120px;
	}

	.nhsuk-header__navigation.js-show {
		.nhsuk-width-container {
			margin: 0;
		}
	}
}

@media (max-width:26.3125em) {
	.nhsuk-homepage {
		.nhsuk-section {
			&:nth-of-type(2) {
				padding-top: 40px;
			}
		}
	}
}

@media (min-width:48.0625em) {
	.nhsuk-width-container {
		margin: 0 32px;
	}

	.nhsuk-width-container-fluid {
		margin: 0 32px;
	}
}

@media (min-width:1024px) {
	.nhsuk-width-container {
		margin: 0 auto;
	}
}

@media (max-width:61.865em) {
	.nhsuk-header__navigation.js-show {
		border-bottom: 4px solid $color_nhsuk-grey-5;
		border-top: 4px solid $color_nhsuk-grey-5;
		.nhsuk-width-container {
			margin: 0 16px;
		}
	}
}

@media print {
	#nhsuk-cookie-banner {
		display: none;
		.nhsuk-width-container {
			display: none;
		}
		h2 {
			display: none;
		}
		p {
			display: none;
		}
	}

	.nhsuk-back-link {
		display: none;
		.nhsuk-width-container {
			display: none;
		}
		h2 {
			display: none;
		}
		p {
			display: none;
		}
	}

	.nhsuk-grid-column-one-third {
		display: none;
		.nhsuk-width-container {
			display: none;
		}
		h2 {
			display: none;
		}
		p {
			display: none;
		}
	}

	.nhsuk-pagination {
		display: none;
		.nhsuk-width-container {
			display: none;
		}
		h2 {
			display: none;
		}
		p {
			display: none;
		}
	}

	a[href^=tel] {
		&::after {
			display: none;
			.nhsuk-width-container {
				display: none;
			}
			h2 {
				display: none;
			}
			p {
				display: none;
			}
		}
	}

	a[id] {
		&::after {
			display: none;
			.nhsuk-width-container {
				display: none;
			}
			h2 {
				display: none;
			}
			p {
				display: none;
			}
		}
	}

	.nhsuk-width-container {
		width: 100%;
	}
}