<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full nhsuk-section__content">
        {#{{ caller() | safe }}#}
      </div>
    </div>
  </div>
</section>