{%- from 'hee/blocks/scaffolding/mega-menu/macro.njk' import megaMenu %}

{{ megaMenu({
  id: "menu-main",
  theme: "theme-grey",
  primaryLinks: [
    {
      active: true,
      label: "Mental Health"
    },
    {
      url: "#",
      label: "Training and education",
      children: [
        [
          {
            url: "#",
            label: "Courses"
          },
          {
            url: "#",
            label: "Training programmes "
          },
          {
            url: "#",
            label: "Educational events"
          }
        ]
      ]
    },
    {
      url: "#",
      label: "Evidence and resources",
      children: [
        [
          {
            url: "#",
            label: "Publications"
          },
          {
            url: "#",
            label: "Data"
          },
          {
            url: "#",
            label: "Resources"
          }
        ]
      ]
    },
    {
      url: "#",
      label: "Get involved",
      children: [
        [
          {
            url: "#",
            label: "Roles"
          },
          {
            url: "#",
            label: "Pathways"
          },
          {
            url: basePath + "/alpha/single-opportunity.html",
            label: "Opportunities"
          },
          {
            url: "#",
            label: "Collaboration"
          }
        ]
      ]
    },
    {
      url: "#",
      label: "Support",
      children: [
        [
          {
            url: "#",
            label: "Support for learners"
          },
          {
            url: "#",
            label: "Support for educators"
          },
          {
            url: "#",
            label: "Support for employers"
          },
          {
            url: "#",
            label: "Support for commissioners"
          }
        ]
      ]
    },
    {
      url: "#",
      label: "Workforce",
      children: [
        [
          {
            url: "#",
            label: "Workforce planning"
          },
          {
            url: "#",
            label: "Workforce transformation"
          }
        ]
      ]
    }
  ]
}) }}