{% extends "includes/_example-template-fullwidth.html" %}

{% set page_title = 'Homepage - Workforce, Training and Education, NHS England' %}

{% block pageClass %}page--fullwidth alpha-fullwidth{% endblock %}
{% block pageHeaderClass %}has-microhero{% endblock %}

{% block pageTitle %}{{ page_title }}{% endblock %}

{% block header %}
  <div class="site-header">
    {{ customHeader({
      "showNav": "false",
      "showSearch": "false",
      "showLogos": "false",
      "heeHref": basePath + "/alpha/double-index.html",
      "classes": "nhsuk-header--white",
      "organisation": {
        "name": "Workforce, Training and Education",
        "split": ""
      },
      "logos": [
        {
          "href": "https://www.nimdta.gov.uk/",
          "label": "Northern Ireland Medical and Dental Training Agency Website (Opens in New Window)",
          "imgSrc": basePath + "/assets/images/logos/nimdta-logo.png",
          "imgAlt": "Logo for Northern Ireland Medical and Dental Training Agency"
        },
        {
          "href": "https://www.nes.scot.nhs.uk/",
          "label": "NHS Education for Scotland Website (Opens in New Window)",
          "imgSrc": basePath + "/assets/images/logos/nhs-scotland-logo.png",
          "imgAlt": "Logo for NHS Education for Scotland"
        },
        {
          "href": "https://heiw.nhs.wales/",
          "label": "Health Education and Improvement Wales Website (Opens in New Window)",
          "imgSrc": basePath + "/assets/images/logos/heiw-logo.png",
          "imgAlt": "Logo for Health Education and Improvement Wales"
        }
      ]
    })
    }}

    {% include "alpha/_double-menu-main.html" %}
  </div>

  {{ phaseBanner({
    tag: "Alpha",
    description: 'This is a new service – your <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=K5Gn_5ewMUGcD9DoB1Wyq62_imvDlFpPhawBoObID1NUQTNENlpXMlNZVjJBS0JCUVVLUlQxSkJVUyQlQCN0PWcu" target="_blank" title="Opens in New Window">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block pageHeader %}
  {{ hero({
    heading: "Workforce, Training and Education",
    text: "Welcome to the home of the Workforce Training and Education directorate",
    imageURL: basePath + "/assets/images/alpha-home-hero.jpg"
  }) }}
  <div class="nhsuk-width-container">
    <span class="nhsuk-caption-l">Workforce, Training and Education exists for one reason only: to support the delivery of excellent healthcare and health improvement to the patients and public of England by ensuring that the workforce of today and tomorrow has the right numbers, skills, values and behaviours, at the right time and in the right place.</span>
  </div>
{% endblock %}

{% block pageContent %}
  <br><br>

  <h2>Who are NHS England Workforce, Training and Education directorate?</h2>
  <p>The NHS England Workforce, Training and Education directorate provides national leadership and coordination for the education and training within the health and public health workforce within England. It’s main functions are to:</p>
  <ul>
    <li>Develop and implement education and training strategies for the health and public health workforce</li>
    <li>Provide funding for education and training</li>
    <li>Monitor the quality of education and training</li>
    <li>Evaluate the effectiveness of education and training</li>
    <li>Promote innovation in education and training</li>
  </ul>
  <p>The directorate works with a range of partners, including local authorities, universities, and the private sector. It also works with the public to ensure that education and training meets the needs of the health and public health workforce. It’s work is essential to ensuring that the NHS has the skilled and qualified workforce it needs to provide high-quality care to the public.</p>

  <h2>About the NHS Merger</h2>
  <p>The NHS merged on 01st April 2023 with NHS Digital, NHS England, and Health Education England to create a single organisation. The merger was announced in November 2021.</p>
  <p>The merger is intended to improve the efficiency and effectiveness of the NHS by bringing together the three organisations into one. It is also hoped that the merger will help to reduce duplication and improve the quality of care.</p>
{% endblock %}
