{% extends "example-template-fullwidth.html" %}

{% block pageTitle %}Parent Site - Single menu - Opportunities{% endblock %}

{% block pageClass %}page--fullwidth alpha-fullwidth{% endblock %}
{% block pageHeaderClass %}{% endblock %}

{% block breadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: basePath + "/alpha/single-index.html",
          text: "WTE"
        },
        {
          href: "#",
          text: "Healthcare topics"
        },
        {
          href: basePath + "/alpha/single-mental-health.html",
          text: "Mental health"
        }
      ],
      href: "#",
      text: "Get involved"
    })
  }}
{% endblock %}

{% block header %}
  <div class="site-header">
    {{ backToHomeBanner({
      url: basePath + "/alpha/single-index.html",
      title: "Back to Workforce, training and education"
    }) }}

    {{ customHeader({
      "showNav": "false",
      "showSearch": "true",
      "showLogos": "false",
      "heeHref": basePath + "/alpha/single-index.html",
      "homeHref": "/alpha/single-mental-health.html",
      "classes": "nhsuk-header--white",
      "organisation": {
        "name": "Workforce, Training and Education",
        "split": "",
        "descriptor": "Mental Health"
      },
      "logos": [
        {
          "href": "https://www.nimdta.gov.uk/",
          "label": "Northern Ireland Medical and Dental Training Agency Website (Opens in New Window)",
          "imgSrc": basePath + "/images/logos/nimdta-logo.png",
          "imgAlt": "Logo for Northern Ireland Medical and Dental Training Agency"
        },
        {
          "href": "https://www.nes.scot.nhs.uk/",
          "label": "NHS Education for Scotland Website (Opens in New Window)",
          "imgSrc": basePath + "/images/logos/nhs-scotland-logo.png",
          "imgAlt": "Logo for NHS Education for Scotland"
        },
        {
          "href": "https://heiw.nhs.wales/",
          "label": "Health Education and Improvement Wales Website (Opens in New Window)",
          "imgSrc": basePath + "/images/logos/heiw-logo.png",
          "imgAlt": "Logo for Health Education and Improvement Wales"
        }
      ]
    })
    }}

    {% include "alpha/_single-menu-mental-health.html" %}
  </div>

  {{ phaseBanner({
    tag: "Alpha",
    description: 'This is a new service – your <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=K5Gn_5ewMUGcD9DoB1Wyq62_imvDlFpPhawBoObID1NUQTNENlpXMlNZVjJBS0JCUVVLUlQxSkJVUyQlQCN0PWcu" target="_blank" title="Opens in New Window">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    <h1>Opportunities</h1>
    <span class="nhsuk-caption-xl">Mental Health</span>
    <p class="nhsuk-lede-text">Getting involved in mental health in the workplace can help to create a more supportive and understanding work environment for everyone.</p>
  </div>
{% endblock %}

{% block pageContent %}
  <h2>Training and working in Mental Health</h2>
  <p>These are just a few of the many roles that are available in mental health. There are many different ways to get involved in mental health.</p>

  <ul>
    <li><strong>Psychiatrist.</strong> Psychiatrists are medical doctors who diagnose and treat mental disorders. They can prescribe medication and provide therapy.</li>
    <li><strong>Psychologist.</strong> Psychologists are experts in human behaviour. They can provide talking therapies and counselling, and they can also conduct research on mental health.</li>
    <li><strong>Social worker.</strong> Social workers help people with a variety of problems, including mental health issues. They can provide case management, counselling, and support groups.</li>
    <li><strong>Mental Health Nurse.</strong> Nurses can work in a variety of settings, including hospitals, clinics, and schools. They can provide care to people with mental health problems, and they can also provide education and support.</li>
    <li><strong>Counsellor.</strong> Mental health counsellors provide therapy and counselling to people with mental health problems. They can also provide support groups and educational programs.</li>
    <li><strong>Crisis worker.</strong> Crisis workers help people who are in crisis, including people who are suicidal or who are experiencing mental health problems. They can provide support and counselling, and they can also help people connect with resources.</li>
    <li><strong>Recovery coach.</strong> Recovery coaches help people who are recovering from mental health problems. They can provide support and guidance, and they can also help people connect with resources.</li>
  </ul>
{% endblock %}
