{% extends "example-template-rightbar.html" %}

{% block pageTitle %}Parent Site - Single menu - Wellbeing Resources{% endblock %}

{% block pageHeaderClass %}{% endblock %}

{% block breadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: basePath + "/alpha/single-index.html",
          text: "WTE"
        },
        {
          href: "#",
          text: "Support"
        },
        {
          href: basePath + "/alpha/single-psw.html",
          text: "Professional support & wellbeing"
        }
      ],
      href: "#",
      text: "Wellbeing & psychological support"
    })
  }}
{% endblock %}

{% block header %}
  <div class="site-header">
    {{ backToHomeBanner({
      url: basePath + "/alpha/single-index.html",
      title: "Back to Workforce, training and education"
    }) }}

    {{ customHeader({
      "showNav": "false",
      "showSearch": "true",
      "showLogos": "false",
      "heeHref": basePath + "/alpha/single-index.html",
      "classes": "nhsuk-header--white",
      "organisation": {
        "name": "Health Education England",
        "split": "",
        "descriptor": "Dental Education Hub"
      },
      "logos": [
        {
          "href": "https://www.nimdta.gov.uk/",
          "label": "Northern Ireland Medical and Dental Training Agency Website (Opens in New Window)",
          "imgSrc": basePath + "/images/logos/nimdta-logo.png",
          "imgAlt": "Logo for Northern Ireland Medical and Dental Training Agency"
        },
        {
          "href": "https://www.nes.scot.nhs.uk/",
          "label": "NHS Education for Scotland Website (Opens in New Window)",
          "imgSrc": basePath + "/images/logos/nhs-scotland-logo.png",
          "imgAlt": "Logo for NHS Education for Scotland"
        },
        {
          "href": "https://heiw.nhs.wales/",
          "label": "Health Education and Improvement Wales Website (Opens in New Window)",
          "imgSrc": basePath + "/images/logos/heiw-logo.png",
          "imgAlt": "Logo for Health Education and Improvement Wales"
        }
      ]
    })
    }}

    {% include "alpha/_single-menu-psw.html" %}
  </div>

  {{ phaseBanner({
    tag: "Alpha",
    description: 'This is a new service – your <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=K5Gn_5ewMUGcD9DoB1Wyq62_imvDlFpPhawBoObID1NUQTNENlpXMlNZVjJBS0JCUVVLUlQxSkJVUyQlQCN0PWcu" target="_blank" title="Opens in New Window">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    <h1>Wellbeing resources</h1>
    <span class="nhsuk-caption-xl">Professional Support and Wellbeing</span>
    <p class="nhsuk-lede-text">Wellbeing resources can be a valuable tool for anyone who is looking to improve their mental and physical health.</p>
  </div>
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block pageRightbar %}
  {{ relatedLinksCard({
    heading: "Curabitur sit amet",
    links: [
      {
        label: "Donec pulvinar",
        url: "#"
      },
      {
        label: "Duis consequat",
        url: "#"
      },
      {
        label: "Fusce at neque",
        url: "#"
      }
    ]
  })}}
{% endblock %}

{% block pageFeature %}
  {% set items = [
    {
      title: "Blog/News Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    },
    {
      title: "Blog/News Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    },
    {
      title: "Blog/News Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    }
  ]
  %}

  <div class="nhsuk-width-container">
    <h2>Related content</h2>
    <p>Sed gravida laoreet fames eu. Proin id cras eu elementum. Aliquam orci, arcu nulla enim. Adipiscing sit id vestibulum in duis amet sit placerat. Magnis ullamcorper elementum ante elit amet imperdiet. Nunc turpis vel aliquam lacus arcu. Sodales nullam id lectus orci quis sed. dsf</p>
    {{ featuredContent(items) }}
  </div>
{% endblock %}
