{% extends "includes/_example-template-fullwidth.html" %}

{% set page_title = 'Get Involved - Workforce, Training and Education, NHS England' %}

{% block pageClass %}page--fullwidth alpha-fullwidth double-menu third-a{% endblock %}
{% block pageHeaderClass %}has-microhero{% endblock %}

{% block pageTitle %}{{ page_title }}{% endblock %}

{% block header %}
  <div class="site-header">
    {{ customHeader({
      "showNav": "false",
      "showSearch": "false",
      "showLogos": "false",
      "heeHref": basePath + "/alpha/third-a-index.html",
      "homeHref": "/alpha/third-a-mental-health.html",
      "classes": "nhsuk-header--white",
      "organisation": {
        "name": "Workforce, Training and Education",
        "split": "",
        "descriptor": "Mental Health"
      },
      "logos": [
        {
          "href": "https://www.nimdta.gov.uk/",
          "label": "Northern Ireland Medical and Dental Training Agency Website (Opens in New Window)",
          "imgSrc": basePath + "/assets/images/logos/nimdta-logo.png",
          "imgAlt": "Logo for Northern Ireland Medical and Dental Training Agency"
        },
        {
          "href": "https://www.nes.scot.nhs.uk/",
          "label": "NHS Education for Scotland Website (Opens in New Window)",
          "imgSrc": basePath + "/assets/images/logos/nhs-scotland-logo.png",
          "imgAlt": "Logo for NHS Education for Scotland"
        },
        {
          "href": "https://heiw.nhs.wales/",
          "label": "Health Education and Improvement Wales Website (Opens in New Window)",
          "imgSrc": basePath + "/assets/images/logos/heiw-logo.png",
          "imgAlt": "Logo for Health Education and Improvement Wales"
        }
      ]
    })
    }}

    {% include "alpha/_third-a-menu-main.html" %}
  </div>

  {{ phaseBanner({
    tag: "Alpha",
    description: 'This is a new service – your <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=K5Gn_5ewMUGcD9DoB1Wyq62_imvDlFpPhawBoObID1NUQTNENlpXMlNZVjJBS0JCUVVLUlQxSkJVUyQlQCN0PWcu" target="_blank" title="Opens in New Window">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block pageHeader %}
  {{ microHero({
    imgURL: basePath + "/assets/images/alpha-involved-hero.jpg"
  }) }}

  {{ secondaryMenu({
    homeIcon: true,
    theme: "theme-black-text",
    items: [
      {
        title: "Mental health",
        url: basePath + "/alpha/third-a-mental-health.html"
      },
      {
        title: "Training and education",
        url: basePath + "/alpha/third-a-mh-training-education.html"
      },
      {
        title: "Evidence and resources",
        url: basePath + "/alpha/third-a-mh-evidence-resources.html"
      },
      {
        active: true,
        title: "Get involved"
      },
      {
        title: "Support",
        url: basePath + "/alpha/third-a-mh-support.html"
      },
      {
        title: "Workforce",
        url: basePath + "/alpha/third-a-mh-workforce.html"
      }
    ]
  }) }}

  <div class="breadcrumbs alpha">
    {{
      breadcrumb({
        items: [
          {
            href: basePath + "/alpha/third-a-index.html",
            text: "WTE"
          },
          {
            href: "#",
            text: "Healthcare topics"
          }
        ],
        href: basePath + "/alpha/third-a-mental-health.html",
        text: "Mental health"
      })
    }}
  </div>

  <div class="nhsuk-width-container">
    <h1>Get involved</h1>
    <span class="nhsuk-caption-xl">Mental Health</span>
  </div>
{% endblock %}

{% block pageContent %}
  {% set items = [
    {
      title: "Collaboration",
      href: "#",
      summary: "Get in touch with other health and care professionals working in the area of mental health."
    },
    {
      title: "Opportunities",
      href: basePath + "/alpha/third-a-opportunity.html",
      summary: "Find opportunities to train, work and volunteer in mental health services."
    },
    {
      title: "Pathways",
      href: "#",
      summary: "Discover different career pathways in mental health services."
    },
    {
      title: "Roles",
      href: "#",
      summary: "Find out about what's involved in the different roles in mental health services."
    }
  ]
  %}

  <br>

  {{ featuredContent({items: items}) }}
{% endblock %}
