{% macro personCard(params) %}

{#{ personCard({
  title: "Dr",
  name: "Bobby Smith", 
  initials: "BS",
  pronouns: "They/them",
  jobTitle: "Content Editor",
  department: "National Website Platform",
  organisation: "NHS UK",
  workAddress: {
    line1: "2 Stephenson St",
    line2: "",
    line3: "",
    city: "Birmingham",
    county: "West Midlands",
    postcode: "B1 2SE"
  },
  image: "",
  email: "bobby.smithandthelongestemail@hee.co.uk",
  telephone: "01162344444",
  website: "http://nhs.uk/",
  twitter: "nhsengland",
  linkedIn: "nhs"
}) }#}
  
{%- if params.gridCol %}<div class="{{ params.gridCol }}">{% endif %}

  <div class="hee-card hee-card--person{%- if params.classes %} {{ params.classes }}{% endif %}">

    {% if params.heading %}
      <h2 class="hee-card__heading">{{ params.heading | safe }}</h2>
    {% endif %}

    <div class="hee-card--header">
      <div class="hee-card__image {{ 'has-bg' if params.imgURL }}">
        <div class="hee-card__initials" {%- if params.imgURL %} style="background: url('{{ params.imgURL }}')" {% endif %}>
          {% if params.initials %}
            <span>{{ params.initials}}</span>
          {% endif %}
        </div>
      </div>

      <div class="hee-card--details">
        <h2 class="hee-card__name" aria-label="Name">
          {{ params.title | safe }} {{ params.name | safe }}
        </h2>

        {% if params.pronouns %}
          <span class="hee-card__pronouns" aria-label="Pronouns">{{ params.pronouns | safe }}</span>
        {% endif %}

        {%- if params.jobTitle %}
          <h3 class="nhsuk-heading-m hee-card__jobtitle" aria-label="Job Title" >{{ params.jobTitle | safe }}</h3>
        {%- endif %}

        {%- if params.department %}
          <p class="hee-card__department" aria-label="Department" >{{ params.department | safe }}</p>
        {%- endif %}

        {%- if params.organisation %}
          <p class="hee-card__organisation" aria-label="Organisation" >{{ params.organisation | safe }}</p>
        {%- endif %}
      </div>
    </div>

    <ul class="hee-card__contact">
      {%- if params.telephone %}
        <li class="hee-card__telephone hee-card__contact__item" aria-label="Telephone"><a href="tel:{{ params.telephone | safe }};" title="Opens telephone">{{ params.telephone | safe }}</a></li>
      {%- endif %}

      {%- if params.email %}
        <li class="hee-card__email hee-card__contact__item" aria-label="Email"><a href="mailto:{{ params.email | safe }};" title="Opens email">{{ params.email | safe }}</a></li>
      {%- endif %}

      {%- if params.website %}
        <li class="hee-card__website hee-card__contact__item" aria-label="Website"><a href="{{ params.website | safe }}" title="Opens website">{{ params.website | safe }}</a></li>
      {%- endif %}

      {%- if params.linkedin %}
        <li class="hee-card__linkedin hee-card__contact__item" aria-label="Linkedin"><a href="https://www.linkedin.com/company/{{ params.linkedin | safe }}" title="Opens linkedin">{{ params.linkedin | safe }}</a></li>
      {%- endif %}

      {%- if params.twitter %}
        <li class="hee-card__twitter hee-card__contact__item" aria-label="Twitter"><a href="https://twitter.com/{{ params.twitter | safe }}" title="Opens twitter">@{{ params.twitter | safe }}</a></li>
      {%- endif %}
    </ul>

    {% if params.workAddress %}
      <p class="hee-card__address" aria-label="Address">
        {% if params.workAddress.line1 %}
          {{ params.workAddress.line1 | safe }}<br>
        {% endif %}

        {% if params.workAddress.line2 %}
          {{ params.workAddress.Line2 | safe }}<br>
        {% endif %}

        {% if params.workAddress.line3 %}
          {{ params.workAddress.line3 | safe }}<br>
        {% endif %}

        {% if params.workAddress.city %}
          {{ params.workAddress.city | safe }}<br>
        {% endif %}

        {% if params.workAddress.county %}
          {{ params.workAddress.county | safe }}<br>
        {% endif %}

        {% if params.workAddress.postcode %}
          {{ params.workAddress.postcode | safe }}
        {% endif %}
      </p>
    {% endif %}

    {%- if params.bio %}
      <p class="hee-card__bio" aria-label="Bio" >{{ params.bio | safe }}</p>
    {%- endif %}

    {%- if params.authorURL %}
      <p class="hee-card__authorurl" aria-label="Author URL"><a href="{{ params.authorURL | safe }}">View more about {{ params.title | safe }} {{ params.name | safe }}</a></p>
    {%- endif %}

  </div>

  {%- if params.gridCol %}</div>{% endif %}

{% endmacro %}