.hee-card--summary {
  border: 1px solid $color_nhsuk-grey-4;
  width: 100%;

  .hee-card--summary__list {
    @include nhsuk-typography-responsive(19);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .hee-card--summary__item {
    @include nhsuk-responsive-margin(3, 'bottom');
    @include nhsuk-responsive-padding(1, 'bottom');
    border-bottom: 1px solid $color_nhsuk-grey-4;

    span {
      display: block;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .hee-card--summary__item__label {
    font-weight: $nhsuk-font-bold;
    margin-bottom: nhsuk-spacing(2);
  }
}