.hee-card--summary {
  border: 1px solid $color_nhsuk-grey-4;
  max-width: 100%;
  width: 100%;

  .hee-card--summary__toggle {
    background-image: url('data:image/svg+xml,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 0.5C6.3 0.5 6.5 0.6 6.7 0.8L11.7 5.8C12.1 6.2 12.1 6.8 11.7 7.2C11.3 7.6 10.7 7.6 10.3 7.2L6 2.9L1.7 7.2C1.3 7.6 0.699999 7.6 0.299999 7.2C-0.100001 6.8 -0.100001 6.2 0.299999 5.8L5.3 0.8C5.5 0.6 5.7 0.5 6 0.5Z" fill="black"/></svg>');
    float: right;
    height: 8px;
    margin-top: nhsuk-spacing(2);
    width: 12px;

    @include mq($from: desktop) {
      transform: rotate(180deg);
    }
  }

  .hee-card--summary__heading {
    @include mq($from: desktop) {
      margin: 0;
    }
  }

  .hee-card--summary__list {
    @include nhsuk-typography-responsive(19);
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include mq($from: desktop) {
      display: none;
    }
  }

  .hee-card--summary__item {
    @include nhsuk-responsive-margin(3, 'bottom');
    @include nhsuk-responsive-padding(1, 'bottom');
    border-bottom: 1px solid $color_nhsuk-grey-4;

    @include mq($from: tablet) {
      display: flex;
    }

    span {
      display: block;

      @include mq($from: tablet) {
        flex-basis: 48%;
      }

      &.hee-card--summary__item__label {
        @include mq($from: tablet) {
          padding-right: nhsuk-spacing(2);
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .hee-card--summary__item__label {
    font-weight: $nhsuk-font-bold;
    margin-bottom: nhsuk-spacing(2);
  }

  .hee-card--summary__item__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // Default state styling (closed for mobile, open for desktop).
  &.default {
    .hee-card--summary__heading {
      margin-bottom: 0;

      @include mq($from: desktop) {
        @include nhsuk-responsive-margin(4, 'bottom');
      }
    }

    .hee-card--summary__list {
      display: none;

      @include mq($from: desktop) {
        display: block;
      }
    }

    .hee-card--summary__toggle {
      transform: rotate(180deg);

      @include mq($from: desktop) {
        transform: none;
      }
    }
  }
}
