/* HEE-GlobalAlert */
.hee-globalalert {
	@include print-hide();
	background-color: $color_nhsuk-yellow;
	padding-bottom: nhsuk-spacing(4);
	padding-top: nhsuk-spacing(4);

	.hee-globalalert__message {
		@include top-and-bottom;
		position: relative;

		h1 {
			margin-bottom: 24px;
			line-height: 56px;
		}
		h2, h3 {
			font-size: 24px;
			line-height: 1.33333;
			margin: 0;
		}
	
		p {
			@include nhsuk-responsive-margin(2, 'top');
			font-size: 16px;
			line-height: 1.5;
			display: block;
			margin-bottom: 16px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		a {
			@include nhsuk-link-style-inverted;
		}
	}

	&.hee-globalalert--dark-pink {
		background-color: $color_nhsuk-dark-pink;
		color: $color_nhsuk-white;

		p {
			@include nhsuk-typography-responsive(24);

			a{
				@include nhsuk-link-style-white;
			}
		}
	}
}

.hee-globalalert--black {
	background-color: #000;
	color: #FFF;
	padding-top: nhsuk-spacing(6);
	padding-bottom: nhsuk-spacing(6);
	.hee-globalalert__message {
		h2 {
			font-size: 24px;
    	font-size: 1.5rem;
    	line-height: 1.25;
			margin-bottom: 0;
		}
		h2 ~ p {
			margin-top: 0;
			margin-bottom: 24px;
		}
		p {
			font-size: 1.1875rem;
    	line-height: 1.3157894737;
		}
		a {
			color: #FFF;
		}
	}
}

.hee-globalalert--dark-pink {

}
