
/*.nhsuk-subheader {

    .nhsuk-header__navigation-link {

      .nhsuk-icon {
        top: calc(50% - 22px);
        transform: rotate(90deg) translateX(50%);
        fill: $color_nhsuk-white;
        width: 22px!important;
        height: 22px!important;
      }

      // &:hover,
      &:focus {
        text-decoration: none;
      }

      &:focus {
        .nhsuk-icon {
          fill: $nhsuk-focus-text-color;
        }
      }
    }

    .nhsuk-subheader__list { 
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      min-width: 16rem;
      padding: 0;
      border: 1px solid $color_nhsuk-grey-4;
      border-bottom-width: nhsuk-spacing(1);
      background: $color_nhsuk-white;
    }

    .nhsuk-subheader-link {
      padding: nhsuk-spacing(2) nhsuk-spacing(3);
    }

    // &:hover,
    &.is-active {

      .nhsuk-header__navigation-link {

        & > * {
          pointer-events: none;
        }

        .nhsuk-header__link-text {
          display: inline;
        }

        .nhsuk-icon__chevron-right {
          display: block;
          transform: translateY(50%) rotate(90deg); 
        }

        .nhsuk-header__back-text,
        .nhsuk-icon__chevron-left {
          display: none;
        }

      }

      .nhsuk-subheader__list {
        display: block; 
      }

    }

  }*/

  