{% extends "template-fullwidth.html" %}

{%- from 'components/hee/hee-microhero/macro.njk' import microHero %}
{%- from 'card/macro.njk' import card %}

{% block pageClass %}page--fullwidth page--template-landing{% endblock %}
{% block pageTitle %}Scaffolding - Components - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        }
    ],
        href: "/scaffolding",
        text: "Scaffolding"
    }) 
}}
{% endblock %}

{% block pageHeader %}
<div class="nhsuk-width-container">
    <h1>Scaffolding</h1>
    <p class="nhsuk-lede-text">The global header, notifications and footer areas</p>
</div>
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
    <p>Scaffolding elements are the global/site-wide parts of the user interface that are consistent throughout the whole site.</p>
    <p>This includes the site header, navigation, search bar, notifications and footer.</p>
    <br />
    <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "/scaffolding/site-header",
            "clickable": "true",
            "heading": "Header",
            "headingLevel": "3",
            "headingClasses": "nhsuk-heading-m",
            "description": ""
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "/scaffolding/site-footer",
              "clickable": "true",
              "heading": "Footer",
              "headingLevel": "3",
              "headingClasses": "nhsuk-heading-m",
              "description": ""
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "/scaffolding/site-notifications",
              "clickable": "true",
              "heading": "Notifications",
              "headingLevel": "3",
              "headingClasses": "nhsuk-heading-m",
              "description": ""
            }) }}
          </li>
    </ul>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}