{% extends "template-rightbar.html" %}

{% block pageClass %}page--rightbar{% endblock %}
{% block pageTitle %}Notifications - Scaffolding - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/scaffolding",
            text: "Scaffolding"
        }
    ],
        href: "/scaffolding/notifications",
        text: "Notifications"
    }) 
}}
{% endblock %}

{% block pageHeader %}
    <div class="nhsuk-width-container">
        <h1>Notifications</h1>
        <p class="nhsuk-lede-text"></p>
    </div>
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
    <h2>PhaseBanner</h2>
{{ highlight({
  "html" : '<div class="nhsuk-hee-phasebanner">
    <div class="nhsuk-width-container">
        <p class="nhsuk-hee-phasebanner__content">
            <span class="nhsuk-hee-phasebanner__tag">[TAG]</span>
            [HTML]
        </p>
    </div>
</div>
'}) }}
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}