{% extends "scaffolding/template.html" %}

{% block pageTitle %}Footer - Scaffolding - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/scaffolding",
            text: "Scaffolding"
        }
    ],
        href: "/scaffolding/footer",
        text: "Footer"
    }) 
}}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Scaffolding</span>
    <h1>Footer</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}
<h3>Macro</h3>
{{ highlight({
    "html" : '
  '}) }}
<h3>Params</h3>
<table class="nhsuk-table">
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h3>HTML</h3>
{{ highlight({
  "html" : '<footer class="nhsuk-footer site-footer" id="nhsuk-footer" role="contentinfo">
  <div class="nhsuk-width-container">
    <h2 class="nhsuk-u-visually-hidden">Support links</h2>
    <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/blog">Blog</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/about">About us</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/contact">Contact us</a></li>
    </ul>
    <p class="nhsuk-footer__copyright">© Crown copyright</p>
  </div>
</footer>
'
}) }}
{% endblock %}

{% block pageFooter %}{% endblock %}