{% extends "scaffolding/template.html" %}

{% block pageTitle %}Header - Scaffolding - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/scaffolding",
            text: "Scaffolding"
        }
    ],
        href: "/scaffolding/header",
        text: "Header"
    }) 
}}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Scaffolding</span>
    <h1>Header</h1>
    <p class="nhsuk-lede-text">The global header area</p>
{% endblock %}

{% block pageContent %}
<h3>Macro</h3>
{{ highlight({
    "html" : '
  '}) }}
<h3>Params</h3>
<table class="nhsuk-table">
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h3>HTML</h3>
{{ highlight({
  "html" : '
'}) }}
{% endblock %}

{% block pageFooter %}{% endblock %}