{% extends "scaffolding/template.html" %}

{% block pageTitle %}Notifications - Scaffolding - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/scaffolding",
            text: "Scaffolding"
        }
    ],
        href: "/scaffolding/notifications",
        text: "Notifications"
    }) 
}}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Scaffolding</span>
    <h1>Notifications</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}
<h2>PhaseBanner</h2>
<h3>Macro</h3>
{{ highlight({
    "html" : '
  '}) }}
<h3>Params</h3>
<table class="nhsuk-table">
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h3>HTML</h3>
{{ highlight({
  "html" : '<div class="nhsuk-hee-phasebanner">
    <div class="nhsuk-width-container">
        <p class="nhsuk-hee-phasebanner__content">
            <span class="nhsuk-hee-phasebanner__tag">[TAG]</span>
            [HTML]
        </p>
    </div>
</div>
'}) }}

<h2>GlobalAlert</h2>
<h3>Macro</h3>
{{ highlight({
    "html" : '
  '}) }}
<h3>Params</h3>
<table class="nhsuk-table">
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h3>HTML</h3>
{{ highlight({
    "html" : '
  '}) }}
{% endblock %}

{% block pageFooter %}{% endblock %}