{% extends "template-prototype.html" %}

{% block pageClass %}page--leftbar page--template-prototype{% endblock %}

{% block pageLeftbar %}
{{ backLink({
    "href": "/scaffolding",
    "text": "Scaffolding"
  }) }}
<nav class="page__subnav">
    <ul>
        <li><a href="/scaffolding/site-header">Header</a></li>
        <li><a href="/scaffolding/site-footer">Footer</a></li>
        <li><a href="/scaffolding/site-notifications">Notifications</a></li>
    </ul>
</nav>
{% endblock %}

{% block pageFooter %}{% endblock %}