.nhsuk-cookie-banner {
  display: none;
  padding-top:  nhsuk-spacing(4);

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nhsuk-success-banner {
    background-color: #007f3b;
    color: #fff;
    padding: 8px 0 8px 0;
    position: relative;
  }
}