/* ==========================================================================
   COMPONENTS / #COOKIE-BANNER
   ========================================================================== */

#nhsuk-cookie-banner {
}

.nhsuk-cookie-banner {
    padding-top: 20px;
    background-color: #fff;
    h2 {
        font-size: 22px;
    }
}
