<div class="nhsuk-cookie-banner">
    <div class="nhsuk-width-container">
        <h2>Cookies on the NHS website</h2>
        <p>We've put some small files called cookies on your device to make our site work.</p>
        <p>We'd also like to use analytics cookies. These send information about how our site is used to Adobe
            Analytics, Hotjar and Google Analytics. We use this information to improve our site.</p>
        <p>Let us know if this is OK. We'll use a cookie to save your choice. You can <a href="">read more about our cookies</a> beforeyou choose.</p>

        <a href="/landing" class="nhsuk-button  nhsuk-u-margin-right-3">I"m OK with analytics cookies</a>
        <a href="/landing" class="nhsuk-button ">Do not use analytics cookies</a>
    </div>
</div>