.nhsuk-breadcrumb {
    background-color: transparent;
    padding-bottom: 12px;
    padding-top: 12px;
}

.nhsuk-breadcrumb__item:not(:last-child):after {
    background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__chevron-right' xmlns='http://www.w3.org/2000/svg' fill='%23aeb7bd' height='18' width='18' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'%3E%3C/path%3E%3C/svg%3E") right 0 top 6px no-repeat;
    height: 19px;
    margin-left: 5px;
    margin-right: 0;
    width: 18px;
}

.nhsuk-breadcrumb__item {
    padding-left: 0;
    padding-right: 2px;
}



