{% extends "includes/_example.html" %}

{% block headerStart %}
  {{ skipLink({
    href: '#maincontent',
    text: 'Skip to main content'
  }) }}
{% endblock %}

{% block header %}
  <div data-container-width="small" data-theme="blue" class="nhse-global-menu" id="nhse-global-menu">
    <div class="nhse-global-menu__wrapper">
      <div class="nhsuk-width-container nhse-global-menu__container">
        <a aria-label="Visit NHS England website" class="nhse-global-menu__logo" href="https://england.nhs.uk" title="NHS England">
          <div class="nhse-global-menu__logo__img"></div>
          <span class="nhse-global-menu__logo__name">England</span>
        </a>
      </div>
    </div>
  </div>

  <div class="site-header">
    {{ customHeader({
          "showNav": "true",
          "showSearch": "true",
          "showNHSLogo": false,
          "showLogos": "true",
          "heeHref": "http://hee.nhs.uk/",
          "classes": "nhsuk-header--white",
          "organisation": {
            "name": "Workforce, training and education",
            "split": "",
            "descriptor": "Dental Education Hub"
          },
          "logos": [
            {
              "href": "https://www.nimdta.gov.uk/",
              "label": "Northern Ireland Medical and Dental Training Agency Website (Opens in New Window)",
              "imgSrc": basePath + "/assets/images/logos/nimdta-logo.png",
              "imgAlt": "Logo for Northern Ireland Medical and Dental Training Agency"
            },
            {
              "href": "https://www.nes.scot.nhs.uk/",
              "label": "NHS Education for Scotland Website (Opens in New Window)",
              "imgSrc": basePath + "/assets/images/logos/nhs-scotland-logo.png",
              "imgAlt": "Logo for NHS Education for Scotland"
            },
            {
              "href": "https://heiw.nhs.wales/",
              "label": "Health Education and Improvement Wales Website (Opens in New Window)",
              "imgSrc": basePath + "/assets/images/logos/heiw-logo.png",
              "imgAlt": "Logo for Health Education and Improvement Wales"
            }
          ],
          "primaryLinks": [
            {
              url: basePath + "/templates",
              label: "Templates"
            },
            {
              url: basePath + "/blocks",
              label: "Blocks",
              children: [
              {
                url: basePath + "/blocks/scaffolding",
                label: "Scaffolding"
              },
              {
                url: basePath + "/blocks/furniture",
                label: "Furniture"
              },
              {
                url: basePath + "/blocks/content",
                label: "Content"
              }
            ]
            },
            {
              url: basePath + "/inventory",
              label: "Inventory"
            }
          ]
        })
      }}
  </div>
{% endblock %}

{% block headerEnd %}
{% endblock %}

{% block main %}
  <main class="page {% block pageClass %}{% endblock %}" id="maincontent" role="main">
    <div class="page__header {% block pageHeaderClass %}{% endblock %}">
      {% block pageHeader %}
        {# Hero... Microhero... Title #}
      {% endblock %}
    </div>
    {% block pageMain %}
      {# Template... #}
    {% endblock %}
    <div class="page__footer">
      {% block pageFooter %}
        {# Last updated... Tags... Page created... #}
      {% endblock %}
    </div>
    <section class="page__feature">
      {% block pageFeature %}
      {% endblock %}
    </section>
  </main>
{% endblock %}

{% block footer %}
  {{ siteFooter({
    "classes" : '',
    "list": "nhsuk-footer__list--three-columns",
    "links": [
      {
        "URL": "#",
        "label": "Blog"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      }
    ]
  }) }}
{% endblock %}

