{# Status options - To Do, Started, In Progress, Issues, Done #}

{# Subnav - Templates #}
{% set templates_array = [
  {
    heading: "Fullwidth",
    links: [
      {
        title: 'Base',
        url: 'base-fullwidth',
        status: 'Done'
      },
      {
        title: 'Homepage',
        url: 'homepage',
        status: 'In Progress'
      },
      {
        title: 'Landing Page',
        url: 'landing-page',
        status: 'Done'
      },
      {
        title: '404',
        url: '404',
        status: 'Done'
      },
      {
        title: 'A-Z Listing',
        url: 'az-listing',
        status: 'Done'
      },
      {
        title: 'Search Listing',
        url: 'search-listing',
        status: 'Done'
      }
    ]
  },
  {
    heading: "Leftbar",
    links: [
      {
        title: 'Base',
        url: 'base-leftbar',
        status: 'Done'
      },
      {
        title: 'News Collection',
        url: 'news-collection',
        status: 'Done'
      },
      {
        title: 'Blog Collection',
        url: 'blog-collection',
        status: 'Done'
      },
      {
        title: 'Casestudies Collection',
        url: 'case-studies-collection',
        status: 'To Do'
      },
      {
        title: 'Publications Collection',
        url: 'publications-collection',
        status: 'In Progress'
      },
      {
        title: 'Event Collection',
        url: 'event-collection',
        status: 'Done'
      }
    ]
  },
  {
    heading: "Rightbar",
    links: [
      {
        title: 'Base',
        url: 'base-rightbar',
        status: 'Done'
      },
      {
        title: 'Standard Content',
        url: 'standard-content',
        status: 'Done'
      },
      {
        title: 'Mini-hub Item',
        url: 'mini-hub-item',
        status: 'Done'
      },
      {
        title: 'News Item',
        url: 'news-item',
        status: 'Done'
      },
      {
        title: 'Blog Item',
        url: 'blog-item',
        status: 'Done'
      },
      {
        title: 'Publication - Landing',
        url: 'publications-landing',
        status: 'Done'
      },
      {
        title: 'Publication - Item',
        url: 'publications-item',
        status: 'Done'
      },
      {
        title: 'Event Item',
        url: 'event-item',
        status: 'Done'
      },
      {
        title: 'Training Programmes - Homepage',
        url: 'training-programmes-homepage',
        status: 'Done'
      },
      {
        title: 'Training Programmes - Page',
        url: 'training-programmes-page',
        status: 'Done'
      }
    ]
  }
] %}

{# Subnav - Blocks/Content #}
{% set content_array = [
  {
    heading: "Main",
    links: [
      {
        title: 'Applies To',
        url: 'main-applies-to',
        status: 'Done'
      },
      {
        title: 'Block Links',
        url: 'main-block-links',
        status: 'Done'
      },
      {
        title: 'Card--Author',
        url: 'main-card-author',
        status: 'In Progress'
      },
      {
        title: 'Care Card',
        url: 'main-care-card',
        status: 'Done'
      },
      {
        title: 'Google Map',
        url: 'main-google-map',
        status: 'Done'
      },
      {
        title: 'Media Embed',
        url: 'main-media-embed',
        status: 'Done'
      },
      {
        title: 'Newsletter Signup',
        url: 'main-newsltter-signup',
        status: 'To Do'
      },
      {
        title: 'Publication Document',
        url: 'main-publication-doc',
        status: 'Done'
      },
      {
        title: 'Region Picker',
        url: 'main-region-picker',
        status: 'Done'
      },
      {
        title: 'Table of Contents',
        url: 'main-table-of-contents',
        status: 'To Do'
      },
      {
        title: 'Tabs',
        url: 'main-tabs',
        status: 'Done'
      },
      {
        title: 'Text',
        url: 'main-text',
        status: 'To Do'
      },
      {
        title: 'Timeline',
        url: 'main-timeline',
        status: 'In Progress'
      },
      {
        title: 'Training Journey',
        url: 'main-training-journey',
        status: 'Done'
      },
      {
        title: 'Image',
        url: 'main-image',
        status: 'Done'
      },
      {
        title: 'Table',
        url: 'main-table',
        status: 'Done'
      }
    ]
  },
  {
    heading: "Sidebar",
    links: [
      {
        title: 'Anchor Links',
        url: 'sidebar-anchor-links',
        status: 'Done'
      },
      {
        title: 'Card--CTA',
        url: 'sidebar-card-cta',
        status: 'Done'
      },
      {
        title: 'Card--Department',
        url: 'sidebar-card-department',
        status: 'In Progress'
      },
      {
        title: 'Card--Details',
        url: 'sidebar-card-details',
        status: 'Done'
      },
      {
        title: 'Card--Downloads',
        url: 'sidebar-card-downloads',
        status: 'To Do'
      },
      {
        title: 'Card--External Links',
        url: 'sidebar-card-external-links',
        status: 'To Do'
      },
      {
        title: 'Card--Internal Links',
        url: 'sidebar-card-internal-links',
        status: 'To Do'
      },
      {
        title: 'Card--Image',
        url: 'sidebar-card-image',
        status: 'Done'
      },
      {
        title: 'Card--Person',
        url: 'sidebar-card-person',
        status: 'In Progress'
      },
      {
        title: 'Card--Summary',
        url: 'sidebar-card-summary',
        status: 'Done'
      }
    ]
  },
  {
    heading: "Featured",
    links: [
      {
        title: 'Mini Listing',
        url: 'featured-mini-listing',
        status: 'Done'
      }
    ]
  }
] %}

{# Subnav - Blocks/Furniture #}
{% set furniture_array = [
  {
    heading: "Page",
    links: [
      {
        title: 'Hero',
        url: 'page-hero',
        status: 'Done'
      },
      {
        title: 'Microhero',
        url: 'page-microhero',
        status: 'Done'
      },
      {
        title: 'Title',
        url: 'page-title',
        status: 'Done'
      },
      {
        title: 'Caption',
        url: 'page-caption',
        status: 'Done'
      },
      {
        title: 'Subtitle',
        url: 'page-subtitle',
        status: 'Done'
      },
      {
        title: 'Summary',
        url: 'page-summary',
        status: 'Done'
      },
      {
          title: 'Last Updated',
        url: 'page-last-updated',
        status: 'Done'
      }
    ]
  },
  {
    heading: "Content",
    links: [
      {
        title: 'Go Back',
        url: 'content-go-back',
        status: 'Done'
      },
      {
        title: 'Published Info',
        url: 'content-published-info',
        status: 'Started'
      },
      {
        title: 'Reviewed',
        url: 'content-reviewed',
        status: 'Done'
      },
      {
        title: 'Taxonomies',
        url: 'content-taxonomies',
        status: 'Done'
      },
      {
        title: 'Version',
        url: 'page-version',
        status: 'To Do'
      }
    ]
  },
  {
    subheading: "Minihub",
    links: [
      {
        title: 'List',
        url: 'minihub-list',
        status: 'Done'
      },
      {
        title: 'Pagination',
        url: 'minihub-pagination',
        status: 'Done'
      }
    ]
  },
  {
    heading: "Collections",
    subheading: "Filter",
    links: [
      {
        title: 'Group',
        url: 'filter-group',
        status: 'Done'
      },
      {
        title: 'Tag',
        url: 'filter-tag',
        status: 'Done'
      }
    ]
  },
  {
    subheading: "Results",
    links: [
      {
        title: 'Listings',
        url: 'results-listings',
        status: 'Done'
      }
    ]
  },
  {
    subheading: "Search Listing",
    links: [
      {
        title: 'Form',
        url: 'search-form',
        status: 'Done'
      },
      {
        title: 'Listing',
        url: 'search-listing',
        status: 'Done'
      }
    ]
  },
  {
    subheading: "A-Z Listing",
    links: [
      {
        title: 'Nav',
        url: 'azlisting-nav',
        status: 'To Do'
      },
      {
        title: 'Results',
        url: 'azlisting-results',
        status: 'To Do'
      }
    ]
  }
] %}

{# Content - Blocks/Scaffolding #}
{% set scaffolding_array = [
  {
    heading: "Header",
    links: [
      {
        title: 'HEE Header',
        url: 'header',
        status: 'Done'
      },
      {
        title: 'Cookies',
        url: 'cookies',
        status: 'Done'
      },
      {
        title: 'Skip Link',
        url: 'skip-link',
        status: 'Done'
      }
    ]
  },
  {
    heading: "InTemplate",
    links: [
      {
        title: 'Breadcrumbs',
        url: 'intemplate-breadcrumbs',
        status: 'Done'
      },
      {
        title: 'Back to Top',
        url: 'intemplate-back-to-top',
        status: 'To Do'
      }
    ]
  },
  {
    heading: "Notifications",
    links: [
      {
        title: 'Phase Banner',
        url: 'notifications-phase-banner',
        status: 'Done'
      },
      {
        title: 'Banner',
        url: 'notifications-banner',
        status: 'Done'
      }
    ]
  },
  {
    heading: "Footer",
    links: [
      {
        title: 'Links + Copyright',
        url: 'footer-links',
        status: 'Done'
      }
    ]
  }
] %}

{# Blocks Nav #}
{% set blocks_top_array = [
  {
    heading: "Blocks",
    links: [
      {
        title: 'Scaffolding',
        url: 'scaffolding'
      },
      {
        title: 'Furniture',
        url: 'furniture'
      },
      {
        title: 'Content',
        url: 'content'
      }
    ]
  }
] %}