{% set items = [
  {
    text: "Academic",
    value: "academic"
  },
  {
    text: "Core",
    value: "core",
    checked: true
  },
  {
    text: "Formal training",
    value: "formal-training"
  },
  {
    text: "Foundation",
    value: "foundation"
  },
  {
    text: "Higher specialist scientist training",
    value: "higher-specialist-scientist-training"
  },
  {
    text: "Higher speciality",
    value: "higher-speciality"
  },
  {
    text: "Mentoring",
    value: "mentoring"
  },
  {
    text: "Practitioner training programme",
    value: "practitioner-training-programme"
  },
  {
    text: "Scientist training programme",
    value: "scientist-training-programme"
  },
  {
    text: "Self learning",
    value: "self-learning"
  },
  {
    text: "Speciality",
    value: "speciality"
  }
] %}
