{% set items = [
  {
    text: "Acute Care Common Stem",
    value: "acute-care-common-stem"
  },
  {
    text: "Anaesthesia",
    value: "anaesthesia"

  },
  {
    text: "Dental",
    value: "dental"
  },
  {
    text: "Emergency Medicine",
    value: "emergency-medicine"
  },
  {
    text: "Foundation",
    value: "foundation"
  },
  {
    text: "General Practice",
    value: "general-practice"
  },
  {
    text: "Medicine",
    value: "medicine"
  },
  {
    text: "Obstetrics & Gynaecology",
    value: "obstetrics-gynaecology"
  },
  {
    text: "Ophthalmology",
    value: "ophthalmology"
  },
  {
    text: "Paediatrics",
    value: "paediatrics",
    checked: true
  },
  {
    text: "Pathology",
    value: "pathology"
  },
  {
    text: "Psychiatry",
    value: "psychiatry"
  },
  {
    text: "Public Health",
    value: "public-health"
  },
  {
    text: "Radiology",
    value: "radiology"
  },
  {
    text: "Surgery",
    value: "surgery"
  }
] %}
