{% set items = [
  {
    text: "All professions",
    value: ""
  },
  {
    text: "Advanced critical care practitioners",
    value: "advanced-critical-care-practitioners"
  },
  {
    text: "Allied health professionals",
    value: "allied-health-professionals"
  },
  {
    text: "Ambulance service team",
    value: "ambulance-service-team"
  },
  {
    text: "Dental professionals",
    value: "dental-professionals",
    checked: true,
    selected: true
  },
  {
    text: "Health informaticians",
    value: "health-informaticians"
  },
  {
    text: "Healthcare scientists",
    value: "healthcare-scientists"
  },
  {
    text: "Management professionals",
    value: "management-professionals",
    checked: true
  },
  {
    text: "Medical associate professionals",
    value: "medical-associate-professionals"
  },
  {
    text: "Medical doctors",
    value: "medical-doctors"
  },
  {
    text: "Midwives",
    value: "midwives"
  },
  {
    text: "Nurses",
    value: "nurses"
  },
  {
    text: "Pharmacy professionals",
    value: "pharmacy-professionals"
  },
  {
    text: "Psychological professionals",
    value: "psychological-professionals"
  },
  {
    text: "Public health professionals",
    value: "public-health-professionals"
  }
] %}
