{% set items = [
  {
    text: "All sub professions",
    value: ""
  },
  {
    text: "Analytical toxicology",
    value: "analytical-toxicology"
  },
  {
    text: "Anatomical pathology",
    value: "anatomical-pathology"
  },
  {
    text: "Audiology",
    value: "audiology"
  },
  {
    text: "Biomedical science",
    value: "biomedical-science"
  },
  {
    text: "Blood sciences",
    value: "blood-sciences"
  },
  {
    text: "Clinical immunology",
    value: "clinical-immunology"
  },
  {
    text: "Dental nurse",
    value: "dental-nurse",
    checked: true,
    selected: true
  },
  {
    text: "Dentist",
    value: "dentist"
  },
  {
    text: "Genomics",
    value: "genomics"
  }
] %}
