{% set items = [
  {
    text: "All topics",
    value: ""
  },
  {
    text: "Addiction",
    value: "addiction"
  },
  {
    text: "Advanced clinical practice",
    value: "advanced-clinical-practice"
  },
  {
    text: "Antimicrobial resistance",
    value: "antimicrobial resistance"
  },
  {
    text: "Armed forces",
    value: "armed-forces"
  },
  {
    text: "Cancer",
    value: "cancer"
  },
  {
    text: "Careers",
    value: "careers"
  },
  {
    text: "Children and young people",
    value: "children-young-people"
  },
  {
    text: "Community care",
    value: "community-care"
  },
  {
    text: "Cosmetic procedures",
    value: "cosmetic-procedures",
    checked: true,
    selected: true
  },
  {
    text: "Covid-19",
    value: "covid-19"
  },
  {
    text: "Critical care",
    value: "critical-care"
  },
  {
    text: "Dementia",
    value: "dementia"
  },
  {
    text: "Digital skills",
    value: "digital-skills"
  },
  {
    text: "End of life care",
    value: "end-life-care"
  },
  {
    text: "Genomics",
    value: "genomics"
  },
  {
    text: "Global health",
    value: "global-health"
  },
  {
    text: "Health academia",
    value: "health-academia"
  },
  {
    text: "health-inequalities",
    value: "health-inequalities"
  },
  {
    text: "Infection management",
    value: "infection-management"
  },
  {
    text: "Knowledge management",
    value: "knowledge-management"
  },
  {
    text: "Learning disability and autism",
    value: "learning-disability-autism"
  },
  {
    text: "Long term conditions",
    value: "long-term-conditions"
  },
  {
    text: "Maternity",
    value: "maternity"
  },
  {
    text: "Medicines optimisation",
    value: "medicines-optimisation",
    checked: true
  },
  {
    text: "Neonatal",
    value: "neonatal"
  },
  {
    text: "NHS Screening Services",
    value: "nhs-screening-services"
  },
  {
    text: "Personalised care",
    value: "personalised-care"
  },
  {
    text: "Pre-employment",
    value: "pre-employment"
  },
  {
    text: "Prevention and public health",
    value: "prevention-public-health"
  },
  {
    text: "Primary care",
    value: "primary-care"
  },
  {
    text: "Quality",
    value: "quality"
  },
  {
    text: "Sexual and reproductive health",
    value: "sexual-reproductive-health"
  },
  {
    text: "Urgent and emergency care",
    value: "urgent-emergency-care"
  },
  {
    text: "Workforce planning",
    value: "workforce-planning"
  },
  {
    text: "Workforce transformation",
    value: "workforce-transformation"
  }
] %}
