.hee-google-map {
  background-color: $color_nhsuk-white;
  border-radius: 12px;

  .hee-google-map__caption {
    background-color: transparent;
    border-top: 1px solid $color_nhsuk-grey-4;
  }

  &.theme-light-grey {
    background-color: $nhse-colour-light-grey;
  }
}