{% macro reviewDate(params) %}
  <div class="hee-review-date">
    {% if params.lastReview %}
      <p class="nhsuk-body-s">Page last reviewed: {{ lastReview }}</p>
    {% endif %}
    {% if params.nextReview %}
      <p class="nhsuk-body-s">Next review due: {{ nextReview }}</p>
    {% endif %}
  </div>
{% endmacro %}
