# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/public

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
typings

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db
HEE-prototype.code-workspace

# BackstopJS
tests/backstop/backstop_data/bitmaps_test/*
tests/backstop/backstop_data/html_report/*
tests/backstop/config/*
!tests/backstop/config/base.json
tests/backstop/run-backstopjs-regression-tests/*
