.nhsuk-media {
  min-width: 288px;
  margin: nhsuk-spacing(6) 0;
  background: #f0f;
  padding: 0; 

  h2 {
    margin: 0 0 nhsuk-spacing(6) nhsuk-spacing(3);
  }

  iframe {
    max-height: 100%;
    width: 100%;
    margin-bottom: -7px;

    &.youtube,
    &.vimeo{
      min-height: 210px;

      @include mq($from: mobile){
        min-height: calc(((100vw - 48px) / 16 * 9) + 48px);
      }
      @include mq($from: tablet){
        min-height: calc(((100vw - 48px) / 16 * 9));
      }
    }

    &.anchor{
      height: 98px;
    }
  } 

  .nhsuk-transcript {

    padding: nhsuk-spacing(5) nhsuk-spacing(3);
    background: $color_nhsuk-white;
    border-bottom: nhsuk-spacing(1) solid  $color_nhsuk-grey-4;
  
    h4 {
      line-height: 34px;
      margin: 0 0 nhsuk-spacing(3);
      padding: 0 nhsuk-spacing(2) 0 0;
    }

    .nhsuk-transcript-contract {
      display: flex;
    }

    .nhsuk-transcript-expand {
      display: none;
    }

    .nhsuk-transcript-contract,
    .nhsuk-transcript-expand {
      cursor: pointer;
    }

    &.transcript-collapsed {
        .nhsuk-transcript-text,
        .nhsuk-transcript-contract {
          display: none;
        }
        .nhsuk-transcript-expand {
          display: flex;
        }
      }

  }
}

.nhsuk-grid-column-two-thirds {
  .nhsuk-media {
    iframe {
      @include mq($from: desktop){
        min-height: calc(((100vw - 48px) / 16 * 9) - 74px);
      }
      @media (min-width: 61.875em){
        min-height: 480px;
      }
    }
  }
}