<div class="nhsuk-media">

  {% if params.title %}
    <h2>{{ params.title }}</h2>
  {% endif %}

  {% if params.type === "youtube" or params.type === "vimeo" %}
  <iframe
    class="video"
    {% if params.type === "youtube" %}
      src="https://youtube.com/embed/{{ params.mediaId }}"
    {% elif params.type === "vimeo" %}
      src="https://player.vimeo.com/video/{{ params.mediaId }}"
    {% endif %}
    title="{{ params.title }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; fullscreen; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  {% elif params.type === "anchor" %}
    <iframe
      class="audio"
      src="https://anchor.fm/health-education-england/embed/episodes/Robyn-Scargill---Trainee-nursing-associate-eqe7mk/a-a4l5nun"
      frameborder="0"
      scrolling="no"
    ></iframe>
  {% endif %}

  {% if params.transcript|length %}
    <div class="nhsuk-transcript transcript-collapsed">
      <div class="nhsuk-transcript-expand">
        <h4>Show transcript</h4>
        <svg class="nhsuk-icon nhsuk-icon__plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" aria-hidden="true">
          <circle cx="12" cy="12" r="10"></circle>
          <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M12 8v8M8 12h8"></path>
        </svg>
      </div>

      <div class="nhsuk-transcript-contract">
        <h4>Hide transcript</h4>
        <svg class="nhsuk-icon nhsuk-icon__minus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" aria-hidden="true">
          <circle cx="12" cy="12" r="10"></circle>
          <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M8 12h8"></path>
        </svg>
      </div>

      <div class="nhsuk-transcript-text">
        {% for line in params.transcript %}
          <p>{{ line | safe }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>