/* ==========================================================================
   COMPONENTS / #IMAGES
   ========================================================================== */

/**
 * 1. Overrides default browser margin values.
 * 2. Makes the image width two thirds of its container for desktop.
 * 3. Avoid image printing full width of a page.
 * 4. Removes top margin from subsequent nhsuk-image.
 */

.nhsuk-map {
  // background-color: $color_nhsuk-white;
  // border-bottom: 1px solid $color_nhsuk-grey-4;

  display: flex;

  @include nhsuk-responsive-margin(6, 'bottom');
  @include nhsuk-responsive-margin(6, 'top');

  margin-left: 0; /* [1] */
  margin-right: 0; /* [1] */
  padding: nhsuk-spacing(6) 0;

  & + .nhsuk-map {
    @include nhsuk-responsive-margin(0, 'top'); /* [4] */
  }
}

.nhsuk-map__image {
  display: block;
  width: 50%;
} 

.nhsuk-map__image {
  display: none;
}

  .nhsuk-map__caption {
  @include nhsuk-typography-responsive(16);

  .nhsuk-map__description {
    width: 100%;
    text-align: left;
    margin-bottom: nhsuk-spacing(5);

    h3 {
      margin-bottom: nhsuk-spacing(4);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: nhsuk-spacing(4);
      
      a {
        display: block;
        width: 100%;
        text-decoration: none;
  
        &.hover,
        &:hover {
          text-decoration: underline;
        }
        
        &:visited{
          color: $nhsuk-link-color;
        }
      }
    }
  }
}

@include mq($from: tablet) {
  .nhsuk-map {
    .nhsuk-map__image {
      display: block;
    }
    .nhsuk-map__caption {
      width: 50%;
      margin-right: nhsuk-spacing(4);
    }
  }
}

