{% macro secondaryMenu(params) %}
  <div class="hee-secondary-menu" role="menu">
    <div class="nhsuk-width-container">
      <ul class="hee-secondary-menu__list">
        {% for item in params.items %}
          <li class="hee-secondary-menu__item" {{ '' if item.active else 'aria-hidden="true"' }}>
            {% if item.url %}
              <a class="hee-secondary-menu__link {{ "is-active" if item.active }}" href="{{ item.url }}">
                {{ item.title }}
              </a>
            {% else %}
              <span aria-hidden="true" class="hee-secondary-menu__label {{ "is-active" if item.active }}">{{ item.title }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}
