{%- from 'button/macro.njk' import button %}

{% macro ctaCard(params) %}
<div class="hee-card hee-card--cta">
  <h3>{{ params.title }}</h3>
  <div class="hee-card--cta__button">
    {% if params.secondary %}
      {% set options = {
        text: params.text,
        href: params.href,
        classes: "nhsuk-button--secondary"
      } %}
    {% else %}
      {% set options = {
        text: params.text,
        href: params.href
      } %}
    {% endif %}

    {{ button(options) }}
  </div>
</div>
{% endmacro %}