{% import 'includes/_globals.html' as globals %}
{%- from 'back-link/macro.njk' import backLink %}


{% macro subnav(params) %}

<nav class="page__subnav">
{% if params.area == 'templates' %}

  {% for section in globals.templates_array %}
    {% if section.heading %}<h3>{{ section.heading }}</h3>{% endif %}
    {% if section.subheading %}<h4>{{ section.subheading }}</h4>{% endif %}
    <ul>
      {% for item in section.links %}
      <li><a href="/templates/{{ item.url }}"{% if item.url == params.current %}class='current'{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

{% elseif params.area == 'blocks' %}

  {% if params.subarea == 'top' %}

    {% set blocks_top_array = [
      {
        heading: "Blocks",
        links: [
          {
            title: 'Scaffolding',
            url: 'scaffolding'
          },
          {
            title: 'Furniture',
            url: 'furniture'
          },
          {
            title: 'Content',
            url: 'content'
          }
        ]
      }
    ] %}
    {% for section in blocks_top_array %}
      {% if section.heading %}<h3>{{ section.heading }}</h3>{% endif %}
      {% if section.subheading %}<h4>{{ section.subheading }}</h4>{% endif %}
      <ul>
        {% for item in section.links %}
        <li><a href="/blocks/{{ item.url }}"{% if item.url == params.current %}class='current'{% endif %}>{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}

  {% else %}
    {{
      backLink({
        href: '/blocks',
        text: 'Blocks'
      })
    }}

  {% endif %}

  {% if params.subarea == 'content' %}

    {% for section in globals.content_array %}
      {% if section.heading %}<h3>{{ section.heading }}</h3>{% endif %}
      {% if section.subheading %}<h4>{{ section.subheading }}</h4>{% endif %}
      <ul>
        {% for item in section.links %}
        <li><a href="/blocks/content/{{ item.url }}"{% if item.url == params.current %}class='current'{% endif %}>{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}

  {% elseif params.subarea == 'furniture' %}

    {% for section in globals.furniture_array %}
      {% if section.heading %}<h3>{{ section.heading }}</h3>{% endif %}
      {% if section.subheading %}<h4>{{ section.subheading }}</h4>{% endif %}
      <ul>
        {% for item in section.links %}
        <li><a href="/blocks/furniture/{{ item.url }}.html"{% if item.url == params.current %}class='current'{% endif %}>{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}

  {% elseif params.subarea == 'scaffolding' %}

    {% for section in globals.scaffolding_array %}
      {% if section.heading %}<h3>{{ section.heading }}</h3>{% endif %}
      {% if section.subheading %}<h4>{{ section.subheading }}</h4>{% endif %}
      <ul>
        {% for item in section.links %}
        <li><a href="/blocks/scaffolding/{{ item.url }}.html"{% if item.url == params.current %}class='current'{% endif %}>{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}

  {% endif %}

{% endif %}
</nav>

{% endmacro %}