{%- from 'back-link/macro.njk' import backLink %}

{% macro subnav(params) %}

<nav class="page__subnav">
{% if params.area == 'templates' %}

  {% set templates_array = [
    {
      section: "Fullwidth",
      links: [
        {
          title: 'Base',
          url: 'base-fullwidth'
        },
        {
          title: 'Homepage',
          url: 'homepage'
        },
        {
          title: 'Landing Page',
          url: 'landing-page'
        },
        {
          title: '404',
          url: '404'
        },
        {
          title: 'A-Z Listing',
          url: 'az-listing'
        },
        {
          title: 'Search Listing',
          url: 'search-listing'
        }
      ]
    },
    {
      section: "Leftbar",
      links: [
        {
          title: 'Base',
          url: 'base-leftbar'
        },
        {
          title: 'News Collection',
          url: 'news-collection'
        },
        {
          title: 'Blog Collection',
          url: 'blog-collection'
        },
        {
          title: 'Casestudies Collection',
          url: 'case-studies-collection'
        },
        {
          title: 'Publications Collection',
          url: 'publications-collection'
        },
        {
          title: 'Event Collection',
          url: 'event-collection'
        }
      ]
    },
    {
      section: "Rightbar",
      links: [
        {
          title: 'Base',
          url: 'base-rightbar'
        },
        {
          title: 'Standard Content',
          url: 'standard-content'
        },
        {
          title: 'Mini-hub Item',
          url: 'mini-hub-item'
        },
        {
          title: 'News Item',
          url: 'news-item'
        },
        {
          title: 'Blog Item',
          url: 'blog-item'
        },
        {
          title: 'Publication Landing',
          url: 'publication-landing'
        },
        {
          title: 'Publication Item',
          url: 'publication-item'
        },
        {
          title: 'Event Item',
          url: 'event-item'
        }
      ]
    }
  ] %}
  {% for section in templates_array %}
    {% if section.section %}<h3>{{ section.section }}</h3>{% endif %}
    <ul>
      {% for item in section.links %}
      <li><a href="/templates/{{ item.url }}"{% if item.url == params.current %}class='current'{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

{% elseif params.area == 'blocks' %}

  {% if params.subarea == 'top' %}

    {% set blocks_top_array = [
        {
          section: "Blocks",
          links: [
            {
              title: 'Scaffolding',
              url: 'scaffolding'
            },
            {
              title: 'Furniture',
              url: 'furniture'
            },
            {
              title: 'Content',
              url: 'content'
            }
          ]
        }
    ] %}
    {% for section in blocks_top_array %}
      {% if section.section %}<h3>{{ section.section }}</h3>{% endif %}
      <ul>
        {% for item in section.links %}
        <li><a href="/blocks/{{ item.url }}"{% if item.url == params.current %}class='current'{% endif %}>{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}

  {% else %}
    {{
      backLink({
        href: '/blocks',
        text: 'Blocks'
      })
    }}

  {% endif %}

  {% if params.subarea == 'content' %}
    <h3>Main</h3>
    <ul>
      <li>Applies To</li>
      <li>Block Links</li>
      <li>Card--Author</li>
      <li>Google Map</li>
      <li>Media Embed</li>
      <li>Newsletter Signup</li>
      <li>Region Picker</li>
      <li>Table of Contents</li>
      <li>Tabs</li>
      <li>Text</li>
      <li>Timeline</li>
      <li>Image</li>
      <li>Care Card</li>
      <li>Table</li>
    </ul>
    <h3>Sidebar</h3>
    <ul>
      <li>Card--Department</li>
      <li>Card--Downloads</li>
      <li>Card--External Links</li>
      <li>Card--Internal Links</li>
      <li>Card--Image</li>
      <li>Card--Person</li>
    </ul>
    <h3>Featured</h3>
    <ul>
      <li>Mini Listing</li>
    </ul>

  {% elseif params.subarea == 'furniture' %}

    <h3>Page</h3>
    <ul>
      <li><a href="/blocks/furniture/page-hero">Hero</a></li>
      <li><a href="/blocks/furniture/page-microhero">Microhero</a></li>
      <li><a href="/blocks/furniture/page-title">Title</a></li>
      <li><a href="/blocks/furniture/page-caption">Caption</a></li>
      <li><a href="/blocks/furniture/page-subtitle">Subtitle</a></li>
      <li><a href="/blocks/furniture/page-summary">Summary</a></li>
      <li><a href="/blocks/furniture/page-lastupdated">Last Updated</a></li>
    </ul>
    <h3>Content</h3>
    <ul>
      <li><a href="/blocks/furniture/content-goback">Go Back</a></li>
      <li><a href="/blocks/furniture/content-publishedinfo">Published Info</a></li>
      <li><a href="/blocks/furniture/content-reviewednextprev">Reviewed Next Prev</a></li>
      <li><a href="/blocks/furniture/content-taxonomies">Taxonomies</a></li>
      <li><a href="/blocks/furniture/content-version/">Version</a></li>
    </ul>
    <h4>Minihub</h4>
    <ul>
      <li><a href="/blocks/furniture/minihub-list/">List</a></li>
      <li><a href="/blocks/furniture/minihub-pagination/">Pagination</a></li>
    </ul>
    <h3>Collections</h3>
    <h4>Filter</h4>
    <ul>
      <li><a href="/blocks/furniture/filter-group/">Group</a></li>
      <li><a href="/blocks/furniture/filter-clear/">Clear</a></li>
      <li><a href="/blocks/furniture/filter-tag/">Tag</a></li>
    </ul>
    <h4>Results</h4>
    <ul>
      <li><a href="/blocks/furniture/results-title/">Title</a></li>
      <li><a href="/blocks/furniture/results-pagination/">Pagination</a></li>
      <li><a href="/blocks/furniture/results-sorting/">Sorting</a></li>
    </ul>
    <h4>Search Listing</h4>
    <ul>
      <li><a href="/blocks/furniture/search-input/">Search Input</a></li>
    </ul>
    <h4>A-Z Listing</h4>
    <ul>
      <li><a href="/blocks/furniture/azlisting-nav/">Nav</a></li>
      <li><a href="/blocks/furniture/azlisting-results/">Results</a></li>
    </ul>

  {% elseif params.subarea == 'scaffolding' %}

  {% set scaffolding_array = [
        {
          section: "Header",
          links: [
            {
              title: 'HEE Header',
              url: 'header'
            },
            {
              title: 'Cookies',
              url: 'cookies'
            },
            {
              title: 'Skip Link',
              url: 'skip-link'
            }
          ]
        },
        {
          section: "InTemplate",
          links: [
            {
              title: 'Breadcrumbs',
              url: 'intemplate-breadcrumbs'
            },
            {
              title: 'Back to Top',
              url: 'intemplate-back-to-top'
            }
          ]
        },
        {
          section: "Notifications",
          links: [
            {
              title: 'Phase Banner',
              url: 'notifications-phase-banner'
            },
            {
              title: 'Global Alert',
              url: 'notifications-global-alerts'
            }
          ]
        },
        {
          section: "Footer",
          links: [
            {
              title: 'Links + Copyright',
              url: 'footer-links'
            }
          ]
        }
    ] %}

    {% for section in scaffolding_array %}
      {% if section.section %}<h3>{{ section.section }}</h3>{% endif %}
      <ul>
        {% for item in section.links %}
        <li><a href="/blocks/scaffolding/{{ item.url }}.html"{% if item.url == params.current %}class='current'{% endif %}>{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}

  {% endif %}

{% endif %}
</nav>

{% endmacro %}