.hee-publication-doc {
  align-items: center;
  display: flex;
  margin-bottom: map-get($nhsuk-spacing-points, 4);

  .hee-publication-doc__wrapper {
    position: relative;
    width: 60px;

    .hee-publication-doc__icon {
      padding: 4px;
      position: relative;
      width: 56px;

      .hee-publication-doc__icon__page {
        border: 3px solid $color_nhsuk-black;
        border-radius: 2px;
        height: 86px;
        width: 52px;
      }

      .hee-publication-doc__icon__corner {
        border-bottom: 16px solid $color_nhsuk-black;
        border-right: 16px solid $color_nhsuk-grey-5;
        height: 0;
        position: absolute;
        right: 0;
        top: 4px;
        width: 0;
      }
    }

    .hee-publication-doc__icon__title {
      @include nhsuk-font(16);
      background-color: $color_nhsuk-black;
      color: $color_nhsuk-white;
      position: absolute;
      text-align: center;
      top: map-get($nhsuk-spacing-points, 5);
      width: 100%;
    }
  }

  .hee-publication-doc__details {
    padding-left: map-get($nhsuk-spacing-points, 4);

    h3 {
      font-weight: normal;
      margin-bottom: map-get($nhsuk-spacing-points, 2);
    }

    span {
      color: $color_nhsuk-grey-1;
      display: block;
      margin-bottom: map-get($nhsuk-spacing-points, 2);
    }
  }
}