@media print {
    #nhsuk-cookie-banner {
        display: none;
    }
    #nhsuk-cookie-banner .nhsuk-width-container {
        display: none;
    }
    #nhsuk-cookie-banner h2 {
        display: none;
    }
    #nhsuk-cookie-banner p {
        display: none;
    }
    .nhsuk-back-link {
        display: none;
    }
    .nhsuk-back-link .nhsuk-width-container {
        display: none;
    }
    .nhsuk-back-link h2 {
        display: none;
    }
    .nhsuk-back-link p {
        display: none;
    }
    .nhsuk-grid-column-one-third {
        display: none;
    }
    .nhsuk-grid-column-one-third .nhsuk-width-container {
        display: none;
    }
    .nhsuk-grid-column-one-third h2 {
        display: none;
    }
    .nhsuk-grid-column-one-third p {
        display: none;
    }
    .nhsuk-pagination {
        display: none;
    }
    .nhsuk-pagination .nhsuk-width-container {
        display: none;
    }
    .nhsuk-pagination h2 {
        display: none;
    }
    .nhsuk-pagination p {
        display: none;
    }
    a[href^="tel"]::after {
        display: none;
    }
    a[href^="tel"]::after .nhsuk-width-container {
        display: none;
    }
    a[href^="tel"]::after h2 {
        display: none;
    }
    a[href^="tel"]::after p {
        display: none;
    }
    a[id]::after {
        display: none;
    }
    a[id]::after .nhsuk-width-container {
        display: none;
    }
    a[id]::after h2 {
        display: none;
    }
    a[id]::after p {
        display: none;
    }
    .nhsuk-width-container {
        width: 100%;
    }
}