.nhsuk-filter-tag {
  padding: .75em 1em;
  margin: .15em 0;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    background-image: url('data:image/svg+xml,<svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="%23fff" d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path></svg>');
    height: 24px;
    margin-left: .5em;
    text-indent: -99999999px;
    width: 24px;
  }

  // JS
  &--js {
    cursor: pointer;
  }
}