{% macro filterTag(filter) %}
<div class="nhsuk-filter-tag nhsuk-tag" data-filter="{{filter.value}}">
  <span>{{ filter.text }}</span>

  <a class="nhsuk-filter-tag__icon">Remove</a>
</div>
{% endmacro %}
