.nhsuk-hee-phasebanner {
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);
  border-bottom: 1px solid $nhsuk-border-color;

  .nhsuk-hee-phasebanner__content {
    @include nhsuk-font(16);
    margin: 0;
  }

  .nhsuk-hee-phasebanner__tag {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 16px;
    line-height: 1em;
    color: #FFF;
    margin-right: nhsuk-spacing(2);
    background-color: $color_nhsuk-blue;
    font-weight: bold;
    text-transform: uppercase;
    @include mq($until: desktop) {
      line-height: 1.5;
    }
  }

}

.nhsuk-hee-phasebanner--notag {
  .nhsuk-hee-phasebanner__tag {
    display: none!important;
  }
}

.nhsuk-hee-phasebanner--promo {

}


.nhsuk-phase-banner {
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);
  border-top: 1px solid $nhsuk-border-color;
  border-bottom: 1px solid $nhsuk-border-color;
}

.nhsuk-phase-banner__content {
  @include nhsuk-font(16);
  display: table;
  margin: 0;
}

.nhsuk-phase-banner__text {
  display: table-cell;
  vertical-align: middle;
}

.nhsuk-phase-banner__content__tag {
  margin-right: nhsuk-spacing(3);
}

.nhsuk-tag {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "GDS Transport",arial,sans-serif;
  padding: 5px 8px 4px;
}