{% macro phaseBanner(params) %}
  <div class="nhsuk-hee-phasebanner">
    <div class="nhsuk-width-container">
      <p class="nhsuk-hee-phasebanner__content">
        {% if params.version %}
        <span class="nhsuk-hee-phasebanner__tag">
          {{ params.version }}
        </span>
        {% endif %}
        This is a new service – your <a class="nhsuk-link" href="{{ params.url | safe }}"{% if params.target %} target="{{params.target}}"{%- endif -%}{% if params.title %} title="{{params.title}}"{%- endif -%}>feedback</a> will help us to improve it.
      </p>
    </div>
  </div>
{% endmacro %}
