{% extends "prototype-inner.html" %}

{% set page_url = 'notifications-global-alerts' %}
{% set page_title = 'Global Alerts' %}

{% block pageTitle %}{{ page_title }} - Templates - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: basePath + "/",
            text: "Home"
        },
        {
            href: basePath + "/blocks",
            text: "Blocks"
        },
        {
            href: basePath + "/blocks/scaffolding",
            text: "Scaffolding"
        }
    ],
        href: basePath + "/blocks/scaffolding/"+page_url,
        text: page_title
    }) 
}}
{% endblock %}

{% block pageLeftbar %}
{{ subnav({
    area: 'blocks',
    subarea: 'scaffolding'
}) }}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Scaffolding</span>
    <h1>{{ page_title }}</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

<p>Displays global notifications at the top of the website. Comes in two variants:</p>
<ul>
    <li>Yellow</li>
    <li>Black</li>
</ul>

<h2>Example</h2>
{{ example({
    url: basePath + '/blocks/scaffolding/examples/' + page_url,
    height: '400px'
}) }}

<hr />

<h2>Macro - Yellow</h2>
{{ highlight({
  html: '{{ globalAlert({
    heading: "Coronavirus (COVID-19)",
    HTML: "<p><a href=\"https://www.nhs.uk/conditions/coronavirus-covid-19/\">Get the latest advice about coronavirus</a></p>"
})}}'
}) }}

<hr />

<h3>HTML - Yellow</h3>
{{ highlight({
    html : '
<div class="hee-globalalert " role="complementary">
    <div class="nhsuk-width-container">
      <div class="hee-globalalert__message">
        <h2 class="">Coronavirus (COVID-19)</h2>
        <p><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">Get the latest advice about coronavirus</a></p>
      </div>
    </div>
</div>
'
})
}}

<hr />

<h2>Macro - Black</h2>
{{ highlight({
    html: '{{ globalAlert({
    customClass: "hee-globalalert--black",
    heading: "Her Majesty Queen Elizabeth II",
    headingClass: "nhsuk-heading-xl",
    HTML: "<p>21 April 1926 to 8 September 2022</p><p><a href=\"https://www.hee.nhs.uk/news-blogs-events/news/her-majesty-queen-elizabeth-ii\">We join with the people across HEE and the NHS in mourning the death of Queen Elizabeth II</a></p>"
})}}'
}) }}

<hr />

<h3>HTML - Black</h3>
{{ highlight({
    html : '
<div class="hee-globalalert hee-globalalert--black" role="complementary">
    <div class="nhsuk-width-container">
      <div class="hee-globalalert__message">
        <h2 class="nhsuk-heading-xl">Her Majesty Queen Elizabeth II</h2>
        <p>21 April 1926 to 8 September 2022</p>
        <p><a href="https://www.hee.nhs.uk/news-blogs-events/news/her-majesty-queen-elizabeth-ii">We join with the people across HEE and the NHS in mourning the death of Queen Elizabeth II</a></p>
      </div>
    </div>
</div>
'
})
}}

{% endblock %}

{% block pageFooter %}{% endblock %}