/* NHSUK-HEE-PhaseBanner - swap to HEE-PhaseBanner */
.nhsuk-hee-phasebanner {
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);
  border-bottom: 1px solid $nhsuk-border-color;

  .nhsuk-hee-phasebanner__content {
    @include nhsuk-font(16);
    margin: 0;
  }

  .nhsuk-hee-phasebanner__tag {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 16px;
    line-height: 1em;
    color: #FFF;
    margin-right: nhsuk-spacing(2);
    background-color: $color_nhsuk-blue;
    font-weight: bold;
    text-transform: uppercase;
    @include mq($until: desktop) {
      line-height: 1.5;
    }
  }

}

.nhsuk-hee-phasebanner--notag {
  .nhsuk-hee-phasebanner__tag {
    display: none!important;
  }
}

.nhsuk-hee-phasebanner--promo {
}