{% macro phaseBanner(params) %}
  <div class="nhsuk-hee-phasebanner{% if params.tag == '' %} nhsuk-hee-phasebanner--notag{% endif %}">
    <div class="nhsuk-width-container">
      <div class="nhsuk-hee-phasebanner__wrapper">
        <span class="nhsuk-hee-phasebanner__tag">
          {{ params.tag }}
        </span>
        <div class="nhsuk-hee-phasebanner__content">
          <p>{{ params.description | safe }}</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
