{% macro phaseBanner(params) %}
  <div class="hee-phasebanner{% if params.tag == '' %} hee-phasebanner--notag{% endif %}">
    <div class="nhsuk-width-container">
      <div class="hee-phasebanner__wrapper">
        <span class="hee-phasebanner__tag">
          {{ params.tag }}
        </span>
        <div class="hee-phasebanner__content">
          {{ params.description | safe }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
