/* NHSUK-Header__search */

.nhsuk-header__search {
  display: inline-block;
  width: 100%;

  .nhsuk-header__search-wrap {
    width: 100%;

    &.js-show {
      padding-top: 32px;
      margin: 0;
      display: block;

      @include mq($from: desktop) {
        padding-top: 0;
      }
    }
    
    .nhsuk-header__search-form {
      padding: 0;
      margin-bottom: 8px;

      @include mq($from: tablet) {
        margin-bottom: 0;
      }
    }
  }

  .nhsuk-header__search-toggle {
    position: relative;
  }
}

/* NHSUK-Header__search - Blue BG variation */
.nhsuk-header--white2 {
  .nhsuk-header__search-wrap {
    form {
      background-color: $color_nhsuk-blue;
    }

    .nhsuk-search__close {
      background-color: $color_nhsuk-blue;

      .nhsuk-icon__close {
        fill: $color-nhsuk-white;
      }
    }
  }
}