/* ==========================================================================
   COMPONENTS / #BREADCRUMB
   ========================================================================== */

.nhsuk-breadcrumb {
  background-color: $color_nhsuk-blue;
  color: $color_nhsuk-white;

  & &__link {
    color: inherit;

    &:hover {
      color: shade($color_nhsuk-white, 10%);
    }
  }
}