.nhsuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
}

.nhsuk-phase-banner__content {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  color: #0b0c0c;
  display: table;
  margin: 0;
}

@include mq($from: tablet) {
  .nhsuk-phase-banner__content {
    font-size: 16px;
    line-height: 1.25;
  }
}

.nhsuk-phase-banner__text {
  display: table-cell;
  vertical-align: middle;
}

.nhsuk-phase-banner__content__tag {
  margin-right: 10px;
}
@include mq($from: tablet) {
  .nhsuk-tag {
    font-size: 16px;
    line-height: 1;
  }
}

.nhsuk-tag {
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #fff;
  background-color: #1d70b8;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.nhsuk-link:link {
  color: #1d70b8;
}
.nhsuk-link {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
}