/* NHSUK-Subnav */
.nhsuk-subnav {

  .nhsuk-header__navigation-link {
    position: relative;

    @include mq($from: large-desktop) {
      padding-right: 28px;

      &:focus {
        text-decoration: none;
      }

      &:focus {
        .nhsuk-icon {
          fill: $nhsuk-focus-text-color;
        }
      }
    }

    .nhsuk-icon {
      fill: $color_nhsuk-blue;
      height: 22px;
      right: 16px;
      transform: rotate(0) translateX(50%);
      width: 22px;

      @include mq($from: large-desktop) {
        display: block;
        fill: $color_nhsuk-white;
        right: 0;
        transform: rotate(90deg);
      }
    }
  }

  .nhsuk-subnav__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    z-index: 1;

    @include mq($from: large-desktop) {
      border: 1px solid $color_nhsuk-grey-4;
      border-bottom-width: nhsuk-spacing(1);
      background: $color_nhsuk-white;
      display: none;
      list-style: none;
      min-width: 16rem;
      padding: 0;
      position: absolute;
      right: 0;
      text-align: left;
      z-index: 9999;
    }

    .nhsuk-subnav__list-item {
      margin-bottom: 0;
      border-top: 1px solid $color_nhsuk-grey-5;
    }

    .nhsuk-subnav__list-link {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      color: $nhsuk-link-color;
      display: inline-block;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      padding: 12px 16px;
      text-decoration: none;
      width: 100%;

      &:visited {
        color: $nhsuk-link-color;
        text-decoration: none;
      }
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &:focus {
        color: $nhsuk-focus-text-color
      }
      &.no-link {
        color: $nhsuk-text-color;
        text-decoration: none;
        cursor: default;
      }

      @include mq($from: large-desktop) {
        display: block;
      }
    }
  }

  .nhsuk-nav__link {
    @include mq($from: large-desktop) {
      padding: nhsuk-spacing(2) nhsuk-spacing(3);
    }
  }

  .nhsuk-header__back-text {
    @include mq($from: large-desktop) {
      display: none;
    }
  }

  &.is-active {
    .nhsuk-header__navigation-link {
      .nhsuk-icon {
        transform: rotate(90deg);
      }
    }

    .nhsuk-subnav__list {
      border: 0;
      display: block;
      left: 0;
      margin-bottom: 0;
      position: inherit;
      width: 100%;

      @include mq($from: large-desktop) {
        display: block;
        left: inherit;
        position: absolute;
      }

      .nhsuk-subnav__list-link {
        @include mq($from: large-desktop) {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
}