{%- from 'card/macro.njk' import card %}

{% macro relatedLinks(params) %}
  {% set cardContent %}
    <ul class="nhsuk-related-links-card__list">
      {% for item in params.items %}
        <li>
          <a class="nhsuk-related-links-card__link" href="{{ item.url }}">
            {{ item.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ card({
    heading: params.heading,
    headingLevel: "3",
    descriptionHtml: cardContent
  }) }}
{% endmacro %}
