.hee-listing-item {
  @include nhsuk-typography-responsive(19);

  background-color: $color_nhsuk-white;
  border: 1px solid $color_nhsuk-grey-4;
  padding: nhsuk-spacing(4);
  margin-bottom: nhsuk-spacing(3);

  .hee-listing-item__details__row {
    margin-bottom: nhsuk-spacing(2);

    span {
      display: inline-block;

      &.hee-listing-item__details__label {
        font-weight: $nhsuk-font-bold;

        @include mq($from: tablet) {
          width: 33%;
        }
      }
    }
  }

  // Image variant.
  &.has-image {
    padding: 0 0 nhsuk-spacing(4) 0;

    .hee-listing-item__image {
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: nhsuk-spacing(4);
      max-width: 100%;
      padding-bottom: 49.34%;
    }

    h3 {
      padding: 0 nhsuk-spacing(4) 0 nhsuk-spacing(4);
    }

    .hee-listing-item__details__row {
      margin-bottom: nhsuk-spacing(3);
      padding: 0 nhsuk-spacing(4) 0 nhsuk-spacing(4);
    }

    .hee-listing-item__details__label {
      display: block;
      width: auto;
    }

    .hee-listing-item__summary {
      @include nhsuk-typography-responsive(16);

      padding: 0 nhsuk-spacing(4) 0 nhsuk-spacing(4);
    }
  }
}
