{% extends "template-fullwidth.html" %}

{% block pageClass %}page--fullwidth{% endblock %}
{% block pageTitle %}Leftbar - Layouts - HEE Prototype{% endblock %}

{% block pageBreadcrumbs %}
{{ 
  breadcrumb({
  items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/templates",
        text: "Templates"
      }
  ],
      href: "/templates/base/leftbar",
      text: "Base - Leftbar"
  }) 
}}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    <h1>Leftbar</h1>
    <span class="nhsuk-caption-xl">Base templates</span>
    <p class="nhsuk-lede-text">A layout with a left sidebar and right content area. Typically used for listing pages.</p>
  </div>
{% endblock %}

{% block pageMain %}
<div class="page__main">
  <div class="nhsuk-width-container">
    <div class="page__content">

{{ highlight({
  "html" : '<main class="page page--leftbar" id="maincontent" role="main">
  <div class="page__breadcrumbs">[ BREADCRUMBS ]</div>
  <div class="page__header">
    <div class="nhsuk-width-container">
      <h1>[ TITLE ]</h1>
      <span class="nhsuk-caption-xl">[ CAPTION/ SUBTITLE ]</span>
      <p class="nhsuk-lede-text">[ EXCERPT ]</p>
    </div>
  </div>
  <div class="nhsuk-width-container">
    <div class="page__layout">
      <div class="page__leftbar">
        [ FILTER_GROUP | FILTER_CLEAR ]
      </div>
      <div class="page__main">
        [ RESULTS_TITLE | FILTER_TAG | RESULTS_SORTING ]
        [ RESULTS_LISTING ]
        [ RESULTS_PAGINATION ]
      </div>
    </div>
  </div>
  <div class="page__footer">
  </div>
  <section class="page__feature">
  </section>
</main>'
  }) 
}}

      <h2>Example usage:</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>NewsListing</li>
        <li>BlogListing</li>
        <li>CaseStudiesListing</li>
        <li>PublicationsListing</li>
      </ul>

    </div>
  </div>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}