{% macro phaseBanner(params) %}
  <div class="nhsuk-hee-phasebanner{% if params.tag == '' %} nhsuk-hee-phasebanner--notag{% endif %}">
    <div class="nhsuk-width-container">
      <p class="nhsuk-hee-phasebanner__content">
        <span class="nhsuk-hee-phasebanner__tag">
          {{ params.tag }}
        </span>
        {{ params.description | safe }}
      </p>
    </div>
  </div>
{% endmacro %}
