.hee-card--author {
    max-width: 100%;
    width: 100%;

    @include mq($from: tablet) {
        margin-right: 0;
    }

    .hee-card__address {
        margin-bottom: nhsuk-spacing(3);
    }
}

// Layout styling for multiple authors within page body.
.hee-card--author__container {
    @include mq($from: tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hee-card--author {
        @include mq($from: tablet) {
            width: 48%
        }
    }
}

// Third width and sidebar styling tweaks.
.page__rightbar, .hee-card--author__container {
    .hee-card--header {
        border-bottom: 2px solid $nhsuk-border-color;
        display: inline-block;
        padding-bottom: nhsuk-spacing(2);
        margin-bottom: nhsuk-spacing(3);

        .hee-card__image {
            margin-right: nhsuk-spacing(4);

            @include mq($from: tablet) {
                margin-bottom: nhsuk-spacing(4);
            }
        }
    }

    .hee-card__contact {
        @include mq($from: tablet) {
            display: block;
            border-bottom: none;
            margin-bottom: nhsuk-spacing(2);
            padding-bottom: nhsuk-spacing(2);
        }

        .hee-card__contact__item {
            @include mq($from: tablet) {
                width: auto;
            }
        }
    }
}
