{% extends "prototype-inner.html" %}

{% set page_url = '404' %}
{% set page_title = '404' %}

{% block pageTitle %}{{ page_title }} - Templates - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
  {{ 
    breadcrumb({
      items: [
        {
          href: basePath + "/",
          text: "Home"
        },
        {
          href: basePath + "/templates",
          text: "Templates"
        }
      ],
      href: basePath + "/templates/"+page_url,
      text: page_title
    }) 
  }}
{% endblock %}

{% block pageLeftbar %}
  {{ subnav({
    area: 'templates',
    current: page_url
  }) }}
{% endblock %}

{% block pageHeader %}
  <span class="nhsuk-caption-xl">Templates</span>
  <h1>{{ page_title }}</h1>
  <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

  <h2>Example</h2>
  {{ example({
    url: '/templates/examples/'+page_url,
    view: 'template'
  }) }}

  <hr />

  <h2>HTML</h2>
{{ highlight({
  "html" : ''
  }) 
}}

  <hr />

  <h2>Components</h2>
  {{ components({
    'data' : [
      {
          'type' : 'Furniture',
          'list' : ['Page']
      },
      {
          'type' : 'Content Blocks',
          'list' : ['Main']
      }
    ]
  }) }}

{% endblock %}

{% block pageFooter %}{% endblock %}