{% extends "template.html" %}

{% block pageClass %}hee-page--article{% endblock %}

{% block pageTitle %}
Article - Layouts - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/layouts",
            text: "Layouts"
        }
    ],
        href: "/layouts/article",
        text: "Article"
    })
}}
{% endblock %}

{% block content %}
<article>
    <h1>Article</h1>
    <p class="nhsuk-lede-text">An example page with an anchorlinks quickjump</p>
    <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Published on 12 May 2022, by Susan Smith</p>
    <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-7">
        <a href="/about/blogs?category=Qi-Stats">Statistics and data</a>,
        <a href="/about/blogs?category=resource_discovery">Resource Discovery</a>
    </p>
    <h2>Qui autem esse poteris, nisi te amor ipse ceperit?</h2>
    <p>Restinguet citius, si ardentem acceperit. Facete M. Nunc vides, quid faciat. Recte, inquit, intellegis. </p>
    <h3>Hoc loco discipulos quaerere videtur</h3>
    <p>Utilitatis causa amicitia est quaesita. Duo Reges: constructio interrete. Quid est igitur, inquit, quod requiras? Illi enim inter se dissentiunt. </p>
    <p>Nunc haec primum fortasse audientis servire debemus. Hoc Hieronymus summum bonum esse dixit.</p>
    <h2>Sed ad bona</h2>
    <p>Quid ait Aristoteles reliquique Platonis alumni? Sin aliud quid voles, postea. Apraeterita redeamus. Nonne igitur tibi videntur, inquit, mala? </p>
    {{ reviewDate({
        "classes" : ['nhsuk-hee-reviewdate'],
        "lastReview": "12 February 2021",
        "nextReview": "1 February 2022"
    }) }}
</article>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block pageFooter %}
{% endblock %}