{% extends "prototype-inner.html" %}

{% block pageClass %}page--fullwidth has-microhero{% endblock %}
{% block pageTitle %}Fullwidth - Layouts - HEE Prototype{% endblock %}

{% block pageBreadcrumbs %}
{{ 
  breadcrumb({
  items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/templates",
        text: "Templates"
      }
  ],
      href: "/templates/base/fullwidth",
      text: "Base - Fullwidth"
  }) 
}}
{% endblock %}

{% block pageHeader %}
  {{ microHero({
    "imgURL": "/images/hee_cl_gloucester_04361.jpeg"
  }) }}
  <div class="nhsuk-width-container">
    <h1>Base - Fullwidth</h1>
    <p class="nhsuk-lede-text">Typically used for landing pages</p>
  </div>
{% endblock %}

{% block pageMain %}
  <div class="page__main">
    <div class="nhsuk-width-container">
      <div class="page__content">

{{ highlight({
  "html" : '<main class="page page--fullwidth" id="maincontent" role="main">
  <div class="page__breadcrumbs">[ BREADCRUMBS ]</div>
  <div class="page__header">
    [ MICROHERO | HERO ]
    <div class="nhsuk-width-container">
      <h1>[ TITLE ]</h1>
      <span class="nhsuk-caption-xl">[ CAPTION/ SUBTITLE ]</span>
      <p class="nhsuk-lede-text">[ EXCERPT ]</p>
      [ CAPTION ]
    </div>
  </div>
  <div class="page__main">
    <div class="nhsuk-width-container">

      [ IF HOMEPAGE, LANDINGHUB, 404 ]
      <div class="page__content">
        [ CONTENT_SECTIONS ]
      </div>
      [ ELSEIF SEARCHRESULTSLISTING ]
        [ SEARCH_INPUT ]
        [ RESULTS_TITLE | FILTER_TAG | RESULTS_SORTING ]
        [ RESULTS_LISTING ]
        [ RESULTS_PAGINATION ]
      [ ELSEIF AZLISTING ]
        [ ALPHA_NAV ]
        [ ALPHA_LISTING ]
      [ ENDIF ]
    </div>
  </div>
  <div class="page__footer">
  </div>
  <section class="page__feature">
  </section>
</main>'
  }) 
}}

        <h2>Example usage:</h2>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Homepage</li>
          <li>LandingHub</li>
          <li>404</li>
          <li>AZListing</li>
          <li>SearchResultsListing</li>
        </ul>

      </div>
    </div>
  </div>
{% endblock %}

{% block pageFooter %}{% endblock %}
{% block pageFeature %}{% endblock %}