{% extends "template.html" %}

{% block pageClass %}page--fullwidth{% endblock %}
{% block pageTitle %}Layouts - HEE Prototype{% endblock %}

{% block pageBreadcrumbs %}
    {{ breadcrumb({
        items: [
            {
                href: "/",
                text: "Home"
            }
        ],
        href: "/templates",
        text: "Templates"
    }) }}
{% endblock %}

{% block pageHeader %}
    {#{ microHero({
        imgURL: '/images/young-child-using-tablet-device.jpg',
        imgAlt: 'An example bg image'
    }) }#}
    <div class="nhsuk-width-container">
        <h1>Templates</h1>
        <p class="nhsuk-lede-text">All of the available HEE templates</p>
    </div>
{% endblock %}

{% block pageMain %}
<div class="page__main">
    <section class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
            <ul class="nhsuk-card-group">
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                    {{ card({
                        "href": "/templates/base/",
                        "clickable": "true",
                        "heading": "Base",
                        "headingLevel": "3",
                        "headingClasses": "nhsuk-heading-s",
                        "description": ""
                    }) }}
                    </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                {{ card({
                    "href": "",
                    "clickable": "true",
                    "heading": "LeftBar",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                    {{ card({
                        "href": "/templates/rightbar/",
                        "clickable": "true",
                        "heading": "RightBar",
                        "headingLevel": "3",
                        "headingClasses": "nhsuk-heading-s",
                        "description": ""
                    }) }}
                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                    {{ card({
                        "href": "/templates/fullwidth",
                        "clickable": "true",
                        "heading": "FullWidth",
                        "headingLevel": "3",
                        "headingClasses": "nhsuk-heading-s",
                        "description": ""
                    }) }}
                </li>
            </ul>
        </div>
    </section>
    <section class="nhsuk-width-container">
        <h2>Rightbar templates</h2>
        <div class="nhsuk-grid-row">
            <ul class="nhsuk-card-group">
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                {{ card({
                    "href": "/templates/rightbar/standard-content",
                    "clickable": "false",
                    "heading": "StandardContent",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
                </li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}