{% extends "includes/_prototype-inner.html" %}


{% block pageTitle %}Templates - HEE Prototype{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumb({
        items: [
            {
                href: "/",
                text: "Home"
            }
        ],
        href: "/templates",
        text: "Templates"
    }) }}
{% endblock %}

{% block pageLeftbar %}
{{ subnav({
    area: 'templates'
}) }}
{% endblock %}

{% block pageHeader %}
    <h1>Templates</h1>
    <p class="nhsuk-lede-text">All of the available HEE templates</p>
{% endblock %}

{% block pageContent %}
    <p>The templates are grouped into <strong>three layout types</strong>:
        <ul>
            <li>Full width</li>
            <li>Leftbar</li>
            <li>Rightbar</li>
        </ul>
    </p>
{% endblock %}

{% block pageFooter %}{% endblock %}
