{% extends "includes/_prototype-inner.html" %}

{% set page_url = 'publications-landing' %}
{% set page_title = 'Publications Landing' %}

{% block pageTitle %}{{ page_title }} - Templates - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
  {{
  breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/templates",
        text: "Templates"
      }
    ],
    href: "/templates/"+page_url,
    text: page_title
  })
  }}
{% endblock %}

{% block pageLeftbar %}
  {{ subnav({
    area: 'templates',
    current: page_url
  }) }}
{% endblock %}

{% block pageHeader %}
  <span class="nhsuk-caption-xl">Templates</span>
  <h1>{{ page_title }}</h1>
  <p class="nhsuk-lede-text">A layout with a right sidebar and right content area. Used for publication landing pages.</p>
{% endblock %}

{% block pageContent %}

  <h2>Example</h2>
  {{ example({
    url: '/templates/examples/'+page_url,
    view: 'template'
  }) }}

  <hr />

  <h2>HTML</h2>
  {{ highlight({
    "html" : '<main class="page page--rightbar" id="maincontent" role="main">
  <div class="page__breadcrumbs">[ INTEMPLATE_BREADCRUMBS ]</div>
  <div class="page__header">
    <div class="nhsuk-width-container">
      <h1>[ PAGE_TITLE ]</h1>
      <span class="nhsuk-caption-xl">[ PAGE_CAPTION ]</span>
      <p class="nhsuk-lede-text">[ PAGE_SUMMARY ]</p>
      [ PUBLISHED_INFO ]
    </div>
  </div>
  <div class="page__layout nhsuk-width-container">
    <div class="page__main">
      <div class="page__content">
        [ CONTENT--MAIN_BLOCKS ]
      </div>
    </div>
    <aside class="page__rightbar">
      [ CONTENT--SIDEBAR_BLOCKS ]
    </aside>
  </div>
  <div class="page__footer">
    [ PAGE_LASTUPDATED ]
    [ INTEMPLATE_BACKTOTOP ]
  </div>
  <section class="page__feature">
    [ CONTENT--FEATURED_BLOCKS ]
  </section>
</main>'
  })
  }}

  <h2>Components</h2>
  {{ components({
    'data' : [
      {
        'type' : 'Furniture',
        'list' : ['Page', 'Content']
      },
      {
        'type' : 'Content Blocks',
        'list' : ['Main', 'Sidebar', 'Featured']
      }
    ]
  }) }}

  <hr />


{% endblock %}

{% block pageFooter %}{% endblock %}