{% extends "prototype-inner.html" %}

{% block pageTitle %}Standard Content - Templates - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/templates",
            text: "Templates"
        }
    ],
        href: "/templates/standard-content",
        text: "Standard Content"
    }) 
}}
{% endblock %}

{% block pageLeftbar %}
{{ subnav({
    area: 'templates',
    current: 'standard-content'
}) }}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Templates</span>
    <h1>Standard Content</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

<h3>Example</h3>
<a href="/templates/examples/standard-content" target="_blank">Click to preview the template [opens in new window]</a>

<hr />

<h3>HTML</h3>
{{ highlight({
  "html" : '<article class="page page--rightbar" id="maincontent" role="main">
  <div class="page__breadcrumbs">[ BREADCRUMBS ]</div>
  <div class="page__header">
    <div class="nhsuk-width-container">
      <h1>[ PAGE_TITLE ]</h1>
      <span class="nhsuk-caption-xl">[ PAGE_CAPTION ]</span>
      <p class="nhsuk-lede-text">[ PAGE_SUMMARY ]</p>
      [ PUBLISHED_INFO ]
    </div>
  </div>
  <div class="nhsuk-width-container">
    <div class="page__layout">
      <div class="page__main">
        <div class="page__content">
          [ CONTENT_BLOCKS ]
        </div>
        [ PAGE_LASTUPDATED ]
      </div>
      <aside class="page__rightbar">
        [ SIDEBAR_BLOCKS ]
      </aside>
    </div>
  </div>
  <div class="page__footer">
    [ PAGE_BACKTOTOP ]
  </div>
  <section class="page__feature">
    [ FEATURE_BLOCKS ]
  </section>
</article>'
  }) 
}}

<h3>Components</h3>
{{ components({
    'data' : [
        {
            'type' : 'Furniture',
            'list' : ['Micro Hero', 'Page Title', 'Page Caption', 'Page Subtitle', 'Page Summary', 'Page Last Updated', 'Table of Contents']
        },
        {
            'type' : 'Content Blocks',
            'list' : ['All']
        },
        {
            'type' : 'Sidebar Blocks',
            'list' : ['All']
        },
        {
            'type' : 'Feature Blocks',
            'list' : ['All']
        }
    ]
}) }}

<hr />


{% endblock %}

{% block pageFooter %}{% endblock %}