.hee-anchorlinks {
    background-color: #FFF;
    border: 1px solid $color_nhsuk-grey-4;
    padding: nhsuk-spacing(4);
    margin-bottom: nhsuk-spacing(4);


    &.sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    h2 {
        @include nhsuk-typography-responsive(22);
        display: block;
        font-weight: $nhsuk-font-bold;
        margin-top: 0;
        @include nhsuk-responsive-margin(3, 'bottom');
    }

    ul {
        @include nhsuk-typography-responsive(19);
        @include nhsuk-responsive-margin(0, 'bottom');
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;

        li {
            @include nhsuk-typography-responsive(16);
            display: block;
            margin-top: 0;
            @include nhsuk-responsive-margin(2, 'bottom');

            &.has-children {
                margin-bottom: 0;
            }

            a {
                text-decoration: none;
            }

            .hee-anchorlinks__wrapper {
                align-items: start;
                display: flex;
                @include nhsuk-responsive-margin(2, 'bottom');
                padding-left: map-get($nhsuk-spacing-points, 2);

                a {
                    display: inline-block;
                    margin-left: map-get($nhsuk-spacing-points, 1);
                    padding-left: map-get($nhsuk-spacing-points, 1);
                    position: relative;
                }

                svg {
                    fill: $color_nhsuk-black;
                }

                &.chevron {
                    span {
                        display: block;
                        height: 17px;
                        padding-left: 3px;
                        width: 7px;
                        transform: rotate(90deg);
                    }

                    svg {
                        height: 17px;
                        width: 7px;
                    }
                }

                &.circle {
                    align-items: center;

                    span {
                        display: flex;
                        justify-content: center;
                        padding-left: 2px;
                        width: 8px;
                    }

                    svg {
                        height: 3px;
                        width: 3px;
                    }
                }
            }
        }

        ul {
            @include nhsuk-responsive-margin(2, 'top');
            @include nhsuk-responsive-margin(5, 'left');
        }
    }
}
#mainblocks {
    padding-top: 4px;

    @include mq($from: desktop) {
        padding-top: 8px;
    }
    @include mq($from: tablet) {
        padding-top: 8px;
    }
}

