{% extends "includes/_example-blocks.html" %}

{% block main %}
  {{ newsletterForm({
    title: "Subscribe to our newsletter",
    subtitle: "Subscribe to receive marketing and update emails.",
    accName: "Digital.Readiness",
    listName: "NHS Digital Academy bulletin",
    dataId: "92D4C54F0FEC16E5ADC2B1904DE9ED1A508DB0E3577570F12F1BEA7077EF99C95C8869BD43B2B1BE8A600F4AB4140ADD2AC8BD79012A23F860CEB089AE1F7E2E",
    successUrl: "https://digital-transformation.hee.nhs.uk/newsletter-subscription-successful",
    errorUrl: "https://digital-transformation.hee.nhs.uk/newsletter-subscription-unsuccessful",
    doubleOptin: false
  }) }}
{% endblock %}
