{% extends "includes/_example-blocks.html" %}

{% block main %}
  {{ googleMap({
    embedCode: '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38876.46420375777!2d-1.945322588878691!3d52.48313681174725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bdaa5d4e3383%3A0xc9d525245d0b1f47!2sHealth%20Education%20England!5e0!3m2!1sen!2suk!4v1669730967510!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>',
    title: "Location",
    caption: "HEE Yorkshire and the Humber, Dental Street, Yorkshire, YA1 1AA."
  }) }}
{% endblock %}