{% extends "example-blocks.html" %}

{% block main %}
  <h2>Responsive table</h2>

  {{ responsiveTable({
    tableClasses: 'nhsuk-hee-table nhsuk-hee-table--multicols',
    responsive: true,
    panel: false,
    caption: "Online interview overview",
    firstCellIsHeader: false,
    head: [
      {
        text: "Area"
      },
      {
        text: "Raw marks by panel member"
      },
      {
        text: "Total marks"
      },
      {
        text: "Percentage of final score %"
      }
    ],
    rows: [
      [
        {
          header: "Area",
          html: "Clinical prioritisation"
        },
        {
          header: "Raw marks by panel member",
          html: "20"
        },
        {
          header: "Total marks",
          html: "40"
        },
        {
          header: "Percentage of final score %",
          html: "26.64"
        }
      ],
      [
        {
          header: "Area",
          html: "<p>Score: 5</p><p>By December 2022, I have completed a quality improvement project (QIP) or complete audit cycle (for example,&nbsp;first audit/project, action plan and re-audit/assessment to quantify impact of intervention) which has resulted in national change</p>"
        },
        {
          header: "Raw marks by panel member",
          html: "20"
        },
        {
          header: "Total marks",
          html: "40"
        },
        {
          header: "Percentage of final score %",
          html: "26.64"
        }
      ],
      [
        {
          header: "Area",
          html: "Clinical prioritisation"
        },
        {
          header: "Raw marks by panel member",
          html: "20"
        },
        {
          header: "Total marks",
          html: "40"
        },
        {
          header: "Percentage of final score %",
          html: "26.64"
        }
      ],
      [
        {
          header: "Area",
          html: "Clinical prioritisation"
        },
        {
          header: "Raw marks by panel member",
          html: "20"
        },
        {
          header: "Total marks",
          html: "40"
        },
        {
          header: "Percentage of final score %",
          html: "26.64"
        }
      ]
    ]
  })}}

  <h2>A WYSIWYG table (non-responsive)</h2>
  <table role="table">
    <thead role="rowgroup">
    <tr role="row">
      <th role="columnheader" scope="col">
        Age
      </th>
      <th role="columnheader" scope="col">
        How much
      </th>
      <th role="columnheader" scope="col">
        How often
      </th>
    </tr>
    </thead>
    <tbody>
    <tr role="row">
      <td role="cell">
        <span>Age </span>7 to 9 years
      </td>
      <td role="cell">
        <span>How much? </span>200mg
      </td>
      <td role="cell">
        <span>How often? </span>Max 3 times in 24 hours
      </td>
    </tr>
    <tr role="row">
      <td role="cell">
        <span>Age </span>10 to 11 years
      </td>
      <td role="cell">
        <span>How much medicine do we need? </span>200mg to 300mg and maybe a  bit more if they're really poorly
      </td>
      <td role="cell">
        <span>How often? </span>Max 3 times in 24 hours
      </td>
    </tr>
    <tr role="row">
      <td role="cell">
        <span>Age</span>12 to 17 years
      </td>
      <td role="cell">
        <span>How much? </span><a href="#">200mg to 400mg</a> (Open in new window)
      </td>
      <td role="cell">
        <span>How often? </span>Max 3 times in 24 hours
      </td>
    </tr>
    </tbody>
  </table>

{% endblock %}