{% extends "example-blocks.html" %}

{% block main %}
  {{ tableExpander({
    items: [
      {
        title: "First item",
        rows: [
          {
            heading: "Defence Medical Services (DMS)",
            content: "1"
          },
          {
            heading: "No of Posts 2013 - indicitive",
            content: "7"
          },
          {
            heading: "Competition ratios 2022 data - Ratio",
            content: "6 (6:37)"
          },
          {
            heading: "Job/Programme Descriptions",
            content: "Kent, Surrey and Sussex",
            href: "http://www.yahoo.com"
          }
        ]
      },
      {
        title: "Second item",
        rows: [
          {
            heading: "Defence Medical Services (DMS)",
            content: "1"
          },
          {
            heading: "No of Posts 2013 - indicitive",
            content: "7"
          },
          {
            heading: "Competition ratios 2022 data - Ratio",
            content: "6 (6:37)"
          },
          {
            heading: "Job/Programme Descriptions",
            content: "Kent, Surrey and Sussex",
            href: "http://www.yahoo.com"
          }
        ]
      },
      {
        title: "Third item",
        rows: [
          {
            heading: "Defence Medical Services (DMS)",
            content: "1"
          },
          {
            heading: "No of Posts 2013 - indicitive",
            content: "7"
          },
          {
            heading: "Competition ratios 2022 data - Ratio",
            content: "6 (6:37)"
          },
          {
            heading: "Job/Programme Descriptions",
            content: "Kent, Surrey and Sussex",
            href: "http://www.yahoo.com"
          }
        ]
      }
    ]
  }) }}
{% endblock %}
