{% extends "includes/_example-blocks.html" %}

{% block main %}
  {{ summaryCard({
    title: "Programme summary",
    items: [
      {
        label: "Training programme",
        value: "Core Training Surgery"
      },
      {
        label: "Training type",
        url: "http://www.abc1234.com",
        value: "Core Training"
      },
      {
        label: "Professions",
        url: "http://www.abc1234.com",
        value: "Medical"
      },
      {
        label: "Discipline",
        url: "http://www.abc1234.com",
        value: "Surgery"
      },
      {
        label: "Recruitment format",
        value: "Uncoupled"
      },
      {
        label: "Duration",
        value: "24 months"
      },
      {
        label: "Competition ratio",
        value: "2.56"
      },
      {
        label: "Fill rate",
        value: "100%"
      },
      {
        label: "Opening",
        value: "Tuesday 16 January 2023 09:00am"
      },
      {
        label: "Closing",
        value: "Friday 19 January 2023 5:30pm"
      }
    ]
  }) }}
{% endblock %}