{% extends "example-blocks.html" %}

{% block main %}
  {{ authorCard({
    imgURL: basePath + "/images/doctor-headshot.png",
    title: "Mr",
    name: "First Last",
    initials: "JB",
    pronouns: "Pronoun",
    jobTitle: "Job title",
    department: "Department",
    organisation: "Organisation",
    email: "jo.bloggs@hee.co.uk",
    website: "http://nhs.uk/",
    twitter: "nhsengland",
    linkedin: "/nhs",
    address: "Health Education England<br>
              3 Piccadilly<br>
              Manchester<br>
              M1 3BN",
    bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
    authorURL: "/author/jo-blogs"
  }) }}



{% endblock %}