{% extends "example-blocks.html" %}

{% block main %}
  <main class="page page--rightbar">
    <div class="nhsuk-width-container">
      <div class="page__layout">
        <div class="page__main">
          <div class="page__content">
            <h1>Anchor links variant</h1>
            <h2>First heading</h2>
            <p>Working with The Royal College of Surgeons, Health Education England provides world-class education, assessment and development to 30,000 surgeons.</p>
            <p>As your career progresses from medical school student through to surgeon, you will go through a number of stages that all have a level of competitive entry.</p>

            <h2>Second heading</h2>
            <p>The training pathway is the most direct route through surgical training. Following each training stage, particularly in the early years, you will need to be selected into the next stage.</p>
            <h3>Sub-heading</h3>
            <p>Sollicitudin eu at arcu aliquam, non dui aliquet. Massa urna ultrices ullamcorper imperdiet velit ut a. Integer scelerisque nulla rhoncus nunc et. Et quis dui aliquam sapien nulla lobortis dictumst sapien, dolor. Est lectus volutpat lacus lorem. Semper duis dictumst ipsum diam. Sapien, leo amet erat arcu blandit. Varius viverra sit luctus viverra. Bibendum sed at penatibus odio erat</p>
          </div>
        </div>
        <aside class="page__rightbar">
          {{ anchorLinks({
              title: "On this page",
              headings: "h2,h3"
            })
          }}
        </aside>
      </div>
    </div>
  </main>
{% endblock %}