{% extends "example-blocks.html" %}

{% block main %}
  {{ downloadsCard({
    title: "Alternative versions",
    items: [
      {
        title: "First Publication Title",
        text: "First Publication Title",
        url: "#",
        docType: "PDF",
        tagColor: "pdf"
      },
      {
        title: "Second Publication Title",
        text: "Second Publication Title",
        url: "#",
        docType: "ODF",
        tagColor: "odf"
      },
      {
        title: "Third Publication Title",
        text: "Third Publication Title",
        url: "#",
        docType: "XLS",
        tagColor: "xls"
      }
    ]
  }) }}
{% endblock %}