{% extends "example-blocks.html" %}

{% block main %}
  {{ downloadsCard({
    title: "Alternative versions",
    items: [
      {
        title: "Short title",
        text: "Short title",
        url: "#",
        docSize: "836KB",
        docType: "PDF",
        tagColor: "pdf"
      },
      {
        title: "Second Publication Title",
        text: "Second Publication Title",
        url: "#",
        docSize: "1.4MB",
        docType: "ODF",
        tagColor: "odf"
      },
      {
        title: "Third Publication Title",
        text: "Third Publication Title",
        url: "#",
        docSize: "2.89MB",
        docType: "XLS",
        tagColor: "xls"
      },
      {
        title: "Fourth Publication Title",
        text: "Fourth Publication Title",
        url: "#",
        docSize: "2.89MB",
        docType: "MRC",
        tagColor: "mrc"
      }
    ]
  }) }}
{% endblock %}