{% extends "example-blocks.html" %}

{% block main %}
  <main class="page page--rightbar">
    <div class="nhsuk-width-container">
      <div class="page__layout">
        <div class="page__main">
          <h1>Table of contents variant</h1>

          <h2 class="toc_h2" data-short-title="Overview">Overview</h2>
          <p>Working with The Royal College of Surgeons, Health Education England provides world-class education, assessment and development to 30,000 surgeons.</p>
          <p>As your career progresses from medical school student through to surgeon, you will go through a number of stages that all have a level of competitive entry.</p>

          <h2 class="toc_h2" data-short-title="Path">Pathways</h2>
          <p>The training pathway is the most direct route through surgical training. Following each training stage, particularly in the early years, you will need to be selected into the next stage.</p>

          <h3 class="toc_h3" data-short-title="Run-through">Run-through and uncoupled</h3>
          <p>Sollicitudin eu at arcu aliquam, non dui aliquet. Massa urna ultrices ullamcorper imperdiet velit ut a. Integer scelerisque nulla rhoncus nunc et. Et quis dui aliquam sapien nulla lobortis dictumst sapien, dolor. Est lectus volutpat lacus lorem. Semper duis dictumst ipsum diam. Sapien, leo amet erat arcu blandit. Varius viverra sit luctus viverra. Bibendum sed at penatibus odio erat</p>

          <h3 class="toc_h3" data-short-title="ST1-ST7">Run-through posts (ST1-ST7)</h3>
          <p>For some specialties training is through a run-through programme. You only have to apply once, at the beginning of the programme, and are recruited for the full duration of the specialty training.</p>

          <h3 class="toc_h3" data-short-title="Uncoupled posts">Uncoupled posts (CT1, CT2, ST3-ST7)</h3>
          <p>For some specialties training is ran as an uncoupled programme, meaning once you have completed your core training (CT1, CT2) you will be required to re-apply for ST3 onwards.</p>

          <h2 class="toc_h2" data-short-title="Training routes">Training routes</h2>
          <h3 class="toc_h3">Core specialty Training (CT1, CT2 (CT3))</h3>
          <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>

          <h3 class="toc_h3">Higher specialty Training (ST3-ST7 (ST8))</h3>
          <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
        </div>
        <aside class="page__rightbar">
          {{ anchorLinks({
              title: "On this page",
              toc: true
            })
          }}
        </aside>
      </div>
    </div>
  </main>
{% endblock %}