/* Old cookie banner */
.nhsuk-cookie-banner {
  display: none;
  padding-top:  nhsuk-spacing(4);  
}

.nhsuk-cookie-banner ul,
.nhsuk-cookie-banner li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nhsuk-cookie-banner .nhsuk-success-banner {
  background-color: #007f3b;
  color: #fff;
  padding: 8px 0 8px 0;
  position: relative;
}

/* Policy table - mispelled */
.nhsuk__poilcy-table {
  border: none;

  .nhsuk__expires {
    white-space: nowrap;
  }
}