.nhsuk-hee-globalalert {
  background-color: #ffeb3b;
  padding-bottom: 24px;
  padding-top: 24px;
}
@media print {
  .nhsuk-hee-globalalert {
      display: none;
  }
}
.nhsuk-hee-globalalert a {
  color: #005eb8;
}
.nhsuk-hee-globalalert a:focus {
  background-color: #003d78;
  box-shadow: 0 0 0 4px #003d78;
  color: #fff;
  outline: 4px solid transparent;
  outline-offset: 4px;
}
.nhsuk-hee-globalalert a:hover {
  background-color: #005eb8;
  box-shadow: 0 0 0 4px #005eb8;
  color: #fff;
}
.nhsuk-hee-globalalert a:active {
  background-color: #002f5c;
  box-shadow: 0 0 0 4px #003d78;
  color: #fff;
}
.nhsuk-hee-globalalert .nhsuk-hee-globalalert__content {
  position: relative;
}
.nhsuk-hee-globalalert .nhsuk-hee-globalalert__content > :first-child {
  margin-top: 0;
}
.nhsuk-hee-globalalert .nhsuk-hee-globalalert__content > :last-child {
  margin-bottom: 0;
}
.nhsuk-hee-globalalert .nhsuk-hee-globalalert__message h2,
.nhsuk-hee-globalalert .nhsuk-hee-globalalert__message h3 {
  font-size: 24px;
  line-height: 1.33333;
  margin: 0;
}
.nhsuk-hee-globalalert .nhsuk-hee-globalalert__message p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-bottom: 0;
}
@media (min-width: 40.0625em) {
  .nhsuk-hee-globalalert .nhsuk-hee-globalalert__message p {
      margin-top: 8px;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-hee-globalalert .nhsuk-hee-globalalert__message p {
      font-size: 19px;
  }
}
.nhsuk-global-alert {
  background-color: #ffeb3b;
  padding-bottom: 24px;
  padding-top: 24px;
}
@media print {
  .nhsuk-global-alert {
      display: none;
  }
}
.nhsuk-global-alert a {
  color: #005eb8;
}
.nhsuk-global-alert a:focus {
  background-color: #003d78;
  box-shadow: 0 0 0 4px #003d78;
  color: #fff;
  outline: 4px solid transparent;
  outline-offset: 4px;
}
.nhsuk-global-alert a:hover {
  background-color: #005eb8;
  box-shadow: 0 0 0 4px #005eb8;
  color: #fff;
}
.nhsuk-global-alert a:active {
  background-color: #002f5c;
  box-shadow: 0 0 0 4px #003d78;
  color: #fff;
}
.nhsuk-global-alert__content {
  position: relative;
}
.nhsuk-global-alert__content > :first-child {
  margin-top: 0;
}
.nhsuk-global-alert__content > :last-child {
  margin-bottom: 0;
}
.nhsuk-global-alert__message h2,
.nhsuk-global-alert__message h3 {
  font-size: 24px;
  line-height: 1.33333;
  margin: 0;
}
.nhsuk-global-alert__message p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-bottom: 0;
}
@media (min-width: 40.0625em) {
  .nhsuk-global-alert__message p {
      margin-top: 8px;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-global-alert__message p {
      font-size: 19px;
  }
}