/* NHSUK-Header__search */
.nhsuk-header__search-wrap.js-show {
  margin-left: -(nhsuk-spacing(5));
  margin-right: -(nhsuk-spacing(5));
}

.nhsuk-search__close {
  height: auto;
  width: auto;
  margin: 0 -6px 0 0;
  padding: 4px 7px;
}

.app-search-results-category {
  color: #4c6272;
  display: block;
  font-size: 14px;
}

/* Why is this in the middle of header__search? */
.nhsuk-list--border {
  >li {
    border-bottom: 1px solid #d8dde0;
    padding: 8px 0 16px;
    > {
      :first-child {
        margin-top: 0;
      }
      :last-child {
        margin-bottom: 0;
      }
    }
    &:first-of-type {
      border-top: 1px solid #d8dde0;
      padding: 16px 0;
    }
  }
}

.nhsuk-contact__card .nhsuk-list--border > li .nhsuk-review-date .nhsuk-contact__pronoun,
.nhsuk-contact__card .nhsuk-list--border > li .nhsuk-review-date .nhsuk-contact__secondary-info > *,
.nhsuk-list--border > li .nhsuk-review-date .nhsuk-body-s,
.nhsuk-list--border > li .nhsuk-review-date .nhsuk-contact__card .nhsuk-contact__pronoun,
.nhsuk-list--border > li .nhsuk-review-date .nhsuk-contact__card .nhsuk-contact__secondary-info > * {
    margin-bottom: 0;
}

@include mq($from: tablet) {
  .autocomplete__input {
    width: 180px;
  }
}

@include mq($from: desktop) {
  .autocomplete__input {
    width: 200px;
  }
}
