/* NHSUK-Icon - why is this here? */
.nhsuk-subheader .nhsuk-header__navigation-link .nhsuk-icon {
    top: calc(50% - 22px);
    transform: rotate(90deg) translateX(50%);
    fill: #ffffff;
    width: 22px !important;
    height: 22px !important;
}