/* NHSUK-Resources__link - old */
.nhsuk-resources__link {

    .nhsuk-resources__tag,
    .nhsuk-resources__docSize {
        text-decoration: none;
    }

    .nhsuk-resources__tag {
        display: inline-block;
        position: relative;
        top: -1px;
        min-width: nhsuk-spacing(6);
        margin: 0 nhsuk-spacing(2);
        padding: 2px nhsuk-spacing(2);
        color: $color_nhsuk-white;
        font-size: .75em;
        text-align: center;
        text-transform: uppercase;
        border-radius: 12px;
    }

    .nhsuk-resources__pdf {
        background-color: #F40F02;
    }
    .nhsuk-resources__doc,
    .nhsuk-resources__docx {
        background-color: #2b579a;
    }
    .nhsuk-resources__xls,
    .nhsuk-resources__xlsx,
    .nhsuk-resources__csv {
        background-color: #1D6F42;
    }
    .nhsuk-resources__txt {
        background-color: #768692;
    }
    .nhsuk-resources__odt,
    .nhsuk-resources__ott,
    .nhsuk-resources__fodt {
        background-color: #456697;
    }
    .nhsuk-resources__ods,
    .nhsuk-resources__ots,
    .nhsuk-resources__fods {
        background-color: #8abf1c;
    }
    .nhsuk-resources__odf,
    .nhsuk-resources__fodf {
            background-color: #106f5a;
    }
    .nhsuk-resources__odp,
    .nhsuk-resources__otp,
    .nhsuk-resources__fodp {
        background-color: #f1662d;
    }
    .nhsuk-resources__oth {
        background-color: #737373;
    }
    .nhsuk-resources__odg,
    .nhsuk-resources__fodg,
    .nhsuk-resources__otg {
        background-color: #e4a204;
    }
    .nhsuk-resources__odb,
    .nhsuk-resources__fodb {
        background-color: #a5265b;
    }
    .nhsuk-resources__odm,
    .nhsuk-resources__fodm {
        background-color: #344c84;
    }


    .nhsuk-resources__docSize {
        display: inline-block;
        color: $color_nhsuk-grey-2;
    }

}

.nhsuk-resources__list {
    list-style-type: none;
    padding-left: 0;
}