.nhsuk-header {
  position: relative;

  .nhse-global-menu-descriptor {
    line-height: normal;
  }
}

.nhsuk-header__container {
  margin: 0 nhsuk-spacing(3);
  padding: 20px 0;
  position: relative;

  @include mq($from: desktop) {
    margin: 0 32px;
  }

  @include mq($from: large-desktop) {
    margin: 0 auto;
  }

  .nhsuk-logo {
    display: none;

    &.visible {
      display: inline;
    }
  }
}
.nhsuk-header__content {
  float:right;
  margin: -48px 0 0 0;
  z-index: 0;

  @include mq($from: desktop) {
    margin: nhsuk-spacing(7) 0 0 0;
  }

  &.js-show {
    border-bottom: 0;
    width: 100%;

    @include mq($from: desktop) {
      width: auto;
    }
  }
  &.no-search {
    min-height: auto;
  }
}

.nhsuk-header__link {
  .nhsuk-organisation-name,
  .nhsuk-organisation-descriptor {
    display: block;
  }
}