{% extends "layout.html" %}

{% block pageTitle %}
MicroHero - HEE - Components - HEE Prototype
{% endblock %}

{% block beforeContent %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/home",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        }
    ],
        href: "/components/hee/components/anchorlinks",
        text: "Anchorlinks"
    }) 
}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row hee-layout">
    <div class="nhsuk-grid-column-two-thirds hee-layout-content">
        <h1>Anchorlinks</h1>
        <p class="nhsuk-lede-text">An example page with an anchorlinks quickjump</p>

        {{ 
            anchorlinks({
                "title": "On this page",
                "headings": "h2,h3,h4,h5,h6"  
            })
        }}

        <h3>Qui autem esse poteris, nisi te amor ipse ceperit?</h3>
        <p>Restinguet citius, si ardentem acceperit. Facete M. Nunc vides, quid faciat. Recte, inquit, intellegis. </p>
        
        <h3>Hoc loco discipulos quaerere videtur</h3>
        <p>Utilitatis causa amicitia est quaesita. Duo Reges: constructio interrete. Quid est igitur, inquit, quod requiras? Illi enim inter se dissentiunt. </p>
        <p>Nunc haec primum fortasse audientis servire debemus. Hoc Hieronymus summum bonum esse dixit. Quid ait Aristoteles reliquique Platonis alumni? Sin aliud quid voles, postea. Sed ad bona praeterita redeamus. Nonne igitur tibi videntur, inquit, mala? </p>
        
    </div>
    <div class="nhsuk-grid-column-two-thirds hee-layout-sidebar">

    
    </div>
</div>
{% endblock %}