{% extends "template-rightbar.html" %}

{% block pageClass %}hee-page--home{% endblock %}

{% block pageTitle %}
HomeSection - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/home",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        }
    ],
        href: "/components/hee/components/homesection",
        text: "HomeSection"
    }) 
}}
{{ microHero({
  "imgURL": "/images/young-child-using-tablet-device.jpg"
}) }}
{% endblock %}

{% block pageMain %}
<div class="nhsuk-homepage">

</div>
{% endblock %}