{% extends "template-rightbar.html" %}

{% block pageClass %}hee-page--home{% endblock %}

{% block pageTitle %}
HomeSection - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/home",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        }
    ],
        href: "/components/hee/components/homesection",
        text: "HomeSection"
    }) 
}}
{{ microHero({
  "imgURL": "/images/young-child-using-tablet-device.jpg"
}) }}
{% endblock %}

{% block pageMain %}
<div class="nhsuk-homepage">

  {% call homepageSection() %}
    <div class="nhsuk-u-reading-width">
      <h2>HomeSection</h2>
      <p>This demonstrates the homeSection blocks alternating colours down the page.</p>
      {{ insetText({
        "HTML": "<p>You can find out more about what we do on our <a href=\"https://www.hee.nhs.uk/about/how-we-work\" title=\"About us\">About us</a> page.</p>"
      }) }}
    </div>
  {% endcall %}

  {% call homepageSection() %}
    <div class="nhsuk-u-reading-width">
      <h2>Latest news</h2>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m">
          <a href="/blog/post">Expert Search Early Adopters pilot - pre-switch search data</a>
        </h3>
        {{ reviewDate({
          lastReview: "12 February 2016",
          nextReview: "1 February 2019"
        }) }}
        <p>In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.</p>
      </div>
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m">
          <a href="/blog/post">Digital Champion</a>
        </h3>
        {{ reviewDate({
          lastReview: "12 February 2016",
          nextReview: "1 February 2019"
        }) }}
        <p>In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.</p>
      </div>
    </div>
  {% endcall %}

  {% call homepageSection() %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h2>Working with the public</h2>
        <p>We work with NHS colleagues and information providers in local communities to improve access to high-quality health and wellbeing information. Our wider goal is to improve the health literacy and available patient information within the public.</p>
        <p>You can find a number of health literacy training resources.</p>
        {{ insetText({
          "HTML": "<p>You can find out more about what we do on our <a href=\"https://www.hee.nhs.uk/about/how-we-work\" title=\"About us\">About us</a> page.</p>"
        }) }}
      </div>
      <div class="nhsuk-grid-column-one-half">
        {{ image({
          "src": "https://via.placeholder.com/500x350",
          "alt": "Working with public"
        }) }}
        <h3 class="nhsuk-heading-m">
          <a href="/guidance">Making the case for evidence-based patient information</a>
        </h3>
        <p>How we can help patients and members of the public to access high quality, reliable health information.</p>
      </div>
    </div>
  {% endcall %}

</div>
{% endblock %}