{% extends "layout.html" %}

{% block pageTitle %}
    HEE - Components - HEE Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        }
    ],
        href: "/components/hee",
        text: "HEE"
    }) 
}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>HEE Components</h1>
        <p class="nhsuk-lede-text">All of the available HEE components</p>
    </div>
</div>
<div class="nhsuk-grid-row">
    <ul class="nhsuk-card-group">
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/hee/anchorlinks",
                "clickable": "true",
                "heading": "AnchorLinks",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/hee/homesection",
                "clickable": "true",
                "heading": "HomeSection",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/hee/listing",
                "clickable": "true",
                "heading": "Listing",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/hee/microhero",
                "clickable": "true",
                "heading": "MicroHero",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        {{ card({
            "href": "/components/hee/newsletter",
            "clickable": "true",
            "heading": "Newsletter",
            "headingLevel": "3",
            "headingClasses": "nhsuk-heading-s",
            "description": ""
        }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/hee/sidebarlinks",
                "clickable": "true",
                "heading": "SidebarLinks",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        {{ card({
            "href": "/components/hee/tabs",
            "clickable": "false",
            "heading": "Tabs",
            "headingLevel": "3",
            "headingClasses": "nhsuk-heading-s",
            "description": ""
        }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/hee/timeline",
                "clickable": "true",
                "heading": "Timeline",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
    </ul>
    </div>
{% endblock %}
