{% extends "template.html" %}

{% block pageClass %}hee-page--listing{% endblock %}

{% block pageTitle %}
Listing - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/home",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        }
    ],
        href: "/components/hee/components/listing",
        text: "Listing"
    }) 
}}
{{ microHero({
    "imgURL": "/images/young-child-using-tablet-device.jpg"
}) }}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds hee-page__heading">
            <h1>Listing</h1>
            <p class="nhsuk-lede-text"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <p>The listing component comprises of:</p>
    <ul>
        <li>One or more filters</li>
        <li>Results</li>
        <li>Sortby</li>
        <li>Pagination</li>
    </ul>

    <h2>Macro:</h2>
    <p>listing()</p>

    <h2>Example:</h2>
    {{ listing({
        showPagination: true,
        pageType: "search",
        items: [
        {
            title: "Search result card",
            content_type: "Guidance Page",
            summary: "In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.",
            published_date: "Published on 23 January 2021"
        },
        {
            title: "Search result card",
            content_type: "Guidance Page",
            summary: "In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.",
            published_date: "Published on 23 January 2021"
        },
        {
            title: "Search result card",
            content_type: "Guidance Page",
            summary: "In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.",
            published_date: "Published on 23 January 2021"
        }
        ],
        filter: {
        groups: [
            {
            title: "Content type",
            items: [
                {
                text: "Guidance Page",
                value: "guidance+page"
                },
                {
                text: "Landing Page",
                value: "landing+page"
                },
                {
                text: "MiniHub",
                value: "minihub"
                }
            ]
            }
        ]
        }
    }) }}
{% endblock %}
{% block sidebar %}
{% endblock %}

{% block pageFooter %}{% endblock %}