{% extends "template-rightbar.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
MicroHero - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/home",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        }
    ],
        href: "/components/hee/components/microhero",
        text: "MicroHero"
    }) 
}}
{{ 
    microHero({
        imgURL: 'https://via.placeholder.com/1600x260&text=Example+MicroHero+Image',
        imgAlt: 'An example bg image'
    }) 
}}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds hee-page__heading">
            <h1>MicroHero</h1>
            <p class="nhsuk-lede-text">An example page with a microhero image header</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <ul>
        <li>Standard content pages (not in minihubs).</li>
        <li>The first page in a mini-hub.</li>
        <li>Listing pages.</li>
        <li>Section homepages (new page template coming in Q1 2022).</li>
        <li>The micro-hero sits below all navigation elements as and can be seen here [Dental UI](https://www.figma.com/file/JCLoBWN4R6R8edF58xCJrl/Dental-UI?node-id=237%3A10719) (Yorkshire and Humber Living page).</li>
        <li>The micro-hero stretches the full width of the browser and has a height of 260px</li>
    </ul>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block pageFooter %}{% endblock %}