{% extends "template-article.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
Person - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
  breadcrumb({
  items: [
      {
          href: "/",
          text: "Home"
      },
      {
          href: "/components",
          text: "Components"
      },
      {
          href: "/components/hee",
          text: "HEE"
      }
  ],
      href: "/components/hee/components/person",
      text: "Person"
  }) 
}}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds hee-page__heading">
          <h1>Person</h1>
          <p class="nhsuk-lede-text">There are two display variations of a person - author and contact - each with their own requirements.</p>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="nhsuk-page-content__section-one">
  {{ contactCard({
    heading: "Main Content Solo Contact",
    imgURL: "/images/headshot.jpg",
    imgALT: "This Person",
    title: "Doctor",
    name: "Jo Blogs",
    initials: "JB",
    pronouns: "Xe/Xem/Xyr",
    displayName: true,
    departmentName: "HEE",
    displayDepartmentName: true,
    organisation: "NHS England",
    jobTitle: "Department Head",
    displayJobTitle: true,
    website: "https://www.nhs.co.uk",
    websiteTitle: "nhs.co.uk",
    displayWebsite: true,
    phoneNumber: "01234 567890",
    displayPhoneNumber: true,
    email: "jo.bloggs@hee.co.uk",
    displayEmail: true,
    address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
    displayAddress: true,
    details: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
    displayDetails: true,
    viewLink: "#"
  }) }}
</section>

<hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

<section class="nhsuk-page-content__section-two">
  {{ contactCard({
    type: "department",
    heading: "Main Content Department Solo Contact",
    departmentName: "HEE",
    organisation: "NHS England",
    displayDepartmentName: true,
    phoneNumber: "01234 567890",
    displayPhoneNumber: true,
    email: "jo.bloggs@hee.co.uk",
    displayEmail: true,
    address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
    displayAddress: true,
    details: "Lorem ipsum dolor sit amet",
    displayDetails: true
  }) }}
</section>

<hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

<section class="nhsuk-page-content__section-four">
  <div class="nhsuk-page-content">
    <h2>Contact Group, Mixed Types</h2>
  </div>
  <ul class="nhsuk-grid-row nhsuk-contact-group">
    <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
      {{ contactCard({
        title: "Doctor",
        name: "Jo Blogs",
        displayName: true,
        departmentName: "HEE",
        displayDepartmentName: true,
        jobTitle: "Department Head",
        displayJobTitle: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet",
        displayDetails: true
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
      {{ contactCard({
        type: "department",
        departmentName: "HEE",
        displayDepartmentName: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet",
        displayDetails: true
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
      {{ contactCard({
        title: "Doctor",
        name: "Jo Blogs",
        displayName: true,
        departmentName: "HEE",
        displayDepartmentName: true,
        jobTitle: "Department Head",
        displayJobTitle: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet",
        displayDetails: true
      }) }}
    </li>
    
  </ul>
</section>

<hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

<section class="nhsuk-page-content__section-three">
  {{ contactCard({
    classes: "nhsuk-contact__card",
    heading: "Contact Card",
    title: "Doctor",
    name: "Jo Blogs",
    displayName: true,
    departmentName: "HEE",
    displayDepartmentName: true,
    jobTitle: "Department Head",
    displayJobTitle: true,
    email: "jo.bloggs@hee.co.uk",
    displayEmail: true
  }) }}
</section>

<hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

<section class="nhsuk-page-content__section-four">
  <div class="nhsuk-page-content">
    <h2>Contact Card Group</h2>
  </div>
  <ul class="nhsuk-grid-row nhsuk-contact-group">
    <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
      {{ contactCard({
        classes: "nhsuk-contact__card",
        title: "Doctor",
        name: "Jo Blogs",
        pronouns: "Xe/Xem/Xyr",
        displayName: true,
        departmentName: "HEE",
        displayDepartmentName: true,
        organisation: "NHS England",
        jobTitle: "Department Head",
        displayJobTitle: true,
        website: "https://www.nhs.co.uk",
        websiteTitle: "nhs.co.uk",
        displayWebsite: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        addressLine1: "Address Line 1",
        addressLine2: "Address Line 2",
        addressLine3: "",
        addressCity: "Address City",
        addressCounty: "Address County",
        addressPostcode: "Address Postcode",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
        displayDetails: true
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
      {{ contactCard({
        classes: "nhsuk-contact__card",
        type: "department",
        departmentName: "HEE",
        displayDepartmentName: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet",
        displayDetails: true
      }) }}
    </li>
  </ul>
</section>
{% endblock %}

{% block sidebar %}
<h2>Side nav contact cards</h2>
{{ contactCard({
  classes: "nhsuk-contact__card",
  imgURL: "/images/headshot.jpg",
  imgALT: "This Person",
  title: "Doctor",
  name: "Jo Blogs",
  initials: "JB",
  pronouns: "Xe/Xem/Xyr",
  displayName: true,
  departmentName: "HEE",
  displayDepartmentName: true,
  organisation: "NHS England",
  jobTitle: "Department Head",
  displayJobTitle: true,
  website: "https://www.nhs.co.uk",
  websiteTitle: "nhs.co.uk",
  displayWebsite: true,
  phoneNumber: "01234 567890",
  displayPhoneNumber: true,
  email: "jo.bloggs@hee.co.uk",
  displayEmail: true,
  addressLine1: "Address Line 1",
  addressLine2: "Address Line 2",
  addressLine3: "",
  addressCity: "Address City",
  addressCounty: "Address County",
  addressPostcode: "Address Postcode",
  displayAddress: true,
  details: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
  displayDetails: true,
  viewLink: "#"
}) }}
{{ contactCard({
  classes: "nhsuk-contact__card",
  title: "Doctor",
  name: "Jo Blogs",
  initials: "JB",
  displayName: true,
  departmentName: "HEE",
  displayDepartmentName: true,
  jobTitle: "Department Head",
  displayJobTitle: true,
  phoneNumber: "01234 567890",
  displayPhoneNumber: true,
  email: "simon.killough@belfasttrust.hscni.net",
  displayEmail: true,
  address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
  displayAddress: true,
  details: "Lorem ipsum dolor sit amet",
  displayDetails: true
}) }}
{{ contactCard({
    classes: "nhsuk-contact__card",
    type: "department",
    departmentName: "HEE",
    displayDepartmentName: true,
    phoneNumber: "01234 567890",
    displayPhoneNumber: true,
    email: "jo.bloggs@hee.co.uk",
    displayEmail: true,
    address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
    displayAddress: true,
    details: "Lorem ipsum dolor sit amet",
    displayDetails: true
  }) }}
{% endblock %}

{% block pageFooter %}{% endblock %}