{% extends "template-rightbar.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
SidebarImage - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/home",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        }
    ],
        href: "/components/hee/components/sidebarimage",
        text: "SidebarImage"
    }) 
}}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds hee-page__heading">
          <h1>SidebarImage</h1>
          <p class="nhsuk-lede-text">An example page with SidebarImage.</p>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
    <ul>
        <li>Formerly known as imageCard</li>
        <li></li>
    </ul>
{% endblock %}

{% block sidebar %}
{{ imageCard({
    "imgURL" : "/images/placeholders/dental-region-map.png",
    "imgALT" : "Dental region map",
    "imgCaption" : "Yorkshire and Humber region"
    }) 
}}
{% endblock %}