{% extends "template-rightbar.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
SidebarLinks - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/home",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        }
    ],
        href: "/components/hee/components/sidebarlinks",
        text: "SidebarLinks"
    }) 
}}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds hee-page__heading">
          <h1>SidebarLinks</h1>
          <p class="nhsuk-lede-text">An example page with SidebarLinks.</p>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
    <ul>
        <li>Formerly known as relatedLinks</li>
        <li></li>
    </ul>
{% endblock %}

{% block sidebar %}
{{ programmeInfoCard({
    "heading": "Related Posts",
    "links": [
      {
        "url"  : "#",
        "label" : "Expert searching"
      },
      {
        "url"  : "#",
        "label" : "Search training as a longer title"
      },
      {
        "url" : "#",
        "label" : "Search bank"
      },
      {
        "url" : "#",
        "label" : "Costing"
      },
      {
        "url"  : "#",
        "label" : "Search training"
      }
    ]
  })
}}
{% endblock %}