{% extends "template-article.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
Timeline - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/home",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        }
    ],
        href: "/components/hee/components/timeline",
        text: "Timeline"
    }) 
}}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds hee-page__heading">
          <h1>Timeline</h1>
          <p class="nhsuk-lede-text">Example uses of the timeline component - it uses the summaryList macro.</p>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
{{ timeline({
    classList: 'hee-timeline',
    title: "January 2022",
    events: [
      {
        title: "Lorum Ipsum Fest",
        description: "A celebration of all things Lorum Ipsum",
        details: [
          {
            key: {
              text: "Date"
            },
            value: {
              text: "22/01/2022"
            }
          },
          {
            key: {
              text: "Time"
            },
            value: {
              text: "10am - 2pm"
            }
          },
          {
            key: {
              text: "Links"
            },
            value: {
              html: "<a href='/'>Link (opens in new window)</a>"
            }
          }
        ]
      }
    ]
}) }}
{{ timeline({
    classList: 'hee-timeline',
    title: "February 2022",
    events: [
      {
        title: "Lorum Ipsum Fest",
        description: "A celebration of all things Lorum Ipsum",
        details: [
          {
            key: {
              text: "Date"
            },
            value: {
              text: "13/02/2022"
            }
          },
          {
            key: {
              text: "Time"
            },
            value: {
              text: "9am"
            }
          },
          {
            key: {
              text: "Links"
            },
            value: {
              html: "<a href='/'>Link (opens in new window)</a>"
            }
          }
        ]
      },
      {
        title: "Song 2",
        description: "Whoo Hoo",
        details: [
          {
            key: {
              text: "Date"
            },
            value: {
              text: "13/02/2022"
            }
          },
          {
            key: {
              text: "Time"
            },
            value: {
              text: "9am"
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              text: "London, UK"
            }
          },
          {
            key: {
              text: "Contact"
            },
            value: {
              html: "<a href='mailto:email@nhs.uk'>email@nhs.uk</a>"
            }
          },
          {
            key: {
              text: "Links"
            },
            value: {
              html: "<a href='/'>Link (opens in new window)</a>"
            }
          },
          {
            key: {
              text: "Details"
            },
            value: {
              text: "Lorem upsum dorit seru thius"
            }
          }
        ]
      }
    ]
}) }}
{% endblock %}

{% block sidebar %}
<div class="hee-details">
  <h2 class="hee-details__title">Params</h2>
  <div class="hee-details__content">
      <ul>
          <li>Title (Mandatory) - Date (Month,year)</li>
          <li>Description (Optional)</li>
          <li>Events (Mandatory)
            <ul>
              <li>Title</li>
              <li>Description</li>
              <li>Details
                <ul>
                  <li>Key, value list</li>
                </ul>
              </li>
            </ul>

          </li>
      </ul>
  </div>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}