.hee-tabs {
  .nhsuk-tabs__mobile {
    .nhsuk-tabs__list {
      .nhsuk-tabs__list-item {
        border: none;
        box-shadow: none;

        &:first-of-type {
          border-radius: 12px 12px 0 0;
        }

        &:last-of-type {
          border-radius: 0 0 12px 12px;

          &.nhsuk-tabs__list-item--selected {
            border-radius: 0;

            + .nhsuk-tabs__panel {
              border-radius: 0 0 12px 12px;
            }
          }
        }

        &.nhsuk-tabs__list-item--selected {
          background-image: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__minus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='none'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23005eb8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A");
          border-bottom: 1px solid $color_nhsuk-grey-4;
          font-weight: normal;
        }
      }
    }
  }

  .nhsuk-tabs__desktop {
    .nhsuk-tabs__list {
      align-items: stretch;

      .nhsuk-tabs__list-item {
        border: 1px solid $color_nhsuk-blue;
        border-radius: 12px 12px 0 0;
        box-shadow: none;

        &.nhsuk-tabs__list-item--selected {
          background-image: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__minus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='none'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23005eb8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A");
          border: 1px solid $color_nhsuk-white; 
          font-weight: normal;
        }
      }
    }
  }
}
