/* ==========================================================================
   COMPONENTS / #SIDEBARLINKS - related, download, resources
   ========================================================================== */

.hee-related-links {
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #d8dde0;
    position: relative;
    width: 100%;

    .hee-related-links__content {
      padding: 32px;
    }

    .hee-related-links__heading {
      @include mq($from: tablet) {
        @include nhsuk-responsive-margin(3, 'bottom');
      }
    }

    .hee-related-links__list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        @include nhsuk-responsive-margin(3, 'bottom');
      }

      li:last-of-type {
        margin-bottom: 0;
      }
    }
    .hee-related-links__link {
      @include nhsuk-typography-responsive(16);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
}