{% macro relatedLinksCard(params) %}
  <div class="hee-related-links">
    {%- if params.imgURL %}
      <img class="hee-related-links__img" src="{{ params.imgURL }}" alt="{{ params.imgALT }}">
    {%- endif %}
    <div class="hee-related-links__content">
      {%- if params.heading %}
        <h3 class="hee-related-links__heading">{{ params.heading }}</h3>
      {% endif -%}

      <ul class="hee-related-links__list">
        {%- for item in params.links %}
          <li>
            <a class="hee-related-links__link" href="{{item.url}}">{{item.label}}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}
