{% macro relatedLinksCard(params) %}
  <div class="hee-card hee-card--related-links {{ "theme__item-border" if params.itemBorder === true }}">
    <div class="hee-card--related-links__content">
      {%- if params.heading %}
        <h3 class="hee-card--related-links__heading">{{ params.heading }}</h3>
      {% endif -%}

      <ul class="hee-card--related-links__list">
        {%- for item in params.links %}
          <li>
            {% if item.active === true %}
              <span {{ 'aria-current=page' if item.active === true }} class="hee-card--related-links__link {{ 'active' if item.active === true }}">
                {{item.label}}
              </span>
            {% else %}
              <a class="hee-card--related-links__link" href="{{item.url}}">
                {{item.label}}
              </a>
            {% endif %}
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}
