{% extends "includes/_prototype-inner.html" %}

{% set page_url = 'featured-featured-content' %}
{% set page_title = 'Featured Content' %}

{% block pageTitle %}{{ page_title }} - Templates - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: basePath + "/",
            text: "Home"
        },
        {
            href: basePath + "/blocks",
            text: "Blocks"
        },
        {
            href: basePath + "/blocks/content",
            text: "Content"
        }
    ],
        href: basePath + "/blocks/" + page_url,
      text: page_title
    }) 
}}
{% endblock %}

{% block pageLeftbar %}
{{ subnav({
    area: 'blocks',
    subarea: 'content'
}) }}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Main</span>
    <h1>{{ page_title }}</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

<p>This block component is used to list relevant / related content at the bottom of a page, usually in the "Featured" region.</p>

<h3>Example</h3>
{{ example({
    view: 'block',
    url: basePath + '/blocks/content/examples/' + page_url,
    height: '620'
}) }}

<hr />

<h3>Macro</h3>
{{ highlight({
  html: '
  {{ featuredContent({
    title: "Phasellus sagittis",
    summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices dui lacus, sit amet mattis ipsum accumsan a. Aliquam eget quam eget arcu rhoncus ullamcorper. ",
    items: [
      {
        title: "Publication item #1",
        href: "#",
        details: [
        {
          label: "Publication type:",
          value: "Briefing"
        },
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
        summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
      },
      {
        title: "Publication item #2",
        href: "#",
        details: [
        {
          label: "Publication type:",
          value: "Briefing"
        },
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
        summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
      },
      {
        title: "Publication item #3",
        href: "#",
        details: [
        {
          label: "Publication type:",
          value: "Briefing"
        },
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
        summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
      },
      {
        title: "Publication item #1",
        href: "#",
        details: [
        {
          label: "Publication type:",
          value: "Briefing"
        },
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
        summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
      },
      {
        title: "Publication item #2",
        href: "#",
        details: [
        {
          label: "Publication type:",
          value: "Briefing"
        },
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
        summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
      },
      {
        title: "Publication item #3",
        href: "#",
        details: [
        {
          label: "Publication type:",
          value: "Briefing"
        },
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
        summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
      }
    ]
  }) }}
  '
}) }}

<hr />

<h3>HTML</h3>
{{ highlight({
  html : '
<div class="hee-featured-content">
    <h2>Phasellus sagittis</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices dui lacus, sit amet mattis ipsum accumsan a. Aliquam eget quam eget arcu rhoncus ullamcorper. </p>
    <div class="hee-featured-content-wrapper">
      <div class="hee-featured-content__item">
        <div class="hee-listing-item">
          <h3><a href="#">Publication item #1</a></h3>
          <div class="hee-listing-item__details">
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publication type:</span>
              <span>Briefing</span>
            </div>
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publish date:</span>
              <span>07 September 2022</span>
            </div>
          </div>
          <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
        </div>
      </div>
      <div class="hee-featured-content__item">
        <div class="hee-listing-item">
          <h3><a href="#">Publication item #2</a></h3>
          <div class="hee-listing-item__details">
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publication type:</span>
              <span>Briefing</span>
            </div>
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publish date:</span>
              <span>07 September 2022</span>
            </div>
          </div>
          <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
        </div>
      </div>
      <div class="hee-featured-content__item">
        <div class="hee-listing-item">
          <h3><a href="#">Publication item #3</a></h3>
          <div class="hee-listing-item__details">
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publication type:</span>
              <span>Briefing</span>
            </div>
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publish date:</span>
              <span>07 September 2022</span>
            </div>
          </div>
          <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
        </div>
      </div>
      <div class="hee-featured-content__item">
        <div class="hee-listing-item">
          <h3><a href="#">Publication item #1</a></h3>
          <div class="hee-listing-item__details">
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publication type:</span>
              <span>Briefing</span>
            </div>
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publish date:</span>
              <span>07 September 2022</span>
            </div>
          </div>
          <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
        </div>
      </div>
      <div class="hee-featured-content__item">
        <div class="hee-listing-item">
          <h3><a href="#">Publication item #2</a></h3>
          <div class="hee-listing-item__details">
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publication type:</span>
              <span>Briefing</span>
            </div>
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publish date:</span>
              <span>07 September 2022</span>
            </div>
          </div>
          <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
        </div>
      </div>
      <div class="hee-featured-content__item">
        <div class="hee-listing-item">
          <h3><a href="#">Publication item #3</a></h3>
          <div class="hee-listing-item__details">
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publication type:</span>
              <span>Briefing</span>
            </div>
            <div class="hee-listing-item__details__row">
              <span class="hee-listing-item__details__label">Publish date:</span>
              <span>07 September 2022</span>
            </div>
          </div>
          <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
        </div>
      </div>
    </div>
</div>
  '
  }) 
}}

{% endblock %}

{% block pageFooter %}{% endblock %}