{% extends "prototype-inner.html" %}

{% set page_url = 'featured-mini-listing' %}
{% set page_title = 'Mini Listing' %}

{% block pageTitle %}{{ page_title }} - Templates - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: basePath + "/",
            text: "Home"
        },
        {
            href: basePath + "/blocks",
            text: "Blocks"
        },
        {
            href: basePath + "/blocks/content",
            text: "Content"
        }
    ],
        href: basePath + "/blocks/" + page_url,
      text: page_title
    }) 
}}
{% endblock %}

{% block pageLeftbar %}
{{ subnav({
    area: 'blocks',
    subarea: 'content'
}) }}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Main</span>
    <h1>{{ page_title }}</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

<p>Used to list out content at the bottom of the page in the featured region.</p>

<h3>Example</h3>
{{ example({
    view: 'block',
    url: basePath + '/blocks/content/examples/' + page_url,
    height: '620'
}) }}

<hr />

<h3>Macro</h3>
{{ highlight({
  html: '
{{ miniListing([
    {
      title: "Publication item #1",
      href: "#",
      details: [
      {
        label: "Publication type:",
        value: "Briefing"
      },
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
    },
    {
      title: "Publication item #2",
      href: "#",
      details: [
      {
        label: "Publication type:",
        value: "Briefing"
      },
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
    },
    {
      title: "Publication item #3",
      href: "#",
      details: [
      {
        label: "Publication type:",
        value: "Briefing"
      },
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
    }
]) }}
  '
}) }}

<hr />

<h3>HTML</h3>
{{ highlight({
  html : '
<div class="hee-mini-listing">
    <div class="hee-mini-listing__item">
      <div class="hee-listing-item">
        <h3><a href="#">Publication item #1</a></h3>
        <div class="hee-listing-item__details">
          <div class="hee-listing-item__details__row">
            <span class="hee-listing-item__details__label">Publication type:</span>
            <span>Briefing</span>
          </div>
          <div class="hee-listing-item__details__row">
            <span class="hee-listing-item__details__label">Publish date:</span>
            <span>07 September 2022</span>
          </div>
        </div>
        <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
      </div>
    </div>
    <div class="hee-mini-listing__item">
      <div class="hee-listing-item">
        <h3><a href="#">Publication item #2</a></h3>
        <div class="hee-listing-item__details">
          <div class="hee-listing-item__details__row">
            <span class="hee-listing-item__details__label">Publication type:</span>
            <span>Briefing</span>
          </div>
          <div class="hee-listing-item__details__row">
            <span class="hee-listing-item__details__label">Publish date:</span>
            <span>07 September 2022</span>
          </div>
        </div>
        <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
      </div>
    </div>
    <div class="hee-mini-listing__item">
      <div class="hee-listing-item">
        <h3><a href="#">Publication item #3</a></h3>
        <div class="hee-listing-item__details">
          <div class="hee-listing-item__details__row">
            <span class="hee-listing-item__details__label">Publication type:</span>
            <span>Briefing</span>
          </div>
          <div class="hee-listing-item__details__row">
            <span class="hee-listing-item__details__label">Publish date:</span>
            <span>07 September 2022</span>
          </div>
        </div>
        <div class="hee-listing-item__summary"> Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec. </div>
      </div>
    </div>
</div>
  '
  }) 
}}

{% endblock %}

{% block pageFooter %}{% endblock %}