{% extends "prototype-inner.html" %}

{% set page_url = 'main-region-picker' %}
{% set page_title = 'Region Picker' %}

{% block pageTitle %}{{ page_title }} - Templates - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: basePath + "/",
            text: "Home"
        },
        {
            href: basePath + "/blocks",
            text: "Blocks"
        },
        {
            href: basePath + "/blocks/content",
            text: "Content"
        }
    ],
        href: basePath + "/blocks/" + page_url,
      text: page_title
    }) 
}}
{% endblock %}

{% block pageLeftbar %}
{{ subnav({
    area: 'blocks',
    subarea: 'content'
}) }}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Main</span>
    <h1>{{ page_title }}</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

<p>Allows visitors to view region based content by clicking an area an SVG based map.</p>

<h3>Example</h3>
{{ example({
    view: 'block',
    url: basePath + '/blocks/content/examples/' + page_url,
    height: '620'
}) }}

<hr />

<h3>Macro</h3>
{{ highlight({
  html: '
{{ appliesTo() }}
  '
}) }}

<hr />

<h3>HTML</h3>
{{ highlight({
  html : '
<div class="hee-appliesto">
    <p>Applies to: <span>England</span>. See guidance for <a href="https://www.nimdta.gov.uk/">Northern Ireland</a>, <a href="https://www.nes.scot.nhs.uk/">Scotland</a> and <a href="https://heiw.nhs.wales/">Wales</a>.</p>
</div>
  '
  }) 
}}

{% endblock %}

{% block pageFooter %}{% endblock %}