{% extends "includes/_prototype-inner.html" %}

{% set page_url = 'main-image' %}
{% set page_title = 'Image' %}

{% block pageTitle %}{{ page_title }} - Templates - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: basePath + "/",
            text: "Home"
        },
        {
            href: basePath + "/blocks",
            text: "Blocks"
        },
        {
            href: basePath + "/blocks/content",
            text: "Content"
        }
    ],
        href: basePath + "/blocks/" + page_url,
      text: page_title
    }) 
}}
{% endblock %}

{% block pageLeftbar %}
{{ subnav({
    area: 'blocks',
    subarea: 'content'
}) }}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Main</span>
    <h1>{{ page_title }}</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

<p>Allows editors to embed an image and caption within site content.</p>

<h3>Example</h3>
{{ example({
    view: 'block',
    url: basePath + '/blocks/content/examples/' + page_url,
    height: '620'
}) }}

<hr />

<h3>Macro</h3>
{{ highlight({
  html: '
{{ image({
    src: "https://digital-transformation.hee.nhs.uk/binaries/content/gallery/digital-transformation/blogs/vr-headsets.jpg",
    alt: "Nulla vitae est vel metus aliquam pharetra",
    caption: "Pellentesque sit amet nulla a nibh"
}) }}
  '
}) }}

<hr />

<h3>HTML</h3>
{{ highlight({
  html : '
<figure class="nhsuk-image">
    <img class="nhsuk-image__img" src="https://digital-transformation.hee.nhs.uk/binaries/content/gallery/digital-transformation/blogs/vr-headsets.jpg" alt="Nulla vitae est vel metus aliquam pharetra">
    <figcaption class="nhsuk-image__caption"> Pellentesque sit amet nulla a nibh </figcaption>
</figure>
  '
  }) 
}}

{% endblock %}

{% block pageFooter %}{% endblock %}