{% extends "prototype-inner.html" %}

{% set page_url = 'sidebar-card-downloads' %}
{% set page_title = 'Card--Downloads' %}

{% block pageTitle %}{{ page_title }} - Templates - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
{{
    breadcrumb({
    items: [
        {
            href: basePath + "/",
            text: "Home"
        },
        {
            href: basePath + "/blocks",
            text: "Blocks"
        },
        {
            href: basePath + "/blocks/content",
            text: "Content"
        }
    ],
        href: basePath + "/blocks/"+page_url,
      text: page_title
    })
}}
{% endblock %}

{% block pageLeftbar %}
{{ subnav({
    area: 'blocks',
    subarea: 'content'
}) }}
{% endblock %}

{% block pageHeader %}
    <span class="nhsuk-caption-xl">Main</span>
    <h1>{{ page_title }}</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

<p>Card displaying link of download resource links including their file types.</p>

<h3>Example</h3>
{{ example({
    view: 'block',
    url: basePath + '/blocks/content/examples/' + page_url,
    height: '380'
}) }}

<hr />

<h3>Macro</h3>
{{ highlight({
  html: '
{{ downloadsCard({
  title: "Alternative versions",
  items: [
    {
      title: "First Publication Title",
      text: "First Publication Title",
      url: "#",
      docSize: "836KB",
      docType: "PDF",
      tagColor: "pdf"
    },
    {
      title: "Second Publication Title",
      text: "Second Publication Title",
      url: "#",
      docSize: "1.4MB",
      docType: "ODF",
      tagColor: "odf"
    },
    {
      title: "Third Publication Title",
      text: "Third Publication Title",
      url: "#",
      docSize: "2.89MB",
      docType: "XLS",
      tagColor: "xls"
    }
  ]
}) }}
  '
}) }}

<hr />

<h3>HTML</h3>
{{ highlight({
  html : '
<div class="hee-card hee-card--details hee-card--downloads">
    <h3>Alternative versions</h3>
    <div class="hee-card--details__item">
      <a class="hee-resources__link" href="#" title="First Publication Title">
        <div class="hee-resources__wrapper">
          <span class="hee-resources__text">Short title</span><span class="hee-resources__docSize"> 836KB </span>
        </div><span class="hee-resources__tag
          hee-resources__pdf"> PDF </span>
      </a>
    </div>
    <div class="hee-card--details__item">
      <a class="hee-resources__link" href="#" title="Second Publication Title">
        <div class="hee-resources__wrapper">
          <span class="hee-resources__text"> Second Publication Title </span><span class="hee-resources__docSize"> 1.4MB </span>
        </div><span class="hee-resources__tag
          hee-resources__odf"> ODF </span>
      </a>
    </div>
    <div class="hee-card--details__item">
      <a class="hee-resources__link" href="#" title="Third Publication Title">
        <div class="hee-resources__wrapper">
          <span class="hee-resources__text"> Third Publication Title </span><span class="hee-resources__docSize"> 2.89MB </span>
        </div><span class="hee-resources__tag
          hee-resources__xls"> XLS </span>
      </a>
    </div>
</div>
  '
  })
}}

{% endblock %}

{% block pageFooter %}{% endblock %}