// Card downloads
.hee-card--downloads {
  .hee-resources__link {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    text-decoration: none;

    span {
      font-weight: normal;

      &.hee-resources__text {
        display: block;
        text-decoration: underline;
        width: 80%;
      }

      &.hee-resources__tag {
        border-radius: 6px;
        font-size: 10px;
        margin: 0;
        min-width: 32px;
        padding: 2px 6px 0 6px;
        text-decoration: none;
        top: 4px;
      }
    }
  }
}
