{%- from 'components/hee/hee-resources/macro.njk' import resources %}

{% macro downloadsCard(params) %}
<div class="hee-card hee-card--details hee-card--downloads">
  <h3>{{ params.title }}</h3>
  {% for item in params.items %}
    <div class="hee-card--details__item">
      {{ resources({
        title: item.title,
        text: item.text,
        url: item.url,
        docType: item.docType,
        tagColor: item.tagColor
      }) }}
    </div>
  {% endfor %}
</div>
{% endmacro %}