{% macro programmeInfoCard(params) %}
  <div class="hee-card hee-card--programme-info {{ "theme__item-border" if params.itemBorder === true }}">
    <div class="hee-card--programme-info__content">
      {%- if params.heading %}
        <h3 class="hee-card--programme-info__heading">{{ params.heading }}</h3>
      {% endif -%}

      <ul class="hee-card--programme-info__list">
        {%- for item in params.links %}
          <li>
            <a class="hee-card--programme-info__link" href="{{item.url}}">{{item.label}}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}
