{% if params.events %}
<div class="nhsuk-timeline-card">
  {% if params.title %}
    <h3 class="nhsuk-timeline-card__title">{{ params.title }}</h3>
  {% else %}
    <h3 class="nhsuk-timeline-card__title">Date TBC</h3>
  {% endif %}
  {% if params.description %}
    <div class="nhsuk-timeline-card__description">
      <p>{{ params.description }}</p>
    </div>
  {% endif %}
  {% for item in params.events %}
    <div class="nhsuk-timeline-card__event">
      {% if item.title %}
        <h4>{{ item.title }}</h4>
      {% endif %}
      {% if item.description %}
        <p>{{ item.description }}</p>
      {% endif %}
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if item.date %}
              {{ item.date }}
            {% else %}
              TBC
            {% endif %}
          </dd>
        </div>
        {% if item.time %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Time
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ item.time }}
          </dd>
        </div>
        {% endif %}
        {% if item.location %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ item.location }}
          </dd>
        </div>
        {% endif %}
        {% if item.contact %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Contact
          </dt>
          <dd class="nhsuk-summary-list__value">
            <a href="mailto:{{ item.contact }}" >{{ item.contact }}</a>
          </dd>
        </div>
        {% endif %}
        {% if item.link %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Link
          </dt>
          <dd class="nhsuk-summary-list__value">
            <a href="{{ item.link }}" target="_blank">Link (Opens in new window)</a>
          </dd>
        </div>
        {% endif %}
        {% if item.details %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Details
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ item.details }}
          </dd>
        </div>
        {% endif %}
      </dl>
    </div>
    {%- endfor %}
</div>
{% else %}
<div class="nhsuk-timeline-card--no-events">
  <h3 class="nhsuk-timeline-card__title" >No Events to Display</h3>
  {% if params.description %}
    <div class="nhsuk-timeline-card__description">
      <p>{{ params.description }}</p>
    </div>
  {% endif %}
</div>
{% endif %}