.nhsuk__timeline-no-events {
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
}

.nhs-uk__timeline-card {
  position: relative;
  margin-top: nhsuk-spacing(5);
  padding: nhsuk-spacing(5) nhsuk-spacing(4) nhsuk-spacing(4);
  background: $color_nhsuk-white;
  border: 1px solid #D8DDE0;

  h3 {
    position: absolute;
    top: -(nhsuk-spacing(5));
    left: 0;
    width: calc(100% - 64px);
    padding: nhsuk-spacing(3);
    color: $color_nhsuk-white;
    font-size: 1.5rem;
    background: $color_nhsuk-blue;
  }

  h4 {
    margin-top: nhsuk-spacing(7);
    font-size: 1.5rem;

    &:first-of-type {
      margin-top: nhsuk-spacing(6);
    }
  }

  .nhsuk-grid-row {
    > div {
      overflow: hidden;
      padding: nhsuk-spacing(3) 0;
    }

    .nhsuk-grid-column-one-third,
    .nhsuk-grid-column-two-thirds {
      float: left;
    }
    .nhsuk-grid-column-one-third {
      width: 33.33%;
    }
    .nhsuk-grid-column-two-thirds {
      width: 66.66%;
    }

  }

  > div {
    .nhsuk-grid-row > div:first-of-type {
      padding-top: 0;
    }
  }

  hr {
    padding: 0;
    margin: 0 nhsuk-spacing(3) nhsuk-spacing(1);

    &:last-of-type {
      margin-bottom: nhsuk-spacing(4);
    }
  }
}