{% extends "components/contentblocks/template.html" %}

{% block pageTitle %}Content Blocks - Components - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/components/",
            text: "Components"
        }
    ],
        href: "/components/contentblocks",
        text: "Content Blocks"
    }) 
}}
{% endblock %}

{% block pageHeader %}
    <h1>Content Blocks</h1>
    <p class="nhsuk-lede-text"></p>
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block pageFooter %}{% endblock %}