{% macro globalMenu(params) %}
  <div class="nhse-global-menu" id="nhse-global-menu">
    <div class="nhsuk-width-container nhse-global-menu__wrapper">
      <div class="nhse-global-menu__logo">
        <div class="nhse-global-menu__logo__img"></div>
        <span class="nhse-global-menu__logo__name">England</span>
      </div>
      <button aria-label="Show global NHS menu" aria-expanded="false" class="nhse-global-menu__btn">
        Menu
      </button>
    </div>
    <nav aria-label="Global NHS menu" class="nhse-global-menu__dropdown">
      <div class="nhsuk-width-container nhse-global-menu__dropdown__wrapper">
        <div class="nhse-global-menu__dropdown__panel">
          <h3>Services</h3>
          <div class="nhse-global-menu__dropdown__panel__wrapper">
            <div class="nhse-global-menu__dropdown__panel__group">
              <ul class="nhse-global-menu__dropdown__panel__list">
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="http://hee.nhs.uk">Health Education England</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="https://digital.nhs.uk">NHS Digital</a>
                  <p>Donec vulputate massa vulputate commodo molestie.</p>
                </li>
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="#">NHS Transformation Directorate</a>
                  <p>Morbi sagittis quam in erat vulputate tempor a vel ante.</p>
                </li>
                {#<li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Childcare and parenting</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Citizenship and living in the UK</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Crime, justice and the law</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Disabled people</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Driving and transport</a></li>#}
              </ul>
            </div>
            {#<div class="nhse-global-menu__dropdown__panel__group">
              <ul class="nhse-global-menu__dropdown__panel__list">
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Education and learning</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Employing people</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Environment and countryside</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Housing and local services</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Money and tax</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Passports, travel and living abroad</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Visas and immigration</a></li>
                <li class="nhse-global-menu__dropdown__panel__list__item"><a href="#">Working, jobs and pensions</a></li>
              </ul>
            </div>#}
          </div>
        </div>
        <div class="nhse-global-menu__dropdown__panel">
          <h3>Information</h3>
          <div class="nhse-global-menu__dropdown__panel__wrapper">
            <div class="nhse-global-menu__dropdown__panel__group">
              <p>Other links and information can be listed here if required.</p>
              {#<ul class="nhse-global-menu__dropdown__panel__list">
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="#">Departments</a>
                  <p>Donec dui nisl, eleifend nisl</p>
                </li>
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="#">News</a>
                  <p> Praesent rhoncus ultricies mauris</p>
                </li>
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="#">Guidance and regulation</a>
                  <p>Nunc enim enim, vestibulum et placerat vel</p>
                </li>
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="#">Research and statistics</a>
                  <p>Quisque id neque vel sem elementum laoreet</p>
                </li>
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="#">Policy papers and consultations</a>
                  <p>Sed accumsan libero eget quam faucibus luctus</p>
                </li>
                <li class="nhse-global-menu__dropdown__panel__list__item">
                  <a href="#">Transparency</a>
                  <p>Nullam aliquet nisl eget massa dictum, non blandit enim</p>
                </li>
              </ul>#}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
{% endmacro %}
