<div class="nhsuk-related-nav">
  {%- if params.heading %}
    <h2 class="nhsuk-related-nav__heading">{{params.heading}}</h2>
  {% endif -%}

  {%- if params.subsections %}
    <nav role="navigation" class="nhsuk-related-nav__nav-section">
      {%- for subsection in params.subsections %}
        {%- if subsection.heading %}
          <h3 class="nhsuk-related-nav__sub-heading">{{subsection.heading}}</h3>
        {% endif -%}
        <ul class="nhsuk-related-nav__list nhsuk-related-nav__list--sub">
          {%- for item in subsection.links %}
            <li class="nhsuk-related-nav__item">
              <a class="nhsuk-related-nav__link" href="{{item.url}}">{{item.label}}</a>
            </li>
          {%- endfor %}
        </ul>
      {%- endfor %}
    </nav>
  {% endif -%}
</div>