.nhsuk-image--card {
  border: 1px solid $nhsuk-border-color;
  background-color: $color_nhsuk-white;
  padding: nhsuk-spacing(4);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: nhsuk-spacing(4);

  .nhsuk-image__img {
    max-width: 100%;
    height: auto;
  }

  .nhsuk-image__caption {
    font-size: 0.9rem;
    color: $nhsuk-text-color;
    padding: 0;
    margin-top: nhsuk-spacing(3);
  }
}
