{% extends "includes/_example-blocks.html" %}

{% block main %}
{{ customHeader({
    "showNav": "false",
    "showSearch": "false",
    "showLogos": "true",
    "heeHref": "http://hee.nhs.uk/",
    "classes": "nhsuk-header--white",
    "organisation": {
      "name": "Health Education England",
      "split": "",
      "descriptor": "Dental Education Hub"
    },
    "logos": [
      {
        "href": "https://www.nimdta.gov.uk/",
        "label": "Northern Ireland Medical and Dental Training Agency Website (Opens in New Window)",
        "imgSrc": "/images/logos/nimdta-logo.png",
        "imgAlt": "Logo for Northern Ireland Medical and Dental Training Agency"
      },
      {
        "href": "https://www.nes.scot.nhs.uk/",
        "label": "NHS Education for Scotland Website (Opens in New Window)",
        "imgSrc": "/images/logos/nhs-scotland-logo.png",
        "imgAlt": "Logo for NHS Education for Scotland"
      },
      {
        "href": "https://heiw.nhs.wales/",
        "label": "Health Education and Improvement Wales Website (Opens in New Window)",
        "imgSrc": "/images/logos/heiw-logo.png",
        "imgAlt": "Logo for Health Education and Improvement Wales"
      }
    ],
    "primaryLinks": []
  })
}}
{% endblock %}