{% extends "example-blocks.html" %}

{% block main %}
  {{ globalAlert({
    heading: "Coronavirus (COVID-19)",
    HTML: "<p><a href=\"https://www.nhs.uk/conditions/coronavirus-covid-19/\">Get the latest advice about coronavirus</a></p>"
  })}}

  <br />

  {{ globalAlert({
    customClass: "hee-globalalert--black",
    heading: "Her Majesty Queen Elizabeth II",
    headingClass: "nhsuk-heading-xl",
    HTML: "<p>21 April 1926 to 8 September 2022</p><p><a href=\"https://www.hee.nhs.uk/news-blogs-events/news/her-majesty-queen-elizabeth-ii\">We join with the people across HEE and the NHS in mourning the death of Queen Elizabeth II</a></p>"
  })}}
{% endblock %}