{% extends "example-blocks.html" %}

{% block main %}

  {{ banner({
    customClass: "hee-banner--mourning",
    HTML: "<h2>H2 - Her Majesty Queen Elizabeth II</h2>
             <h3>H3 - 21 April 1926 to 8 September 2022</h3>
             <p><a href=\"#\">We join with the people across HEE and the NHS in mourning the death of Queen Elizabeth II</a></p>
            "
  })}}

  <br />

  {{ banner({
    HTML: "<h2>H2 - This is an alert</h2>
             <h3>H3 - This is the alert text and <a href=\"#\">this is the link</a></h3>
             <p><strong>Body</strong> - This is banner body copy <a href=\"#\">this is the link</a></p>
            "
  })}}

  <br />

  {{ banner({
    customClass: "hee-banner--announcement",
    HTML: "<h2>H2 - This is an alert</h2>
             <h3>H3 - This is the alert text and <a href=\"#\">this is the link</a></h3>
             <p><strong>Body</strong> - This is banner body copy <a href=\"#\">this is the link</a></p>
            "
  })}}
{% endblock %}