.hee-publication-doc {
  align-items: center;
  display: flex;
  margin-bottom: map-get($nhsuk-spacing-points, 4);

  &:last-of-type {
    margin-bottom: 0;
  }

  .hee-publication-doc__wrapper {
    position: relative;
    min-width: 60px;
    width: 60px;

    .hee-publication-doc__icon {
      padding: 4px;
      position: relative;
      width: 56px;

      .hee-publication-doc__icon__page {
        border: 3px solid $color_nhsuk-black;
        border-radius: 2px;
        height: 86px;
        width: 52px;
      }

      .hee-publication-doc__icon__corner {
        position: absolute;
        top: 4px;
        right: 0;
        width: 15px;
        height: 16px;
        background-color: $color_nhsuk-black;
      }

      .hee-publication-doc__icon__corner__triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 1em 1em 0;
        border-color: transparent $color_nhsuk-grey-5 transparent transparent;
      }
    }

    .hee-publication-doc__icon__title {
      @include nhsuk-font(16);
      background-color: $color_nhsuk-black;
      border: 1px solid $color_nhsuk-white;
      border-radius: 2px;
      color: $color_nhsuk-white;
      position: absolute;
      text-align: center;
      top: map-get($nhsuk-spacing-points, 5);
      width: 100%;
    }
  }

  .hee-publication-doc__details {
    padding-left: map-get($nhsuk-spacing-points, 4);

    h3 {
      font-weight: normal;
      margin-bottom: map-get($nhsuk-spacing-points, 2);
      word-break: break-all;
    }

    span {
      color: $color_nhsuk-grey-1;
      display: block;
      margin-bottom: map-get($nhsuk-spacing-points, 2);
    }
  }
}
