.nhse-hero {
  margin-bottom: nhsuk-spacing(6);
  position: relative;

  @include mq($from: desktop) {
    margin-bottom: nhsuk-spacing(9);
  }

  .nhse-hero__image {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    min-height: 202px;

    @include mq($from: desktop) {
      min-height: 380px;
    }
  }

  .nhse-hero__wrapper {
    position: relative;
  }

  .nhse-hero__wrapper__shape {
    background-color: $color_nhsuk-aqua-green;
    border-radius: 12px 0 0 12px;
    bottom: nhsuk-spacing(5);
    display: none;
    height: 78px;
    position: absolute;
    right: 0;
    width: 90px;

    @include mq($from: desktop) {
      display: block;
    }
  }

  .nhse-hero__content {
    background-color: $color_nhsuk-blue;
    border-radius: 12px;
    color: $color_nhsuk-white;
    margin-top: -16px;
    padding: nhsuk-spacing(3);
    position: relative;

    @include mq($from: tablet) {
      padding: nhsuk-spacing(4);
    }

    @include mq($from: desktop) {
      padding-bottom: nhsuk-spacing(8);
      position: absolute;
      bottom: nhsuk-spacing(5) * -1;
      width: 66%;
    }

    h1 {
      @include nhsuk-typography-responsive(48);
      margin-bottom: nhsuk-spacing(2);
      margin-top: nhsuk-spacing(3);
      max-width: 100%;

      @include mq($from: desktop) {
        margin-bottom: nhsuk-spacing(4);
        margin-top: 0;
      }
    }

    p {
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  .nhse-hero__content__shape {
    background-color: $nhse-colour-dark-blue;
    border-radius: 12px 12px 0 0;
    height: nhsuk-spacing(3);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include mq($from: desktop) {
      background-color: $nhse-colour-aqua-blue;
      border-radius: 0 0 12px 12px;
      bottom: 0;
      height: nhsuk-spacing(5);
      top: inherit;
    }
  }

  // No image variant.
  &.no-image {
    @include mq($from: desktop) {
      background-color: $color_nhsuk-blue;
      border-radius: 12px;
    }

    .nhse-hero__image {
      display: none;
    }

    .nhse-hero__wrapper {
      background-color: $color_nhsuk-blue;
      border-radius: 12px;
      margin: 0;

      @include mq($from: desktop) {
        margin: 0 auto;
      }
    }

    .nhse-hero__content {
      margin-top: 0;

      @include mq($from: desktop) {
        bottom: 0;
        padding: nhsuk-spacing(7) nhsuk-spacing(4);
        position: relative;
        width: 50%;
      }

      @include mq($from: large-desktop) {
        padding: nhsuk-spacing(7) 0;
      }
    }

    .nhse-hero__wrapper__shape {
      display: none;
    }

    .nhse-hero__content__shape {
      display: none;
    }

    .nhse-hero_shape-group {
      display: none;

      @include mq($from: desktop) {
        bottom: -1 * nhsuk-spacing(5);
        display: block;
        height: 215px;
        position: absolute;
        right: nhsuk-spacing(9);
        width: 175px;
      }

      .nhse-hero_shape-group__vertical {
        background-color: $color_nhsuk-aqua-green;
        border-radius: 12px;
        height: 215px;
        position: absolute;
        right: 0;
        width: 50%;
      }

      .nhse-hero_shape-group__vertical__overlay {
        background-color: $nhse-colour-aqua-green;
        border-radius:  0 0 12px 12px;
        bottom: 0;
        height: 32px;
        position: absolute;
        width: 100%;
      }

      .nhse-hero_shape-group__horizontal {
        background-color: $nhse-colour-aqua-blue;
        border-radius: 12px;
        height: 58px;
        position: absolute;
        left: 0;
        bottom: 64px;
        width: 132px;
      }

      .nhse-hero_shape-group__horizontal__overlay {
        background-color: $nhse-colour-dark-blue;
        border-radius: 0 12px 12px 0;
        height: 58px;
        position: absolute;
        right: 0;
        width: 48px;
      }
    }
  }
}
