// Home Page Sections related CSS: Copied over from main www.nhs.uk [as these are not available on nhsuk-frontend]
.nhsuk-homepage {
  background-color: #fff;

  .nhsuk-section:nth-of-type(odd) {
    background: #f0f4f5;
  }

  @media (min-width:40.0625em) {
    .nhsuk-section:nth-of-type(2) {
      padding-top: 40px;
    }
  }

  @media (max-width:26.3125em) {
    .nhsuk-section:nth-of-type(2) {
      padding-top: 40px;
    }
  }

  .nhsuk-section__content {
    .nhsuk-action-link {
      padding-top: 8px
    }
  }
}

.nhsuk-width-container--full {
  margin: 0;
  max-width: none
}


.nhsuk-main-wrapper--no-padding {
  padding: 0
}


.nhsuk-section__content {
  padding-bottom: 64px;
  padding-top: 64px;

  @media (max-width:48.0525em) {
    padding-bottom: 48px;
    padding-top: 48px;

    +.nhsuk-section__content {
      padding-top: 0;
    }
  }

  h2 {
    padding-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:empty {
    display: none;
  }
}


.nhsuk-section__description {
  color: #4c6272
}


.nhsuk-section--with-image {
  position: relative;

  &:before {
    background-image: url("/images/crosses.25094b4f2d3b.svg");
    background-position: left top;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    display: block;
    height: 700px;
    position: absolute;
    right: 0;
    width: 48%
  }

  @media (max-width:48.0525em) {
    padding-top: 120px;

    &:before {
      background-image: url("/images/crosses-mobile.614d796978e1.svg");
      bottom: auto;
      height: 125px;
      left: 0;
      right: auto;
      top: -10px;
      width: 100%
    }
  }
}