
/* NHSUK-Header__container */

@include mq($until: desktop) {
  .nhsuk-header__container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* NHSUK-Header__content */

.nhsuk-header__content {
  width: 100%;
  min-height: 40px;
  float: none;
  margin: 0;
  text-align: right;

  &.js-show {
    border-bottom: 0;
  }
  &.no-search {
    min-height: auto;
  }
}

@include mq($until: large-desktop) {
  .nhsuk-header__content {
    margin-top: 16px;
  }
}

.nhsuk-header__link {
  .nhsuk-organisation-name,
  .nhsuk-organisation-descriptor {
    display: block;
  }
}