/* Hero */
.nhsuk-hero {
  .nhsuk-hero__wrapper {
    padding: 48px 0 88px;
  }

  & &--border {
    border: 0;
  }
}

.nhsuk-hero--image-description {
  margin-bottom: 50px;
}

.nhsuk-hee-hero {
  .nhsuk-hero__wrapper {
    padding: 48px 0 88px;
  }
}