{% extends "lks-layout.html" %}
{% block pageTitle %}
  Copyright - HEE
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Copyright</h1>
    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <section class="nhsuk-page-content__section-one">
          <div class="nhsuk-page-content">
            <p>NHS library staff in England may copy and share extracts from most printed and digital work in the following ways.</p>

            {{ reviewDate({
              "lastReview": "12 February 2017",
              "nextReview": "1 February 2020"
            }) }}

            <h2>CLA Licence Plus</h2>
            <p>This is the agreement signed between the Copyright Licensing Agency and the Department of Health and Social Care for the NHS in England.</p>

            <p>Download and display the licence  and the Copying Guidelines poster. Use the <a href="#">Check Permissions Tool</a> to find out whether what you want to copy is covered by the Licence.</p>

            <h2>Copyright Act & 'Library Privilege'</h2>
            <p>If copies cannot be made under CLA Licence Plus, NHS library staff may supply copies under terms of the <a href="#">Copyright, Designs and Patents Act of 1988</a>. This includes digital as well as printed works.</p>

            <p>See also The British Library’s help about <a href="#">Library Privilege.</a></p>
          </div>
        </section>
      </div>
      
      <div class="nhsuk-grid-column-one-third">
        {{ relatedNav({
            "heading": "Quick Links",
            "subsections": [{
              "links": [
                {
                  "url"  : "#",
                  "label" : "Briefing for library staff on Library and inter-library document supply and copyright in the NHS"
                },
                {
                  "url" : "#",
                  "label" : "Decision Tree"
                },
                {
                  "url" : "#",
                  "label" : "NHS-HE crossover copyright queries: guidance for higher education and NHS Library staff"
                },
                {
                  "url"  : "#",
                  "label" : "CILIP Copyright Hub"
                },
                {
                  "url"  : "#",
                  "label" : "NHS Copy Aid"
                }
              ]
            }]
          })
        }}

        {{ relatedLinksCard({
            "heading": "Related Posts",
            "links": [
              {
                "url"  : "#",
                "label" : "Expert searching"
              },
              {
                "url" : "#",
                "label" : "Search bank"
              },
              {
                "url" : "#",
                "label" : "Costing"
              },
              {
                "url"  : "#",
                "label" : "Search training"
              }
            ]
          })
        }}
      </div>
    </div>
  </article>
{% endblock %}
