{% extends "lks-layout.html" %}

{% block pageTitle %}
  Cookies - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/docs",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Cookies on the HEE Service</h1>

      <p class="nhsuk-body-l">When we provide online services, we want to make them easy, useful and reliable. To make our services work better, we sometimes put small amounts of information on your computer, tablet or phone.</p>
      
      <p>This includes small files known as cookies. We cannot use them to identify you personally.</p>

      <p>We use cookies to:</p>

      <ul>
        <li>recognise your device so you do not have to give the same information several times during one task</li>
        <li>keep any preferences you've chosen so they're the same when you return to our website</li>
        <li>make sure you do not have to keep logging in when you've already done so</li>
        <li>see how many people are using our services</li>
        <li>measure our website's speed</li>
        <li>analyse anonymised data to understand how people use our services</li>
      </ul>

      <p>We use this information to improve services for you.</p>

      <table summary="Cookie names, their purpose and their duration" class="nhsuk__poilcy-table">
        <caption>Which cookies we use</caption>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
            <th scope="col">Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SERVERID</td>
            <td>This is a Bloomreach Experience Manager cookie. It's an essential cookie that's required for the website to function.</td>
            <td class="nhsuk__expires">30 minutes</td>
          </tr>
          <tr>
            <td>_hjAbsoluteSessionInProgress</td>
            <td>This is a Hotjar cookie used to count how many times different users visit the site. It assigns the users an ID, so the user does not get registered twice.</td>
            <td class="nhsuk__expires">30 minutes</td>
          </tr>
          <tr>
            <td>_hjIncludedInPageviewSample</td>
            <td>This cookie lets Hotjar know if you're part of a group of users we're sampling for information about how the site is being used.</td>
            <td class="nhsuk__expires">30 minutes</td>
          </tr>
          <tr>
            <td>_hjid</td>
            <td>This is a Hotjar cookie that's set when the user first lands on a page with the Hotjar script. It creates a unique ID for your session to help tell us how you use our site.</td>
            <td class="nhsuk__expires">1 year</td>
          </tr>
          <tr>
            <td>_hjFirstSeen</td>
            <td>This is a Hotjar cookie that tells us if this is the first time you've visited the site.</td>
            <td class="nhsuk__expires">End of session</td>
          </tr>
          <tr>
            <td>_ga</td>
            <td>This is a Google Analytics cookie used to tell users apart. This then gives us data about how people are using the site.</td>
            <td class="nhsuk__expires">2 years</td>
          </tr>
          <tr>
            <td>_ga_#</td>
            <td>This is a Google Analytics cookie used to collect data on the number of times a user has visited the site, as well as dates for the first and most recent visit.</td>
            <td class="nhsuk__expires">2 years</td>
          </tr>
        </tbody>
      </table>

      <p>These are the cookies we use on the homepage. Other cookies from Hotjar and Google Analytics may be used on other parts of the site. For full descriptions of these cookies, visit <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookie-Information" target="_blank">Hotjar (opens in new window)</a> and <a href="https://developers.google.com/analytics/devguides/collection/gajs/cookie-usage#gtagjs_google_analytics_4_-_cookie_usage%5D" target="_blank">Google Analytics (opens in new window)</a>.</p>

      <div class="nhsuk__cookieStatus">
        <h2>
          You are currently opted
          <span class="nhsuk__cookiesIn">in to</span>
          <span class="nhsuk__cookiesOut">out of</span>
          using analytics cookies.
        </h2>

        <button id="acceptCookies" class="nhsuk-button nhsuk__cookiesOut">Accept additional cookies</button>


        <button id="rejectCookies" class="nhsuk-button nhsuk__cookiesIn">Reject additional cookies</button>
      </div>
      {#
      <button id="showCookies" class="nhsuk-button">Show cookies</button>

      <div>
        <code id="cookies"></code>
      </div>
      #}

      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 17 November 2021
          <br>
          Next review due: 5 October 2021
        </p>
      </div>

    </div>{# end row #}
  </div>
{% endblock %}
