{% extends "lks-layout.html" %}
{% block pageTitle %}
  Home - HEE
{% endblock %}

{% block beforeContent %}
  {{ hero({
    "heading": "Welcome to the Library and Knowledge Services Professionals Hub",
    "text": "Guidance and information for library and information professionals"
  }) }}
{% endblock %}

{% block main %}
 {{ super }}
  <div class="nhsuk-width-container nhsuk-width-container--full">
    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--no-padding nhsuk-homepage" id="maincontent" role="main">

      {% call homepageSection() %}
        <div class="nhsuk-u-reading-width">
          <h2>What we do</h2>
          <p>We provide guidance and support for Library Knowledge Services professionals. Enabling you to access the right knowledge and evidence at the right time.</p>
          {{ insetText({
            "HTML": "<p>You can find out more about what we do on our <a href=\"https://www.hee.nhs.uk/about/how-we-work\" title=\"About us\">About us</a> page.</p>"
          }) }}
        </div>
      {% endcall %}

      {% call homepageSection() %}
        <div class="nhsuk-u-reading-width">
          <h2>Our services</h2>
        </div>
        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "/landing",
              "clickable": "true",
              "heading": "Evidence and resources",
              "headingLevel": "3",
              "headingClasses": "nhsuk-heading-m",
              "description": "Bulletins, search bank, OpenAthens and ways to collaborate with other libraries."
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "/landing",
              "clickable": "true",
              "heading": "Knowledge Management",
              "headingLevel": "3",
              "headingClasses": "nhsuk-heading-m",
              "description": "Finding the latest evidence through bulletins, literature searching, using trusted sources like OpenAthens and collaboration."
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "/landing",
              "clickable": "true",
              "heading": "Quality and Impact",
              "headingLevel": "3",
              "headingClasses": "nhsuk-heading-m",
              "description": "Finding the latest evidence through bulletins, literature searching, using trusted sources like OpenAthens and collaboration."
            }) }}
          </li>
        </ul>
      {% endcall %}

      {% call homepageSection() %}
        <div class="nhsuk-u-reading-width">
          <h2>Latest news</h2>
        </div>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <h3 class="nhsuk-heading-m">
              <a href="/blog/post">Expert Search Early Adopters pilot - pre-switch search data</a>
            </h3>
            <div class="nhsuk-review-date">
              <p class="nhsuk-body-s">4th January 2021</p>
            </div>
            <p>In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.</p>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <h3 class="nhsuk-heading-m">
              <a href="/blog/post">Digital Champion</a>
            </h3>
            <div class="nhsuk-review-date">
              <p class="nhsuk-body-s">4th January 2021</p>
            </div>
            <p>In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.</p>
          </div>
        </div>
      {% endcall %}

      {% call homepageSection() %}
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <h2>Working with the public</h2>
            <p>We work with NHS colleagues and information providers in local communities to improve access to high-quality health and wellbeing information. Our wider goal is to improve the health literacy and available patient information within the public.</p>
            <p>You can find a number of health literacy training resources.</p>
            {{ insetText({
              "HTML": "<p>You can find out more about what we do on our <a href=\"https://www.hee.nhs.uk/about/how-we-work\" title=\"About us\">About us</a> page.</p>"
            }) }}
          </div>
          <div class="nhsuk-grid-column-one-half">
            {{ image({
              "src": "https://via.placeholder.com/500x350",
              "alt": "Working with public"
            }) }}
            <h3 class="nhsuk-heading-m">
              <a href="/guidance">Making the case for evidence-based patient information</a>
            </h3>
            <p>How we can help patients and members of the public to access high quality, reliable health information.</p>
          </div>
        </div>
      {% endcall %}

      {% call homepageSection() %}       
        {{ blocklinks({
          "heading": "Learning 2 Columns",
          "HTML": "<p>Discover resources and information designed to support you on your learning journey</p>",
          "columns": "2",
          "links": [
            {
              "url": "/listing",
              "label": "Learning Zone"
            },
            {
              "url": "/listing",
              "label": "Equality, Diversity and Inclusion"
            },
            {
              "url": "/listing",
              "label": "Talent Management Toolkit"
            },
            {
              "url": "/listing",
              "label": "Case studies"
            }]
          })
        }}

        {{ blocklinks({
          "heading": "Learning 1 Column",
          "HTML": "<p>Discover resources and information designed to support you on your learning journey</p>",
          "columns": "1",
          "links": [
            {
              "url": "/listing",
              "label": "Learning Zone"
            },
            {
              "url": "/listing",
              "label": "Equality, Diversity and Inclusion"
            },
            {
              "url": "/listing",
              "label": "Talent Management Toolkit"
            },
            {
              "url": "/listing",
              "label": "Case studies"
            }]
          })
        }}

      {% endcall %}

    </main>
  </div>
{% endblock %}