{% extends "lks-layout.html" %}
{% block pageTitle %}
  Home - HEE
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ hero({
    "heading": "Landing page",
    "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac nisi vehicula, laoreet nisi dictum, maximus orci."
  }) }}
{% endblock %}

{% block content %}
  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "/copyright",
        "clickable": "true",
        "heading": "Copyright",
        "headingLevel": "2",
        "headingClasses": "nhsuk-heading-m",
        "description": "Example of a 'copyright' page"
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "/listing",
        "clickable": "true",
        "heading": "Listing",
        "headingLevel": "2",
        "headingClasses": "nhsuk-heading-m",
        "description": "Example 'listings' page"
      }) }}
    </li>
  </ul>
{% endblock %}