



{% extends "template.html" %}
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ customHeader() }}

  {{ emergencyAlert({
    "heading": "Coronavirus (COVID-19)",
    "HTML": "<p><a href=\"#\">Get the latest advice about coronavirus</a></p>"
  })}}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/home",
        text: "Home"
      },
      {
        href: "/landing",
        text: "Level two"
      }
    ],
    href: "#",
    text: "Level three"
  }) }}
{% endblock %}

{% block footer %}
  {{ footer({
    "list": "nhsuk-footer__list--three-columns",
    "links": [
      {
        "URL": "/blog",
        "label": "Blog"
      },
      {
        "URL": "/content",
        "label": "About us"
      },
      {
        "URL": "/content",
        "label": "Contact us"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
