{% extends "lks-layout.html" %}
{% block pageTitle %}
  Maps - HEE    
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Maps</h1>
    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <section class="nhsuk-page-content__section-one">
          {{ map({
            "heading": "Dental regions",
            "src": "/images/maps/dental-regions.svg",
            "items": [
              {
                "id": "lk",
                "url": "/1",
                "text": "London and Kent, Surrey and Sussex (KSS)"
              },
              {
                "id": "me",
                "url": "/2",
                "text": "Midlands and the East"
              },
              {
                "id": "nenc",
                "url": "/3",
                "text": "North East and North Cumbria"
              },
              {
                "id": "nw",
                "url": "/4",
                "text": "North West"
              },
              {
                "id": "sw",
                "url": "/5",
                "text": "South West"
              },
              {
                "id": "tvw",
                "url": "/6",
                "text": "Thames Valley and Wessex"
              },
              {
                "id": "yh",
                "url": "/7",
                "text": "Yorkshire and the Humber"
              }
            ]
          }) }}
        </section>

        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <section class="nhsuk-page-content__section-two">
          {{ map({
            "heading": "Higher regions",
            "src": "/images/maps/higher-regions.svg",
            "items": [
              {
                "id": "east",
                "url": "/",
                "text": "East of England"
              },
              {
                "id": "lon",
                "url": "/",
                "text": "London"
              },
              {
                "id": "mid",
                "url": "/",
                "text": "Midlands"
              },
              {
                "id": "ney",
                "url": "/",
                "text": "North East and Yorkshire"
              },
              {
                "id": "nw",
                "url": "/",
                "text": "North West"
              },
              {
                "id": "se",
                "url": "/",
                "text": "South East"
              },
              {
                "id": "sw",
                "url": "/",
                "text": "South West"
              }
            ]
          }) }}
        </section>

        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible"> 

        <section class="nhsuk-page-content__section-three">
          {{ map({
            "heading": "Medical regions",
            "src": "/images/maps/medical-regions.svg",
            "items": [
              {
                "id": "east",
                "url": "/",
                "text": "East of England"
              },
              {
                "id": "eMid",
                "url": "/",
                "text": "East Midlands"
              },
              {
                "id": "kss",
                "url": "/",
                "text": "Kent, Surrey and Sussex"
              },
              {
                "id": "lon",
                "url": "/",
                "text": "London"
              },
              {
                "id": "nenc",
                "url": "/",
                "text": "North East and North Cumbria"
              },
              {
                "id": "nw",
                "url": "/",
                "text": "North West"
              },
              {
                "id": "sw",
                "url": "/",
                "text": "South West"
              },
              {
                "id": "tv",
                "url": "/",
                "text": "Thames Valley"
              },
              {
                "id": "wes",
                "url": "/",
                "text": "Wessex"
              },
              {
                "id": "wMid",
                "url": "/",
                "text": "West Midlands"
              },
              {
                "id": "yh",
                "url": "/",
                "text": "Yorkshire and the Humber"
              }
            ]
          }) }}
        </section>

      </div>
    </div>
  </article>
{% endblock %}
