{% extends "lks-layout.html" %}
{% block pageTitle %}
  Media - HEE 
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Media</h1>
    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <section class="nhsuk-page-content__section-one">
          {{ media({
            "type": "youtube",
            "mediaId": "WsUjHf8SD9o",
            "title": "Youtube Example"
          }) }}
        </section>

        <section class="nhsuk-page-content__section-two">
          {{ media({
            "type": "vimeo",
            "mediaId": "11386048",
            "title": "Vimeo Example",
            "transcript": [
              "<a href=\"https://vimeo.com/11386048\">5.6k Saturn Cassini Photographic Animation - First 1 minute of footage from In Saturn&#039;s Rings</a> from 
              <a href=\"https://vimeo.com/saturnscape\">Saturnscape Pictures</a> on <a href=\"https://vimeo.com\">Vimeo</a>."
            ]
          }) }}
        </section>

        <section class="nhsuk-page-content__section-three">
          {{ media({
            "type": "anchor",
            "mediaId": "11386048",
            "title": "Anchor.fm Example",
            "transcript": []
          }) }}
        </section>

        <section class="nhsuk-page-content__section-four">
          {{ media({
            "type": "youtube",
            "mediaId": "rl9FFZZnWWo",
            "title": "Transcript Example",
            "transcript": [
              "They say oh my God I see the way you shine",
              "Take your hand, my dear, and place them both in mine",
              "You know you stopped me dead while I was passing by",
              "And now I beg to see you dance just one more time",
              "Ooh I see you, see you, see you every time",
              "And oh my I, I, I like your style",
              "You, you make me, make me, make me wanna cry",
              "And now I beg to see you dance just one more time",
              "So they say",
              "Dance for me, dance for me, dance for me, oh, oh, oh",
              "I've never seen anybody do the things you do before",
              "They say move for me, move for me, move for me, ay, ay, ay",
              "And when you're done I'll make you do it all again",
              "I said oh my God I see you walking by",
              "Take my hands, my dear, and look me in my eyes",
              "Just like a monkey I've been dancing my whole life",
              "But you just beg to see me dance just one more time",
              "Ooh I see you, see you, see you every time",
              "And oh my I, I like your style",
              "You, you make me, make me, make me wanna cry",
              "And now I beg to see you dance just one more time",
              "So they say",
              "Dance for me, dance for me, dance for me, oh, oh, oh",
              "I've never seen anybody do the things you do before",
              "They say move for me, move for me, move for me, ay, ay, ay",
              "And when you're done I'll make you do it all again",
              "They say",
              "Dance for me, dance for me, dance for me, oh, oh, oh, oh, oh, oh, oh",
              "I've never seen anybody do the things you do before",
              "They say move for me, move for me, move for me, ay, ay, ay",
              "And when you're done I'll make you do it all again",
              "Ooh",
              "Woah-oh, woah-oh, oh",
              "Ooh",
              "Ah ah, ah",
              "They say",
              "Dance for me, dance for me, dance for me, oh, oh, oh",
              "I've never seen anybody do the things you do before",
              "They say move for me, move for me, move for me, ay, ay, ay",
              "And when you're done I'll make you do it all again",
              "They say",
              "Dance for me, dance for me, dance for me, oh, oh, oh, oh, oh, oh, oh",
              "I've never seen anybody do the things you do before",
              "They say move for me, move for me, move for me, ay, ay, ay",
              "And when you're done I'll make you do it all again",
              "All again"
            ]
          }) }}
        </section>

      </div>
    </div>
  </article>
{% endblock %}
