{% extends "lks-layout.html" %}
{% block pageTitle %}
Home - HEE
{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Subscribe to our newsletter</h1>
    </div>
</div>

<article>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <section class="nhsuk-page-content__section-one">
                <div class="nhsuk-page-content">
                    <div class="nhsuk-newsletter-form">
                        <form id="newsletter-form" method="POST" action="https://response.pure360.com/interface/list.php">
                            <div id="error-summary" class="nhsuk-error-summary" style="display: none;" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                                <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                                    There is a problem </h2>
                                <div class="nhsuk-error-summary__body">
                                    <ul class="nhsuk-list nhsuk-error-summary__list">
                                        <li id="error-summary-firstname" class="error-summary-item" style="display: none;">
                                            <a href="#errors-firstname">Enter your first name</a>
                                        </li>
                                        <li id="error-summary-lastname" class="error-summary-item" style="display: none;">
                                            <a href="#errors-lastname">Enter your last name</a>
                                        </li>
                                        <li id="error-summary-email" class="error-summary-item" style="display: none;">
                                            <a href="#errors-email">Enter a valid email address</a>
                                        </li>
                                        <li id="error-summary-consent" class="error-summary-item" style="display: none;">
                                            <a href="#errors-consent">Privacy policy consent is required</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <fieldset class="nhsuk-fieldset">

                                <span class="nhsuk-error-message" id="errors-firstname" style="display: none;">
                                    <span class="nhsuk-u-visually-hidden">Error:</span> Enter your first name
                                </span>
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="firstname">
                                        Enter your first name </label>
                                    <input class="nhsuk-input" id="firstname" name="firstname" type="text" required="required">
                                </div>

                                <span class="nhsuk-error-message" id="errors-lastname" style="display: none;">
                                    <span class="nhsuk-u-visually-hidden">Error:</span> Enter your last name
                                </span>
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="lastname">
                                        Last name </label>
                                    <input class="nhsuk-input" id="lastname" name="lastname" type="text" required="required">
                                </div>

                                <span class="nhsuk-error-message" id="errors-email" style="display: none;">
                                    <span class="nhsuk-u-visually-hidden">Error:</span> Enter a valid email address
                                </span>
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="email">
                                        Email address </label>
                                    <input class="nhsuk-input" id="email" name="email" type="email" required="required">
                                </div>

                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="region">
                                        Region (optional) </label>
                                    <select class="nhsuk-select" id="region" name="region">
                                        <option selected="selected" value="">Select your region</option>
                                        <option value="National">National</option>
                                        <option value="East of England">East of England</option>
                                        <option value="London">London</option>
                                        <option value="Midlands">Midlands</option>
                                        <option value="North east and Yorkshire">North east and Yorkshire</option>
                                        <option value="North west">North west</option>
                                        <option value="South east">South east</option>
                                        <option value="Unknown">Unknown</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>

                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="organisation">
                                        Organisation (optional) </label>
                                    <select class="nhsuk-select" id="organisation" name="organisation">
                                        <option selected="selected" value="">Select your organisation</option>
                                        <option value="Arms-length body e.g HEE, PHE">Arms-length body e.g HEE, PHE
                                        </option>
                                        <option value="Dental practice">Dental practice</option>
                                        <option value="Further education (e.g. Sixth form college)">Further education
                                            (e.g. Sixth form college)</option>
                                        <option value="GP surgery">GP surgery</option>
                                        <option value="Higher Education Institute">Higher Education Institute</option>
                                        <option value="NHS England">NHS England</option>
                                        <option value="NHS Trust">NHS Trust</option>
                                        <option value="Pharmacy">Pharmacy</option>
                                        <option value="Primary and Secondary education">Primary and Secondary education
                                        </option>
                                        <option value="Private company (e.g. Pharmaceutical company)">Private company
                                            (e.g. Pharmaceutical company)</option>
                                        <option value="Private health service">Private health service</option>
                                        <option value="Professional body">Professional body</option>
                                        <option value="Regulatory body">Regulatory body</option>
                                        <option value="Research Institute">Research Institute</option>
                                        <option value="Royal College/Faculty (e.g. Faculty of Public Health)">Royal
                                            College/Faculty (e.g. Faculty of Public Health)</option>
                                    </select>
                                </div>

                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="profession">
                                        Profession or specialism (optional) </label>
                                    <select class="nhsuk-select" id="profession" name="profession">
                                        <option selected="selected" value="">Select your profession or specialism
                                        </option>
                                        <option value="School nurse">School nurse</option>
                                        <option value="Art therapist/art psychotherapist">Art therapist/art
                                            psychotherapist</option>
                                        <option value="Diagnostic radiographer">Diagnostic radiographer</option>
                                        <option value="Dietitian">Dietitian</option>
                                        <option value="Dramatherapist">Dramatherapist</option>
                                        <option value="Music therapist">Music therapist</option>
                                        <option value="Occupational therapist">Occupational therapist</option>
                                        <option value="Operating department practitioner">Operating department
                                            practitioner</option>
                                        <option value="Orthoptist">Orthoptist</option>
                                        <option value="Osteopath">Osteopath</option>
                                        <option value="Physiotherapist">Physiotherapist</option>
                                        <option value="Podiatrist">Podiatrist</option>
                                        <option value="Prosthetist/orthotist">Prosthetist/orthotist</option>
                                        <option value="Speech and language therapist">Speech and language therapist
                                        </option>
                                        <option value="Therapeutic radiographer">Therapeutic radiographer</option>
                                        <option
                                            value="Ambulance care assistant and Patient Transport Service (PTS) driver">
                                            Ambulance care assistant and Patient Transport Service (PTS) driver</option>
                                        <option value="Call handler/emergency medical dispatcher">Call handler/emergency
                                            medical dispatcher</option>
                                        <option value="Emergency care assistant">Emergency care assistant</option>
                                        <option value="Emergency medical technician">Emergency medical technician
                                        </option>
                                        <option value="Experienced paramedic">Experienced paramedic</option>
                                        <option value="Paramedic">Paramedic</option>
                                        <option value="Patient Transport Service (PTS) call handler">Patient Transport
                                            Service (PTS) call handler</option>
                                        <option value="Dental hygienist">Dental hygienist</option>
                                        <option value="Dental nurse">Dental nurse</option>
                                        <option value="Dental technician/dental technologist">Dental technician/dental
                                            technologist</option>
                                        <option value="Dental therapist">Dental therapist</option>
                                        <option value="Dentist">Dentist</option>
                                        <option value="Acute internal medicine">Acute internal medicine</option>
                                        <option value="Allergy">Allergy</option>
                                        <option value="Anaesthesia">Anaesthesia</option>
                                        <option value="Audiovestibular medicine">Audiovestibular medicine</option>
                                        <option value="Cardiology">Cardiology</option>
                                        <option value="Cardiothoracic surgery">Cardiothoracic surgery</option>
                                        <option value="Chemical pathology">Chemical pathology</option>
                                        <option value="Child and adolescent psychiatry">Child and adolescent psychiatry
                                        </option>
                                        <option value="Clinical genetics">Clinical genetics</option>
                                        <option value="Clinical neurophysiology">Clinical neurophysiology</option>
                                        <option value="Clinical oncology">Clinical oncology</option>
                                        <option value="Clinical pharmacology and therapeutics">Clinical pharmacology and
                                            therapeutics</option>
                                        <option value="Clinical radiology">Clinical radiology</option>
                                        <option value="Community sexual and reproductive health">Community sexual and
                                            reproductive health</option>
                                        <option value="Dermatology">Dermatology</option>
                                        <option value="Emergency medicine">Emergency medicine</option>
                                        <option value="Endocrinology and diabetes">Endocrinology and diabetes</option>
                                        <option value="Forensic psychiatry">Forensic psychiatry</option>
                                        <option value="Gastroenterology">Gastroenterology</option>
                                        <option value="General internal medicine">General internal medicine</option>
                                        <option value="General practice (GP)">General practice (GP)</option>
                                        <option value="General psychiatry">General psychiatry</option>
                                        <option value="General surgery">General surgery</option>
                                        <option value="Genitourinary medicine">Genitourinary medicine</option>
                                        <option value="Geriatric medicine">Geriatric medicine</option>
                                        <option value="Haematology (doctor)">Haematology (doctor)</option>
                                        <option value="Histopathology (doctor)">Histopathology (doctor)</option>
                                        <option value="Immunology">Immunology</option>
                                        <option value="Infectious diseases">Infectious diseases</option>
                                        <option value="Intensive care medicine">Intensive care medicine</option>
                                        <option value="Liaison psychiatry">Liaison psychiatry</option>
                                        <option value="Medical microbiology and virology (doctor)">Medical microbiology
                                            and virology (doctor)</option>
                                        <option value="Medical oncology">Medical oncology</option>
                                        <option value="Medical ophthalmology">Medical ophthalmology</option>
                                        <option value="Medical psychotherapy">Medical psychotherapy</option>
                                        <option value="Metabolic Medicine">Metabolic Medicine</option>
                                        <option value="Neurology">Neurology</option>
                                        <option value="Neurosurgery">Neurosurgery</option>
                                        <option value="Nuclear medicine">Nuclear medicine</option>
                                        <option value="Obstetrics and gynaecology">Obstetrics and gynaecology</option>
                                        <option value="Occupational medicine">Occupational medicine</option>
                                        <option value="Old age psychiatry">Old age psychiatry</option>
                                        <option value="Ophthalmology">Ophthalmology</option>
                                        <option value="Oral and maxillofacial surgery">Oral and maxillofacial surgery
                                        </option>
                                        <option value="Otorhinolaryngology (ear, nose and throat surgery, ENT)">
                                            Otorhinolaryngology (ear, nose and throat surgery, ENT)</option>
                                        <option value="Paediatric cardiology">Paediatric cardiology</option>
                                        <option value="Paediatric surgery">Paediatric surgery</option>
                                        <option value="Paediatrics">Paediatrics</option>
                                        <option value="Palliative medicine">Palliative medicine</option>
                                        <option value="Pharmaceutical medicine">Pharmaceutical medicine</option>
                                        <option value="Plastic surgery">Plastic surgery</option>
                                        <option value="Psychiatry of intellectual disability (PID)">Psychiatry of
                                            intellectual disability (PID)</option>
                                        <option value="Public health (doctor)">Public health (doctor)</option>
                                        <option value="Rehabilitation medicine">Rehabilitation medicine</option>
                                        <option value="Renal medicine">Renal medicine</option>
                                        <option value="Respiratory medicine">Respiratory medicine</option>
                                        <option value="Rheumatology">Rheumatology</option>
                                        <option value="Sport and exercise medicine">Sport and exercise medicine</option>
                                        <option value="Stroke medicine">Stroke medicine</option>
                                        <option value="Trauma and orthopaedic surgery">Trauma and orthopaedic surgery
                                        </option>
                                        <option value="Tropical medicine">Tropical medicine</option>
                                        <option value="Urology">Urology</option>
                                        <option value="Vascular surgery">Vascular surgery</option>
                                        <option value="Clinical informatics">Clinical informatics</option>
                                        <option value="Education and training roles">Education and training roles
                                        </option>
                                        <option value="Health records and patient administration">Health records and
                                            patient administration</option>
                                        <option value="Information and communication technology">Information and
                                            communication technology</option>
                                        <option value="Information management staff">Information management staff
                                        </option>
                                        <option value="Library, knowledge and information services">Library, knowledge
                                            and information services</option>
                                        <option value="Project and programme management">Project and programme
                                            management</option>
                                        <option value="Analytical toxicology">Analytical toxicology</option>
                                        <option value="Anatomical pathology">Anatomical pathology</option>
                                        <option value="Audiology">Audiology</option>
                                        <option value="Biomedical science">Biomedical science</option>
                                        <option value="Blood sciences">Blood sciences</option>
                                        <option value="Cancer genomics">Cancer genomics</option>
                                        <option value="Cardiac sciences">Cardiac sciences</option>
                                        <option value="Cellular sciences">Cellular sciences</option>
                                        <option value="Clinical biochemistry">Clinical biochemistry</option>
                                        <option value="Clinical bioinformatics (genomics)">Clinical bioinformatics
                                            (genomics)</option>
                                        <option value="Clinical bioinformatics (health informatics)">Clinical
                                            bioinformatics (health informatics)</option>
                                        <option value="Clinical bioinformatics (physical sciences)">Clinical
                                            bioinformatics (physical sciences)</option>
                                        <option value="Clinical immunology">Clinical immunology</option>
                                        <option value="Clinical measurement">Clinical measurement</option>
                                        <option value="Clinical or medical technology in medical physics">Clinical or
                                            medical technology in medical physics</option>
                                        <option value="Clinical perfusion science">Clinical perfusion science</option>
                                        <option value="Clinical pharmaceutical science">Clinical pharmaceutical science
                                        </option>
                                        <option value="Clinical photography">Clinical photography</option>
                                        <option value="Critical care science">Critical care science</option>
                                        <option value="Cytopathology">Cytopathology</option>
                                        <option value="Decontamination and sterile services">Decontamination and sterile
                                            services</option>
                                        <option value="Gastrointestinal physiology">Gastrointestinal physiology</option>
                                        <option value="Genomic counselling">Genomic counselling</option>
                                        <option value="Genomics">Genomics</option>
                                        <option value="Haematology (healthcare scientist)">Haematology (healthcare
                                            scientist)</option>
                                        <option value="Hearing aid dispenser">Hearing aid dispenser</option>
                                        <option value="Histocompatibility and immunogenetics">Histocompatibility and
                                            immunogenetics</option>
                                        <option value="Histopathology (healthcare scientist)">Histopathology (healthcare
                                            scientist)</option>
                                        <option value="Imaging (ionising)">Imaging (ionising)</option>
                                        <option value="Imaging (non-ionising)">Imaging (non-ionising)</option>
                                        <option value="Infection sciences">Infection sciences</option>
                                        <option value="Medical device risk management and governance">Medical device
                                            risk management and governance</option>
                                        <option value="Medical engineering">Medical engineering</option>
                                        <option value="Microbiology (healthcare scientist)">Microbiology (healthcare
                                            scientist)</option>
                                        <option value="Neurophysiology">Neurophysiology</option>
                                        <option value="Nuclear medicine (healthcare scientist)">Nuclear medicine
                                            (healthcare scientist)</option>
                                        <option value="Ophthalmic and vision science">Ophthalmic and vision science
                                        </option>
                                        <option value="Radiation physics and radiation safety physics">Radiation physics
                                            and radiation safety physics</option>
                                        <option value="Radiotherapy physics">Radiotherapy physics</option>
                                        <option value="Reconstructive science">Reconstructive science</option>
                                        <option value="Rehabilitation engineering">Rehabilitation engineering</option>
                                        <option value="Renal technology">Renal technology</option>
                                        <option value="Reproductive science and andrology">Reproductive science and
                                            andrology</option>
                                        <option value="Respiratory physiology and sleep sciences">Respiratory physiology
                                            and sleep sciences</option>
                                        <option value="Urodynamic science">Urodynamic science</option>
                                        <option value="Vascular science">Vascular science</option>
                                        <option value="Virology (healthcare scientist)">Virology (healthcare scientist)
                                        </option>
                                        <option value="Administrative management">Administrative management</option>
                                        <option value="Clinical manager">Clinical manager</option>
                                        <option value="Communications and corporate affairs">Communications and
                                            corporate affairs</option>
                                        <option value="Decontamination services management">Decontamination services
                                            management</option>
                                        <option value="Design and engineering">Design and engineering</option>
                                        <option value="Estates manager">Estates manager</option>
                                        <option value="Facilities management">Facilities management</option>
                                        <option value="Finance manager">Finance manager</option>
                                        <option value="Hotel services management">Hotel services management</option>
                                        <option value="Human resources (HR) manager">Human resources (HR) manager
                                        </option>
                                        <option value="Integrated urgent care/NHS 111 team leader">Integrated urgent
                                            care/NHS 111 team leader</option>
                                        <option value="Performance and quality management">Performance and quality
                                            management</option>
                                        <option value="Practice manager">Practice manager</option>
                                        <option value="Project management and procurement">Project management and
                                            procurement</option>
                                        <option value="Project manager">Project manager</option>
                                        <option value="Purchasing and contract management">Purchasing and contract
                                            management</option>
                                        <option value="Strategic management">Strategic management</option>
                                        <option value="Advanced critical care practitioner">Advanced critical care
                                            practitioner</option>
                                        <option value="Anaesthesia associate">Anaesthesia associate</option>
                                        <option value="Physician associate">Physician associate</option>
                                        <option value="Surgical care practitioner">Surgical care practitioner</option>
                                        <option value="Midwife">Midwife</option>
                                        <option value="Adult nurse">Adult nurse</option>
                                        <option value="Children's nurse">Children's nurse</option>
                                        <option value="District nurse">District nurse</option>
                                        <option value="General practice nurse">General practice nurse</option>
                                        <option value="Learning disability nurse">Learning disability nurse</option>
                                        <option value="Mental health nurse">Mental health nurse</option>
                                        <option value="Neonatal nurse">Neonatal nurse</option>
                                        <option value="Nursing associate">Nursing associate</option>
                                        <option value="Prison nurse">Prison nurse</option>
                                        <option value="Theatre nurse">Theatre nurse</option>
                                        <option value="Pharmacist">Pharmacist</option>
                                        <option value="Pharmacy assistant">Pharmacy assistant</option>
                                        <option value="Pharmacy technician">Pharmacy technician</option>
                                        <option value="Assistant psychologist">Assistant psychologist</option>
                                        <option value="Clinical neuropsychologist">Clinical neuropsychologist</option>
                                        <option value="Clinical psychologist">Clinical psychologist</option>
                                        <option value="Counselling psychologist">Counselling psychologist</option>
                                        <option value="Counsellor">Counsellor</option>
                                        <option value="Forensic psychologist">Forensic psychologist</option>
                                        <option value="Health psychologist">Health psychologist</option>
                                        <option value="High intensity therapist">High intensity therapist</option>
                                        <option value="Psychological wellbeing practitioner">Psychological wellbeing
                                            practitioner</option>
                                        <option value="Psychotherapist">Psychotherapist</option>
                                        <option value="Director of public health">Director of public health</option>
                                        <option value="Environmental health professional">Environmental health
                                            professional</option>
                                        <option value="Health trainer">Health trainer</option>
                                        <option value="Health visitor">Health visitor</option>
                                        <option value="Occupational health nurse">Occupational health nurse</option>
                                        <option value="Public health academic">Public health academic</option>
                                        <option value="Public health consultants and specialists">Public health
                                            consultants and specialists</option>
                                        <option value="Public health knowledge and intelligence professional">Public
                                            health knowledge and intelligence professional</option>
                                        <option value="Public health manager">Public health manager</option>
                                        <option value="Public health nurse">Public health nurse</option>
                                        <option value="Public health practitioner">Public health practitioner</option>
                                    </select>
                                </div>

                                <span class="nhsuk-error-message" id="errors-consent" style="display: none;">
                                    <span class="nhsuk-u-visually-hidden">Error:</span> Privacy policy consent is
                                    required
                                </span>
                                <div class="nhsuk-form-group">
                                    <div class="nhsuk-checkboxes">
                                        <div class="nhsuk-checkboxes__item">
                                            <input class="nhsuk-checkboxes__input" id="consent" name="consent"
                                                type="checkbox" required="required">
                                            <label class="nhsuk-label nhsuk-checkboxes__label" for="consent">
                                                <p>By signing up here you agree to receive marketing and update emails
                                                    from Health Education England regarding our work.</p>

                                                <p>You can unsubscribe at any time by clicking the link in the email you
                                                    receive.</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="nhsuk-form-group">
                                    <script src=https://www.google.com/recaptcha/api.js></script>
                                    <div class="g-recaptcha" data-sitekey="6Lda1BAUAAAAABeemGvQod8rVNQQUSM2y9pFK_gS"></div>
                                </div>

                                <input type="hidden" name="accName" value="NationalWebsitePlatform">
                                <input type="hidden" name="listName" value="NWP Stakeholders and Users - Jan 2021">
                                <input type="hidden" name="successUrl" value="https://library.hee.nhs.uk">
                                <input type="hidden" name="errorUrl" value="https://library.hee.nhs.uk/cookies">
                                <input type="hidden" name="doubleOptin" value="true">
                            </fieldset>

                            <button id="submit-button" class="nhsuk-button" type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>

{% endblock %}