{% extends "lks-layout.html" %}

{% block pageTitle %}
  Resources
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>How to use Resources</h1>

      <p class="nhsuk-lede-text">
        Please ensure you read the following NHS guidance pages:
      </p>

      <p class="nhsuk-lede-text">
        {{ resources({
          "title": "NHS Service Manual Links Article",
          "text": "NHS guidance on links",
          "url": "https://service-manual.nhs.uk/content/links"
        }) }}
      </p>

      <p class="nhsuk-lede-text">
        {{ resources({
          "title": "NHS Service Manual External Documents Article",
          "text": "NHS guidance on external documents",
          "url": "https://service-manual.nhs.uk/content/pdfs-and-other-non-html-documents"
        }) }}
      </p>
      
      <h2>Examples</h2>

      <p>
        {{ resources({
          "description": "A verbose description of what the link is for",
          "title": "Resources link title (opens in new tab)",
          "text": "Resources link text (opens in new tab)",
          "url": "/",
          "newTab": true
        }) }}
      </p>

      <p>
        {{ resources({
          "description": "A link to a pdf document with type tag and size indication",
          "docType": "pdf",
          "tagColor": "pdf",
          "docSize": "83kB",
          "title": "PDF link title  (opens document)",
          "text": "PDF file link  (opens document)",
          "url": "/"
        }) }}
      </p>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading">
              A card with links
            </h3>
            <p>
              {{ resources({
                "type": "card",
                "description": "A link to an Excel document with type tag and size indication",
                "docType": "xls",
                "tagColor": "xls",
                "docSize": "83kB",
                "title": "Excel link title (opens document)",
                "text": "Excel file link  (opens document)",
                "url": "/"
              }) }}
            <p>
            </p>
              {{ resources({
                "type": "card",
                "docType": "txt",
                "tagColor": "txt",
                "docSize": "1kB",
                "title": "Text link title  (opens document)",
                "text": "Text file link  (opens document)",
                "url": "/"
              }) }}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
