{% extends "lks-layout.html" %}

{% block pageTitle %}
  Resources
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>How to use Resources</h1>

      <p class="nhsuk-lede-text">
        Please ensure you read the following NHS guidance pages:
      </p>

      <p class="nhsuk-lede-text">
        {{ resources({
          "title": "NHS Service Manual Links Article",
          "text": "NHS guidance on links",
          "url": "https://service-manual.nhs.uk/content/links"
        }) }}
      </p>

      <p class="nhsuk-lede-text">
        {{ resources({
          "title": "NHS Service Manual External Documents Article",
          "text": "NHS guidance on external documents",
          "url": "https://service-manual.nhs.uk/content/pdfs-and-other-non-html-documents"
        }) }}
      </p>
      
      <h2>Examples</h2>

      <p>See readme for more supported doctypes</p>

      <p>
        {{ resources({
          "description": "A verbose description of what the link is for",
          "title": "Resources link title (opens in new tab)",
          "text": "Resources link text (opens in new tab)",
          "url": "/",
          "newTab": true
        }) }}
      </p>

      <p>
        {{ resources({
          "description": "A link to a pdf document with type tag and size indication",
          "docType": "pdf",
          "tagColor": "pdf",
          "docSize": "83kB",
          "title": "PDF link title  (opens document)",
          "text": "PDF file link  (opens document)",
          "url": "/"
        }) }}
      </p>

      <h3>Example List</h3>

      <ul class="nhsuk-resources__list">
        <li>
          {{ resources({
            "docType": "docx",
            "tagColor": "docx",
            "docSize": "83kB",
            "title": "DOCX link title  (opens document)",
            "text": "DOCX file link  (opens document)",
            "url": "/"
          }) }}
        </li>

        <li>
          {{ resources({
            "docType": "odt",
            "tagColor": "odt",
            "docSize": "83kB",
            "title": "ODT link title  (opens document)",
            "text": "ODT file link  (opens document)",
            "url": "/"
          }) }}
        </li>

        <li>
          {{ resources({
            "docType": "ods",
            "tagColor": "ods",
            "docSize": "83kB",
            "title": "ODS link title  (opens document)",
            "text": "ODS file link  (opens document)",
            "url": "/"
          }) }}
        </li>

        <li>
          {{ resources({
            "docType": "odf",
            "tagColor": "odf",
            "docSize": "83kB",
            "title": "ODF link title  (opens document)",
            "text": "ODF file link  (opens document)",
            "url": "/"
          }) }}
        </li>

        <li>
          {{ resources({
            "docType": "odp",
            "tagColor": "odp",
            "docSize": "83kB",
            "title": "ODP link title  (opens document)",
            "text": "ODP file link  (opens document)",
            "url": "/"
          }) }}
        </li>

        <li>
          {{ resources({
            "docType": "oth",
            "tagColor": "oth",
            "docSize": "83kB",
            "title": "OTH link title  (opens document)",
            "text": "OTH file link  (opens document)",
            "url": "/"
          }) }}
        </li>

        <li>
          {{ resources({
            "docType": "odg",
            "tagColor": "odg",
            "docSize": "83kB",
            "title": "ODG link title  (opens document)",
            "text": "ODG file link  (opens document)",
            "url": "/"
          }) }}
        </li>

        <li>
          {{ resources({
            "docType": "pdf",
            "tagColor": "pdf",
            "docSize": "83kB",
            "title": "ODB link title  (opens document)",
            "text": "ODB file link  (opens document)",
            "url": "/"
          }) }}
        </li>

        <li>
          {{ resources({
            "docType": "odm",
            "tagColor": "odm",
            "docSize": "83kB",
            "title": "ODM link title  (opens document)",
            "text": "ODM file link  (opens document)",
            "url": "/"
          }) }}
        </li>

      </ul>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            A card with links
          </h3>
          <ul class="nhsuk-resources__list">
            <li>
              {{ resources({
                "type": "card",
                "description": "A link to an Excel document with type tag and size indication",
                "docType": "xls",
                "tagColor": "xls",
                "docSize": "83kB",
                "title": "Excel link title (opens document)",
                "text": "Excel file link  (opens document)",
                "url": "/"
              }) }}
            </li>
            <li>
              {{ resources({
                "type": "card",
                "docType": "txt",
                "tagColor": "txt",
                "docSize": "1kB",
                "title": "Text link title  (opens document)",
                "text": "Text file link  (opens document)",
                "url": "/"
              }) }}
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="nhsuk-grid-column-one-third">
      <h2>Side Nav Example</h2>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Resources
          </h3>
          <p class="nhsuk-card__description">
            Lorem ipsum dolor sit amet.
          </p>
          <ul class="nhsuk-resources__list">
            <li>
              {{ resources({
                "type": "card",
                "docType": "xls",
                "tagColor": "xls",
                "docSize": "83kB",
                "title": "Excel link title (opens document)",
                "text": "Excel file link  (opens document)",
                "url": "/"
              }) }}
            </li>
            <li>
              {{ resources({
                "type": "card",
                "docType": "txt",
                "tagColor": "txt",
                "docSize": "1kB",
                "title": "Text link title  (opens document)",
                "text": "Text file link  (opens document)",
                "url": "/"
              }) }}
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
