{% extends "lks-layout.html" %}

{% block pageTitle %}
Search - HEE
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2>Search</h2>
        <p class="nhsuk-lede-text">Search for terms within guidance pages and blog posts.</p>

        <form method="get" action="/search/results">
            <div class="nhsuk-form-group  nhsuk-header__search-form--search-results">
                <label class="nhsuk-label nhsuk-u-visually-hidden" for="search-field">Enter a search term</label>
                <input class="nhsuk-input nhsuk-search__input nhsuk-search__input--search-results" type="search" name="q" autocomplete="on" id="search-field">
                <button class="nhsuk-search__submit nhsuk-search__submit--search-results" type="submit">
            <span class="nhsuk-u-visually-hidden">
                Submit
            </span>
                    <svg class="nhsuk-icon nhsuk-icon__search nhsuk-icon__search--search-results" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                        <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>

	{{ listing({
      showPagination: true,
      pageType: "search",
      items: [
      {
        title: "Search result card",
        content_type: "Guidance Page",
        summary: "In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.",
        published_date: "Published on 23 January 2021"
      },
      {
        title: "Search result card",
        content_type: "Guidance Page",
        summary: "In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.",
        published_date: "Published on 23 January 2021"
      },
      {
        title: "Search result card",
        content_type: "Guidance Page",
        summary: "In mid-September HEE began a pilot to understand how best to help LKS in England move from using HDAS to using provider interfaces.",
        published_date: "Published on 23 January 2021"
      }
    ],
    filter: {
      groups: [
        {
          title: "Content type",
          items: [
            {
              text: "Guidance Page",
              value: "guidance+page"
            },
            {
              text: "Landing Page",
              value: "landing+page"
            },
            {
              text: "MiniHub",
              value: "minihub"
            }
          ]
        },
        {
          title: "Date",
          items: [
            {
              text: "Item one",
              value: "item+one"
            },
            {
              text: "Item two",
              value: "item+two"
            },
            {
              text: "Item three",
              value: "item+three"
            }
          ]
        }
      ]
    }
  }) }}
{% endblock %}
