{% extends "lks-layout.html" %}

{% block pageTitle %}
  Timeline &mdash; Components
{% endblock %}

{% block content %}
  <h2>Timeline</h2>
  <p class="nhsuk-lede-text">Lists out the different events within a timeline.</p>
  {{ timeline({
    title: "January 2022",
    description: "These are the Jan 2022 events.",
    events: [
      {
        title: "Lorum Ipsum Fest",
        description: "A celebration of all things Lorum Ipsum",
        time: "9am",
        link: "/",
        details: "Lorum Ipsum Dolores Sit Amet"
      },
      {
        title: "Song 2",
        description: "Whoo Hoo this is a longer description for a single event, hopefully on multiple lines",
        date: "22/01/2022",
        time: "9am",
        location: "Mayfair, London",
        contact: "damon.albarn@parklife.co.uk",
        link: "/",
        details: "Well I feel heavy metal"
      }
    ]
  }) }}

  <h2>Timeline - no events</h2>
  {{ timeline({
    title: "February 2022",
    description: "There are currently no events to show. Please come back later."
  }) }}
{% endblock %}