{% macro searchListing(params) %}
{%- from 'pagination/macro.njk' import pagination %}

<div class="hee-search-listing">
  <h2>{{ params.count }} results</h2>

  {% if params.results.length > 0 %}
    <div class="hee-search-listing__items">
      {% for result in params.results %}
        {#{{ listingItem(result) }}#}
      {% endfor %}
    </div>
  {% else %}
    <div class="hee-search-listings__no-items">
      {{ params.emptyMessage }}
    </div>
  {% endif %}

  {% if params.showPagination and params.results.length > 0 %}
    {{ pagination({
      previousUrl: "#",
      previousPage: "Page X of Y",
      nextUrl: "#",
      nextPage: "Page X of Y"
    }) }}
  {% endif %}
</div>
{% endmacro %}