.hee-featured-content {

  .hee-featured-content-wrapper {
    padding-bottom: nhsuk-spacing(4);

    &:last-of-type {
      padding-bottom: 0;
    }

    @include mq($from: desktop) {
      align-content: space-between;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .hee-featured-content__item {
    @include mq($from: desktop) {
      align-items: stretch;
      align-content: stretch;
      display: flex;
      flex-basis: 31%;
      row-gap: 10px;
    }
  }

  .hee-featured-content-wrapper.double {
    .hee-featured-content__item {
      @include mq($from: large-desktop) {
        flex-basis: 48%;
        width: 100%;
      }
    }
  }

  .hee-listing-item {
    @include mq($from: desktop) {
      margin-bottom: nhsuk-spacing(5);
    }

    span.hee-listing-item__details__label {
      @include mq($from: tablet) {
        width: auto;
      }
    }
  }
}

.page__content {
  .hee-featured-content__item {
    @include mq($from: desktop) {
      flex-basis: 48%;
    }
  }
}

.page__feature {
  .hee-featured-content-wrapper {
    @include mq($from: desktop) {
      align-content: flex-start;
      column-gap: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
