.nhsuk-header {
  position: relative;
}

.nhsuk-header__container {
  margin: 0 nhsuk-spacing(3);
  padding: 20px 0;
  position: relative;
  z-index: 100;

  @include mq($from: desktop) {
    margin: 0 32px;
  }

  @include mq($from: large-desktop) {
    margin: 0 auto;
  }
}
.nhsuk-header__content {
  float:right;
  margin: -48px 0 0 0;
  z-index: 10;

  @include mq($from: desktop) {
    margin: 0;
  }

  &.js-show {
    border-bottom: 0;
    width: 100%;

    @include mq($from: desktop) {
      width: auto;
    }
  }
  &.no-search {
    min-height: auto;
  }
}

.nhsuk-header__link {
  .nhsuk-organisation-name,
  .nhsuk-organisation-descriptor {
    display: block;
  }
}