{% extends "template.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
Contact (Old) - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        },
        {
            href: "/components/hee/detailscard",
            text: "DetailsCard"
        }
    ],
    href: "/components/hee/components/detailscard/contact-old",
    text: "Contact (Old)"
    }) 
}}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds hee-page__heading">
          <h1>Contact (Old)</h1>
          <p class="nhsuk-lede-text">The original Contact component.</p>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}

    {{ contact({
        heading: "Main Content Solo Contact",
        imgURL: "/images/headshot.jpg",
        imgALT: "This Person",
        title: "Doctor",
        name: "Jo Blogs",
        initials: "JB",
        pronouns: "Xe/Xem/Xyr",
        displayName: true,
        departmentName: "HEE",
        displayDepartmentName: true,
        organisation: "NHS England",
        jobTitle: "Department Head",
        displayJobTitle: true,
        website: "https://www.nhs.co.uk",
        websiteTitle: "nhs.co.uk",
        displayWebsite: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
        displayDetails: true,
        viewLink: "#"
    }) }}

    <hr />

    {{ contact({
        type: "department",
        heading: "Main Content Department Solo Contact",
        departmentName: "HEE",
        organisation: "NHS England",
        displayDepartmentName: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet",
        displayDetails: true
    }) }}

    <hr />

    <h2>Contact Group, Mixed Types</h2>
    <ul class="nhsuk-grid-row nhsuk-contact-group">
        <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
            {{ contact({
                title: "Doctor",
                name: "Jo Blogs",
                displayName: true,
                departmentName: "HEE",
                displayDepartmentName: true,
                jobTitle: "Department Head",
                displayJobTitle: true,
                phoneNumber: "01234 567890",
                displayPhoneNumber: true,
                email: "jo.bloggs@hee.co.uk",
                displayEmail: true,
                address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
                displayAddress: true,
                details: "Lorem ipsum dolor sit amet",
                displayDetails: true
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
            {{ contact({
                type: "department",
                departmentName: "HEE",
                displayDepartmentName: true,
                phoneNumber: "01234 567890",
                displayPhoneNumber: true,
                email: "jo.bloggs@hee.co.uk",
                displayEmail: true,
                address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
                displayAddress: true,
                details: "Lorem ipsum dolor sit amet",
                displayDetails: true
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
            {{ contact({
                title: "Doctor",
                name: "Jo Blogs",
                displayName: true,
                departmentName: "HEE",
                displayDepartmentName: true,
                jobTitle: "Department Head",
                displayJobTitle: true,
                phoneNumber: "01234 567890",
                displayPhoneNumber: true,
                email: "jo.bloggs@hee.co.uk",
                displayEmail: true,
                address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
                displayAddress: true,
                details: "Lorem ipsum dolor sit amet",
                displayDetails: true
            }) }}
        </li>
        
    </ul>

    <hr />

    {{ contact({
        classes: "nhsuk-contact__card",
        heading: "Contact Card",
        title: "Doctor",
        name: "Jo Blogs",
        displayName: true,
        departmentName: "HEE",
        displayDepartmentName: true,
        jobTitle: "Department Head",
        displayJobTitle: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true
    }) }}

    <hr />
    <h2>Contact Card Group</h2>

    <ul class="nhsuk-grid-row nhsuk-contact-group">
        <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
        {{ contact({
            classes: "nhsuk-contact__card",
            title: "Doctor",
            name: "Jo Blogs",
            pronouns: "Xe/Xem/Xyr",
            displayName: true,
            departmentName: "HEE",
            displayDepartmentName: true,
            organisation: "NHS England",
            jobTitle: "Department Head",
            displayJobTitle: true,
            website: "https://www.nhs.co.uk",
            websiteTitle: "nhs.co.uk",
            displayWebsite: true,
            phoneNumber: "01234 567890",
            displayPhoneNumber: true,
            email: "jo.bloggs@hee.co.uk",
            displayEmail: true,
            addressLine1: "Address Line 1",
            addressLine2: "Address Line 2",
            addressLine3: "",
            addressCity: "Address City",
            addressCounty: "Address County",
            addressPostcode: "Address Postcode",
            displayAddress: true,
            details: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
            displayDetails: true
        }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-contact-group__item">
        {{ contact({
            classes: "nhsuk-contact__card",
            type: "department",
            departmentName: "HEE",
            displayDepartmentName: true,
            phoneNumber: "01234 567890",
            displayPhoneNumber: true,
            email: "jo.bloggs@hee.co.uk",
            displayEmail: true,
            address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
            displayAddress: true,
            details: "Lorem ipsum dolor sit amet",
            displayDetails: true
        }) }}
        </li>
    </ul>
    </section>
    {% endblock %}

    {% block sidebar %}
    <h2>Side nav contact cards</h2>
    {{ contact({
        classes: "nhsuk-contact__card",
        imgURL: "/images/headshot.jpg",
        imgALT: "This Person",
        title: "Doctor",
        name: "Jo Blogs",
        initials: "JB",
        pronouns: "Xe/Xem/Xyr",
        displayName: true,
        departmentName: "HEE",
        displayDepartmentName: true,
        organisation: "NHS England",
        jobTitle: "Department Head",
        displayJobTitle: true,
        website: "https://www.nhs.co.uk",
        websiteTitle: "nhs.co.uk",
        displayWebsite: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        addressLine1: "Address Line 1",
        addressLine2: "Address Line 2",
        addressLine3: "",
        addressCity: "Address City",
        addressCounty: "Address County",
        addressPostcode: "Address Postcode",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
        displayDetails: true,
        viewLink: "#"
    }) }}
    {{ contact({
        classes: "nhsuk-contact__card",
        title: "Doctor",
        name: "Jo Blogs",
        initials: "JB",
        displayName: true,
        departmentName: "HEE",
        displayDepartmentName: true,
        jobTitle: "Department Head",
        displayJobTitle: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "simon.killough@belfasttrust.hscni.net",
        displayEmail: true,
        address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet",
        displayDetails: true
    }) }}
    {{ contact({
        classes: "nhsuk-contact__card",
        type: "department",
        departmentName: "HEE",
        displayDepartmentName: true,
        phoneNumber: "01234 567890",
        displayPhoneNumber: true,
        email: "jo.bloggs@hee.co.uk",
        displayEmail: true,
        address: "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
        displayAddress: true,
        details: "Lorem ipsum dolor sit amet",
        displayDetails: true
    }) }}

{% endblock %}

{% block pageFooter %}{% endblock %}