{% extends "template.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
DetailsCard - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
  breadcrumb({
  items: [
      {
          href: "/",
          text: "Home"
      },
      {
          href: "/components",
          text: "Components"
      },
      {
          href: "/components/hee",
          text: "HEE"
      }
  ],
      href: "/components/hee/components/detailscard",
      text: "DetailsCard"
  }) 
}}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds hee-page__heading">
          <h1>DetailsCard</h1>
          <p class="nhsuk-lede-text">The DetailsCard is the base component for the AuthorCard, ContactCard and DepartmentCard.</p>
      </div>
  </div>
</div>
{% endblock %}

{% block pageMain %}

<div class="nhsuk-width-container">
    <h2>New components</h2>
    <div class="hee-flexgrid-row">
        <div class="hee-flexgrid-column-one-third">
            <h3>AuthorCard</h3>
            {{ authorCard({
                title: "Dr",
                name: "Jo Blogs", 
                initials: "JB",
                pronouns: "She/her",
                jobRole: "Head of Digital",
                department: "Genomics",
                organisation: "HEE",
                email: "jo.bloggs@hee.co.uk",
                website: "http://nhs.uk/",
                twitter: "nhsengland",
                linkedIn: "nhs",
                bio: "Lorem ipsum dolor sit amet",
                authorURL: "/author/jo-blogs"
            }) }}
            <p><a href="/components/hee/detailscard/author">View AuthorCard component</a></p>
        </div>
        {#<div class="hee-flexgrid-column-one-third">
            <h3>PersonCard</h3>
            {{ personCard({
                title: "Dr",
                name: "Bobby Smith", 
                initials: "BS",
                pronouns: "They/them",
                jobRole: "Content Editor",
                department: "National Website Platform",
                organisation: "NHS UK",
                address: {
                line1: "2 Stephenson St",
                line2: "",
                line3: "",
                city: "Birmingham",
                county: "West Midlands",
                postcode: "B1 2SE"
                },
                email: "bobby.smithandthelongestemail@hee.co.uk",
                telephone: "01162344444",
                website: "http://nhs.uk/",
                twitter: "nhsengland",
                linkedIn: "nhs",
                description: "Lorem upsum blah blah"
            }) }}
            <p><a href="/components/hee/detailscard/person">View PersonCard component</a></p>
        </div>#}
        {#<div class="hee-flexgrid-column-one-third">
            <h3>DepartmentCard</h3>
            {{ departmentCard({
                name: "National Website Platform", 
                organisation: "NHS UK",
                address: {
                Line1: "2 Stephenson St",
                Line2: "",
                Line3: "",
                City: "Birmingham",
                County: "West Midlands",
                Postcode: "B1 2SE"
                },
                email: "nwp@hee.co.uk",
                telephone: "01162344444",
                website: "http://nwp.nhs.uk/",
                description: "Lorem upsum blah blah"
            }) }}
            <p><a href="/components/hee/detailscard/department">View DepartmentCard component</a></p>
        </div>#}
    </div>
    <hr />
    <h2>Contact (Old component)</h2>
    <div class="hee-flexgrid-row">
        <div class="hee-flexgrid-column-one-half">
            <h3>Body</h3>
            {{ contact({
                "imgURL": "/images/headshot.jpg",
                "imgALT": "This Person",
                "title": "Doctor",
                "name": "Jo Blogs",
                "displayName": true,
                "departmentName": "HEE",
                "displayDepartmentName": true,
                "jobTitle": "Department Head",
                "displayJobTitle": true,
                "phoneNumber": "01234 567890",
                "displayPhoneNumber": true,
                "email": "jo.bloggs@hee.co.uk",
                "displayEmail": true,
                "address": "123 Fake Street, Fake Town, Fake City, UK, AB1 2CD",
                "displayAddress": true,
                "details": "Lorem ipsum dolor sit amet",
                "displayDetails": true
              }) }}
              <p><a href="/components/hee/detailscard/contact-old">View ContactOld component</a></p>
        </div>
        
    </div>
</div>

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block pageFooter %}{% endblock %}