{% extends "template-article.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
PersonCard - HEE - Components - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        },
        {
            href: "/components/hee",
            text: "HEE"
        },
        {
            href: "/components/hee/detailscard",
            text: "DetailsCard"
        }
    ],
    href: "/components/hee/components/detailscard/contact",
    text: "PersonCard"
    }) 
}}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds hee-page__heading">
          <h1>PersonCard</h1>
          <p class="nhsuk-lede-text">The PersonCard component uses the Person object in Bloomreach.</p>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}

<h2>Full card</h2>
{{ personCard({
    title: "Dr",
    name: "Bobby Smith", 
    initials: "BS",
    pronouns: "They/them",
    jobRole: "Content Editor",
    department: "National Website Platform",
    organisation: "NHS UK",
    address: {
      line1: "2 Stephenson St",
      line2: "",
      line3: "",
      city: "Birmingham",
      county: "West Midlands",
      postcode: "B1 2SE"
    },
    email: "bobby.smithandthelongestemail@hee.co.uk",
    telephone: "01162344444",
    website: "http://nhs.uk/",
    twitter: "nhsengland",
    linkedIn: "nhs",
    description: "Lorem upsum blah blah"
}) }}

<hr />

<h2>Mandatory fields only</h2>
{{ personCard({
    name: "Jo Blogs", 
    initials: "JB"
}) }}

<hr />

<h2>In page, single contact</h2>
<div class="hee-flexgrid-row">
{{ personCard({
    gridCol: 'hee-flexgrid-column-full',
    title: "Dr",
    name: "Bobby Smith", 
    initials: "BS",
    pronouns: "They/them",
    jobRole: "Content Editor",
    department: "National Website Platform",
    organisation: "NHS UK",
    address: {
      line1: "2 Stephenson St",
      line2: "",
      line3: "",
      city: "Birmingham",
      county: "West Midlands",
      postcode: "B1 2SE"
    },
    email: "bobby.smithandthelongestemail@hee.co.uk",
    telephone: "01162344444",
    website: "http://nhs.uk/",
    twitter: "nhsengland",
    linkedIn: "nhs",
    description: "Lorem upsum blah blah"
}) }}
</div>

<hr />

<h2>In page, multiple authors (2 grid)</h2>
<div class="hee-flexgrid-row">
    {{ personCard({
        gridCol: 'hee-flexgrid-column-one-half',
        title: "Dr",
        name: "Bobby Smith", 
        initials: "BS",
        pronouns: "They/them",
        jobRole: "Content Editor",
        department: "National Website Platform",
        organisation: "NHS UK",
        address: {
          line1: "2 Stephenson St",
          line2: "",
          line3: "",
          city: "Birmingham",
          county: "West Midlands",
          postcode: "B1 2SE"
        },
        email: "bobby.smithandthelongestemail@hee.co.uk",
        telephone: "01162344444",
        website: "http://nhs.uk/",
        twitter: "nhsengland",
        linkedIn: "nhs",
        description: "Lorem upsum blah blah"
    }) }}
    {{ personCard({
        gridCol: 'hee-flexgrid-column-one-half',
        title: "Dr",
        name: "Bobby Smith", 
        initials: "BS",
        pronouns: "They/them",
        jobRole: "Content Editor",
        department: "National Website Platform",
        organisation: "NHS UK",
        address: {
          line1: "2 Stephenson St",
          line2: "",
          line3: "",
          city: "Birmingham",
          county: "West Midlands",
          postcode: "B1 2SE"
        },
        email: "bobby.smithandthelongestemail@hee.co.uk",
        telephone: "01162344444",
        website: "http://nhs.uk/",
        twitter: "nhsengland",
        linkedIn: "nhs",
        description: "Lorem upsum blah blah"
    }) }}
</div>

{% endblock %}

{% block sidebar %}

{{ personCard({
    classes: '',
    name: "Jo Blogs", 
    initials: "JB",
    description: "Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas."
}) }}

<hr />

<div class="hee-details">
    
    <h2 class="hee-details__title">Params</h2>
    <div class="hee-details__content">
        <ul>
            <li>Image (Optional) - if there is an image it will display as per the design with an image. If there is no image it will display as per the design in this ticket without an image.</li>
            <li>Title (Optional)</li>
            <li>Name (Mandatory)</li>
            <li>Pro-nouns (Optional)</li>
            <li>Job Role (Optional)</li>
            <li>Department (Optional)</li>
            <li>Organisation (Optional)</li>
            <li>Address (Optional)</li>
            <li>Telephone (Optional)</li>
            <li>Email (Optional)</li>
            <li>Website (Optional)</li>
            <li>Twitter handle (Optional)</li>
            <li>Linkedin profile (Optional)</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}