/* ==========================================================================
   COMPONENTS / #NHSUK-IMAGE--CARD
   ========================================================================== */

.nhsuk-image--card {
    border: 1px solid $nhsuk-border-color;
    background-color: $color_nhsuk-white;
    padding: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 48px;


    .nhsuk-image__img {
        margin-bottom: -8px;
        max-width: 100%;
        height: auto;
    }
    .nhsuk-image__caption {
        font-size: 0.9rem;
        color: $color_nhsuk-grey-2;
        padding: 0;
        margin-top: nhsuk-spacing(4);
    }
}