{% macro navMap(params) %}
<div class="hee-navmap">
  {% if params.heading %}
    <h2>{{ params.heading }}</h2>
  {% endif %}

  <figure class="nhsuk-map">
    {%- if params.caption %}
      <figcaption class="nhsuk-map__caption">
        {% if params.caption.description %}
          <div class="nhsuk-map__description">
            {% if params.caption.description.subHeader %}
              <h3>{{ params.caption.description.subHeader }}</h3>
            {% endif %}
            {% if params.caption.description.text %}
              {% for item in params.caption.description.text %}
                  <p>{{ item }}</p>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}

        <ul id="regionList" >
          {% for item in params.caption.items %}
              {% if item.url %}
                <li>
                  <a id="{{item.id}}" href="{{ item.url}}" >
                    {{ item.text }}
                  </a>
                </li>
              {% elseif item.text %}
                <li>
                  {{ item.text }}
                </li>
              {% endif %}
          {% endfor %}
        </ul>
      </figcaption>
    {%- endif %}

    <object
      class="nhsuk-map__image"
      data="{{ params.src }}"
      type="image/svg+xml"
      tabindex = "-1"
    >
    </object>
  </figure>
</div>
{% endmacro %}
