.hee-listing-item {
  background-color: $color_nhsuk-white;
  border: 1px solid $color_nhsuk-grey-4;
  padding: map-get($nhsuk-spacing-points, 3);
  margin-bottom: map-get($nhsuk-spacing-points, 3);

  .hee-listing-item__details__row {
    margin-bottom: map-get($nhsuk-spacing-points, 2);

    span {
      display: inline-block;

      &.hee-listing-item__details__label {
        font-weight: $nhsuk-font-bold;

        @include mq($from: tablet) {
          width: 33%;
        }
      }
    }
  }
}
