{% macro megaMenu(params) %}
  <div class="hee-mega-menu">
    <nav class="hee-mega-menu__nav{% if params.primaryLinks|length > 2 %} hee-mega-menu--more-items{% endif %}" id="mega-menu-navigation" role="navigation" aria-label="Primary navigation">
      <div class="nhsuk-width-container">
        <ul class="hee-mega-menu__list">
          {% for item in params.primaryLinks %}
            <li class="hee-mega-menu__item{% if item.children.length > 0 %} hee-mega-menu__subnav{% endif %}" aria-haspopup="true">
              <a class="hee-mega-menu__link" href="#">
                <div class="hee-mega-menu__subnav__wrapper">
                  <span class="hee-mega-menu__link-text">{{item.label | safe}}</span>
                </div>
              </a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    </nav>
    {% for item in params.primaryLinks %}
      {% if item.children.length > 0 %}
        <div aria-expanded="false" class="hee-mega-menu__panel">
          <div class="hee-mega-menu__panel__wrapper nhsuk-width-container">
            {% for children in item.children|batch(7) %}
              <div class="hee-mega-menu__panel__group">
                {% for item in children %}
                  <a class="hee-mega-menu__panel__link" href="{{ item.url }}">
                    {{ item.label }}
                  </a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}
