// Container
$max-width: 960px;
@mixin container(
    $max-width: $max-width
) {
    max-width: $max-width;
    margin: 0 auto;
    
    @include media(tablet) {
        margin: 0 32px;
    }
    @include media(mobile) {
        margin: 0 16px;
    }
    @include media(desktop) {
    }
}