// Invert link style
@mixin nhsuk-link-style-inverted {
	color: $nhsuk-link-color;

	&:focus {
	  background-color: $color_shade_nhsuk-blue-35;
	  box-shadow: 0 0 0 4px $color_shade_nhsuk-blue-35;
	  color: $color_nhsuk-white;
	  outline: $nhsuk-focus-width solid transparent;
	  outline-offset: $nhsuk-focus-width;
	}

	&:hover {
	  background-color: $color_nhsuk-blue;
	  box-shadow: 0 0 0 4px $color_nhsuk-blue;
	  color: $color_nhsuk-white;
	}

	&:active {
	  background-color: $color_shade_nhsuk-blue-50;
	  box-shadow: 0 0 0 4px $color_shade_nhsuk-blue-35;
	  color: $color_nhsuk-white;
	}
}