.hee-card--table {
  .hee-card--table__toggle {
    @include nhsuk-responsive-margin(4, 'bottom');
    display: inline-block;
    text-align: right;
    width: 100%;
  }

  .hee-card--table__row {
    @include nhsuk-responsive-padding(3, 'top');
    @include nhsuk-responsive-padding(3, 'bottom');
    border-bottom: 2px solid $color_nhsuk-grey-4;

    span {
      display: block;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  .hee-card--table__row__heading {
    @include nhsuk-responsive-margin(2, 'bottom');
    font-weight: $nhsuk-font-bold;
  }
}
