///////////////////////////////////////////
// NHS.UK Frontend library
///////////////////////////////////////////
@import 'node_modules/nhsuk-frontend/packages/core/settings/all';
@import 'node_modules/nhsuk-frontend/packages/core/tools/all';
@import 'node_modules/nhsuk-frontend/packages/core/generic/_font-face.scss';
@import 'node_modules/nhsuk-frontend/packages/core/objects/_width-container.scss';
@import 'node_modules/nhsuk-frontend/packages/core/elements/_links.scss';

@import '../global-menu';

.nhse-global-menu {
  @if $nhsuk-include-font-face {
    @include _nhsuk-font-face-frutiger;
    font-family: $nhsuk-font, $nhsuk-font-fallback;
  }

  h3 {
    @include nhsuk-typography-responsive(24);
    @include nhsuk-responsive-margin(4, 'bottom');

    margin-top: 0;
  }

  ul {
    @include nhsuk-typography-responsive(19);

    margin-top: 0;
  }

  p {
    margin-top: 0;
  }
}