.hee-resources__link, .hee-listing-item__details__row {

    .hee-resources__tag,
    .hee-resources__docSize {
        text-decoration: none;
    }

    .hee-resources__tag {
        display: inline-block;
        position: relative;
        top: -1px;
        min-width: nhsuk-spacing(6);
        margin: 0 nhsuk-spacing(2);
        padding: 2px nhsuk-spacing(2);
        color: $color_nhsuk-white;
        font-size: .75em;
        text-align: center;
        text-transform: uppercase;
        border-radius: 12px;
    }

    .hee-resources__pdf {
        background-color: $color_nhsuk-red;
    }
    .hee-resources__doc,
    .hee-resources__docx {
        background-color: #2b579a;
    }
    .hee-resources__xls,
    .hee-resources__xlsx,
    .hee-resources__csv {
        background-color: #1D6F42;
    }
    .hee-resources__txt,
    .hee-resources__mrc {
        background-color: $color_nhsuk-grey-1;
    }
    .hee-resources__odt,
    .hee-resources__ott,
    .hee-resources__fodt {
        background-color: #456697;
    }
    .hee-resources__ods,
    .hee-resources__ots,
    .hee-resources__fods {
        background-color: $color_nhsuk-green;
    }
    .hee-resources__odf,
    .hee-resources__fodf {
        background-color: #106f5a;
    }
    .hee-resources__odp,
    .hee-resources__otp,
    .hee-resources__fodp,
    .hee-resources__ppt,
    .hee-resources__pptx {
        background-color: $color_nhsuk-red;
    }
    .hee-resources__oth {
        background-color: #737373;
    }
    .hee-resources__odg,
    .hee-resources__fodg,
    .hee-resources__otg {
        background-color: #a5265b;;
    }
    .hee-resources__odb,
    .hee-resources__fodb {
        background-color: #a5265b;
    }
    .hee-resources__odm,
    .hee-resources__fodm {
        background-color: #344c84;
    }


    .hee-resources__docSize {
        display: inline-block;
        color: $color_nhsuk-grey-1;
    }

}

.hee-listing-item__details__row {
    .hee-resources__tag {
        margin: 0;
    }
}

.hee-resources__list {
    list-style-type: none;
    padding-left: 0;
}

// Card adjustments
.hee-card--details {
    .hee-resources__wrapper {
        @include nhsuk-responsive-padding(2, 'right');
        display: block;
        width: 80%;
        word-break: break-word;

        &:hover {
            > .hee-resources__text {
                text-decoration: underline;
            }
        }
    }

    .hee-resources__link {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        text-decoration: none;

        span {
            font-weight: normal;

            &.hee-resources__text {
                padding-right: nhsuk-spacing(1);
            }

            &.hee-resources__tag {
                border-radius: 6px;
                font-size: 10px;
                margin: 0;
                min-width: 32px;
                padding: 2px 6px 0 6px;
                text-decoration: none;
                top: 4px;
            }
        }
    }
}
