/* NHSUK-HEE-Tables
table {
    background-color: #FFF;
    padding: nhsuk-spacing(3);

    caption {
        background-color: #FFF;
        padding: nhsuk-spacing(3) nhsuk-spacing(3) nhsuk-spacing(0) nhsuk-spacing(3);
    }
}

.nhsuk-hee-table {
    margin-bottom: 4em!important;
    background-color: #FFF;
}*/

/* NHSUK-HEE-Table--Multicols
.nhsuk-hee-table--multicols {
    width: 100%;
    background-color: #FFF;

    caption {
        font-size: 1.375rem;
        line-height: 1.45455;
    }

    .nhsuk-table__head {
        -webkit-clip-path: inset(50%);
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .nhsuk-table__body {
        .nhsuk-table__row {
            display: block;
            margin-bottom: 24px;

            .nhsuk-table__cell {
                display: block;
                min-width: 1px;
                padding-right: 0;
                text-align: right;

                &:last-of-type {
                    border-bottom: 3px solid #d8dde0;
                }
            }

            .nhsuk-table-responsive__heading {
                width: 50%;
                font-weight: 600;
                padding-right: 16px;
                text-align: left;
                display: block;
                display: inline-block;
                float: left;
            }

        }
        
    }
}

@include mq($until: desktop) {
    .nhsuk-table-responsive {
        .nhsuk-table__body {
            .nhsuk-table__row {
                display: block;
                margin-bottom: 24px;

                .nhsuk-table__cell {
                    display: block;
                    min-width: 1px;
                    padding-right: 0;
                    text-align: right;

                    &:last-of-type {
                        border-bottom: 3px solid #d8dde0;
                    }
                }

                .nhsuk-table-responsive__heading {
                    width: 50%;
                    font-weight: 600;
                    padding-right: 16px;
                    text-align: left;
                    display: inline-block;
                    float: left;
                }

            }
            
        }
    }
} */

/* NHSUK-HEE-Table -- ?
.nhsuk-hee-table {
    background-color: #fff;
    padding: 16px;
}
.nhsuk-hee-table caption {
    background-color: #fff;
    padding: 16px 16px 0 16px;
} */