/* FilterTag */
.nhsuk-filter-tag {
  padding: .75em 1em;
  margin: .15em 0;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    height: 1.5em;
    margin-left: .5em;
  }

  // JS
  &--js {
    cursor: pointer;
  }
}