/* ==========================================================================
   COMPONENTS / #SIDEBAR-IMAGE
   ========================================================================== */

.nhsuk-sidebar-image {
    border: 1px solid #D8DDE0;
    background-color: #FFFFFF;
    padding: 24px;
    margin-bottom: 48px;

    img {
        margin-bottom: -8px;
    }
}