.hee-appliesto {
    padding: 24px;
    margin: 48px 0;
    background-color: #005eb8;
}

.hee-appliesto p {
    color: #FFF;
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

.hee-appliesto a {
    color: #FFF;
}

.hee-appliesto span {
    font-weight: bold;
}
