/* ==========================================================================
   COMPONENTS / #RELATED-POSTS-CARD
   ========================================================================== */

.nhsuk-related-links-card__list {
  list-style-type: none;
	padding-left: 0;

  li {
    margin-bottom: 24px;
  }
}

.nhsuk-related-links-card__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}