/* HEE-Card--Author */
.hee-card--author {
    max-width: 100%;
    width: 100%;

    @include mq($from: tablet) {
        margin-right: 0;
    }

    .hee-card--author__header {
        border-bottom: 2px solid $nhsuk-border-color;
        display: inline-block;
        padding-bottom: nhsuk-spacing(2);
        margin-bottom: nhsuk-spacing(3);
        width: 100%;

        @include mq($from: tablet) {
            align-items: center;
            border-bottom: none;
            display: flex;
        }

        .hee-card__image {
            margin-right: nhsuk-spacing(4);

            @include mq($from: tablet) {
                margin-bottom: 0;
            }

            &.has-bg {
                .hee-card__initials {
                    background-size: contain;
                    background-position: center center;
                }

                span {
                    display: none;
                }
            }

            .hee-card__initials {
                width: 134px;
            }
        }

        .hee-card__pronouns {
            margin-bottom: nhsuk-spacing(2);
        }
    }

    .hee-card__contact {
        @include mq($from: tablet) {
            border-bottom: 2px solid $nhsuk-border-color;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: nhsuk-spacing(3);
            padding-bottom: nhsuk-spacing(3);
            width: 100%;
        }

        .hee-card__contact__item {
            align-items: flex-start;
            display: flex;

            @include mq($from: tablet) {
                width: 50%;
            }

            &:before {
                background-position: center;
                background-repeat: no-repeat;
                display: block;
                content: "";
                min-width: 24px;
                width: 24px;
            }

            a {
                display: block;
                padding-left: 8px;
                word-break: break-word;
            }
        }

        .hee-card__email {
            @include mq($from: tablet) {
                order: 1;
            }

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5453 5.94375C23.7281 5.79844 24 5.93437 24 6.16406V15.75C24 16.9922 22.9922 18 21.75 18H2.25C1.00781 18 0 16.9922 0 15.75V6.16875C0 5.93438 0.267187 5.80312 0.454687 5.94844C1.50469 6.76406 2.89688 7.8 7.67813 11.2734C8.66719 11.9953 10.3359 13.5141 12 13.5047C13.6734 13.5188 15.375 11.9672 16.3266 11.2734C21.1078 7.8 22.4953 6.75938 23.5453 5.94375ZM12 12C13.0875 12.0188 14.6531 10.6313 15.4406 10.0594C21.6609 5.54531 22.1344 5.15156 23.5687 4.02656C23.8406 3.81562 24 3.4875 24 3.14062V2.25C24 1.00781 22.9922 0 21.75 0H2.25C1.00781 0 0 1.00781 0 2.25V3.14062C0 3.4875 0.159375 3.81094 0.43125 4.02656C1.86563 5.14687 2.33906 5.54531 8.55938 10.0594C9.34688 10.6313 10.9125 12.0188 12 12Z' fill='%23768692'/%3E%3C/svg%3E");
                height: 24px;
            }
        }

        .hee-card__website {
            @include mq($from: tablet) {
                order: 3;
            }

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C5.37242 0 0 5.37242 0 12C0 18.6276 5.37242 24 12 24C18.6276 24 24 18.6276 24 12C24 5.37242 18.6276 0 12 0ZM15.9818 17.3032C15.7931 17.491 15.5952 17.6879 15.4345 17.849C15.2898 17.9942 15.1877 18.1732 15.136 18.3673C15.0629 18.6411 15.0039 18.9179 14.9052 19.1835L14.0637 21.4505C13.3979 21.5956 12.7089 21.6774 12 21.6774V20.3526C12.0818 19.7419 11.6303 18.5981 10.905 17.8727C10.6147 17.5824 10.4516 17.1885 10.4516 16.7777V15.2289C10.4516 14.6656 10.1482 14.1479 9.65516 13.8755C8.95984 13.4908 7.97081 12.9532 7.29339 12.6121C6.7379 12.3324 6.22403 11.9763 5.76194 11.5597L5.72323 11.5248C5.39277 11.2265 5.09938 10.8896 4.84935 10.5213C4.39548 9.855 3.65613 8.75903 3.17564 8.04677C4.16613 5.84516 5.95113 4.0771 8.16919 3.11661L9.33097 3.69774C9.84581 3.95516 10.4516 3.58113 10.4516 3.00532V2.45855C10.8382 2.39613 11.2316 2.35645 11.6318 2.34145L13.0011 3.71081C13.3035 4.01323 13.3035 4.50339 13.0011 4.80581L12.7742 5.03226L12.2739 5.53258C12.1229 5.68355 12.1229 5.92887 12.2739 6.07984L12.5008 6.30677C12.6518 6.45774 12.6518 6.70306 12.5008 6.85403L12.1137 7.24113C12.041 7.31367 11.9425 7.35439 11.8398 7.35435H11.4048C11.3042 7.35435 11.2074 7.39355 11.1348 7.46419L10.6548 7.93113C10.596 7.98842 10.5569 8.06293 10.5431 8.1439C10.5294 8.22487 10.5417 8.30811 10.5784 8.38161L11.3327 9.89081C11.4615 10.1482 11.2742 10.4511 10.9868 10.4511H10.7139C10.6205 10.4511 10.5305 10.4173 10.4603 10.3563L10.0113 9.96629C9.90968 9.87814 9.78687 9.81795 9.65494 9.79165C9.52302 9.76535 9.38652 9.77384 9.25887 9.81629L7.75064 10.319C7.6355 10.3574 7.53535 10.4311 7.4644 10.5296C7.39345 10.628 7.35529 10.7464 7.35532 10.8677C7.35532 11.0869 7.47919 11.2868 7.67516 11.385L8.21129 11.6531C8.66661 11.881 9.16887 11.9995 9.6779 11.9995C10.1869 11.9995 10.771 13.32 11.2263 13.5479H14.4561C14.8669 13.5479 15.2603 13.711 15.5511 14.0013L16.2135 14.6637C16.4903 14.9405 16.6457 15.316 16.6456 15.7074C16.6455 16.004 16.5868 16.2977 16.4729 16.5716C16.359 16.8454 16.1921 17.0941 15.9818 17.3032ZM20.1774 12.8831C19.8973 12.8129 19.6529 12.6411 19.4927 12.4006L18.6227 11.0956C18.4954 10.905 18.4275 10.6809 18.4275 10.4516C18.4275 10.2224 18.4954 9.99824 18.6227 9.80758L19.5706 8.38597C19.6829 8.21806 19.8368 8.08161 20.0177 7.99161L20.6458 7.67758C21.3 8.98016 21.6774 10.4453 21.6774 12C21.6774 12.4195 21.6416 12.8303 21.5894 13.2358L20.1774 12.8831Z' fill='%23768692'/%3E%3C/svg%3E");
                height: 24px;
            }
        }

        .hee-card__twitter {
            @include mq($from: tablet) {
                order: 4;
            }

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.533 5.11175C21.5482 5.32494 21.5482 5.53817 21.5482 5.75136C21.5482 12.2539 16.599 19.7463 7.5533 19.7463C4.76648 19.7463 2.17767 18.9391 0 17.5382C0.395953 17.5838 0.776625 17.5991 1.18781 17.5991C3.48727 17.5991 5.60405 16.8224 7.29441 15.4976C5.13197 15.4519 3.31978 14.0356 2.69541 12.0864C3 12.132 3.30455 12.1625 3.62437 12.1625C4.06598 12.1625 4.50764 12.1016 4.91878 11.995C2.66498 11.5381 0.974578 9.55845 0.974578 7.16759V7.1067C1.62937 7.47219 2.39086 7.70061 3.19791 7.73103C1.87303 6.84777 1.00505 5.34017 1.00505 3.63458C1.00505 2.72089 1.24866 1.88333 1.67508 1.15236C4.09641 4.13713 7.73602 6.08633 11.8172 6.29956C11.7411 5.93408 11.6954 5.55341 11.6954 5.17269C11.6954 2.462 13.8883 0.253906 16.6141 0.253906C18.0304 0.253906 19.3095 0.847813 20.208 1.8072C21.3197 1.59402 22.3857 1.18283 23.3299 0.619391C22.9643 1.76155 22.1877 2.72094 21.1674 3.33003C22.1573 3.22348 23.1167 2.94931 23.9999 2.56864C23.33 3.54322 22.4924 4.4112 21.533 5.11175Z' fill='%23768692'/%3E%3C/svg%3E");
                height: 24px;
            }
        }

        .hee-card__linkedin {
            @include mq($from: tablet) {
                order: 2;
            }

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.20062 21H0.846875V6.97971H5.20062V21ZM3.02141 5.06721C1.62922 5.06721 0.5 3.91408 0.5 2.52189C0.5 1.85318 0.765647 1.21185 1.2385 0.738991C1.71136 0.266136 2.35269 0.000488281 3.02141 0.000488281C3.69012 0.000488281 4.33145 0.266136 4.80431 0.738991C5.27716 1.21185 5.54281 1.85318 5.54281 2.52189C5.54281 3.91408 4.41313 5.06721 3.02141 5.06721ZM21.4953 21H17.1509V14.175C17.1509 12.5485 17.1181 10.4625 14.8873 10.4625C12.6237 10.4625 12.2769 12.2297 12.2769 14.0578V21H7.92781V6.97971H12.1034V8.89221H12.1644C12.7456 7.79064 14.1655 6.62814 16.2838 6.62814C20.69 6.62814 21.5 9.52971 21.5 13.2985V21H21.4953Z' fill='%23768692'/%3E%3C/svg%3E");
                height: 24px;
                min-width: 22px;
                width: 22px;
            }
        }
    }

    .hee-card__address {
        margin-bottom: nhsuk-spacing(3);
    }
}

// Layout styling for multiple authors within page body.
.hee-card--author__container {
    @include mq($from: tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hee-card--author {
        @include mq($from: tablet) {
            width: 48%
        }
    }
}

// Third width and sidebar styling tweaks.
.page__rightbar, .hee-card--author__container {
    .hee-card--author__header {
        border-bottom: 2px solid $nhsuk-border-color;
        display: inline-block;
        padding-bottom: nhsuk-spacing(2);
        margin-bottom: nhsuk-spacing(3);

        .hee-card__image {
            margin-right: nhsuk-spacing(4);

            @include mq($from: tablet) {
                margin-bottom: nhsuk-spacing(4);
            }
        }
    }

    .hee-card__contact {
        @include mq($from: tablet) {
            display: block;
            border-bottom: none;
            margin-bottom: nhsuk-spacing(2);
            padding-bottom: nhsuk-spacing(2);
        }

        .hee-card__contact__item {
            @include mq($from: tablet) {
                width: auto;
            }
        }
    }
}