/* RelatedNav */
.hee-relatednav {
	border-top: 2px solid #005eb8;

	&__heading {
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 1.2;
		margin-bottom: 16px;
		padding-top: 16px;
	}

	&__list {
		list-style: none;
		margin-bottom: 16px;
		padding-left: 0;
	}

	&__item {
		font-size: 14px;
		font-size: .875rem;
		line-height: 1.71429;
	}

	&__subheading {
		margin-bottom: 8px;
		padding-top: 8px;
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.2;
	}

	// Add print & mobile

}