{% macro globalAlert(params) %}
<div class="hee-globalalert {{ params.customClass }}" role="complementary">
  <div class="nhsuk-width-container">
    <div class="hee-globalalert__message">
        {%- if params.heading %}
          <h2 class='{{ params.headingClass }}'>{{ params.heading }}</h2>
        {% endif -%}
        {{ params.HTML | safe }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
