/* Contact (from live) */
.nhsuk-contact {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
@media (min-width: 40.0625em) {
    .nhsuk-contact {
        margin-bottom: 48px;
    }
}
.nhsuk-contact h2,
.nhsuk-contact h3,
.nhsuk-contact h4,
.nhsuk-contact h5 {
    margin-bottom: 0;
}
.nhsuk-contact h4 {
    font-size: 1.1875rem;
}
.nhsuk-contact h5 {
    font-size: 1.1875rem;
    font-weight: 400;
}
.nhsuk-contact .nhsuk-contact__img-container {
    position: relative;
    margin-bottom: 24px;
    width: 8.375rem;
    height: 8.375rem;
    background: #d8dde0;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    line-height: 8.375rem;
    color: #4c6272;
}
@media print {
    .nhsuk-contact .nhsuk-contact__img-container {
        display: none;
    }
}
.nhsuk-contact .nhsuk-contact__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 8.375rem;
    height: 8.375rem;
    border-radius: 50%;
    object-fit: cover;
    border-bottom: 1px solid #f0f4f5;
}
@media print {
    .nhsuk-contact .nhsuk-contact__img {
        display: none;
    }
}
.nhsuk-contact .nhsuk-contact__description,
.nhsuk-contact .nhsuk-contact__heading,
.nhsuk-contact .nhsuk-contact__metadata {
    margin-bottom: 8px;
}
.nhsuk-contact .nhsuk-contact hr {
    margin-top: 24px;
    margin-bottom: 24px;
}
.nhsuk-contact .nhsuk-contact a {
    word-wrap: break-word;
}
.nhsuk-contact .nhsuk-contact__pronoun {
    color: #4c6272;
}
.nhsuk-contact .nhsuk-contact__secondary-info p {
    word-wrap: break-word;
}
.nhsuk-contact__secondary-info > * {
    margin-bottom: 12px;
}
.nhsuk-contact__card .nhsuk-contact__content {
    padding: 24px;
    position: relative;
}
.nhsuk-contact__card .nhsuk-contact__content > :first-child {
    margin-top: 0;
}
.nhsuk-contact__card .nhsuk-contact__content > :last-child {
    margin-bottom: 0;
}
@media (min-width: 40.0625em) {
    .nhsuk-contact__card .nhsuk-contact__content {
        padding: 32px;
    }
}
.nhsuk-contact__card {
    background: #fff;
    border: 1px solid #d8dde0;
}
.nhsuk-contact__card .nhsuk-contact__pronoun {
    margin-bottom: 8px;
}
.nhsuk-contact__card .nhsuk-contact__secondary-info > * {
    margin-bottom: 12px;
}
.nhsuk-contact__card p[aria-label="Address"] {
    font-size: 1.1875rem;
    line-height: 1.47368;
}
.nhsuk-contact-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 0;
}
@media (max-width: 48.0525em) {
    .nhsuk-contact-group {
        margin-bottom: 40px;
    }
}
.nhsuk-contact-group + .nhsuk-heading-l,
.nhsuk-contact-group + .nhsuk-heading-m,
.nhsuk-contact-group + h2,
.nhsuk-contact-group + h3 {
    padding-top: 0;
}
.hee-layout-sidebar .nhsuk-contact-group {
    margin-left: 0;
    margin-right: 0;
}
.nhsuk-contact-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}
@media (max-width: 48.0525em) {
    .nhsuk-contact-group__item {
        flex: 0 0 100%;
    }
}
.nhsuk-contact-group__item .nhsuk-contact {
    margin-bottom: 32px;
}
@media (max-width: 48.0525em) {
    .nhsuk-contact-group__item .nhsuk-contact {
        margin-bottom: 16px;
    }
    .nhsuk-contact-group__item:last-child .nhsuk-contact {
        margin-bottom: 0;
    }
}
.nhsuk-contact--feature {
    margin-top: 40px;
}
@media (min-width: 40.0625em) {
    .nhsuk-contact--feature {
        margin-top: 48px;
    }
}
.nhsuk-contact__heading--feature {
    background: #005eb8;
    color: #fff;
    display: inline-block;
    left: -25px;
    margin-bottom: 8px;
    margin-right: -24px;
    padding: 8px 24px;
    position: relative;
    top: -8px;
}
@media (min-width: 40.0625em) {
    .nhsuk-contact__heading--feature {
        left: -33px;
        margin-right: -32px;
        padding: 8px 32px;
        top: -16px;
    }
}
.nhsuk-contact__content--feature {
    padding-top: 0 !important;
}

.nhsuk-contact__card .nhsuk-contact__secondary-info > * {
    @include nhsuk-typography-responsive(16);
}
