{% extends "template.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
BlockLinks - NHSUK-HEE - Components - HEE Prototype Kit
{% endblock %}

{% block pageHeader %}
{{ 
  breadcrumb({
      items: [
          {
              href: "/",
              text: "Home"
          },
          {
              href: "/components",
              text: "Components"
          },
          {
              href: "/components/nhsuk-hee/",
              text: "NHSUK-HEE"
          }
      ],
      href: "/components/nhsuk-hee/blocklinks",
      text: "BlockLinks"
  }) 
}}
<div class="nhsuk-width-container hee-page__heading">
  <h1>BlockLinks</h1>
  <p class="nhsuk-lede-text">An example page with blocklinks</p>
</div>
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row hee-layout hee-layout--standard">
      <div class="nhsuk-grid-column-two-thirds hee-layout__content">
        {{ blocklinks({
          "heading": "Learning 2 Columns",
          "HTML": "<p>Discover resources and information designed to support you on your learning journey</p>",
          "columns": "2",
          "links": [
            {
              "url": "/listing",
              "label": "Learning Zone"
            },
            {
              "url": "/listing",
              "label": "Equality, Diversity and Inclusion"
            },
            {
              "url": "/listing",
              "label": "Talent Management Toolkit"
            },
            {
              "url": "/listing",
              "label": "Case studies"
            }]
          })
        }}

        {{ blocklinks({
          "heading": "Learning 1 Column",
          "HTML": "<p>Discover resources and information designed to support you on your learning journey</p>",
          "columns": "1",
          "links": [
            {
              "url": "/listing",
              "label": "Learning Zone"
            },
            {
              "url": "/listing",
              "label": "Equality, Diversity and Inclusion"
            },
            {
              "url": "/listing",
              "label": "Talent Management Toolkit"
            },
            {
              "url": "/listing",
              "label": "Case studies"
            }]
          })
        }}
      </div>
      <div class="nhsuk-grid-column-one-third hee-layout__sidebar">

      </div>
  </div>

  <div class="hee-layout hee-layout--full">
      <div class="hee-layout__content">
        {{ blocklinks({
          "heading": "Learning 2 Columns",
          "HTML": "<p>Discover resources and information designed to support you on your learning journey</p>",
          "columns": "2",
          "links": [
            {
              "url": "/listing",
              "label": "Learning Zone"
            },
            {
              "url": "/listing",
              "label": "Equality, Diversity and Inclusion"
            },
            {
              "url": "/listing",
              "label": "Talent Management Toolkit"
            },
            {
              "url": "/listing",
              "label": "Case studies"
            }]
          })
        }}
      </div>
  </div>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}