{% extends "layout.html" %}

{% block pageTitle %}
Blocklinks - HEE - Components - HEE Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ 
    breadcrumb({
        items: [
            {
                href: "/",
                text: "Home"
            },
            {
                href: "/components",
                text: "Components"
            },
            {
                href: "/components/hee",
                text: "HEE"
            }
        ],
        href: "/components/hee/blocklinks",
        text: "Blocklinks"
    }) 
}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row hee-layout">
    <div class="nhsuk-grid-column-two-thirds hee-layout-content">
        <h1>Block links</h1>
        <p class="nhsuk-lede-text">An example page...</p>

    </div>
    <div class="nhsuk-grid-column-two-thirds hee-layout-sidebar">
        {{ blocklinks({
            "heading": "Learning 2 Columns",
            "HTML": "<p>Discover resources and information designed to support you on your learning journey</p>",
            "columns": "2",
            "links": [
              {
                "url": "/listing",
                "label": "Learning Zone"
              },
              {
                "url": "/listing",
                "label": "Equality, Diversity and Inclusion"
              },
              {
                "url": "/listing",
                "label": "Talent Management Toolkit"
              },
              {
                "url": "/listing",
                "label": "Case studies"
              }]
            })
          }}
  
          {{ blocklinks({
            "heading": "Learning 1 Column",
            "HTML": "<p>Discover resources and information designed to support you on your learning journey</p>",
            "columns": "1",
            "links": [
              {
                "url": "/listing",
                "label": "Learning Zone"
              },
              {
                "url": "/listing",
                "label": "Equality, Diversity and Inclusion"
              },
              {
                "url": "/listing",
                "label": "Talent Management Toolkit"
              },
              {
                "url": "/listing",
                "label": "Case studies"
              }]
            })
          }}
    
    </div>
</div>

{% endblock %}
