{% extends "layout.html" %}

{% block pageTitle %}
    NHSUK-HEE - Components - HEE Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        }
    ],
        href: "/components/nhsuk-hee",
        text: "NHSUK-HEE"
    }) 
}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>NHSUK-HEE Components</h1>
        <p class="nhsuk-lede-text">THe NHSUK components that have been modified/ overriden by us.</p>
    </div>
</div>
<div class="nhsuk-grid-row">
    <ul class="nhsuk-card-group">
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/nhsuk-hee/blocklinks",
                "clickable": "true",
                "heading": "BlockLinks",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/nhsuk-hee/summarylist",
                "clickable": "true",
                "heading": "SummaryList",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/components/nhsuk-hee/tables",
                "clickable": "true",
                "heading": "Tables",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
        </li>
    </ul>
    </div>
{% endblock %}
