{% extends "template.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
NHSUK-HEE - Components - NWP Prototype Kit
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        }
    ],
        href: "/components/nhsuk-hee",
        text: "NHSUK-HEE"
    }) 
}}
{{ microHero({
    "imgURL": "/images/hee_cl_gloucester_04361.jpeg"
}) }}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds hee-page__heading">
            <h1>NHSUK-HEE Components</h1>
            <p class="nhsuk-lede-text"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <ul class="nhsuk-card-group">
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/blocklinks",
                    "clickable": "true",
                    "heading": "BlockLinks",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/breadcrumbs",
                    "clickable": "true",
                    "heading": "Breadcrumbs",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/contentslist",
                    "clickable": "true",
                    "heading": "ContentsList",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/cookies",
                    "clickable": "true",
                    "heading": "Cookies",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/globalalert",
                    "clickable": "true",
                    "heading": "GlobalAlert",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/header",
                    "clickable": "true",
                    "heading": "Header",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/hero",
                    "clickable": "true",
                    "heading": "Hero",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/image",
                    "clickable": "true",
                    "heading": "Image",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/phasebanner",
                    "clickable": "true",
                    "heading": "PhaseBanner",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/promobanner",
                    "clickable": "true",
                    "heading": "PromoBanner",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/reviewdate",
                    "clickable": "true",
                    "heading": "ReviewDate",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/summarylist",
                    "clickable": "true",
                    "heading": "SummaryList",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/components/nhsuk-hee/tables",
                    "clickable": "true",
                    "heading": "Tables",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}