{% extends "layout.html" %}

{% block pageTitle %}
    Tables - NHSUK-HEE - Components - HEE Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ 
    breadcrumb({
        items: [
            {
                href: "/",
                text: "Home"
            },
            {
                href: "/components",
                text: "Components"
            },
            {
                href: "/components/nhsuk-hee",
                text: "NHSUK-HEE"
            }
        ],
        href: "/components/nhsuk-hee/tables",
        text: "Tables"
    }) 
}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row hee-layout">
    <div class="nhsuk-grid-column-two-thirds hee-layout-content">
        <h1>Tables</h1>
        <p class="nhsuk-lede-text"></p>

        <h2>A standard table</h2>
        {{ 
            table({
                tableClasses: 'nhsuk-hee-table',
                responsive: true,
                panel: false,
                caption: "Ibuprofen tablet dosages for children",
                firstCellIsHeader: false,
                head: [
                {
                    text: "Age"
                },
                {
                    text: "How much"
                },
                {
                    text: "How often"
                }
                ],
                rows: [
                [
                    {
                    header: "Age",
                    text: "7 to 9 years"
                    },
                    {
                    header: "How much?",
                    text: "200mg"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    }
                ],
                [
                    {
                    header: "Age",
                    text: "10 to 11 years"
                    },
                    {
                    header: "How much?",
                    text: "200mg to 300mg"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    }
                ],
                [
                    {
                    header: "Age",
                    text: "12 to 17 years"
                    },
                    {
                    header: "How much?",
                    text: "200mg to 400mg"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    }
                ]
                ]
            }) 
        }}

        <h3>A table with more than 3 rows</h3>
        {{ 
            table({
                tableClasses: 'nhsuk-hee-table nhsuk-hee-table--multicols',
                responsive: true,
                panel: false,
                caption: "Ibuprofen tablet dosages for children",
                firstCellIsHeader: false,
                head: [
                {
                    text: "Age"
                },
                {
                    text: "How much"
                },
                {
                    text: "How often"
                },
                {
                    text: "How often"
                },
                {
                    text: "How often"
                }
                ],
                rows: [
                [
                    {
                    header: "Age",
                    text: "7 to 9 years"
                    },
                    {
                    header: "How much?",
                    text: "200mg"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    }
                ],
                [
                    {
                    header: "Age",
                    text: "10 to 11 years"
                    },
                    {
                    header: "How much?",
                    text: "200mg to 300mg"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    }
                ],
                [
                    {
                    header: "Age",
                    text: "12 to 17 years"
                    },
                    {
                    header: "How much?",
                    text: "200mg to 400mg"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    },
                    {
                    header: "How often?",
                    text: "Max 3 times in 24 hours"
                    }
                ]
                ]
            }) 
        }}
    </div>
    <div class="nhsuk-grid-column-two-thirds hee-layout-sidebar">
        
    </div>
</div>

{% endblock %}
