{% extends "template-rightbar.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
    Tables - NHSUK-HEE - Components - HEE Prototype Kit
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
        items: [
            {
                href: "/",
                text: "Home"
            },
            {
                href: "/components",
                text: "Components"
            },
            {
                href: "/components/nhsuk-hee",
                text: "NHSUK-HEE"
            }
        ],
        href: "/components/nhsuk-hee/tables",
        text: "Tables"
    }) 
}}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds hee-page__heading">
            <h1>Tables</h1>
            <p class="nhsuk-lede-text">Examples of the table component.</p>
        </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<h2>A standard table</h2>

{{ 
    table({
        tableClasses: 'nhsuk-hee-table',
        responsive: true,
        panel: false,
        caption: "Ibuprofen tablet dosages for children",
        firstCellIsHeader: false,
        head: [
        {
            text: "Age"
        },
        {
            text: "How much?"
        },
        {
            text: "How often"
        }
        ],
        rows: [
        [
            {
            header: "Age",
            text: "7 to 9 years"
            },
            {
            header: "How much?",
            text: "200mg"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            }
        ],
        [
            {
            header: "Age",
            text: "10 to 11 years"
            },
            {
            header: "How much?",
            text: "200mg to 300mg"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            }
        ],
        [
            {
            header: "Age",
            text: "12 to 17 years"
            },
            {
            header: "How much?",
            text: "200mg to 400mg"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            }
        ]
        ]
    }) 
}}

<h3>A table with more than 3 rows</h3>
{{ 
    table({
        tableClasses: 'nhsuk-hee-table nhsuk-hee-table--multicols',
        responsive: true,
        panel: false,
        caption: "Ibuprofen tablet dosages for children",
        firstCellIsHeader: false,
        head: [
        {
            text: "Age"
        },
        {
            text: "How much"
        },
        {
            text: "How often"
        },
        {
            text: "How often"
        },
        {
            text: "How often"
        },
        {
            text: "How often"
        }
        ],
        rows: [
        [
            {
            header: "Age",
            text: "7 to 9 years"
            },
            {
            header: "How much medication is needed?",
            text: "200mg"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            }
        ],
        [
            {
            header: "Age",
            text: "10 to 11 years"
            },
            {
            header: "How much?",
            text: "<a href=''>200mg to 300mg</a>"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            }
        ],
        [
            {
            header: "Age",
            text: "12 to 17 years"
            },
            {
            header: "How much?",
            text: "200mg to 400mg"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            },
            {
            header: "How often?",
            text: "Max 3 times in 24 hours"
            }
        ]
        ]
    }) 
}}

<h3>Table with links</h3>
<table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Ibuprofen tablet dosages for children</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Age
        </th>
        <th role="columnheader" class="" scope="col">
          How much
        </th>
        <th role="columnheader" class="" scope="col">
          How often
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Age </span>7 to 9 years
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">How much? </span>200mg
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Age </span>10 to 11 years
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">How much medicine do we need? </span>200mg to 300mg and maybe a  bit more if they're really poorly
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Age </span>12 to 17 years
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">How much? </span><a href="#">200mg to 400mg</a> (Open in new window)
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block pageFooter %}{% endblock %}