<div class="nhsuk-filter-tag nhsuk-tag" data-filter="{{filter.value}}">
  <span>{{ filter.text }}</span>
  <img class="nhsuk-filter-tag__icon" src="/images/icons/close.svg" alt="Remove" hidden />
</div>