.hee-listing {
  .hee-listing__summary {
    border-bottom: 1px solid $color_nhsuk-grey-4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .hee-listing__count {
    align-self: center;

    h2 {
      margin-bottom: 0;
    }
  }

  .hee-listing__results {
    @include nhsuk-responsive-margin(7, 'bottom');
    padding-top: nhsuk-spacing(5);

    &.layout-half-width {
      @include mq($from: desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .hee-listing-item {
        @include mq($from: desktop) {
          margin-bottom: nhsuk-spacing(4);
          flex-basis: 48%;
        }
      }

      .hee-listing-item__details__label {
        @include mq($from: desktop) {
          display: block;
          width: auto;
        }
      }
    }
  }

  .hee-listing__tags {
    @include nhsuk-responsive-margin(5, 'bottom');
    width: 100%;
  }

  .nhsuk-pagination {
    margin-top: 0;
  }
}
