{% extends "template.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
Listing - Layouts - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/examples",
            text: "Examples"
        }
    ],
        href: "/examples/listing",
        text: "Impact case studies"
    }) 
}}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="hee-page__heading">
          <h1>Impact case studies</h1>
          <p class="nhsuk-lede-text"></p>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
    <div class="nhsuk-listing">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <form class="nhsuk-filter nhsuk-filter--js" method="get" action="/quality-and-impact/value-and-impact/case-studies-impact/impact-case-studies">
                    <p class="nhsuk-filter__title nhsuk-heading-l">Filters</p>

                    <div class="nhsuk-filter__groups">

                        <div class="nhsuk-filter__group">
<div class="nhsuk-form-group">
<fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend">
        Group Impacted
    </legend>
    <div class="nhsuk-checkboxes">
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--all_staff" name="impactGroup" type="checkbox" value="all_staff">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--all_staff">All Staff</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--additional_clinical_services" name="impactGroup" type="checkbox" value="additional_clinical_services">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--additional_clinical_services">Additional Clinical Services</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--admin_and_clerical" name="impactGroup" type="checkbox" value="admin_and_clerical">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--admin_and_clerical">Admin and Clerical</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--allied_health_professionals" name="impactGroup" type="checkbox" value="allied_health_professionals">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--allied_health_professionals">Allied Health Professionals</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--estates_and_ancilliary" name="impactGroup" type="checkbox" value="estates_and_ancilliary">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--estates_and_ancilliary">Estates and Ancilliary</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--healthcare_scientists" name="impactGroup" type="checkbox" value="healthcare_scientists">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--healthcare_scientists">Healthcare Scientists</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--medicine_and_dental" name="impactGroup" type="checkbox" value="medicine_and_dental">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--medicine_and_dental">Medical and Dental</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--multiprofessional" name="impactGroup" type="checkbox" value="multiprofessional">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--multiprofessional">Multiprofessional</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--nursing_and_midwifery" name="impactGroup" type="checkbox" value="nursing_and_midwifery">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--nursing_and_midwifery">Nursing and Midwifery</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--patients_carers_and_the_public" name="impactGroup" type="checkbox" value="patients_carers_and_the_public">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--patients_carers_and_the_public">Patients, carers and the public</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--scientific_and_technical" name="impactGroup" type="checkbox" value="scientific_and_technical">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--scientific_and_technical">Professional, Scientific and Technical</label>
</div>
<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="impactGroup--students" name="impactGroup" type="checkbox" value="students">
<label class="nhsuk-label nhsuk-checkboxes__label" for="impactGroup--students">Students</label>
</div>
    </div>
</fieldset>
</div>
                        </div>
                    </div>
                    <input type="hidden" name="sortBy" value="desc">
                </form>
            </div>

            <div class="nhsuk-listing__list nhsuk-grid-column-two-thirds">
                <div class="nhsuk-listing__summary o-flex@tablet">
                    <h2 class="nhsuk-listing__title nhsuk-heading-l o-flex__grow">
                        256 results
                    </h2>
                    <form method="get" class="nhsuk-listing__sort o-flex o-flex--align-center" action="/quality-and-impact/value-and-impact/case-studies-impact/impact-case-studies">
                        <div class="o-flex__grow">
<div class="nhsuk-form-group">
<label class="nhsuk-label" for="sortBy">
    Sort by
</label>
<select class="nhsuk-select" name="sortBy">
        <option value="az">A to Z</option>
        <option value="desc" selected="">Date Submitted - Newest</option>
        <option value="asc">Date Submitted - Oldest</option>
</select>
</div>
                        </div>
                    </form>
                </div>


                    <ul class="nhsuk-list nhsuk-list--border">

<h3><a href="/binaries/content/documents/lks/case-studies/knowledge-specialist-provides-access-to-staff-without-intranet-access/knowledge-specialist-provides-access-to-staff-without-intranet-access/hee%3Adocument?forceDownload=true" target="_blank">Knowledge Specialist provides access to staff without intranet access</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            All Staff
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Contributed to service development or delivery, Contributed to personal or professional development, Facilitated collaborative working, Improved the quality of patient care, Mobilising evidence and organisational knowledge, Productivity and efficiency, Reduced risk or improved safety
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/knowledge-specialist-provides-access-to-staff-without-intranet-access/knowledge-specialist-provides-access-to-staff-without-intranet-access/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            South East
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            University Hospitals Dorset NHS Foundation Trust
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Date Submitted
</dt>
<dd class="nhsuk-summary-list__value">
            27 July 2022
</dd>
</div>

</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/theming-lessons-learnt-from-the-trust-response-to-covid-19-to-support-strategic-corporate-objectives/theming-lessons-learnt-from-the-trust-response-to-covid-19-to-support-strategic-corporate-objectives/hee%3Adocument?forceDownload=true" target="_blank">Theming lessons learnt from the Trust response to COVID-19 to support strategic corporate objectives</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Multiprofessional
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Contributed to service development or delivery, Mobilising evidence and organisational knowledge, More informed decision making
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/theming-lessons-learnt-from-the-trust-response-to-covid-19-to-support-strategic-corporate-objectives/theming-lessons-learnt-from-the-trust-response-to-covid-19-to-support-strategic-corporate-objectives/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute and Community
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            South East
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            Buckinghamshire Healthcare NHS Trust
</dd>
</div>


</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/lthtr-library-newsletter-service-to-support-journal-club/lthtr-library-newsletter-service-to-support-journal-club/hee%3Adocument?forceDownload=true" target="_blank">LTHTR library newsletter service to support journal club</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Medical and Dental
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            More informed decision making, Contributed to service development or delivery, Facilitated collaborative working, Productivity and efficiency
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/lthtr-library-newsletter-service-to-support-journal-club/lthtr-library-newsletter-service-to-support-journal-club/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            North West
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            Lancashire Teaching Hospitals NHS Foundation Trust
</dd>
</div>


</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/release-of-tongue-tie-in-older-children/release-of-tongue-tie-in-older-children/hee%3Adocument?forceDownload=true" target="_blank">Release of tongue tie in older children</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Medical and Dental
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Improved the quality of patient care, More informed decision making
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/release-of-tongue-tie-in-older-children/release-of-tongue-tie-in-older-children/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            South West
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            Gloucestershire Hospitals NHS Foundation Trust
</dd>
</div>


</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/evidence-for-an-article-on-mandibular-advancement-devices-for-obstructive-sleep-apnea/evidence-for-an-article-on-mandibular-advancement-devices-for-obstructive-sleep-apnea/hee%3Adocument?forceDownload=true" target="_blank">Evidence for an article on mandibular advancement devices for obstructive sleep apnea</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Healthcare Scientists
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Contributed to personal or professional development, Facilitated collaborative working, Mobilising evidence and organisational knowledge
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/evidence-for-an-article-on-mandibular-advancement-devices-for-obstructive-sleep-apnea/evidence-for-an-article-on-mandibular-advancement-devices-for-obstructive-sleep-apnea/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            East of England
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            Royal Papworth Hospital NHS Foundation Trust
</dd>
</div>


</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/hosting-a-virtual-fishbowl-conversation-increases-referrals-by-65/hosting-a-virtual-fishbowl-conversation-increases-referrals-by-65/hee%3Adocument?forceDownload=true" target="_blank">Hosting a virtual fishbowl conversation increases referrals by 65%</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Admin and Clerical
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Mobilising evidence and organisational knowledge, Contributed to personal or professional development, Contributed to service development or delivery, Facilitated collaborative working, More informed decision making
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/hosting-a-virtual-fishbowl-conversation-increases-referrals-by-65/hosting-a-virtual-fishbowl-conversation-increases-referrals-by-65/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            South East
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            University Hospitals Dorset NHS Foundation Trust
</dd>
</div>


</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/catatonia-in-autistic-spectrum-disorder-asd-research-project/catatonia-in-autistic-spectrum-disorder-asd-research-project/hee%3Adocument?forceDownload=true" target="_blank">Catatonia in autistic spectrum disorder (ASD) research project</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Medical and Dental
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Contributed to personal or professional development
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/catatonia-in-autistic-spectrum-disorder-asd-research-project/catatonia-in-autistic-spectrum-disorder-asd-research-project/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Mental Health (Learning Disability)
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            North West
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            Pennine Care NHS Foundation Trust
</dd>
</div>


</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/audiobooks-for-patient-recovery/audiobooks-for-patient-recovery/hee%3Adocument?forceDownload=true" target="_blank">Audiobooks for patient recovery</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Allied Health Professionals
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Contributed to service development or delivery, Facilitated collaborative working, Improved the quality of patient care
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/audiobooks-for-patient-recovery/audiobooks-for-patient-recovery/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            East of England
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            Royal Papworth Hospital NHS Foundation Trust
</dd>
</div>


</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/partnership-working-with-public-libraries---health-information-covid-19-and-beyond/partnership-working-with-public-libraries---health-information-covid-19-and-beyond/hee%3Adocument?forceDownload=true" target="_blank">Partnership working with public libraries – health information Covid-19 and beyond</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Patients, carers and the public
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Carers and the Public, Contributed to service development or delivery, Facilitated collaborative working, Health Information for Patients, More informed decision making
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/partnership-working-with-public-libraries---health-information-covid-19-and-beyond/partnership-working-with-public-libraries---health-information-covid-19-and-beyond/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute and Community
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            South East
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            Somerset NHS Foundation Trust
</dd>
</div>


</dl>

<h3><a href="/binaries/content/documents/lks/case-studies/covid-19-the-re-use-of-ppe-and-the-safe-handling-of-patient-notes/covid-19-the-re-use-of-ppe-and-the-safe-handling-of-patient-notes/hee%3Adocument?forceDownload=true" target="_blank">COVID-19: the re-use of PPE and the safe handling of patient notes</a></h3>

<dl class="nhsuk-summary-list">
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Group Impacted
</dt>
<dd class="nhsuk-summary-list__value">
            Multiprofessional
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Impact Types
</dt>
<dd class="nhsuk-summary-list__value">
            Contributed to service development or delivery, Facilitated collaborative working, More informed decision making, Productivity and efficiency
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Document
</dt>
<dd class="nhsuk-summary-list__value">
            <a href="/binaries/content/documents/lks/case-studies/covid-19-the-re-use-of-ppe-and-the-safe-handling-of-patient-notes/covid-19-the-re-use-of-ppe-and-the-safe-handling-of-patient-notes/hee%3Adocument?forceDownload=true" target="_blank">Get Document</a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Sector
</dt>
<dd class="nhsuk-summary-list__value">
            Acute and Community
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Region
</dt>
<dd class="nhsuk-summary-list__value">
            North East and Yorkshire
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
    Organisation
</dt>
<dd class="nhsuk-summary-list__value">
            York and Scarborough Teaching Hospitals NHS Foundation Trust
</dd>
</div>


</dl>
                    </ul>

<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--next">
                <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="/quality-and-impact/value-and-impact/case-studies-impact/impact-case-studies?page=2&amp;pageSize=10">
                    <span class="nhsuk-pagination__title">Next</span>
                    <span class="nhsuk-u-visually-hidden">:</span>
                    <span class="nhsuk-pagination__page">2 out of 26</span>
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                    </svg>
                </a>
            </li>
    </ul>
</nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}