{% extends "template.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
Layouts - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        }
    ],
    href: "/examples",
    text: "Examples"
}) }}
{{ microHero({
    imgURL: 'https://via.placeholder.com/2000x260',
    imgAlt: 'An example bg image'
}) }}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds hee-page__heading">
            <h1>Examples</h1>
            <p class="nhsuk-lede-text">Example live code pages</p>
        </div>
    </div>
</div>
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <ul class="nhsuk-card-group">
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/examples/casestudies",
                    "clickable": "true",
                    "heading": "Case studies",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}