{% extends "components/furniture/template.html" %}

{% block pageTitle %}Furniture - Components - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/components/",
            text: "Components"
        }
    ],
        href: "/components/furniture",
        text: "Furniture"
    }) 
}}
{% endblock %}

{% block pageHeader %}
    <div class="nhsuk-width-container">
        <span class="nhsuk-caption-xl">Components</span>
        <h1>Furniture</h1>
        <p class="nhsuk-lede-text"></p>
    </div>
{% endblock %}

{% block pageContent %}
<p>Furniture components are core features of templates.</p>
<ul>
    <li><strong>Global</strong>: Components can appear across all the template types</li>
    <li><strong>FurnContent</strong>: Components that appear on item/ page templates</li>
    <li><strong>FurnCollections</strong>: Components that feature on collection templates</li>
</ul>
{% endblock %}

{% block pageFooter %}{% endblock %}