/* HEE-AnchorLinks */
.hee-anchorlinks {
    background-color: #FFF;
    padding: nhsuk-spacing(4);
    margin-bottom: nhsuk-spacing(4);
    h2 {
        @include nhsuk-typography-responsive(22);
        display: block;
        font-weight: $nhsuk-font-bold;
        margin-top: 0;
        @include nhsuk-responsive-margin(3, 'bottom');
    }
    ul {
        @include nhsuk-typography-responsive(19);
        @include nhsuk-responsive-margin(0, 'bottom');
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;

        li {
            @include nhsuk-typography-responsive(16);
            display: block;
            margin-top: 0;
            @include nhsuk-responsive-margin(2, 'bottom');

            &.has-children {
                margin-bottom: 0;
            }

            a {
                text-decoration: none;
            }

            .hee-anchorlinks__wrapper {
                align-items: start;
                display: flex;
                @include nhsuk-responsive-margin(2, 'bottom');
                padding-left: map-get($nhsuk-spacing-points, 2);

                a {
                    display: inline-block;
                    margin-left: map-get($nhsuk-spacing-points, 1);
                    padding-left: map-get($nhsuk-spacing-points, 1);
                    position: relative;
                }

                svg {
                    fill: $color_nhsuk-black;
                }

                &.chevron {
                    span {
                        display: block;
                        height: 17px;
                        padding-left: 3px;
                        width: 7px;
                        transform: rotate(90deg);
                    }

                    svg {
                        height: 17px;
                        width: 7px;
                    }
                }

                &.circle {
                    align-items: center;

                    span {
                        display: flex;
                        justify-content: center;
                        padding-left: 2px;
                        width: 8px;
                    }

                    svg {
                        height: 3px;
                        width: 3px;
                    }
                }
            }
        }

        ul {
            @include nhsuk-responsive-margin(2, 'top');
            @include nhsuk-responsive-margin(5, 'left');
        }
    }
}

// Sticky TOC.
.hee-anchorlinks__sticky {
    @include nhsuk-responsive-padding(4);
    border-top: 1px solid $color_nhsuk-grey-4;
    bottom: 0;
    background-color: $color_nhsuk-grey-5;
    height: 91px;
    position: fixed;
    min-height: 91px;
    width: 100%;

    @include mq($from: desktop) {
        min-height: 107px;
    }

    .hee-anchorlinks__sticky__wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        @include mq($from: desktop) {
            max-width: 960px;
        }
    }

    .hee-anchorlinks__sticky__btn {
        -webkit-appearance: button;
        align-items: center;
        border: 1px solid $color_nhsuk-grey-4;
        background-color: $color_nhsuk-white;
        box-shadow: none;
        cursor: pointer;
        display: flex;
        font-size: 19px;
        font-weight: $nhsuk-font-bold;
        padding: 16px 14px;
        text-decoration: none;

        span {
            padding-right: 15px;
        }

        &:after {
            background-image: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__chevron-right' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 1px center;
            content: "";
            display: block;
            height: 24px;
            transform: rotate(90deg);
            width: 24px;
        }
    }

    .hee-anchorlinks__sticky__top-link {
        background-color: $color_nhsuk-white;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8.5C12.3 8.5 12.5 8.6 12.7 8.8L17.7 13.8C18.1 14.2 18.1 14.8 17.7 15.2C17.3 15.6 16.7 15.6 16.3 15.2L12 10.9L7.7 15.2C7.3 15.6 6.7 15.6 6.3 15.2C5.9 14.8 5.9 14.2 6.3 13.8L11.3 8.8C11.5 8.6 11.7 8.5 12 8.5Z' fill='black'/%3E%3Crect x='6' y='5' width='12' height='2' rx='1' fill='black'/%3E%3Crect x='11' y='19' width='10' height='2' rx='1' transform='rotate(-90 11 19)' fill='black'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        border: 1px solid $color_nhsuk-grey-4;
        height: 58px;
        text-indent: -99999px;
        width: 59px;

        @include mq($from: desktop) {
            @include nhsuk-font(19);
            background-color: transparent;
            background-image: none;
            border: 0;
            height: auto;
            text-indent: 0;
            width: auto;
        }
    }
}
