/* HEE-AnchorLinks */
.hee-anchorlinks {
    background-color: #FFF;
    padding: nhsuk-spacing(4);
    margin-bottom: nhsuk-spacing(6);
    h2 {
        @include nhsuk-typography-responsive(22);
        display: block;
        font-weight: $nhsuk-font-bold;
        margin-top: 0;
        @include nhsuk-responsive-margin(3, 'bottom');
    }
    ul {
        @include nhsuk-typography-responsive(19);
        @include nhsuk-responsive-margin(0, 'bottom');
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;
        li {
            @include nhsuk-typography-responsive(16);
            display: block;
            margin-top: 0;
            @include nhsuk-responsive-margin(2, 'bottom');
            //a {
                //text-decoration: none;
            //}
        }
    }
}
