/* HEE-AnchorLinks */
.hee-anchorlinks {
    background-color: #FFF;
    padding: nhsuk-spacing(4);
    margin-bottom: nhsuk-spacing(4);
    h2 {
        @include nhsuk-typography-responsive(22);
        display: block;
        font-weight: $nhsuk-font-bold;
        margin-top: 0;
        @include nhsuk-responsive-margin(3, 'bottom');
    }
    ul {
        @include nhsuk-typography-responsive(19);
        @include nhsuk-responsive-margin(0, 'bottom');
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;

        li {
            @include nhsuk-typography-responsive(16);
            display: block;
            margin-top: 0;
            @include nhsuk-responsive-margin(2, 'bottom');
            //a {
                //text-decoration: none;
            //}

            &.has-children {
                margin-bottom: 0;
            }

            a {
                text-decoration: none;
            }
        }

        ul {
            @include nhsuk-responsive-margin(2, 'top');

            li {
                align-items: center;
                display: flex;
                @include nhsuk-responsive-margin(2, 'bottom');
                padding-left: map-get($nhsuk-spacing-points, 2);

                span {
                    display: block;
                    height: 17px;
                    width: 7px;
                }

                svg {
                    fill: $color_nhsuk-black;
                    height: 17px;
                    width: 7px;
                }

                a {
                    display: inline-block;
                    margin-left: map-get($nhsuk-spacing-points, 1);
                    padding-left: map-get($nhsuk-spacing-points, 1);
                    position: relative;
                }
            }
        }
    }
}
