.hee-training-journey {
  @include nhsuk-responsive-margin(4, 'bottom');
  background-color: $color_nhsuk-white;
  border: 1px solid $color_nhsuk-grey-4;
  max-width: 640px;
  padding: nhsuk-spacing(4);

  h3 {
    margin-bottom: nhsuk-spacing(3);
  }

  h4 {
    @include nhsuk-responsive-margin(3, 'bottom');
    @include nhsuk-typography-responsive(16);
  }

  .hee-training-journey__group {
    @include nhsuk-responsive-margin(4, 'bottom');

    &:last-child {
      margin: 0;
    }
  }

  .hee-training-journey__group__container {
    @include nhsuk-responsive-padding(2, 'left');
  }

  .hee-training-journey__item {
    @include nhsuk-responsive-padding(3, 'bottom');
    @include nhsuk-typography-responsive(19);
    border-left: 4px solid $color_nhsuk-grey-4;
    position: relative;

    &.active {
      padding-bottom: nhsuk-spacing(3);
      padding-top: nhsuk-spacing(3);

      span {
        @include nhsuk-typography-responsive(16);
        display: block;
        font-weight: $nhsuk-font-bold;
        left: nhsuk-spacing(3);
        position: absolute;
        top: nhsuk-spacing(2) * -1;

        @include mq($from: tablet) {
          left: nhsuk-spacing(4);
        }
      }

      .hee-training-journey__item__link {
        font-weight: $nhsuk-font-bold;

        &:before {
          border-color: $color_nhsuk-blue;
        }
      }
    }

    &.last {
      border: none;
      padding-bottom: 0;

      .hee-training-journey__item__link {
        right: 7px;
      }

      &.active {
        border-left: 4px solid $color_nhsuk-grey-4;
      }
    }
  }

  .hee-training-journey__item__link {
    bottom: 6px;
    position: relative;
    right: 11px;

    &:before {
      @include nhsuk-responsive-margin(3, 'right');
      background-color: $color_nhsuk-white;
      border: 4px solid $color_nhsuk-grey-4;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 18px;
      position: relative;
      top: nhsuk-spacing(1);
      width: 18px;
    }
  }
}