/* NHSUK-Header__container */

.nhsuk-header__container {
/*  display: flex;
  flex-direction: row;
  justify-content: space-between;*/
  padding: 20px 0;
}

/* NHSUK-Header__content */

.nhsuk-header__content {
  float:right;
  margin: -48px 0 0 0;

  @include mq($from: desktop) {
    margin: 0;
  }

  &.js-show {
    border-bottom: 0;
    width: 100%;

    @include mq($from: desktop) {
      width: auto;
    }
  }
  &.no-search {
    min-height: auto;
  }
}

.nhsuk-header__link {
  .nhsuk-organisation-name,
  .nhsuk-organisation-descriptor {
    display: block;
  }
}