{% macro newsletterForm(params) %}
  <div class="nhsuk-newsletter-form">
    {% if params.title %}
      <h2>{{ params.title }}</h2>
    {% endif %}
    {% if params.subtitle %}
      <p class="nhsuk-lede-text">{{ params.subtitle }}</p>
    {% endif %}

    <div class="nhsuk-newsletter-form">
      <form id="newsletter-form" method="POST" action=https://response.pure360.com/interface/list.php>
        <div id="error-summary" class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" style="display: none;">
          <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem                    </h2>
          <div class="nhsuk-error-summary__body">
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li id="error-summary-name" style="display: none;">
                <a href="#errors-name">Enter your name</a>
              </li>
              <li id="error-summary-email" style="display: none;">
                <a href="#errors-email">Enter a valid email address</a>
              </li>
              <li id="error-summary-consent" style="display: none;">
                <a href="#errors-consent">Privacy policy consent is required</a>
              </li>
            </ul>
          </div>
        </div>

        <fieldset class="nhsuk-fieldset">

          <span class="nhsuk-error-message" id="errors-name" style="display: none;">
              <span class="nhsuk-u-visually-hidden">Error:</span> Enter your name
          </span>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="name">
              Enter your name                        </label>
            <input class="nhsuk-input" id="name" name="name" type="text" required>
          </div>

          <span class="nhsuk-error-message" id="errors-email" style="display: none;">
                        <span class="nhsuk-u-visually-hidden">Error:</span> Enter a valid email address
                    </span>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="email">
              Email address                        </label>
            <input class="nhsuk-input" id="email" name="email" type="email" required>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="region">
              Region (optional)                            </label>
            <select class="nhsuk-select" id="region" name="region">
              <option selected="selected" value="">Select your region</option>
              <option value="National - England">National - England</option>
              <option value="National - UK">National - UK</option>
              <option value="East of England">East of England</option>
              <option value="London">London</option>
              <option value="Midlands">Midlands</option>
              <option value="North East and Yorkshire">North East and Yorkshire</option>
              <option value="North West England">North West England</option>
              <option value="South East England">South East England</option>
              <option value="South West England">South West England</option>
              <option value="Northern Ireland">Northern Ireland</option>
              <option value="Scotland">Scotland</option>
              <option value="Wales">Wales</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="organisation">
              Organisation type (optional)                            </label>
            <select class="nhsuk-select" id="organisation" name="organisation">
              <option selected="selected" value="">Select your organisation type</option>
              <option value="Arms-length body e.g HEE, PHE">Arms-length body e.g HEE, PHE</option>
              <option value="Dental practice">Dental practice</option>
              <option value="Further education (e.g. Sixth form college)">Further education (e.g. Sixth form college)</option>
              <option value="GP surgery">GP surgery</option>
              <option value="Higher Education Institute">Higher Education Institute</option>
              <option value="NHS England">NHS England</option>
              <option value="NHS Trust">NHS Trust</option>
              <option value="Pharmacy">Pharmacy</option>
              <option value="Primary and Secondary education">Primary and Secondary education</option>
              <option value="Private company (e.g. Pharmaceutical company)">Private company (e.g. Pharmaceutical company)</option>
              <option value="Private health service">Private health service</option>
              <option value="Professional body">Professional body</option>
              <option value="Regulatory body">Regulatory body</option>
              <option value="Research Institute">Research Institute</option>
              <option value="Royal College/Faculty (e.g. Faculty of Public Health)">Royal College/Faculty (e.g. Faculty of Public Health)</option>
              <option value="Local Government">Local Government</option>
            </select>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="profession">
              Profession or specialism (optional)                            </label>
            <select class="nhsuk-select" id="profession" name="profession">
              <option selected="selected" value="">Select your profession or specialism</option>
              <option value="Allied health professional">Allied health professional</option>
              <option value="Ambulance service team">Ambulance service team</option>
              <option value="Dental professional">Dental professional</option>
              <option value="Dentist">Dentist</option>
              <option value="Digital professional - clinical">Digital professional - clinical</option>
              <option value="Digital professional - non-clinical">Digital professional - non-clinical</option>
              <option value="Doctor / physician">Doctor / physician</option>
              <option value="Health informatician">Health informatician</option>
              <option value="Healthcare scientist">Healthcare scientist</option>
              <option value="Medical associate">Medical associate</option>
              <option value="Manager">Manager</option>
              <option value="Midwife">Midwife</option>
              <option value="Nurse">Nurse</option>
              <option value="Nursing associate">Nursing associate</option>
              <option value="Pharmacist">Pharmacist</option>
              <option value="Pharmacy professional">Pharmacy professional</option>
              <option value="Psychological professions">Psychological professions</option>
              <option value="Public health">Public health</option>
              <option value="Social care">Social care</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <span class="nhsuk-error-message" id="errors-consent" style="display: none;">
                        <span class="nhsuk-u-visually-hidden">Error:</span> Privacy policy consent is required
                    </span>
          <div class="nhsuk-form-group">
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="consent" name="consent" type="checkbox" required>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="consent">
                  <p>By signing up here, you are agreeing to receive marketing and update emails from Health Education England (HEE) about our work, in line with our Privacy Notice.</p>

                  <p>You can unsubscribe at any time by clicking the link in the email you receive.</p>                                </label>
              </div>
            </div>
          </div>
          <div class="nhsuk-form-group">
            <script src=https://www.google.com/recaptcha/api.js></script>
            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
            Please tick the reCAPTCHA box to enable the subscribe button
          </div>

          <input type="hidden" name="accName" value="{{ params.accName }}"/>
          <input type="hidden" name="listName" value="{{ params.listName }}"/>
          <input type="hidden" name="successUrl" value="{{ params.successUrl }}"/>
          <input type="hidden" name="errorUrl" value="{{ params.errorUrl }}"/>
          <input type="hidden" name="doubleOptin" value="{{ params.doubleOptin }}" />
        </fieldset>

        <button class="nhsuk-button" disabled="disabled" type="submit" data-module="nhsuk-button">
          Subscribe
        </button>
      </form>
    </div>
  </div>
{% endmacro %}