{% macro appliesTo(params) %}
  <div class="hee-appliesto">
        <p>Applies to: <span>England</span>. See guidance for <a href="https://www.nimdta.gov.uk/">Northern Ireland</a>, <a href="https://www.nes.scot.nhs.uk/">Scotland</a> and <a href="https://heiw.nhs.wales/">Wales</a>.</p>
    </div>
{% endmacro %}