{% macro nhseMicroHero(params) %}
  <div class="nhse-microhero">
    <div class="nhse-microhero__image" style="background-image:url({{ params.image }});"></div>
    <div class="nhse-microhero_shape__horizontal"></div>
    <div class="nhse-microhero_shape__vertical">
      <div class="nhse-microhero_shape__vertical__overlay"></div>
    </div>
  </div>
{% endmacro %}
