<nav class="page__subnav">
  <h3>Global</h3>
  <ul>
    <li><a href="/components/furniture/">Breadcrumbs</a></li>
    <li><a href="/components/furniture/">Hero</a></li>
    <li><a href="/components/furniture/">Microhero</a></li>
    <li><a href="/components/furniture/">BackToTop</a></li>
    <li><a href="/components/furniture/">Caption</a></li>
    <li><a href="/components/furniture/">Excerpt</a></li>
  </ul>
  <h3>FurnContent</h3>
  <ul>
    <li><a href="/components/furniture/">AppliesTo</a></li>
    <li><a href="/components/furniture/">AnchorLinks</a></li>
    <li><a href="/components/furniture/">GoBack</a></li>
    <li><a href="/components/furniture/">Taxonomies</a></li>
    <li><a href="/components/furniture/">PublishedBy</a></li>
    <li><a href="/components/furniture/">PublishedDate</a></li>
    <li><a href="/components/furniture/">LastUpdated</a></li>
    <li><a href="/components/furniture/">ReviewedNextLast</a></li>
    <li><a href="/components/furniture/">VersionControl</a></li>
    <li><a href="/components/furniture/">MinihubNavList</a></li>
    <li><a href="/components/furniture/">MinihubNavPagination</a></li>
  </ul>
  <h3>FurnCollections</h3>
  <ul>
    <li><a href="/components/furniture/">FilterGroup</a></li>
    <li><a href="/components/furniture/">FilterClearAll</a></li>
    <li><a href="/components/furniture/">FilterTag</a></li>
    <li><a href="/components/furniture/">ResultsTitle</a></li>
    <li><a href="/components/furniture/">ResultsPagination</a></li>
    <li><a href="/components/furniture/">ResultsSorting</a></li>
    <li><a href="/components/furniture/">SearchInput</a></li>
    <li><a href="/components/furniture/">AlphaNav</a></li>
    <li><a href="/components/furniture/">AlphaListing</a></li>
  </ul>
</nav>