.prototype {
  .page__header {
    padding-top: nhsuk-spacing(7);
  }
  .page__footer {
    padding-bottom: nhsuk-spacing(7);
  }

  .prototype__example {
    background-color: #f0f4f5;
    border: 1px solid #aeb7bd;
    a {
      display: block;
      border-bottom: 1px solid #aeb7bd;
      padding: 0.5em;
      color: #005eb8;
    }
    iframe {
      border: 0;
    }
    &.scaled {
      .thumbnail {
        position: relative;
        -ms-zoom: 0.47;
        -moz-transform: scale(0.47);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.47);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.47);
        -webkit-transform-origin: 0 0;
      }
      .thumbnail iframe {
        width: 1440px;
        background-color: #f0f4f5;
      }
    }

    &.block {
      .thumbnail iframe {
        width: 100%;
        background-color: #f0f4f5;
      }
    }
    
  }

  .prototype__table {
    padding: 0;

    th, 
    td {
      line-height: 1em;
      padding: 0.5em;
      vertical-align: middle;
    }
  }

}

.prototype--inner {

  .page__layout {
    @include hee-flexgrid-row;
    .page__leftbar {
      @include hee-flexgrid-col(3);
    }
    .page__main {
       @include hee-flexgrid-col(8.5,$col-offset:0.5);
    }
  }
  @include mq($until: desktop) {
    .page__layout {
      .page__leftbar, 
      .page__main {
        @include hee-flexgrid-col(12,$col-offset:0);
      }
    }
  }

  .page__leftbar {
    margin-top: nhsuk-spacing(7);
    margin-bottom: nhsuk-spacing(7);
    .nhsuk-back-link {
      border-bottom: 1px solid #CCC;
      padding-bottom: 12px;
    }
  }

}

.prototype--inventory {
}