{% extends "template-article.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
NHSUK - Components - HEE Prototype Kit
{% endblock %}

{% block pageHeader %}
{{ 
    breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/components",
            text: "Components"
        }
    ],
        href: "/components/nhsuk",
        text: "NHSUK"
    }) 
}}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds hee-page__heading">
            <h1>NHSUK Components</h1>
            <p class="nhsuk-lede-text">You can find the NHSUK components on the <a href="https://service-manual.nhs.uk/design-system/components/">NHS Digital service manual</a>.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>NHS components that have been integrated into the NWP</h2>
<h3>Content presentation</h3>
<ul>
    <li><s>Care cards</s></li>
    <li>Details</li>
    <li><s>Do and Don't lists</s></li>    
    <li>Expander</li>    
    <li>Images</li>    
    <li>Inset text</li>    
    <li>Review date</li>    
    <li>Summary list</li>    
    <li>Table</li>    
    <li>Tag</li>    
    <li>Warning callout</li>
</ul>

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block pageFooter %}{% endblock %}