{% macro imageCard(params) %}
  <figure class="hee-sidebar-image">
    {%- if params.imgURL %}
      <img class="hee-sidebar-image__img" src="{{ params.imgURL }}" alt="{{ params.imgALT }}" />
    {%- endif %}
    {%- if params.imgCaption %}
    <figcaption class="hee-sidebar-image__caption">
      {{ params.imgCaption }}
    </figcaption>
    {%- endif %}
  </figure>
{% endmacro %}
