{%- from 'lks-header/macro.njk' import lksHeader %}

<div class="nhsuk-header nhsuk-header--organisation nhsuk-header--parent" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    Part of <a href="https://www.hee.nhs.uk/">NHS Health Education England</a>
  </div>
</div>

{{ lksHeader({
    "showNav": "true",
    "showSearch": "true",
    "organisation": {
      "name": "Health Education England",
      "descriptor": "Library and Knowledge Services"
    },
    "primaryLinks": [
      {
        "url": "/landing",
        "label": "COVID-19",
        "children": [
          {
            "url": "/",
            "label": "Lorem"
          },
          {
            "url": "/",
            "label": "Ipsum"
          },
          {
            "url": "/",
            "label": "Dolor Set"
          },
          {
            "url": "/",
            "label": "Amet"
          }
        ]
      },
      {
        "url": "/landing",
        "label": "Learning and development"
      },
      {
        "url": "/landing",
        "label": "Mobilising knowledge"
      },
      {
        "url": "/landing",
        "label": "Patient information",
         "children": [
          {
            "url": "/",
            "label": "Lorem"
          },
          {
            "url": "/",
            "label": "Ipsum"
          },
          {
            "url": "/",
            "label": "Dolor Set"
          },
          {
            "url": "/",
            "label": "Amet"
          }
        ]
      },
      {
        "url": "/landing",
        "label": "Resource discovery",
         "children": [
          {
            "url": "/",
            "label": "Lorem"
          },
          {
            "url": "/",
            "label": "Ipsum"
          },
          {
            "url": "/",
            "label": "Dolor Set"
          },
          {
            "url": "/",
            "label": "Amet"
          }
        ]
     },
      {
        "url": "/landing",
        "label": "About",
        "children": [
          {
            "url": "/",
            "label": "Lorem"
          },
          {
            "url": "/",
            "label": "Ipsum"
          },
          {
            "url": "/",
            "label": "Dolor Set"
          },
          {
            "url": "/",
            "label": "Amet"
          }
        ]
      }
    ]
  })
}}