{%- from 'lks-header/macro.njk' import lksHeader %}

{{ lksHeader({
    showNav: true,
    showSearch: true,
    organisation: {
      name: "Health Education England",
      descriptor: "Library and Knowledge Services"
    },
    logos: {
      en: true,
      ni: true,
      scot: true,
      wales: true,
      fpo: false
    },
    primaryLinks: [
      {
        url: "/landing",
        label: "COVID&#8209;19",
        children: [
          {
            url: "/",
            label: "Lorem"
          },
          {
            url: "/",
            label: "Ipsum"
          },
          {
            url: "/",
            label: "Dolor Set"
          },
          {
            url: "/",
            label: "Amet"
          }
        ]
      },
      {
        url: "/landing",
        label: "Learning and development"
      },
      {
        url: "/landing",
        label: "Mobilising knowledge"
      },
      {
        url: "/landing",
        label: "Patient information",
         children: [
          {
            url: "/",
            label: "Lorem"
          },
          {
            url: "/",
            label: "Ipsum"
          },
          {
            url: "/",
            label: "Dolor Set"
          },
          {
            url: "/",
            label: "Amet"
          }
        ]
      },
      {
        url: "/landing",
        label: "Resource discovery",
         children: [
          {
            url: "/",
            label: "Lorem"
          },
          {
            url: "/",
            label: "Ipsum"
          },
          {
            url: "/",
            label: "Dolor Set"
          },
          {
            url: "/",
            label: "Amet"
          }
        ]
     },
      {
        url: "/landing",
        label: "About",
        children: [
          {
            url: "/",
            label: "Lorem"
          },
          {
            url: "/",
            label: "Ipsum"
          },
          {
            url: "/",
            label: "Dolor Set"
          },
          {
            url: "/",
            label: "Amet"
          }
        ]
      }
    ]
  })
}}