{% macro azNav(params) %}
  <nav class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-4" id="nhsuk-nav-a-z" role="navigation" aria-label="A to Z Navigation">
    <ol class="nhsuk-list nhsuk-u-clear nhsuk-u-margin-0" role="list">
    {%- for item in params.items %}
      <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
        {%- if item.disable %}
          <span class="nhsuk-nav-a-z__link--disabled">{{ item.label }}</span>
        {%- else %}
          <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#{{ item.label }}">
            {{ item.label }}
          </a>
        {%- endif %}
      </li>
    {%- endfor %}
    </ol>
  </nav>
{% endmacro %}