// FULLWIDTH 
.page--fullwidth {
  .page__header {
    padding-top: nhsuk-spacing(6);

    @include mq($from: desktop) {
      padding-top: nhsuk-spacing(7);
    }
  }
  .page__main {
    padding-bottom: nhsuk-spacing(6);

    @include mq($from: tablet) {
      padding-bottom: nhsuk-spacing(7);
    }
  }
}

.page--search {
  .page__header {
    @include nhsuk-responsive-padding(7, 'top')
  }
}