// LEFTBAR+MAIN
.page--leftbar {

    .page__header {
        padding-top: nhsuk-spacing(7);
        h1, p, span {
            max-width: 66.6667%;
        }
    }
    .page__layout {
        @include hee-flexgrid-row;
        .page__leftbar {
            @include hee-flexgrid-col(3.75);
        }
        .page__main {
            @include hee-flexgrid-col(8,$col-offset:0.25);
        }
    }

    @include mq($until: desktop) {
        .page__header {
            h1, p, span {
                max-width: 100%;
            }
        }
        .page__layout {
            .page__leftbar, 
            .page__main {
                @include hee-flexgrid-col(12,$col-offset:0);
            }
        }
    }


}
