// TemplateAreas
html {
    background-color: #f0f4f5;
}

.page {}
.page__header,
.page__main,
.page__leftbar,
.page__rightbar,
.page__footer,
.page__feature ,
.page__nav {
    .prototype & {
        //border: 2px dashed #CCC;
        //min-height: 20px;
    }
}

.page {
    padding: 0;

    @include mq($from: desktop) {
        padding: 0;
    }

    .page__header.has-microhero {
        padding-top: 0;

        .hee-microhero {
            margin-bottom: nhsuk-spacing(6);
            width: 100%;

            @include mq($from: tablet) {
                margin-bottom: nhsuk-spacing(7);
            }

            @include mq($from: desktop) {
                margin: 0 0 nhsuk-spacing(7) 0;
            }
        }
    }
}

.page__header {
    h1 ~ span {
        margin-top: - nhsuk-spacing(6);
        margin-bottom: nhsuk-spacing(4);
    }
}

.page__feature {
    @include nhsuk-responsive-margin(8, 'top');
}

@import '../templates/fullwidth';
@import '../templates/leftbar';
@import '../templates/rightbar';