// TemplateAreas
.page {}
.page__breadcrumbs,
.page__header,
.page__main,
.page__leftbar,
.page__rightbar,
.page__footer,
.page__feature ,
.page__nav {
    .prototype & {
        //border: 2px dashed #CCC;
        //min-height: 20px;
    }
}

.page {
    &.has-microhero {
        .page__header {
            padding-top: 0;
            .hee-microhero {
                margin-bottom: nhsuk-spacing(7);
            }
        }
    }
}

.page__header {
    h1 ~ span {
        margin-top: - nhsuk-spacing(6);
        margin-bottom: nhsuk-spacing(4);
    }
}

.page__main {
    padding-bottom: nhsuk-spacing(6);
}

@import '../templates/fullwidth';
@import '../templates/leftbar';
@import '../templates/rightbar';