// MAIN+RIGHTBAR
.page--rightbar {
  padding-bottom: nhsuk-spacing(6);
  .page__header {
      padding-top: nhsuk-spacing(6);

      @include mq($from: tablet) {
        padding-top: nhsuk-spacing(7);
      }

      h1, p, span {
        @include mq($from: tablet) {
          max-width: 66.6667%;
        }
      }

      .nhsuk-hero {
        h1, p, span {
          max-width: 100%;
        }
      }
  }
  .page__layout {
      @include hee-flexgrid-row;
      .page__rightbar {
          @include hee-flexgrid-col(3.75,$col-offset:0.4);

          .hee-sidebarlinks,
          .hee-sidebarimage,
          .nhsuk-card,
          .nhsuk-contact__card,
          .hee-card {
            margin-bottom: 24px;
          }
      }
      .page__main {
          @include hee-flexgrid-col(7.85);
      }
  }

  @include mq($until: desktop) {
    .page__header {
        h1, p, span {
            max-width: 100%;
        }
    }
    .page__layout {
      .page__rightbar,
      .page__main {
          @include hee-flexgrid-col(12,$col-offset:0);
      }
    }
  }

  .page__rightbar {
    margin-bottom: 24px;

    .nhsuk-card:last-of-type, .nhsuk-contact:last-of-type {
      margin-bottom: 0;
    }
  }
}
