{% extends "includes/_example-template-fullwidth.html" %}

{% set page_url = '404' %}
{% set page_title = '404 Not Found' %}

{% block pageClass %}page--fullwidth{% endblock %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: basePath + "/",
          text: "Home"
        },
        {
          href: basePath + "/templates",
          text: "Templates"
        },
        {
          href: basePath + "/templates/examples",
          text: "Examples"
        }
      ],
      href: basePath + "/templates/examples/"+page_url,
      text: page_title
    })
  }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    {#{ backLink({
      "href": "#",
      "text": "Go back"
    }) }#}
    <h1>Page not found</h1>
    <p class="nhsuk-lede-text">If you entered a web address, check it’s correct.</p>
    <p class="nhsuk-lede-text">Otherwise, choose from some of our most commonly-used pages below, or return to the Dental Education Hub homepage.</p>
  </div>
{% endblock %}

{% block pageContent %}
  {% set items = [
    {
      title: "Pellentesque habitant sem sit enim purus eu.",
      href: "#",
      summary: "Augue orci, pellentesque felis sed massa consectetur purus. Arcu quam odio enim."
    },
    {
      title: "Sit venenatis purus odio neque in sed.",
      href: "#",
      summary: "Tempor at consectetur ante in sapien cras nibh id."
    },
    {
      title: "Vivamus suspendisse vel posuere aliquet.",
      href: "#",
      summary: "Sit elit lorem tristique faucibus. Phasellus velit malesuada orci viverra urna."
    },
    {
      title: "In pharetra sit nisl, eros, sed. Erat.",
      href: "#",
      summary: "Mollis interdum amet in pellentesque lectus massa, purus vel mollis. A, eu sit pharetra a, ut. Eget arcu."
    },
    {
      title: "Vulputate sed dui lectus vitae interdum accumsan in molestie.",
      href: "#",
      summary: "Sed porttitor molestie egestas velit feugiat pellentesque mattis. Tortor a."
    },
    {
      title: "Duis donec tortor condimentum pretium.",
      href: "#",
      summary: "Leo sagittis sed lorem consequat. Purus quam aliquet at egestas. Neque."
    }
  ]
  %}

  {{ featuredContent({
    items: items
  }) }}

  {#<div class="nhsuk-grid-row">
    <ul class="nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Pellentesque habitant sem sit enim purus eu.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Augue orci, pellentesque felis sed massa consectetur purus. Arcu quam odio enim."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Sit venenatis purus odio neque in sed.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Tempor at consectetur ante in sapien cras nibh id."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Vivamus suspendisse vel posuere aliquet. ",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Sit elit lorem tristique faucibus. Phasellus velit malesuada orci viverra urna."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "In pharetra sit nisl, eros, sed. Erat.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Mollis interdum amet in pellentesque lectus massa, purus vel mollis. A, eu sit pharetra a, ut. Eget arcu."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Vulputate sed dui lectus vitae interdum accumsan in molestie.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Sed porttitor molestie egestas velit feugiat pellentesque mattis. Tortor a."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Duis donec tortor condimentum pretium.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Leo sagittis sed lorem consequat. Purus quam aliquet at egestas. Neque."
        }) }}
      </li>
    </ul>
  </div>#}
{% endblock %}
