{% extends "example-template-rightbar.html" %}

{% set page_url = 'blog-item' %}
{% set page_title = 'Blog Item' %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block pageHeaderClass %}has-microhero{% endblock %}

{% block breadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        },
        {
          href: "/templates",
          text: "Templates"
        },
        {
          href: "/templates/examples",
          text: "Examples"
        }
      ],
      href: "/templates/examples/"+page_url,
      text: page_title
    })
  }}
{% endblock %}

{% block pageHeader %}
  {{ microHero({
    "imgURL": "/images/young-child-using-tablet-device.jpg"
  }) }}
  <div class="nhsuk-width-container">
    <h1>Blog Item</h1>
    <span class="nhsuk-caption-xl">Caption</span>
  </div>
{% endblock %}

{% block pageContent %}
  <p class="nhsuk-body-l">Nulla vitae est vel metus aliquam pharetra vel quis ipsum. Pellentesque sit amet nulla a nibh elementum interdum at vel mi.</p>
  <h3 id="heading1">Donec pulvinar sollicitudin</h3>
  <p>Nulla vitae est vel metus aliquam pharetra vel quis ipsum. Pellentesque sit amet nulla a nibh elementum interdum at vel mi. Sed vestibulum quis mi nec volutpat. Proin tristique eleifend volutpat. Maecenas eu magna a sem aliquam luctus. Donec nec metus condimentum, molestie nulla eu, auctor sem. Cras nec arcu sed lorem eleifend pellentesque nec nec ligula.</p>
  <p>Nulla sodales dictum auctor. Donec pulvinar sollicitudin massa, nec pulvinar turpis dictum maximus. Duis consequat sem pretium purus vehicula ultricies. Maecenas sed turpis sed eros euismod consectetur.</p>

  {{ image({
    src: "https://digital-transformation.hee.nhs.uk/binaries/content/gallery/digital-transformation/blogs/vr-headsets.jpg",
    alt: "Nulla vitae est vel metus aliquam pharetra",
    caption: "Pellentesque sit amet nulla a nibh"
  }) }}

  <h3 id="heading2">Pellentesque sit amet nulla</h3>
  <p>Fusce at neque laoreet mauris consectetur mollis at a nisl. Curabitur sit amet sapien rhoncus, semper ligula quis, eleifend ante. Pellentesque non malesuada tellus. Donec porta faucibus lacus at elementum. Pellentesque tempus magna vulputate felis ultricies porta. Cras condimentum imperdiet lobortis. Suspendisse aliquam nisl ut augue ultrices, sit amet tristique enim placerat. Nunc augue sapien, rhoncus scelerisque urna quis, posuere semper enim.</p>

  {{ authorCard({
    imgURL: "/images/doctor-headshot.png",
    title: "Mr",
    name: "First Last",
    initials: "JB",
    pronouns: "Pronoun",
    jobTitle: "Job title",
    department: "Department",
    organisation: "Organisation",
    email: "jo.bloggs@hee.co.uk",
    website: "http://nhs.uk/",
    twitter: "nhsengland",
    linkedin: "/nhs",
    address: "Health Education England<br>
              3 Piccadilly<br>
              Manchester<br>
              M1 3BN",
    bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
    authorURL: "/author/jo-blogs"
  }) }}

  <div class="hee-card--author__container">
    {{ authorCard({
      imgURL: "/images/doctor-headshot.png",
      title: "Mr",
      name: "First Last",
      initials: "JB",
      pronouns: "Pronoun",
      jobTitle: "Job title",
      department: "Department",
      organisation: "Organisation",
      email: "jo.bloggs@hee.co.uk",
      website: "http://nhs.uk/",
      twitter: "nhsengland",
      linkedin: "/nhs",
      address: "Health Education England<br>
              3 Piccadilly<br>
              Manchester<br>
              M1 3BN",
      bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
      authorURL: "/author/jo-blogs"
    }) }}

    {{ authorCard({
      imgURL: "/images/doctor-headshot.png",
      title: "Mr",
      name: "First Last",
      initials: "JB",
      pronouns: "Pronoun",
      jobTitle: "Job title",
      department: "Department",
      organisation: "Organisation",
      email: "jo.bloggs@hee.co.uk",
      website: "http://nhs.uk/",
      twitter: "nhsengland",
      linkedin: "/nhs",
      address: "Health Education England<br>
              3 Piccadilly<br>
              Manchester<br>
              M1 3BN",
      bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
      authorURL: "/author/jo-blogs"
    }) }}
  </div>

  {{ reviewDate({
    "lastReview": "12 February 2017",
    "nextReview": "1 February 2020"
  }) }}
{% endblock %}

{% block pageRightbar %}
  {{ detailsCard({
    title: "Blog info",
    items: [
      {
        label: "Published:",
        value: "24 June 2022"
      },
      {
        label: "Professions:",
        value: "<a href=\"#\">Profession 1</a>, <a href=\"#\">Profession 2</a>"
      },
      {
        label: "Topics:",
        value: "<a href=\"#\">Topic 1</a>, <a href=\"#\">Topic 2</a>, <a href=\"#\">Topic 3</a>"
      },
      {
        label: "Tags:",
        value: "<a href=\"#\">Tag 1</a>, <a href=\"#\">Tag 2</a>, <a href=\"#\">Tag 3</a>"
      }
    ]
  }) }}

  {{ authorCard({
    imgURL: "/images/doctor-headshot.png",
    title: "Mr",
    name: "First Last",
    initials: "JB",
    pronouns: "Pronoun",
    jobTitle: "Job title",
    department: "Department",
    organisation: "Organisation",
    email: "jo.bloggs@hee.co.uk",
    website: "http://nhs.uk/",
    twitter: "nhsengland",
    linkedin: "/nhs",
    address: "Health Education England<br>
              3 Piccadilly<br>
              Manchester<br>
              M1 3BN",
    bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque ac pellentesque in sapien. Amet in ante libero a lobortis. Blandit sed pulvinar ultrices gravida vulputate at. Ipsum dolor condimentum habitasse aliquam risus risus consectetur.",
    authorURL: "/author/jo-blogs"
  }) }}

  <div class="nhsuk-contact nhsuk-contact__card">
    <div class="nhsuk-contact__content">
      <h3 data-anchorlinksignore="true" class="nhsuk-contact__name" aria-label="Name">HEE Knowledge for Healthcare</h3>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <div class="nhsuk-contact__secondary-info">

        <p aria-label="Email">
          <a href="mailto:kfh.england@knowledgeforhealthcare.nhs.uk" title="Opens email">kfh.england@knowledgeforhealthcare.nhs.uk</a>
        </p>



      </div>
    </div>
  </div>
{% endblock %}

{% block pageFeature %}
  {% set items = [
    {
      title: "Blog/News Title",
      href: "#",
      details: [
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    },
    {
      title: "Blog/News Title",
      href: "#",
      details: [
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    },
    {
      title: "Blog/News Title",
      href: "#",
      details: [
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    }
  ]
  %}

  <div class="nhsuk-width-container">
    {{ featuredContent({
      title: "Related content",
      summary: "Sed gravida laoreet fames eu. Proin id cras eu elementum. Aliquam orci, arcu nulla enim. Adipiscing sit id vestibulum in duis amet sit placerat. Magnis ullamcorper elementum ante elit amet imperdiet. Nunc turpis vel aliquam lacus arcu. Sodales nullam id lectus orci quis sed. dsf",
      items: items
    }) }}
  </div>
{% endblock %}
