{% extends "example-template-leftbar.html" %}

{% import 'includes/_taxonomy-profession.html' as taxonomyProfession %}
{% import 'includes/_taxonomy-topic.html' as taxonomyTopic %}

{% block pageTitle %}Blog Collection - Examples - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
  {{
  breadcrumb({
    items: [
      {
        href: basePath + "/",
        text: "Home"
      }
    ],
    href: basePath + "/templates/examples/news-collection",
    text: "News Collection"
  })
  }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    <h1>Blog Collection</h1>
    <p class="nhsuk-lede-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rutrum sit sed porta viverra. Amet, tincidunt cras augue justo, proin mollis sapien. Sed cursus quam suspendisse.</p>
  </div>
{% endblock %}

{% block pageLeftbar %}
  {{ filter({
    groups: [
      {
        title: "Topic",
        showClearToggle: true,
        items: taxonomyTopic.items
      },
      {
        title: "Profession",
        showClearToggle: true,
        items: taxonomyProfession.items
      }
    ]
  }) }}
{% endblock %}

{% block pageContent %}
  {% set selectAttributes = {
    id: "sort",
    name: "sort",
    label: {
      text: "Sort by"
    },
    items: [
      {
        value: "newest",
        text: "Newest"
      },
      {
        value: "relevance",
        text: "Relevance"
      }
    ]
  } %}

  {% set submitAttributes = {
    text: "Update",
    classes: "hee-listing__filter__submit"
  } %}

  {% set items = [] %}
  {% for i in range(0, 10) -%}
    {% set item = {
      title: "Blog item #" + loop.index,
      href: "#",
      details: [
        {
          label: "Publish date:",
          value: "12 July 2023"
        },
        {
          label: "Reading time:",
          value: "2 mins"
        }
      ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
    } %}
    {% set items = (items.push(item), items) %}
  {% endfor %}

  {{ listingLayout({
    filter: {
      select: selectAttributes,
      submit: submitAttributes
    },
    tags: [
      {
        text: "Cosmetic procedures",
        value: "cosmetic-procedures"
      },
      {
        text: "Medicines optimisation",
        value: "medicines-optimisation"
      },
      {
        text: "Healthcare scientists",
        value: "healthcare-scientists"
      },
      {
        text: "Management professionals",
        value: "management-professionals"
      }
    ],
    results: items,
    emptyMessage: "No results",
    showPagination: true
  }) }}
{% endblock %}
