{% extends "example-template-leftbar.html" %}

{% block pageTitle %}Bulletin Collection - Examples - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
  {{
  breadcrumb({
    items: [
      {
        href: basePath + "/",
        text: "Home"
      }
    ],
    href: basePath + "/templates/examples/bulletin-collection",
    text: "Bulletin Collection"
  })
  }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    <h1>Bulletin Collection</h1>
    <p class="nhsuk-lede-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rutrum sit sed porta viverra. Amet, tincidunt cras augue justo, proin mollis sapien. Sed cursus quam suspendisse.</p>
  </div>
{% endblock %}

{% block pageLeftbar %}
  {{ filter({
    groups: [
      {
        title: "Category",
        showClearToggle: true,
        items: [
          {
            text: "Evidence and resources, Searching",
            value: "evidence_resource_searching",
            checked: true
          },
          {
            text: "Child Health",
            value: "child_health",
            checked: false
          },
          {
            text: "Medical Oncology",
            value: "medical_oncology",
            checked: true
          },
          {
            text: "COVID-19",
            value: "covid",
            checked: true
          }
        ]
      }
    ]
  }) }}
{% endblock %}

{% block pageContent %}
  {% set selectAttributes = {
    id: "sort",
    name: "sort",
    label: {
      text: "Sort by"
    },
    items: [
      {
        value: "oldest",
        text: "Oldest"
      },
      {
        value: "newest",
        text: "Newest"
      },
      {
        value: "a-z",
        text: "A to Z"
      }
    ]
  } %}

  {% set submitAttributes = {
    text: "Update",
    classes: "hee-listing__filter__submit"
  } %}

  {% set items = [] %}
  {% for i in range(0, 10) -%}
    {% set item = {
      title: "Bulletin item #" + loop.index,
      href: "#",
      details: [
        {
          label: "Category:",
          value: "Child Health"
        },
        {
          label: "Overview:",
          value: "This alert details latest guidelines published by organisations such as NICE and WHO"
        },
        {
          label: "Website:",
          value: "<a href=\"#\">Bulletin item #" + loop.index + "</a>"
        }
      ]
    } %}
    {% set items = (items.push(item), items) %}
  {% endfor %}

  {{ listingLayout({
    filter: {
      select: selectAttributes,
      submit: submitAttributes
    },
    tags: [
      {
        text: "Evidence and resources, Searching",
        value: "evidence-resources-searching"
      },
      {
        text: "Medical Oncology",
        value: "medical-oncology"
      },
      {
        text: "COVID-19",
        value: "covid"
      }
    ],
    results: items,
    emptyMessage: "No results",
    showPagination: true
  }) }}
{% endblock %}
