{% extends "example-template-fullwidth.html" %}

{% set page_url = 'landing-page' %}
{% set page_title = 'Landing Page' %}

{% block pageClass %}page--fullwidth{% endblock %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        },
        {
          href: "/templates",
          text: "Templates"
        },
        {
          href: "/templates/examples",
          text: "Examples"
        }
      ],
      href: "/templates/examples/"+page_url,
      text: page_title
    })
  }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    {#{ backLink({
      "href": "#",
      "text": "Go back"
    }) }#}
    <h1>Example - LandingHub Template</h1>
    <span class="nhsuk-caption-xl">Caption</span>
    <p class="nhsuk-lede-text">Amet, gravida tortor elementum lectus pharetra non lectus fermentum nunc. Venenatis tellus lorem eget dictum penatibus turpis curabitur. Eget nisl, turpis mollis bibendum.</p>
    <p>Proin tristique purus ornare sed est dictum montes.</p>
  </div>
{% endblock %}

{% block pageContent %}
  <div class="nhsuk-grid-row">
    {{ media({
      title: "Pellentesque sit amet nulla",
      description: "Fusce at neque laoreet mauris consectetur mollis at a nisl. Curabitur sit amet sapien rhoncus.",
      type: "youtube",
      transcript: ["Donec pulvinar sollicitudin massa, nec pulvinar turpis dictum maximus."],
      mediaId: "C0DPdy98e4c",
      lastReview: "09/05/2022",
      reviewDue: "09/05/2023"
    }) }}

    {{ media({
      "type": "anchor",
      "src": "https://anchor.fm/health-education-england/embed/episodes/Robyn-Scargill---Trainee-nursing-associate-eqe7mk/a-a4l5nun",
      "title": "Anchor.fm Example",
      "lastReview": "01/01/2021",
      "reviewDue": "01/01/2022"
    }) }}

    {{ media({
      title: "Pellentesque sit amet nulla",
      description: "Fusce at neque laoreet mauris consectetur mollis at a nisl. Curabitur sit amet sapien rhoncus.",
      type: "vimeo",
      transcript: ["Donec pulvinar sollicitudin massa, nec pulvinar turpis dictum maximus."],
      mediaId: "226053498",
      lastReview: "09/05/2022",
      reviewDue: "09/05/2023"
    }) }}

    <ul class="nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Pellentesque habitant sem sit enim purus eu.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Augue orci, pellentesque felis sed massa consectetur purus. Arcu quam odio enim."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Sit venenatis purus odio neque in sed.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Tempor at consectetur ante in sapien cras nibh id."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Vivamus suspendisse vel posuere aliquet. ",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Sit elit lorem tristique faucibus. Phasellus velit malesuada orci viverra urna."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "In pharetra sit nisl, eros, sed. Erat.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Mollis interdum amet in pellentesque lectus massa, purus vel mollis. A, eu sit pharetra a, ut. Eget arcu."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Vulputate sed dui lectus vitae interdum accumsan in molestie.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Sed porttitor molestie egestas velit feugiat pellentesque mattis. Tortor a."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Duis donec tortor condimentum pretium.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Leo sagittis sed lorem consequat. Purus quam aliquet at egestas. Neque."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          href: "#",
          clickable: "true",
          heading: "Tellus ultricies feugiat volutpat leo quam.",
          headingLevel: "3",
          headingClasses: "nhsuk-heading-m",
          description: "Scelerisque velit, ante proin sagittis at ipsum viverra arcu. "
        }) }}
      </li>
    </ul>
  </div>

  <h2>Navigation cards component</h2>
  <div class="nhsuk-grid-row">
    <ul class="nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          "imgURL": "https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg",
          "href": "#",
          "clickable": "true",
          "heading": "Facilisi lorem tristique.",
          "headingClasses": "nhsuk-heading-m",
          "description": "Risus vel, ut in in eu. Tincidunt purus adipiscing."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          "imgURL": "https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg",
          "href": "#",
          "clickable": "true",
          "heading": "Ornare ac tincidunt.",
          "headingClasses": "nhsuk-heading-m",
          "description": "Nibh venenatis pretium semper facilisis ante consequat bibendum magna. "
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          "imgURL": "https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg",
          "href": "#",
          "clickable": "true",
          "heading": "Tristique phasellus.",
          "headingClasses": "nhsuk-heading-m",
          "description": "Imperdiet a id vestibulum bibendum. Facilisis amet."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          "imgURL": "https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg",
          "href": "#",
          "clickable": "true",
          "heading": "Cursus dolor, faucibus nam orci. Nunc lacus orci nibh risus sed.",
          "headingClasses": "nhsuk-heading-m",
          "description": "Libero dignissim pharetra pharetra enim, vitae amet, aliquam. Nunc tincidunt."
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        {{ card({
          "imgURL": "https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg",
          "href": "#",
          "clickable": "true",
          "heading": "Faucibus nunc donec.",
          "headingClasses": "nhsuk-heading-m",
          "description": "Est sollicitudin tempus dui sagittis enim luctus viverra. Pellentesque tempus blandit."
        }) }}
      </li>
    </ul>
  </div>
{% endblock %}
