{% extends "example-template-rightbar.html" %}

{% set page_url = 'blog-item' %}
{% set page_title = 'Mini hub -- Backstop' %}

{% block pageHeaderClass %}has-microhero{% endblock %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
  {{ phaseBanner({
    tag: "Beta",
    description: '<p>This is a new website&nbsp;– your&nbsp;<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=K5Gn_5ewMUGcD9DoB1Wyq62_imvDlFpPhawBoObID1NUQTNENlpXMlNZVjJBS0JCUVVLUlQxSkJVUyQlQCN0PWcu">feedback</a>&nbsp;will help us to improve it.</p>
                  <p>Donec <strong>sollicitudin</strong> molestie malesuada. <em>Praesent</em> sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>'
  }) }}

  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/templates",
    text: "Visual regression"
  }) }}
{% endblock %}

{% block headerStart %}
  {{ banner({
    customClass: "hee-banner--announcement",
    HTML: "<h2>H2 - This is an Announcement. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</h2>
             <h3>H3 - This is the alert text and&nbsp;<a href=\"https://www.hee.nhs.uk/\">this is the link</a></h3>
             <p>Body&nbsp;- This is banner body copy&nbsp;<a href=\"/site/knowledge-staff\">this is the link</a></p>
            "
  }) }}
{% endblock %}

{% block banners %}
  {{ banner({
    customClass: "hee-banner--mourning",
    HTML: "<h2>H2 - This is a Mourning. Nulla quis lorem ut libero malesuada feugiat.</h2>
             <h3>H3 - This is the alert text and&nbsp;<a href=\"http://www.hee.nhs.uk/\">this is the link</a></h3>
             <p>Body&nbsp;- This is banner body copy&nbsp;<a href=\"https://www.hee.nhs.uk/\">this is the link</a></p>
            "
  }) }}

  {{ banner({
    HTML: "<h2>H2 - This is an Alert. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</h2>
             <h3>H3 - This is the alert text and&nbsp;<a href=\"https://www.hee.nhs.uk/\">this is the link</a></h3>
             <p>Body&nbsp;- This is banner body copy&nbsp;<a href=\"https://www.hee.nhs.uk/\">this is the link</a></p>
            "
  }) }}
{% endblock %}

{% block pageHeader %}
  {{ microHero({
    "imgURL": "/images/young-child-using-tablet-device.jpg"
  }) }}

  <div class="nhsuk-width-container">
    <h1>[VR] [SCP] [Mini-hub] First page</h1>

    <span class="nhsuk-caption-xl">[VR] Mini-hub page</span>
  </div>
{% endblock %}

{% block pageContent %}
  <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
    <h2>Contents</h2>
    <ol class="nhsuk-contents-list__list">
      <li class="nhsuk-contents-list__item" aria-current="page">
        <span class="nhsuk-contents-list__current">[VR] [SCP] [Mini-hub] First page</span>
      </li>
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="vr-mini-hub-page/vr-scp-minin-hub-last-page">[VR] [SCP] [Mini-hub] Last page</a>
      </li>
    </ol>
  </nav>
  <p class="nhsuk-lede-text">Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>

  <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <p>Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus.</p>            <section class="nhsuk-page-content__section-one">
  <div class="nhsuk-media">
    <h2>Test Vimeo</h2>
    <iframe src="https://player.vimeo.com/video/458515271?h=58fe614121" width="640" height="298" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
    <div class="nhsuk-media__info">
      <div class="nhsuk-media__transcript">
        <a href="javascript:void(0);">
          <span class="nhsuk-media__show-text">Show video transcript</span>
          <span class="nhsuk-media__hide-text">Hide video transcript</span>
        </a>
        <div class="nhsuk-media__transcript-text">
          <p>Fusce interdum adipiscing erat eget amet morbi morbi fusce sollicitudin condimentum sem nisi quisque ut hendrerit ut urna ipsum tempus quis molestie ipsum hendrerit elementum.</p>

          <p>Sem congue nec nulla sit consectetur sollicitudin sit elementum bibendum id mi molestie molestie portaest nulla tempus tincidunt facilisis leo aliquam urna eget elit eget.</p>

          <p>Tincidunt lorem maecenas tempus euismod arcu euismod gravida felis leo tincidunt cursus maecenas nisi portaest molestie quisque vel id congue nulla sed massa phasellus hendrerit.</p>

          <p>Nunc ex pellentesque orci nisl tortor vel quam sed et vivamus lorem tincidunt ipsum cursus condimentum gravida ex rutrum eu eget leo proin portaest enim.</p>

          <p>Eget molestie euismod commodo urna erat proin facilisis enim varius maecenas enim portaest a tincidunt arcu maecenas bibendum gravida dolor amet accumsan eu orci vivamus.</p>

          <p>Eros commodo suspendisse quam tempus eros suspendisse ipsum lacus tincidunt nunc adipiscing id et ut tristique id scelerisque mi lacus dolor lacus eu accumsan amet.</p>                                </div>
      </div>



      <div class="nhsuk-media__reviews">
        <p class="nhsuk-body-s">
          Media next review due: 8 October 2021
        </p>
      </div>
    </div>
  </div>
</section>
  <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>You can <a href="/site/copyright">report</a> any suspected side effect to the&nbsp;<a href="https://yellowcard.mhra.gov.uk/">UK safety scheme</a></p>    </div>
  <div class="nhsuk-care-card nhsuk-care-card--non-urgent">
    <div class="nhsuk-care-card__heading-container">
      <h3 class="nhsuk-care-card__heading" data-anchorlinksignore="true">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Non-urgent advice:</span>
                    Statement Card Title 2
                </span>
      </h3>
      <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
    </div>
    <div class="nhsuk-care-card__content">
      <p>Statement Card Title 2</p>            </div>
  </div>

  <div class="nhsuk-tabs">
    <h2 class="nhsuk-tabs__title">Tabs Example</h2>

    <div class="nhsuk-tabs__desktop">
      <div class="nhsuk-tabs__list" role="tablist" aria-label="Tabs Example" data-module="nhsuk-tabs">
        <button class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected" role="tab" aria-selected="true" aria-controls="td144a319a-panel-0" id="td144a319a-tab-0" tabindex="0">
          Tab Title One
        </button>
        <button class="nhsuk-tabs__list-item" role="tab" aria-selected="false" aria-controls="td144a319a-panel-1" id="td144a319a-tab-1" tabindex="0">
          Tab Title Two
        </button>
        <button class="nhsuk-tabs__list-item" role="tab" aria-selected="false" aria-controls="td144a319a-panel-2" id="td144a319a-tab-2" tabindex="0">
          Tab Title Three
        </button>
      </div>
      <div class="nhsuk-tabs__panel" id="td144a319a-panel-0" role="tabpanel" tabindex="0" aria-labelledby="td144a319a-tab-0">
        <p>Consectetur elementum amet tristique massa proin erat hendrerit eros phasellus a diam mi sit phasellus amet tortor purus leo sed amet tincidunt pellentesque quisque nisi.</p>

        <p>Ex portaest lacus vel dolor sit molestie scelerisque maecenas a quam leo nulla ac massa eros interdum nec rutrum leo orci sollicitudin diam placerat quam.</p>                        </div>
      <div class="nhsuk-tabs__panel" id="td144a319a-panel-1" role="tabpanel" tabindex="0" aria-labelledby="td144a319a-tab-1" hidden="">
        <p>Id lacus elit interdum elit maecenas quisque quisque arcu massa varius accumsan scelerisque et leo quis morbi adipiscing fusce nulla elementum placerat commodo facilisis lacus.</p>

        <p>Urna euismod commodo proin nec lacus quam facilisis felis phasellus orci ac a sem nunc condimentum rutrum sem id quam sed lorem suspendisse varius maecenas.</p>                        </div>
      <div class="nhsuk-tabs__panel" id="td144a319a-panel-2" role="tabpanel" tabindex="0" aria-labelledby="td144a319a-tab-2" hidden="">
        <p>Felis suspendisse ex enim rutrum ex sit morbi elementum rutrum scelerisque suspendisse quisque leo amet nunc sem commodo amet a accumsan morbi tortor sem urna.</p>

        <p>Maecenas eros leo leo lorem pellentesque rutrum varius suspendisse eget euismod eget vivamus massa cursus a enim tempus elit lacus tincidunt nec tempus portaest nec.</p>                        </div>
    </div>

    <div class="nhsuk-tabs__mobile">
      <div class="nhsuk-tabs__list" role="tablist" aria-label="Tabs Example" data-module="nhsuk-tabs">
        <button class="nhsuk-tabs__list-item" role="tab" aria-selected="true" aria-controls="tm144a319a-panel-0" id="tm144a319a-tab-0" tabindex="0">
          Tab Title One
        </button>
        <div class="nhsuk-tabs__panel" id="tm144a319a-panel-0" role="tabpanel" tabindex="0" aria-labelledby="tm144a319a-tab-0" hidden="">
          <p>Consectetur elementum amet tristique massa proin erat hendrerit eros phasellus a diam mi sit phasellus amet tortor purus leo sed amet tincidunt pellentesque quisque nisi.</p>

          <p>Ex portaest lacus vel dolor sit molestie scelerisque maecenas a quam leo nulla ac massa eros interdum nec rutrum leo orci sollicitudin diam placerat quam.</p>                            </div>
        <button class="nhsuk-tabs__list-item" role="tab" aria-selected="false" aria-controls="tm144a319a-panel-1" id="tm144a319a-tab-1" tabindex="0">
          Tab Title Two
        </button>
        <div class="nhsuk-tabs__panel" id="tm144a319a-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tm144a319a-tab-1" hidden="">
          <p>Id lacus elit interdum elit maecenas quisque quisque arcu massa varius accumsan scelerisque et leo quis morbi adipiscing fusce nulla elementum placerat commodo facilisis lacus.</p>

          <p>Urna euismod commodo proin nec lacus quam facilisis felis phasellus orci ac a sem nunc condimentum rutrum sem id quam sed lorem suspendisse varius maecenas.</p>                            </div>
        <button class="nhsuk-tabs__list-item" role="tab" aria-selected="false" aria-controls="tm144a319a-panel-2" id="tm144a319a-tab-2" tabindex="0">
          Tab Title Three
        </button>
        <div class="nhsuk-tabs__panel" id="tm144a319a-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tm144a319a-tab-2" hidden="">
          <p>Felis suspendisse ex enim rutrum ex sit morbi elementum rutrum scelerisque suspendisse quisque leo amet nunc sem commodo amet a accumsan morbi tortor sem urna.</p>

          <p>Maecenas eros leo leo lorem pellentesque rutrum varius suspendisse eget euismod eget vivamus massa cursus a enim tempus elit lacus tincidunt nec tempus portaest nec.</p>                            </div>
      </div>
    </div>

  </div>

  <nav class="nhsuk-pagination nhsuk-u-margin-top-0" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list">

      <li class="nhsuk-pagination-item--next">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="vr-mini-hub-page/vr-scp-minin-hub-last-page">
          <span class="nhsuk-pagination__title">Next</span>
          <span class="nhsuk-u-visually-hidden">:</span>
          <span class="nhsuk-pagination__page">[VR] [SCP] [Mini-hub] Last page</span>
          <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block pageRightbar %}
  <div class="nhsuk-card nhsuk-card--clickable">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        Apply for DC3T
      </h3>
      <p class="nhsuk-card__description"></p>
      <a class="nhsuk-button" href="https://www.oriel.nhs.uk/Web/" draggable="false">
        Apply in Oriel
      </a>
    </div>
  </div>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">[Internal] resources</h3>

      <ul class="nhsuk-related-links-card__list">
        <li>
          <a class="nhsuk-related-links-card__link" href="/site/knowledge-staff">
            Home
          </a>
        </li>
        <li>
          <a class="nhsuk-related-links-card__link" href="/site/copyright">
            Copyright
          </a>
        </li>
        <li>
          <a class="nhsuk-related-links-card__link" href="/site/expert-searching">
            Expert search
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block pageFeature %}
<section class="page__feature">
  <div class="nhsuk-width-container">
    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">
        Page last reviewed: 6 February 2023
        <br>
        Next review due: 28 February 2023
      </p>
    </div>

    <div class="nhsuk-u-reading-width">
      <h2>Related content</h2>
    </div>
    <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
      <br>
      <br>Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
    <ul class="nhsuk-grid-row nhsuk-card-group">

      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/">                                        OpenAthens
              </a>
            </h3>
            <p class="nhsuk-card__description">Duis aute irure dolor in reprehenderit in voluptate.</p>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/">                                        Open access and repositories
              </a>
            </h3>
            <p class="nhsuk-card__description">Duis aute irure dolor in reprehenderit in voluptate.</p>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <img class="nhsuk-card__img" src="/images/placeholders/broadband-modem-in-a-modern-home.jpg" alt="">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/">                                        Resource Discovery Groups
              </a>
            </h3>
            <p class="nhsuk-card__description">Duis aute irure dolor in reprehenderit in voluptate.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
{% endblock %}

{% block footer %}
  <footer>
    <div class="nhsuk-footer has-edit-button">
      <div class="nhsuk-width-container">
        <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/site/">Blog</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/site/">About us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/site/">Contact us</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link"
               href="/site/cookies">Cookies</a>
          </li>
        </ul>
        <p class="nhsuk-footer__copyright">© Crown copyright</p></div>
    </div>
  </footer>
{% endblock %}
