{% extends "example-template-rightbar.html" %}

{% block pageTitle %}POC - Table Fixes - Examples - NWP Prototype Kit{% endblock %}

{% block pageHeaderClass %}has-microhero{% endblock %}

{% block breadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: basePath + "/",
            text: "Home"
        }
    ],
        href: basePath + "/templates/examples/standard-content",
        text: "Standard Content"
    }) 
}}
{% endblock %}

{% block pageHeader %}
  {{ microHero({
    "imgURL": basePath + "/images/young-child-using-tablet-device.jpg"
  }) }}
  <div class="nhsuk-width-container">
    <h1>POC table fixes</h1>
    <span class="nhsuk-caption-xl">Caption</span>
    <p class="nhsuk-lede-text"></p>
  </div>
{% endblock %}

{% block pageContent %}
  <h2>Scrollable tables</h2>
  <ul>
    <li>Not really viable for longer tables (no contextual headings)</li>
    <li>Accessibility issues for keyboard users</li>
  </ul>

  <div class="hee-table-scroll" tabindex="0" role="group">
    <table>
      <thead>
      <tr>
        <th scope="col">
          <p>Specialty and level</p>
        </th>
        <th scope="col">UK</th>
        <th scope="col">EU</th>
        <th scope="col">Rest of the World</th>
        <th scope="col">Non medical</th>
        <th scope="col">Rest of the World</th>
        <th scope="col">Non medical</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <p>Acute Care Common Stem (ACCS) Anaesthetics/Core&nbsp;Anaesthetics CT1</p>
        </td>
        <td>1172</td>
        <td>23</td>
        <td>17</td>
        <td>N/A</td>
        <td>17</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>ACCS Emergency Medicine ST1/CT1</td>
        <td>592</td>
        <td>21</td>
        <td>61</td>
        <td>N/A</td>
        <td>61</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>ACCS Internal Medicine/Internal Medicine Training CT1</td>
        <td>1659</td>
        <td>123</td>
        <td>546</td>
        <td>N/A</td>
        <td>546</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Allergy ST3</td>
        <td>5</td>
        <td>&lt;5</td>
        <td>6</td>
        <td>N/A</td>
        <td>6</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Anaesthetics ST3</td>
        <td>1035</td>
        <td>25</td>
        <td>131</td>
        <td>N/A</td>
        <td>131</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Audiovestibular Medicine ST3</td>
        <td>&lt;5</td>
        <td>0</td>
        <td>6</td>
        <td>N/A</td>
        <td>6</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Cardiology ST3</td>
        <td>86</td>
        <td>10</td>
        <td>114</td>
        <td>N/A</td>
        <td>114</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Cardiothoracic Surgery ST1</td>
        <td>9</td>
        <td>0</td>
        <td>0</td>
        <td>N/A</td>
        <td>0</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Cardiothoracic Surgery ST3</td>
        <td>&lt;5</td>
        <td>0</td>
        <td>&lt;5</td>
        <td>N/A</td>
        <td>&lt;5</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Chemical Pathology ST3</td>
        <td>5</td>
        <td>0</td>
        <td>13</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Clinical Genetics ST3</td>
        <td>21</td>
        <td>&lt;5</td>
        <td>&lt;5</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Clinical Neurophysiology ST3</td>
        <td>&lt;5</td>
        <td>&lt;5</td>
        <td>8</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Clinical Oncology ST3</td>
        <td>97</td>
        <td>&lt;5</td>
        <td>55</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Clinical Radiology ST1</td>
        <td>419</td>
        <td>29</td>
        <td>111</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Combined Infection Training ST3</td>
        <td>75</td>
        <td>&lt;5</td>
        <td>21</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Community Sexual and&nbsp;Reproductive Health ST1</td>
        <td>13</td>
        <td>0</td>
        <td>0</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Core Psychiatry&nbsp;CT1</td>
        <td>583</td>
        <td>54</td>
        <td>575</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Core Surgical Training CT1</td>
        <td>607</td>
        <td>40</td>
        <td>47</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Dermatology ST3</td>
        <td>100</td>
        <td>11</td>
        <td>20</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Diagnostic Neuropathology ST3</td>
        <td>&lt;5</td>
        <td>0</td>
        <td>&lt;5</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Emergency Medicine ST3</td>
        <td>10</td>
        <td>&lt;5</td>
        <td>100</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Emergency Medicine ST4</td>
        <td>64</td>
        <td>&lt;5</td>
        <td>15</td>
        <td>N/A</td>
        <td>15</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Gastroenterology ST3</td>
        <td>22</td>
        <td>&lt;5</td>
        <td>51</td>
        <td>N/A</td>
        <td>13</td>
        <td>N/A</td>
      </tr>
      </tbody>
    </table>
  </div>

  <h2>Multi-column table layout</h2>

  <h3>Original</h3>
  <ul>
    <li>Does not collapse correctly on smaller mobile viewports</li>
  </ul>

  <table role="table" class="nhsuk-table nhsuk-hee-table nhsuk-table-responsive has-caption">
    <caption class="nhsuk-table__caption">Online interview overview</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th scope="col" role="columnheader">Area</th>
      <th scope="col" role="columnheader">Raw marks by panel member</th>
      <th scope="col" role="columnheader">Total marks</th>
      <th scope="col" role="columnheader">Percentage of final score %</th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Area</span>
        Clinical prioritisation
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Raw marks by panel member</span>
        20
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Total marks</span>
        40
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Percentage of final score %</span>
        26.64
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Area</span>
        Structured interview
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Raw marks by panel member</span>
        20
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Total marks</span>
        40
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Percentage of final score %</span>
        26.64
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Area</span>
        Global performance score
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Raw marks by panel member</span>
        10
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Total marks</span>
        20
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Percentage of final score %</span>
        13.32
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Area</span>
        Total
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Raw marks by panel member</span>
        50
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Total marks</span>
        100
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Percentage of final score %</span>
        66.66
      </td>
    </tr>
    </tbody>
  </table>

  <h3>Amended styling (forces mobile view on desktop)</h3>
  <ul>
    <li>Collapsed by default on all viewports (mobile -> desktop)</li>
    <li>Requires new wrapper: <strong><code>nhsuk-table__cell__container</code></strong> around cell data</li>
  </ul>

  <table role="table" class="nhsuk-table nhsuk-hee-table nhsuk-table-responsive nhsuk-hee-table--multicols has-caption">
    <caption class="nhsuk-table__caption">Online interview overview</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th scope="col" role="columnheader">Area</th>
      <th scope="col" role="columnheader">Raw marks by panel member</th>
      <th scope="col" role="columnheader">Total marks</th>
      <th scope="col" role="columnheader">Percentage of final score %</th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Area</span>
        <div class="nhsuk-table__cell__container">Clinical prioritisation</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Raw marks by panel member</span>
        <div class="nhsuk-table__cell__container">20</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Total marks</span>
        <div class="nhsuk-table__cell__container">40</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Percentage of final score %</span>
        <div class="nhsuk-table__cell__container">26.64</div>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Area</span>
        <div class="nhsuk-table__cell__container">
          <p>Score: 5</p>
          <p>By December 2022, I have completed a quality improvement project (QIP) or complete audit cycle (for example,&nbsp;first audit/project, action plan and re-audit/assessment to quantify impact of intervention) which has resulted in national change</p>
        </div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Raw marks by panel member</span>
        <div class="nhsuk-table__cell__container">20</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Total marks</span>
        <div class="nhsuk-table__cell__container">40</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Percentage of final score %</span>
        <div class="nhsuk-table__cell__container">26.64</div>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Area</span>
        <div class="nhsuk-table__cell__container">Global performance score</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Raw marks by panel member</span>
        <div class="nhsuk-table__cell__container">10</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Total marks</span>
        <div class="nhsuk-table__cell__container">20</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Percentage of final score %</span>
        <div class="nhsuk-table__cell__container">13.32</div>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Area</span>
        <div class="nhsuk-table__cell__container">Total</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Raw marks by panel member</span>
        <div class="nhsuk-table__cell__container">50</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Total marks</span>
        <div class="nhsuk-table__cell__container">100</div>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Percentage of final score %</span>
        <div class="nhsuk-table__cell__container">66.66</div>
      </td>
    </tr>
    </tbody>
  </table>
{% endblock %}

{% block pageRightbar %}

  {{ downloadsCard({
    title: "Alternative versions",
    items: [
      {
        title: "Short title",
        text: "Short title",
        url: "#",
        docSize: "836KB",
        docType: "PDF",
        tagColor: "pdf"
      },
      {
        title: "Second Publication Title",
        text: "Second Publication Title",
        url: "#",
        docSize: "1.4MB",
        docType: "ODF",
        tagColor: "odf"
      },
      {
        title: "Third Publication Title",
        text: "Third Publication Title",
        url: "#",
        docSize: "2.89MB",
        docType: "XLS",
        tagColor: "xls"
      }
    ]
  }) }}

  {{ relatedLinks({
      heading: "Related Posts",
      items: [
        {
          "url"  : "#",
          "label" : "Expert searching"
        },
        {
          "url"  : "#",
          "label" : "Search training as a longer title"
        },
        {
          "url" : "#",
          "label" : "Search bank"
        },
        {
          "url" : "#",
          "label" : "Costing"
        },
        {
          "url"  : "#",
          "label" : "Search training"
        }
      ]
    })
  }}
{% endblock %}

{% block pageFeature %}
  {% set items = [
    {
      title: "Content Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    },
    {
      title: "Content Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    },
    {
      title: "Content Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    }
  ]
  %}

  <div class="nhsuk-width-container">
    {{ featuredContent({
      title: "Related content",
      summary: "Sed gravida laoreet fames eu. Proin id cras eu elementum. Aliquam orci, arcu nulla enim. Adipiscing sit id vestibulum in duis amet sit placerat. Magnis ullamcorper elementum ante elit amet imperdiet. Nunc turpis vel aliquam lacus arcu. Sodales nullam id lectus orci quis sed. dsf",
      items: items
    }) }}
  </div>
{% endblock %}
