{% extends "example-template-rightbar.html" %}

{% set page_url = 'poc-nhse' %}
{% set page_title = 'POC - NHSE Visual Identity' %}

{% block pageClass %}page--rightbar page--specialty-homepage{% endblock %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block pageHeaderClass %}has-nhsukhero{% endblock %}

{% block breadcrumbs %}
  {{
  breadcrumb({
    items: [
      {
        href: basePath + "/",
        text: "Home"
      },
      {
        href: basePath + "/templates",
        text: "Templates"
      }
    ],
    href: basePath + "/templates/examples/"+page_url,
    text: page_title
  })
  }}
{% endblock %}

{% block banners %}
  {{ phaseBanner({
    tag: "Alpha",
    description: 'This is a new service – your <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=K5Gn_5ewMUGcD9DoB1Wyq62_imvDlFpPhawBoObID1NUQTNENlpXMlNZVjJBS0JCUVVLUlQxSkJVUyQlQCN0PWcu" target="_blank" title="Opens in New Window">feedback</a> will help us to improve it.'
  }) }}

  {{ banner({
    customClass: "hee-banner--mourning",
    HTML: "<h2>H2 - Her Majesty Queen Elizabeth II</h2>
             <h3>H3 - 21 April 1926 to 8 September 2022</h3>
             <p><a href=\"#\">We join with the people across HEE and the NHS in mourning the death of Queen Elizabeth II</a></p>
            "
  })}}

  {{ banner({
    HTML: "<h2>H2 - This is an alert</h2>
             <h3>H3 - This is the alert text and <a href=\"#\">this is the link</a></h3>
             <p><strong>Body</strong> - This is banner body copy <a href=\"#\">this is the link</a></p>
            "
  })}}
{% endblock %}

{% block headerStart %}
  {{ banner({
    customClass: "hee-banner--announcement",
    HTML: "<h2>H2 - This is an alert</h2>
             <h3>H3 - This is the alert text and <a href=\"#\">this is the link</a></h3>
             <p><strong>Body</strong> - This is banner body copy <a href=\"#\">this is the link</a></p>
            "
  })}}
{% endblock %}

{% block pageHeader %}
  {{ nhseHero({
    title: "Really long page title goes here",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus in habitant.",
    image: basePath + "/images/dentist-surgery.jpeg"
  }) }}
{% endblock %}

{% block pageContent %}
  <p class="nhsuk-body-l">Lorem ipsum dolor sit amet consectetur. A eu vitae commodo laoreet nulla vitae bibendum. Ipsum neque mauris porta sit dis cras elementum nibh.</p>

  {{ warningCallout({
    heading: "Important",
    HTML: "<p>Maecenas eu magna a sem aliquam luctus. Donec nec metus condimentum, molestie nulla eu, auctor sem.</p>"
  }) }}

  <h2 class="toc_h2">Overview</h2>
  <p>Working with The Royal College of Surgeons, Health Education England provides world-class education, assessment and development to 30,000 surgeons.</p>
  <p>As your career progresses from medical school student through to surgeon, you will go through a number of stages that all have a level of competitive entry.</p>

  {{ card({
    type: "non-urgent",
    heading: "Speak to a GP if:",
    HTML: "
            <ul>
              <li>You're not sure it's chickenpox</li>
              <li>The skin around the blisters is red, hot or painful (signs of infection)</li>
              <li>Your child is <a href=\"https://www.nhs.uk/conditions/dehydration\">dehydrated</a></li>
              <li>You're concerned about your child or they get worse</li>
            </ul>
            <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
          "
  }) }}

  <h2 class="toc_h2">Pathways</h2>
  <p>The training pathway is the most direct route through surgical training. Following each training stage, particularly in the early years, you will need to be selected into the next stage.</p>

  {{ image({
    src: "https://commercial.newcastle-hospitals.nhs.uk/wp-content/uploads/fly-images/1657/Press-A-scientist-at-the-innovation-lab-inputs-micro-organisms-into-a-device-for-artificial-intelligence-software-to-identify-1200x620-c.png",
    alt: "Nulla vitae est vel metus aliquam pharetra",
    caption: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nec tellus auctor viverra egestas leo. Morbi eu elit diam fusce."
  }) }}

  <h3 class="toc_h3">Run-through and uncoupled</h3>
  <p>Sollicitudin eu at arcu aliquam, non dui aliquet. Massa urna ultrices ullamcorper imperdiet velit ut a. Integer scelerisque nulla rhoncus nunc et. Et quis dui aliquam sapien nulla lobortis dictumst sapien, dolor. Est lectus volutpat lacus lorem. Semper duis dictumst ipsum diam. Sapien, leo amet erat arcu blandit. Varius viverra sit luctus viverra. Bibendum sed at penatibus odio erat</p>

  {{ media({
    title: "Pellentesque sit amet nulla",
    description: "Fusce at neque laoreet mauris consectetur mollis at a nisl. Curabitur sit amet sapien rhoncus. Pellentesque sit amet nulla. Donec nec metus condimentum, molestie nulla eu.",
    type: "youtube",
    transcript: ["Donec pulvinar sollicitudin massa, nec pulvinar turpis dictum maximus."],
    mediaId: "C0DPdy98e4c",
    lastReview: "9 May 2022"
  }) }}

  {{ media({
    title: "Pellentesque sit amet nulla",
    description: "Fusce at neque laoreet mauris consectetur mollis at a nisl. Curabitur sit amet sapien rhoncus.",
    type: "vimeo",
    transcript: ["Donec pulvinar sollicitudin massa, nec pulvinar turpis dictum maximus."],
    mediaId: "226053498",
    lastReview: "9 May 2022",
    reviewDue: "9 June 2023",
    theme: "theme-light-grey"
  }) }}

  <h3 class="toc_h3">Run-through posts (ST1-ST7)</h3>
  <p>For some specialties training is through a run-through programme. You only have to apply once, at the beginning of the programme, and are recruited for the full duration of the specialty training.</p>

  <h3 class="toc_h3">Uncoupled posts (CT1, CT2, ST3-ST7)</h3>
  <p>For some specialties training is ran as an uncoupled programme, meaning once you have completed your core training (CT1, CT2) you will be required to re-apply for ST3 onwards.</p>

  {{ quote({
    text: "Pellentesque id posuere sapien vestibulum, quam pellentesque at libero. Aliquam at id fames hendrerit in vulputate orci aliquet augue. Massa penatibus sociis et nisl. Enim aliquam mauris suscipit turpis non hendrerit felis.",
    source: "Joe Soap",
    theme: "quote-green bg-blue overlay-grey"
  }) }}

  {{ quote({
    text: "Pellentesque id posuere sapien vestibulum, quam pellentesque at libero. Aliquam at id fames hendrerit in vulputate orci aliquet augue. Massa penatibus sociis et nisl. Enim aliquam mauris suscipit turpis non hendrerit felis.",
    source: "Joe Soap",
    theme: "quote-grey bg-grey overlay-blue"
  }) }}

  <h2 class="toc_h2">Training routes</h2>
  <h3>Core specialty Training (CT1, CT2 (CT3))</h3>
  <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
  {{ actionLink({
    text: "Core surgery",
    href: "#"
  }) }}

  {{ googleMap({
    embedCode: '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38876.46420375777!2d-1.945322588878691!3d52.48313681174725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bdaa5d4e3383%3A0xc9d525245d0b1f47!2sHealth%20Education%20England!5e0!3m2!1sen!2suk!4v1669730967510!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>',
    title: "Location",
    caption: "HEE Yorkshire and the Humber, Dental Street, Yorkshire, YA1 1AA."
  }) }}

  {{ googleMap({
    embedCode: '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38876.46420375777!2d-1.945322588878691!3d52.48313681174725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bdaa5d4e3383%3A0xc9d525245d0b1f47!2sHealth%20Education%20England!5e0!3m2!1sen!2suk!4v1669730967510!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>',
    title: "Location",
    caption: "HEE Yorkshire and the Humber, Dental Street, Yorkshire, YA1 1AA.",
    theme: "theme-light-grey"
  }) }}

  <h3 class="toc_h3">Higher specialty Training (ST3-ST7 (ST8))</h3>
  <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
  {{ actionLink({
    text: "Higher surgery",
    href: "#"
  }) }}

  <h4>Types of higher specialty training</h4>
  {{ blocklinks({
    columns: "1",
    links: [
      {
        url: "#",
        label: "Cardiothoracic Surgery"
      },
      {
        url: "#",
        label: "General Surgery"
      },
      {
        url: "#",
        label: "Neurosurgery"
      },
      {
        url: "#",
        label: "Oral & Maxillofacial Surgery"
      },
      {
        url: "#",
        label: "Otolaryngology Surgery"
      },
      {
        url: "#",
        label: "Paediatric Surgery"
      },
      {
        url: "#",
        label: "Plastic Surgery"
      },
      {
        url: "#",
        label: "Trauma & Orthopaedics"
      },
      {
        url: "#",
        label: "Urology"
      },
      {
        url: "#",
        label: "Vascular Surgery"
      }
    ]
  })
  }}

  <h2 class="toc_h2">Support</h2>
  <p>Lorem ipsum dolor sit amet consectetur. Velit arcu consectetur enim eget eget. Pellentesque eget sem feugiat ut erat. Commodo ante ultrices dui etiam et cras velit euismod diam. Aliquam risus scelerisque.</p>

  <h3 class="toc_h3">In-training support</h3>
  <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
  {{ actionLink({
    text: "In-training support",
    href: "#"
  }) }}

  {{ tableExpander({
    showToggleLink: true,
    toggleLabelOpen: "Expand all",
    toggleLabelClose: "Collapse all",
    items: [
      {
        title: "First item",
        rows: [
        {
          heading: "Defence Medical Services (DMS)",
          content: "1"
        },
        {
          heading: "No of Posts 2013 - indicitive",
          content: "7"
        },
        {
          heading: "Competition ratios 2022 data - Ratio",
          content: "6 (6:37)"
        },
        {
          heading: "Job/Programme Descriptions",
          content: "Kent, Surrey and Sussex",
          href: "http://www.yahoo.com"
        }
      ]
      },
      {
        title: "Second item",
        rows: [
        {
          heading: "Defence Medical Services (DMS)",
          content: "1"
        },
        {
          heading: "No of Posts 2013 - indicitive",
          content: "7"
        },
        {
          heading: "Competition ratios 2022 data - Ratio",
          content: "6 (6:37)"
        },
        {
          heading: "Job/Programme Descriptions",
          content: "Kent, Surrey and Sussex",
          href: "http://www.yahoo.com"
        }
      ]
      },
      {
        title: "Third item",
        rows: [
        {
          heading: "Defence Medical Services (DMS)",
          content: "1"
        },
        {
          heading: "No of Posts 2013 - indicitive",
          content: "7"
        },
        {
          heading: "Competition ratios 2022 data - Ratio",
          content: "6 (6:37)"
        },
        {
          heading: "Job/Programme Descriptions",
          content: "Kent, Surrey and Sussex",
          href: "http://www.yahoo.com"
        }
      ]
      }
    ]
  }) }}

  <h3 class="toc_h3">Professional Support and Wellbeing (PSW)</h3>
  <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
  {{ actionLink({
    text: "Professional Support and Wellbeing (PSW)",
    href: "#"
  }) }}

  {% set tabOneContent %}
    <img src="{{ basePath }}/images/young-child-using-tablet-device.jpg" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {% endset -%}

  {% set tabTwoContent %}
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
  {% endset -%}

  {% set tabThreeContent %}
    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
  {% endset -%}

  {{ tabs({
    uniqueId: "tabsone",
    title: "Tab component",
    items: [
      {
        label: "Tab one",
        panel: {
        html: tabOneContent
      }
      },
      {
        label: "Tab two",
        panel: {
        html: tabTwoContent
      }
      },
      {
        label: "Tab three",
        panel: {
        html: tabThreeContent
      }
      }
    ]
  }) }}

  {{ authorCard({
    imgURL: basePath + "/images/doctor-headshot.png",
    title: "Mr",
    name: "First Last",
    initials: "JB",
    pronouns: "Pronoun",
    jobTitle: "Job title",
    department: "Department",
    organisation: "Organisation",
    email: "jo.bloggs@hee.co.uk",
    website: "http://nhs.uk/",
    twitter: "nhsengland",
    linkedin: "nhs",
    address: "Health Education England<br>
            3 Piccadilly<br>
            Manchester<br>
            M1 3BN",
    bio: "Lorem ipsum dolor sit amet...",
    authorURL: "/author/jo-blogs"
  }) }}

{% endblock %}

{% block pageRightbar %}
  {{ anchorLinks({
    title: "Table of Contents",
    toc: true
  }) }}

  {{ card({
    heading: "Apply for surgery on Oriel",
    headingLevel: "3",
    clickable: "true",
    descriptionHtml: "<a class=\"nhsuk-button\" href=\"https://oriel.nhs.uk/Web/\" draggable=\"false\">Visit Oriel</a>"
  }) }}

  {{ relatedLinks({
    heading: "Related Posts",
    items: [
      {
        label: "Surgery Training posts",
        url: "#"
      }
    ]
  })
  }}

  {{ relatedLinks({
    heading: "Useful pages",
    items: [
      {
        label: "Flexible training",
        url: "#"
      },
      {
        label: "In-training support",
        url: "#"
      },
      {
        label: "Transfers",
        url: "#"
      },
      {
        label: "Professional Support and Wellbeing",
        url: "#"
      },
      {
        label: "Raising Concerns",
        url: "#"
      },
      {
        label: "Policy Documents",
        url: "#"
      }
    ]
  })}}

  {{ relatedLinks({
    heading: "External links",
    items: [
      {
        label: "Royal College of Surgeons of Edinburgh",
        url: "#"
      },
      {
        label: "Joint Committee on Surgical Training",
        url: "#"
      },
      {
        label: "The Association of Surgeons in Training",
        url: "#"
      },
      {
        label: "Conference Of Postgraduate Medical Deans",
        url: "#"
      },
      {
        label: "Gold Guide 9th EditionAugust 2022",
        url: "#"
      }
    ]
  })}}

  {{ personCard({
    imgURL: basePath + "/images/doctor-headshot.png",
    title: "Dr",
    name: "Bobby Smith",
    initials: "BS",
    pronouns: "They/them",
    jobTitle: "Content Editor",
    department: "National Website Platform",
    organisation: "NHS UK",
    workAddress: {
      line1: "2 Stephenson St",
      line2: "",
      line3: "",
      city: "Birmingham",
      county: "West Midlands",
      postcode: "B1 2SE"
    },
    image: "",
    email: "bobby.smithandthelongestemail@hee.co.uk",
    telephone: "01162344444",
    website: "http://nhs.uk/",
    twitter: "nhsengland",
    linkedIn: "nhs"
  }) }}

{% endblock %}

{% block pageFeature %}
  {% set items = [
    {
      title: "Publication item #1",
      href: "#",
      details: [
      {
        label: "Publication type:",
        value: "Briefing"
      },
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
    },
    {
      title: "Publication item #2",
      href: "#",
      details: [
      {
        label: "Publication type:",
        value: "Briefing"
      },
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
    },
    {
      title: "Publication item #3",
      href: "#",
      details: [
      {
        label: "Publication type:",
        value: "Briefing"
      },
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
    }
  ]
  %}

  <div class="nhsuk-width-container">
    <h2>News</h2>
    <p>Sed gravida laoreet fames eu. Proin id cras eu elementum. Aliquam orci, arcu nulla enim. Adipiscing sit id vestibulum in duis amet sit placerat. Magnis ullamcorper elementum ante elit amet imperdiet.</p>
    {{ featuredContent({items: items}) }}

    <h2>Events</h2>
    <p>Sed gravida laoreet fames eu. Proin id cras eu elementum. Aliquam orci, arcu nulla enim. Adipiscing sit id vestibulum in duis amet sit placerat. Magnis ullamcorper elementum ante elit amet imperdiet.</p>
    {{ featuredContent({
      items: items,
      theme: "theme-light-grey"
    }) }}
  </div>
{% endblock %}
