{% extends "example-template-rightbar.html" %}

{% set page_url = 'publications-item' %}
{% set page_title = 'Publication Item' %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        },
        {
          href: "/templates",
          text: "Templates"
        }
      ],
      href: "/templates/examples/"+page_url,
      text: page_title
    })
  }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    {{ backLink({
      href: "#",
      text: "Go back"
    }) }}

    <h1>Publication title</h1>
    <span class="nhsuk-caption-xl">Caption</span>
  </div>
{% endblock %}

{% block pageContent %}
  <p class="nhsuk-body-l">This report has been produced in partnership between Health Education England (HEE) and Unity Insights.</p>

  <h2 class="toc_h2" data-short-title="Overview">Overview</h2>
  <p>Working with The Royal College of Surgeons, Health Education England provides world-class education, assessment and development to 30,000 surgeons.</p>
  <p>As your career progresses from medical school student through to surgeon, you will go through a number of stages that all have a level of competitive entry.</p>

  <h2 class="toc_h2" data-short-title="Path">Pathways</h2>
  <p>The training pathway is the most direct route through surgical training. Following each training stage, particularly in the early years, you will need to be selected into the next stage.</p>

  <h3 class="toc_h3" data-short-title="Run-through">Run-through and uncoupled</h3>
  <p>Sollicitudin eu at arcu aliquam, non dui aliquet. Massa urna ultrices ullamcorper imperdiet velit ut a. Integer scelerisque nulla rhoncus nunc et. Et quis dui aliquam sapien nulla lobortis dictumst sapien, dolor. Est lectus volutpat lacus lorem. Semper duis dictumst ipsum diam. Sapien, leo amet erat arcu blandit. Varius viverra sit luctus viverra. Bibendum sed at penatibus odio erat</p>

  <h3 class="toc_h3" data-short-title="ST1-ST7">Run-through posts (ST1-ST7)</h3>
  <p>For some specialties training is through a run-through programme. You only have to apply once, at the beginning of the programme, and are recruited for the full duration of the specialty training.</p>

  <h3 class="toc_h3" data-short-title="Uncoupled posts">Uncoupled posts (CT1, CT2, ST3-ST7)</h3>
  <p>For some specialties training is ran as an uncoupled programme, meaning once you have completed your core training (CT1, CT2) you will be required to re-apply for ST3 onwards.</p>

  <h2 class="toc_h2" data-short-title="Training routes">Training routes</h2>
  <h3 class="toc_h3">Core specialty Training (CT1, CT2 (CT3))</h3>
  <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
  {{ actionLink({
    text: "Core surgery",
    href: "#"
  }) }}

  <h3 class="toc_h3">Higher specialty Training (ST3-ST7 (ST8))</h3>
  <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
  {{ actionLink({
    text: "Higher surgery",
    href: "#"
  }) }}

  <h4>Types of higher specialty training</h4>
  {{ blocklinks({
    columns: "1",
    links: [
      {
        url: "#",
        label: "Cardiothoracic Surgery"
      },
      {
        url: "#",
        label: "General Surgery"
      },
      {
        url: "#",
        label: "Neurosurgery"
      },
      {
        url: "#",
        label: "Oral & Maxillofacial Surgery"
      },
      {
        url: "#",
        label: "Otolaryngology Surgery"
      },
      {
        url: "#",
        label: "Paediatric Surgery"
      },
      {
        url: "#",
        label: "Plastic Surgery"
      },
      {
        url: "#",
        label: "Trauma & Orthopaedics"
      },
      {
        url: "#",
        label: "Urology"
      },
      {
        url: "#",
        label: "Vascular Surgery"
      }
    ]
  })
  }}

  <h2 class="toc_h2">Support</h2>
  <p>Lorem ipsum dolor sit amet consectetur. Velit arcu consectetur enim eget eget. Pellentesque eget sem feugiat ut erat. Commodo ante ultrices dui etiam et cras velit euismod diam. Aliquam risus scelerisque.</p>

  <h3 class="toc_h3">In-training support</h3>
  <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
  {{ actionLink({
    text: "In-training support",
    href: "#"
  }) }}

  <h3 class="toc_h3">Professional Support and Wellbeing (PSW)</h3>
  <p>Felis vel aliquet in metus fermentum. Sit morbi fusce interdum luctus sodales. Amet platea sapien magna id. Dignissim volutpat nec odio platea consequat cras consequat euismod. Egestas in aliquam sed pellentesque. Sapien, varius consectetur donec habitant sed pellentesque sed. Adipiscing tortor, nibh ut mauris nibh phasellus augue volutpat aliquet.</p>
  {{ actionLink({
    text: "Professional Support and Wellbeing (PSW)",
    href: "#"
  }) }}

  <h2 class="toc_h2">Regions</h2>
  <p>Pellentesque id posuere sapien vestibulum, quam pellentesque at libero. Aliquam at id fames hendrerit in vulputate orci aliquet augue. Massa penatibus sociis et nisl. Enim aliquam mauris suscipit turpis non hendrerit felis.</p>
  {{ navMap({
    src: "/images/nav-maps/dental-regions.svg",
    caption: {
      items: [
        {
          id: "lk",
          url: "#",
          text: "London and Kent, Surrey and Sussex (KSS)"
        },
        {
          id: "me",
          url: "#",
          text: "Midlands and the East"
        },
        {
          id: "nenc",
          url: "#",
          text: "North East and North Cumbria"
        },
        {
          id: "nw",
          url: "#",
          text: "North West"
        },
        {
          id: "sw",
          url: "#",
          text: "South West"
        },
        {
          id: "tvw",
          url: "#",
          text: "Thames Valley and Wessex"
        },
        {
          id: "yh",
          url: "#",
          text: "Yorkshire and the Humber"
        }
      ]
    }
  }) }}

{% endblock %}

{% block pageRightbar %}
  {{ anchorLinks({
    title: "Table of Contents",
    headings: "h2,h3,h4,h5,h6",
    toc: true
    })
  }}

  {{ detailsCard({
    title: "Publication Info",
    items: [
      {
        label: "Published:",
        value: "24 June 2022"
      },
      {
        label: "Updated:",
        value: "24 July 2022"
      },
      {
        label: "Topic:",
        value: "<a href=\"#\">Profession 1</a>, <a href=\"#\">Topic 1</a>"
      },
      {
        label: "Estimated reading time:",
        value: "2 mins"
      }
    ]
  }) }}

  {% set pdf %}
    {{ resources({
      title: "Publication title - PDF version",
      text: "Publication title - PDF version",
      url: "#",
      docType: "PDF",
      tagColor: "pdf"
    }) }}
  {% endset %}

  {% set odf %}
    {{ resources({
      title: "Publication title - Open Document version",
      text: "Publication title - Open Document version",
      url: "#",
      docType: "ODF",
      tagColor: "odf"
    }) }}
  {% endset %}

  {% set xls %}
    {{ resources({
      title: "Publication title - Excel",
      text: "Publication title - Excel",
      url: "#",
      docType: "XLS",
      tagColor: "xls"
    }) }}
  {% endset %}

  {{ detailsCard({
    title: "Alternative versions",
    items: [
      {
        value: pdf
      },
      {
        value: odf
      },
      {
        value: xls
      }
    ]
  }) }}

{% endblock %}

{% block pageFeature %}
{% endblock %}
