{% extends "example-template-rightbar.html" %}

{% set page_url = 'publications-landing' %}
{% set page_title = 'Publication Landing' %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        },
        {
          href: "/templates",
          text: "Templates"
        }
      ],
      href: "/templates/examples/"+page_url,
      text: page_title
    })
  }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    <h1>Publication title</h1>
  </div>
{% endblock %}

{% block pageContent %}
  {% set docs = [
    {
      type: "web",
      title: "Publication title - Web version",
      href: "#",
      details: [
        {
          label: "Published",
          value: "24th June 2022"
        },
        {
          label: "Updated",
          value: "24th June 2022"
        },
        {
          value: "WEB"
        },
        {
          value: "20 min read"
        }
      ]
    },
    {
      type: "pdf",
      title: "Publication title - PDF version",
      href: "#",
      details: [
        {
          label: "Published",
          value: "24th June 2022"
        },
        {
          label: "Updated",
          value: "24th June 2022"
        },
        {
          value: "PDF, 16.9 MB, 92 pages"
        },
        {
          value: "20 min read"
        }
      ]
    },
    {
      type: "odt",
      title: "Publication title - Open Document version",
      href: "#",
      details: [
        {
          label: "Published",
          value: "24th June 2022"
        },
        {
          label: "Updated",
          value: "24th June 2022"
        },
        {
          value: "Open Document Format, 16.9 MB, 92 pages"
        },
        {
          value: "20 min read"
        }
      ]
    },
    {
      type: "xlsx",
      title: "Publication title - Open Document version",
      href: "#",
      details: [
        {
          label: "Published",
          value: "24th June 2022"
        },
        {
          label: "Updated",
          value: "24th June 2022"
        },
        {
          value: "Open Document Format, 16.9 MB, 92 pages"
        },
        {
          value: "20 min read"
        }
      ]
    }
  ] %}

  <p class="nhsuk-body-l">Nulla vitae est vel metus aliquam pharetra vel quis ipsum. Pellentesque sit amet nulla a nibh elementum interdum at vel mi.</p>

  <h2>Documents</h2>
  {% for item in docs %}
    {{ publicationDoc(item) }}
  {% endfor %}
{% endblock %}

{% block pageRightbar %}
  {{ relatedLinksCard({
    heading: "Curabitur sit amet",
    links: [
      {
        label: "Donec pulvinar",
        url: "#"
      },
      {
        label: "Duis consequat",
        url: "#"
      },
      {
        label: "Fusce at neque",
        url: "#"
      }
    ]
  })}}
{% endblock %}
