{% extends "example-template-rightbar.html" %}

{% set page_url = 'publications-item' %}
{% set page_title = 'Publication Item' %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        },
        {
          href: "/templates",
          text: "Templates"
        }
      ],
      href: "/templates/examples/"+page_url,
      text: page_title
    })
  }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    {{ backLink({
      href: "#",
      text: "Go back"
    }) }}

    <h1>Publication title</h1>
    <span class="nhsuk-caption-xl">Caption</span>
  </div>
{% endblock %}

{% block pageContent %}
  <p class="nhsuk-body-l">This report has been produced in partnership between Health Education England (HEE) and Unity Insights.</p>

  <h2>Introduction</h2>
  <p>This report has been produced in partnership between Health Education England (HEE) and Unity Insights.</p>

  <h3>Health Education England</h3>
  <p>Health Education England (HEE) exists for one reason only: to support the delivery of excellent healthcare and health improvement to the patients and public of England by ensuring that the workforce of today and tomorrow has the right numbers, skills, values and behaviours, at the right time and in the right place.</p>
  <p>At any one time HEE supports more than 160,000 students and trainees whilst working closely with partners across the NHS locally, regionally and nationally on shared priorities.</p>
  <p>In 2019, HEE were commissioned by the then Secretary of State to deliver the Topol Review recommendations looking at the impact of leading edge digital technologies on the workforce. The Digital, Artificial Intelligence and Robotics Technologies in Education (DART-Ed) programme picks up from this in 2021 to explore the linkage between mature evidenced AI and its workforce impact and required training and education.</p>

  <h3>Unity Insights</h3>
  <p>Unity Insights offer bespoke analytics and evaluation services to the NHS, the AHSN Network, academia, innovators, and industry. It was formed in 2021 following several years of sustained growth as the analytics and evaluation function within Kent Surrey Sussex Academic Health Science Network (KSS AHSN).</p>
  <p>Unity Insights has extensive experience of working with the NHS, from supporting measurement capture of small-scale local programmes to providing analytics</p>
  <p>KSS AHSN, in collaboration with the AHSN Network, originally conducted a survey and developed a report in 2018 entitled:</p>
  <p>“Accelerating Artificial Intelligence in health and care: results from a state of the nation survey” at the request of the Department of Health and Social Care (DHSC) and NHS England (NHSE) to help map out and define the state of the AI landscape in the UK, its definition and various forms. This new roadmap in 2021 picks up on the earlier version and work done since by NHSX to update and capture the latest progress in this area and present it in an easy, readable and user-friendly format.</p>

  <h3>Health Education England</h3>
  <p>Health Education England (HEE) exists for one reason only: to support the delivery of excellent healthcare and health improvement to the patients and public of England by ensuring that the workforce of today and tomorrow has the right numbers, skills, values and behaviours, at the right time and in the right place.</p>
  <p>At any one time HEE supports more than 160,000 students and trainees whilst working closely with partners across the NHS locally, regionally and nationally on shared priorities.</p>
  <p>In 2019, HEE were commissioned by the then Secretary of State to deliver the Topol Review recommendations looking at the impact of leading edge digital technologies on the workforce. The Digital, Artificial Intelligence and Robotics Technologies in Education (DART-Ed) programme picks up from this in 2021 to explore the linkage between mature evidenced AI and its workforce impact and required training and education.</p>

  <h3>Unity Insights</h3>
  <p>Unity Insights offer bespoke analytics and evaluation services to the NHS, the AHSN Network, academia, innovators, and industry. It was formed in 2021 following several years of sustained growth as the analytics and evaluation function within Kent Surrey Sussex Academic Health Science Network (KSS AHSN).</p>
  <p>Unity Insights has extensive experience of working with the NHS, from supporting measurement capture of small-scale local programmes to providing analytics</p>
  <p>KSS AHSN, in collaboration with the AHSN Network, originally conducted a survey and developed a report in 2018 entitled:</p>
  <p>“Accelerating Artificial Intelligence in health and care: results from a state of the nation survey” at the request of the Department of Health and Social Care (DHSC) and NHS England (NHSE) to help map out and define the state of the AI landscape in the UK, its definition and various forms. This new roadmap in 2021 picks up on the earlier version and work done since by NHSX to update and capture the latest progress in this area and present it in an easy, readable and user-friendly format.</p>
{% endblock %}

{% block pageRightbar %}
  {{ anchorLinks({
    title: "On this page",
    headings: "h2,h3,h4,h5,h6",
    items: [
      {
        title: "Introduction",
        href: "#"
      },
      {
        title: "Foreword",
        href: "#",
        children: [
          {
            title: "Executive summary",
            href: "#"
          }
        ]
      },
      {
        title: "Acknowledgments",
        href: "#"
      },
      {
        title: "Notes to the reader",
        href: "#",
        children: [
          {
            title: "1. Initial analysis and profiling",
            href: "#"
          },
          {
            title: "2. Creation and population of the database",
            href: "#"
          },
          {
            title: "3. Case studies",
            href: "#"
          }
        ]
      },
      {
        title: "Limitations and recommendations",
        href: "#"
      },
      {
        title: "Conclusion",
        href: "#"
      }
    ]
    })
  }}

  {{ detailsCard({
    title: "Publication Info",
    items: [
      {
        label: "Published:",
        value: "24 June 2022"
      },
      {
        label: "Updated:",
        value: "24 July 2022"
      },
      {
        label: "Topic:",
        value: "<a href=\"#\">Profession 1</a>, <a href=\"#\">Topic 1</a>"
      },
      {
        label: "Estimated reading time:",
        value: "2 mins"
      }
    ]
  }) }}

  {#{{ resources({
    card: "card",
    description: "Alternative versions",
    title: "Alternative versions",
    text: "Alternative versions",
    url: "#",
    docType: "PDF",
    tagColor: "pdf"
  }) }}#}
{% endblock %}

{% block pageFeature %}
{% endblock %}
