{% extends "example-template-leftbar.html" %}

{% import 'includes/_taxonomy-profession.html' as taxonomyProfession %}
{% import 'includes/_taxonomy-sub-profession.html' as taxonomySubProfession %}
{% import 'includes/_taxonomy-topic.html' as taxonomyTopic %}
{% import 'includes/_taxonomy-sub-topic.html' as taxonomySubTopic %}

{% block pageTitle %}Publications Collection - Examples - NWP Prototype Kit{% endblock %}

{% block pageBreadcrumbs %}
  {{
  breadcrumb({
    items: [
      {
        href: basePath + "/",
        text: "Home"
      }
    ],
    href: basePath + "/templates/examples/publications-collection",
    text: "News Collection"
  })
  }}
{% endblock %}

{% block pageHeader %}
  <div class="nhsuk-width-container">
    <h1>Publications Collection</h1>
    <span class="nhsuk-caption-xl">Caption</span>
    <p class="nhsuk-lede-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rutrum sit sed porta viverra. Amet, tincidunt cras augue justo, proin mollis sapien. Sed cursus quam suspendisse.</p>
  </div>
{% endblock %}

{% block pageLeftbar %}
  {{ filter({
    groups: [
      {
        type: "select",
        name: "profession",
        title: "Profession",
        showClearToggle: true,
        items: taxonomyProfession.items,
        subGroup: {
          type: "select",
          name: "sub_profession",
          title: "Sub profession",
          items: taxonomySubProfession.items
        }
      },
      {
        type: "checkbox",
        title: "Publication type",
        name: "publication_type",
        showClearToggle: true,
        items: [
          {
            text: "Briefing [4]",
            value: "briefing"
          },
          {
            text: "Consultation [1]",
            value: "consultation",
            checked: true
          },
          {
            text: "Data and statistics [7]",
            value: "data_statistics"
          },
          {
            text: "FOI release [12]",
            value: "foi_release"
          },
          {
            text: "Guidance [22]",
            value: "guidance",
            checked: true
          },
          {
            text: "Independent report [4]",
            value: "independent_report"
          },
          {
            text: "Letter [1]",
            value: "letter"
          },
          {
            text: "Policy or strategy [25]",
            value: "policy_strategy"
          }
        ]
      },
      {
        type: "select",
        name: "topic",
        title: "Topic",
        showClearToggle: true,
        items: taxonomyTopic.items,
        subGroup: {
          type: "select",
          name: "sub_topic",
          title: "Sub topic",
          items: taxonomySubTopic.items
        }
      }
    ]
  }) }}
{% endblock %}

{% block pageContent %}
  {% set selectAttributes = {
    id: "sort",
    name: "sort",
    label: {
      text: "Sort by"
    },
    items: [
      {
        value: "newest",
        text: "Newest"
      },
      {
        value: "relevance",
        text: "Relevance"
      }
    ]
  } %}

  {% set submitAttributes = {
    text: "Update",
    classes: "hee-listing__filter__submit"
  } %}

  {% set items = [] %}
  {% for i in range(0, 10) -%}
    {% set item = {
      title: "Publication item #" + loop.index,
      href: "#",
      details: [
        {
          label: "Publications type:",
          value: "Briefing"
        },
        {
          label: "Publish date:",
          value: "07 September 2022"
        }
      ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada. Non senectus a placerat urna, nibh sed aliquam natoque. Diam gravida sit ullamcorper cras eu et mattis donec."
    } %}
    {% set items = (items.push(item), items) %}
  {% endfor %}

  {{ listingLayout({
    filter: {
      select: selectAttributes,
      submit: submitAttributes
    },
    tags: [
      {
        label: "Profession",
        items: [
          {
            text: "Dental professionals",
            value: "dental-professionals"
          },
          {
            text: "Dental nurse",
            value: "dental-nurse"
          }
        ]
      },
      {
        label: "Publication",
        items: [
          {
            text: "Consultation",
            value: "consultation"
          },
          {
            text: "Guidance",
            value: "guidance"
          }
        ]
      },
      {
        label: "Topic",
        items: [
          {
            text: "Cosmetic procedures",
            value: "cosmetic-procedures"
          },
          {
            text: "Funding",
            value: "funding"
          }
        ]
      }
    ],
    results: items,
    emptyMessage: "No results",
    showPagination: true
  }) }}
{% endblock %}