{% extends "example-template.html" %}

{% set page_url = 'search-listing' %}
{% set page_title = 'Search results' %}

{% block pageTitle %}{{ page_title }} - Examples - NWP Prototype Kit{% endblock %}

{% block breadcrumbs %}
  {{
    breadcrumb({
      items: [
        {
          href: basePath + "/",
          text: "Home"
        },
        {
          href: basePath + "/templates",
          text: "Templates"
        },
        {
          href: basePath + "/templates/examples",
          text: "Examples"
        }
      ],
      href: basePath + "/templates/examples/"+page_url,
      text: page_title
    })
  }}
{% endblock %}

{% block pageHeader %}
<div class="nhsuk-width-container">
  <h1>Search results</h1>
</div>
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
  {{ searchForm() }}
</div>
{% endblock %}
