{% extends "example-template-rightbar.html" %}

{% block pageTitle %}Standard Content - Examples - NWP Prototype Kit{% endblock %}

{% block pageHeaderClass %}has-microhero{% endblock %}

{% block breadcrumbs %}
{{ 
    breadcrumb({
    items: [
        {
            href: basePath + "/",
            text: "Home"
        }
    ],
        href: basePath + "/templates/examples/standard-content",
        text: "Standard Content"
    }) 
}}
{% endblock %}

{% block pageHeader %}
  {{ microHero({
    "imgURL": basePath + "/images/young-child-using-tablet-device.jpg"
  }) }}
  <div class="nhsuk-width-container">
    <h1>Standard Content</h1>
    <span class="nhsuk-caption-xl">Caption</span>
    <p class="nhsuk-lede-text"></p>
  </div>
{% endblock %}

{% block pageContent %}
  <p class="nhsuk-lede-text">Pulvinar id lorem tincidunt porttitor non commodo in eu massa. Eget tempor vel sollicitudin aliquam euismod. Scelerisque nisl, vel eros, nunc condimentum donec.</p>
  {{ anchorLinks({
    "title": "On this page",
    "headings": "h2,h3,h4,h5,h6"  
    })
  }}

  <h2><strong>CLA Licence<br />Plus</strong></h2>
  <p>This is the agreement signed between the Copyright Licensing Agency and the Department of Health and Social Care for the NHS in England.</p>

  <p>Download and display the licence  and the Copying Guidelines poster. Use the <a href="#">Check Permissions Tool</a> to find out whether what you want to copy is covered by the Licence.</p>

  <h2>Copyright Act & 'Library Privilege'</h2>
  <p>If copies cannot be made under CLA Licence Plus, NHS library staff may supply copies under terms of the <a href="#">Copyright, Designs and Patents Act of 1988</a>. This includes digital as well as printed works.</p>

  <p>See also The British Library’s help about <a href="#">Library Privilege.</a></p>

  {{ tableExpander({
    showToggleLink: true,
    toggleLabelOpen: "Expand all",
    toggleLabelClose: "Collapse all",
    items: [
      {
        title: "First item",
        rows: [
          {
            heading: "Defence Medical Services (DMS)",
            content: "1"
          },
          {
            heading: "No of Posts 2013 - indicitive",
            content: "7"
          },
          {
            heading: "Competition ratios 2022 data - Ratio",
            content: "6 (6:37)"
          },
          {
            heading: "Job/Programme Descriptions",
            content: "Kent, Surrey and Sussex",
            href: "http://www.yahoo.com"
          }
        ]
      },
      {
        title: "Second item",
        rows: [
          {
            heading: "Defence Medical Services (DMS)",
            content: "1"
          },
          {
            heading: "No of Posts 2013 - indicitive",
            content: "7"
          },
          {
            heading: "Competition ratios 2022 data - Ratio",
            content: "6 (6:37)"
          },
          {
            heading: "Job/Programme Descriptions",
            content: "Kent, Surrey and Sussex",
            href: "http://www.yahoo.com"
          }
        ]
      },
      {
        title: "Third item",
        rows: [
          {
            heading: "Defence Medical Services (DMS)",
            content: "1"
          },
          {
            heading: "No of Posts 2013 - indicitive",
            content: "7"
          },
          {
            heading: "Competition ratios 2022 data - Ratio",
            content: "6 (6:37)"
          },
          {
            heading: "Job/Programme Descriptions",
            content: "Kent, Surrey and Sussex",
            href: "http://www.yahoo.com"
          }
        ]
        }
      ]
  }) }}

  {{ image({
  "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
  "alt": "Picture of allergic conjunctivitis",
  "caption": "Itchy, red, watering eyes"
  }) }}

  {% set tabOneContent %}
    <img src="{{ basePath }}/images/young-child-using-tablet-device.jpg" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>        
  {% endset -%}

  {% set tabTwoContent %}
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>        
  {% endset -%}

  {% set tabThreeContent %}
    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>        
  {% endset -%}

  {{ tabs({
    uniqueId: "tabsone",
    title: "HEE Tabs Width With RH",
    items: [
      {
        label: "Tab one",
        panel: {
          html: tabOneContent
        }
      },
      {
        label: "Tab two",
        panel: {
          html: tabTwoContent
        }
      },
      {
        label: "Tab three",
        panel: {
          html: tabThreeContent
        }
      }
    ]
  }) }}

  {{ reviewDate({
    "lastReview": "12 February 2017",
    "nextReview": "1 February 2020"
  }) }}

{% endblock %}

{% block pageRightbar %}

  {{ downloadsCard({
    title: "Alternative versions",
    items: [
      {
        title: "Short title",
        text: "Short title",
        url: "#",
        docSize: "836KB",
        docType: "PDF",
        tagColor: "pdf"
      },
      {
        title: "Second Publication Title",
        text: "Second Publication Title",
        url: "#",
        docSize: "1.4MB",
        docType: "ODF",
        tagColor: "odf"
      },
      {
        title: "Third Publication Title",
        text: "Third Publication Title",
        url: "#",
        docSize: "2.89MB",
        docType: "XLS",
        tagColor: "xls"
      }
    ]
  }) }}

  {{ relatedLinks({
    heading: "Related Posts",
    items: [
      {
        "url"  : "#",
        "label" : "Expert searching"
      },
      {
        "url"  : "#",
        "label" : "Search training as a longer title"
      },
      {
        "url" : "#",
        "label" : "Search bank"
      },
      {
        "url" : "#",
        "label" : "Costing"
      },
      {
        "url"  : "#",
        "label" : "Search training"
      }
    ]
  })
  }}

{% endblock %}

{% block pageFeature %}
  {% set items = [
    {
      title: "Content Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    },
    {
      title: "Content Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    },
    {
      title: "Content Title",
      href: "#",
      details: [
      {
        label: "Publish date:",
        value: "07 September 2022"
      }
    ],
      summary: "Porttitor nulla pellentesque sit consequat, euismod sociis tempor, malesuada."
    }
  ]
  %}

  <div class="nhsuk-width-container">
    {{ featuredContent({
      title: "Related content",
      summary: "Sed gravida laoreet fames eu. Proin id cras eu elementum. Aliquam orci, arcu nulla enim. Adipiscing sit id vestibulum in duis amet sit placerat. Magnis ullamcorper elementum ante elit amet imperdiet. Nunc turpis vel aliquam lacus arcu. Sodales nullam id lectus orci quis sed. dsf",
      items: items
    }) }}
  </div>
{% endblock %}
