{% extends "example-template.html" %}

{% block pageClass %}page--rightbar{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block pageHeader %}
{% endblock %}

{% block pageMain %}
  <div class="nhsuk-width-container">
    <div class="page__layout">
      <div class="page__main">
        <div class="page__content">
          {% block pageContent %}{% endblock %}
        </div>
      </div>
      <aside class="page__rightbar">
        {% block pageRightbar %}{% endblock %}
      </aside>
    </div>
  </div>
{% endblock %}

{% block pageFooter %}
{% endblock %}

{% block pageFeature %}
{% endblock %}