{% extends "example.html" %}

{% set bodyClasses = 'example example--template' %}

{% block headerStart %}
  {{ skipLink({
    href: '#maincontent',
    text: 'Skip to main content'
  }) }}
{% endblock %}

{% block header %}
  <div class="site-header">
    {{ customHeader({
          "showNav": "true",
          "showSearch": "true",
          "showLogos": "false",
          "heeHref": "http://hee.nhs.uk/",
          "classes": "nhsuk-header--white",
          "organisation": {
            "name": "Health Education England",
            "split": "",
            "descriptor": "Dental Education Hub"
          },
          "logos": [
            {
              "href": "https://www.nimdta.gov.uk/",
              "label": "Northern Ireland Medical and Dental Training Agency Website (Opens in New Window)",
              "imgSrc": "/images/logos/nimdta-logo.png",
              "imgAlt": "Logo for Northern Ireland Medical and Dental Training Agency"
            },
            {
              "href": "https://www.nes.scot.nhs.uk/",
              "label": "NHS Education for Scotland Website (Opens in New Window)",
              "imgSrc": "/images/logos/nhs-scotland-logo.png",
              "imgAlt": "Logo for NHS Education for Scotland"
            },
            {
              "href": "https://heiw.nhs.wales/",
              "label": "Health Education and Improvement Wales Website (Opens in New Window)",
              "imgSrc": "/images/logos/heiw-logo.png",
              "imgAlt": "Logo for Health Education and Improvement Wales"
            }
          ],
          "primaryLinks": [
            {
              url: "/templates",
              label: "Templates"
            },
            {
              url: "/templates",
              label: "Templates longer name"
            },
            {
              url: "/components",
              label: "Components",
              children: [
                {
                  url: "/scaffolding",
                  label: "Scaffolding"
                },
                {
                  url: "/components/furniture",
                  label: "Furniture"
                },
                {
                  url: "/components/contentblocks",
                  label: "Content Blocks"
                },
                {
                  url: "/components/rightblocks",
                  label: "Right Blocks"
                },
                {
                  url: "/components/featureblocks",
                  label: "Feature Blocks"
                }
              ]
            }
          ]
        })
      }}
  </div>
{% endblock %}

{% block headerEnd %}
{% endblock %}

{% block main %}
  <main class="page {% block pageClass %}{% endblock %}" id="maincontent" role="main">
    <div class="page__header">
      {% block pageHeader %}
        {# Hero... Microhero... Title #}
      {% endblock %}
    </div>
    {% block pageMain %}
    <div class="page__main">
        {# Template... #}
    </div>
    {% endblock %}
    <div class="page__footer">
      {% block pageFooter %}
        {# Last updated... Tags... Page created... #}
      {% endblock %}
    </div>
    <section class="page__feature">
      {% block pageFeature %}
      {% endblock %}
    </section>
  </main>
{% endblock %}

{% block footer %}
  {{ siteFooter({
    "classes" : '',
    "list": "nhsuk-footer__list--three-columns",
    "links": [
      {
        "URL": "/blog",
        "label": "Blog"
      },
      {
        "URL": "/about",
        "label": "About us"
      },
      {
        "URL": "/contact",
        "label": "Contact us"
      }
    ]
  }) }}
{% endblock %}

