{% extends "template.html" %}

{% block pageClass %}hee-page--home{% endblock %}

{% block pageTitle %}
HEE Prototype Kit
{% endblock %}

{#% block headerStart %}{% endblock %#}

{#% block headerEnd %}{% endblock %#}

{% block pageHeader %}
{{ hero({
    "heading": "Welcome to HEE's Prototype Kit",
    "text": "Helping you build consistent HEE websites.",
    "imageURL": "/images/young-child-using-tablet-device.jpg"
}) }}
{% endblock %}

{% block pageMain %}
{#% call homepageSection() %}
  <h2>What we do</h2>
  <p></p>
{% endcall %#}

{% call homepageSection() %}
  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "/scaffolding",
        "clickable": "true",
        "heading": "Scaffolding",
        "headingLevel": "3",
        "headingClasses": "nhsuk-heading-m",
        "description": ""
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "/templates",
        "clickable": "true",
        "heading": "Templates",
        "headingLevel": "3",
        "headingClasses": "nhsuk-heading-m",
        "description": ""
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "/examples",
        "clickable": "true",
        "heading": "Examples",
        "headingLevel": "3",
        "headingClasses": "nhsuk-heading-m",
        "description": ""
      }) }}
    </li>
  </ul>
{% endcall %}
{% endblock %}

{% block pageFooter %}
{% endblock %}