{% extends "template.html" %}

{% block bodyStart %}
  {#{ cookies() }#}
{% endblock %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageHeader %}
    {#{ hero({
        "heading": "Welcome to HEE's Prototype Kit",
        "text": "Helping you build consistent HEE websites.",
        "imageURL": "/images/young-child-using-tablet-device.jpg"
    }) }#}
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row hee-layout">
    {% block content %}Content...{% endblock %}
    {% block sidebar %}Sidebar...{% endblock %}
  </div>
</div>
{% endblock %}

{% block pageFooter %}
{% endblock %}

{% block bodyEnd %}
  {% block pageScripts %}{% endblock %}
{% endblock %}
