{# UTILS #}
{%- from 'utils/highlight.njk' import highlight %}
{%- from 'utils/subnav.njk' import subnav %}

{# SCAFFOLDING #}

{# Header #}
{%- from 'scaffolding/header/macro.njk' import customHeader %}
{%- from 'skip-link/macro.njk' import skipLink %}

{# Notifications #}
{%- from 'scaffolding/notifications/globalalert/macro.njk' import globalAlert %}
{%- from 'scaffolding/notifications/phasebanner/macro.njk' import phaseBanner %}

{# Footer #}
{%- from 'scaffolding/footer/macro.njk' import siteFooter %}

{# Main #}
{%- from 'breadcrumb/macro.njk' import breadcrumb %}

{# GLOBAL #}
{%- from 'hero/macro.njk' import hero %}
{%- from 'components/hee/hee-homesection/macro.njk' import homepageSection %}
{%- from 'card/macro.njk' import card %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style="{{ html_style }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block pageTitle %}NWP Prototype Kit{% endblock %}</title>
    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>

    {% block headCSS %}
      <link href="/css/nhsuk-4.1.0.min.css" rel="stylesheet" />
      <link href="/css/highlight.css" rel="stylesheet" />
      <link href="/css/hee.css" rel="stylesheet" />
    {% endblock %}

  </head>

  <body class="{{ bodyClasses }}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block headerStart %}
      {{ skipLink({
        href: '#maincontent',
        text: 'Skip to main content'
      }) }}
    {% endblock %}

    {% block header %}
    <div class="site-header">
      {{ customHeader({
          "showNav": "true",
          "showSearch": "false",
          "showLogos": "false",
          "heeHref": "http://hee.nhs.uk/",
          "classes": "nhsuk-header--white",
          "organisation": {
            "name": "Health Education England",
            "split": "",
            "descriptor": "NWP Prototype Kit"
          },
          "primaryLinks": [
            {
              url: "/templates",
              label: "Templates"
            },
            {
              url: "/blocks",
              label: "Blocks",
              children: [
                {
                  url: "/blocks/scaffolding",
                  label: "Scaffolding"
                },
                {
                  url: "/blocks/furniture",
                  label: "Furniture"
                },
                {
                  url: "/blocks/content",
                  label: "Content"
                }
              ]
            }
          ]
        })
      }}
    </div>
    {% endblock %}

    <div class="site-notifications">
    {% block headerEnd %}
    {% endblock %}
    </div>

    {% block main %}
    <main class="page {% block pageClass %}{% endblock %}" id="maincontent" role="main">
      <div class="page__breadcrumbs">
        {% block pageBreadcrumbs %}{% endblock %}
      </div>
      {% block pageHeader %}{% endblock %}
      {% block pageMain %}{% endblock %}
      <div class="page__footer">
        {% block pageFooter %}{% endblock %}
      </div>
      <section class="page__feature">
        {% block pageFeature %}
        {% endblock %}
      </section>
    </main>
    {% endblock %}
    
    {% block footer %}
      {{ siteFooter({
        "classes" : '',
        "list": "nhsuk-footer__list--three-columns",
        "links": [
          {
            "URL": "/blog",
            "label": "Blog"
          },
          {
            "URL": "/about",
            "label": "About us"
          },
          {
            "URL": "/contact",
            "label": "Contact us"
          }
        ]
      }) }}
    {% endblock %}

    {% block scripts %}
      <script src="/js/jquery-3.3.1.min.js"></script>
      <script src="/js/nhsuk.min.js"></script>
      <script src="/js/highlight.min.js"></script>
      <script src="/js/hee.js"></script>
    {% endblock %}
    {% block bodyEnd %}
      {% block pageScripts %}
        <script>hljs.highlightAll();</script>
      {% endblock %}
    {% endblock %}
  </body>
</html>