{% extends "template.html" %}

{% block pageClass %}page--leftbar{% endblock %}

{% block pageBreadcrumbs %}
{% endblock %}

{% block pageHeader %}
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
  <div class="page__layout">
    <div class="page__leftbar">
      {% block pageLeftbar %}Leftbar...{% endblock %}
    </div>
    <div class="page__main">
      {% block pageContent %}Content...{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block pageFooter %}
{% endblock %}

{% block pageFeature %}
{% endblock %}
