/**
 * 1. Use inverted link colours due to the yellow
 *    ($color_nhsuk-yellow) background.
 */

 @mixin nhsuk-link-style-inverted {
	color: $nhsuk-link-color;

	&:focus {
	  background-color: $color_shade_nhsuk-blue-35;
	  box-shadow: 0 0 0 4px $color_shade_nhsuk-blue-35;
	  color: $color_nhsuk-white;
	  outline: $nhsuk-focus-width solid transparent;
	  outline-offset: $nhsuk-focus-width;
	}

	&:hover {
	  background-color: $color_nhsuk-blue;
	  box-shadow: 0 0 0 4px $color_nhsuk-blue;
	  color: $color_nhsuk-white;
	}

	&:active {
	  background-color: $color_shade_nhsuk-blue-50;
	  box-shadow: 0 0 0 4px $color_shade_nhsuk-blue-35;
	  color: $color_nhsuk-white;
	}
}

$max-width: 960px;
@mixin container(
    $max-width: $max-width
) {
    @if $max-width == "large" {
        //max-width: 98%;
    } @else {
        //max-width: $max-width;
    }
    max-width: $max-width;
    margin: 0 auto;
    
    @include media(tablet) {
        margin: 0 32px;
    }
    @include media(mobile) {
        //width: 94%;
        margin: 0 16px;
    }
    @include media(desktop) {
    }
}

$tablet: 767px;
$desktop: 1024px;
$mac: 1281px;

@mixin media($media) {
    @if $media == mobile {
        @media only screen and (max-width: $tablet) { @content; }
    }
    @if $media == tablet-down {
        @media only screen and (max-width: $desktop - 0.001) { @content; }
    }
    @if $media == tablet {
        @media only screen and (min-width: $tablet + 0.001) and (max-width: $desktop - 0.001) { @content; }
    }
    @if $media == desktop {
        @media only screen and (min-width: $desktop) and (max-width: $mac + 0.001){ @content; }
    }
    
    @if $media == mac { // this is the norm
        @media only screen and (min-width: $mac) { @content; }
    }
}


@mixin browser($browser) {
    
    @if $browser == ie {
        @media screen\0 { @content; }
    }
    
}