{% macro backToHomeBanner(params) %}
  <div class="hee-back-to-home-banner">
    <div class="nhsuk-width-container">
      <a class="hee-back-to-home-banner__link" href="{{ params.url }}">
        {{ params.title }}
      </a>
    </div>
  </div>
{% endmacro %}
