{%- from 'hee/blocks/content/main/hee-listing-item/macro.njk' import listingItem %}

{% macro miniListing(items) %}
  <div class="hee-mini-listing">
    {% for item in items %}
      <div class="hee-mini-listing__item">
        {{ listingItem(item) }}
      </div>
    {% endfor %}
  </div>
{% endmacro %}
