{% extends "template.html" %}

{% block pageClass %}hee-page--standard{% endblock %}

{% block pageTitle %}
Layouts - HEE Prototype
{% endblock %}

{% block pageHeader %}
{{ breadcrumb({
    items: [
        {
            href: "/",
            text: "Home"
        }
    ],
    href: "/layouts",
    text: "Layouts"
}) }}
{{ microHero({
    imgURL: 'https://via.placeholder.com/2000x260',
    imgAlt: 'An example bg image'
}) }}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds hee-page__heading">
            <h1>Layouts</h1>
            <p class="nhsuk-lede-text">All of the available HEE layouts</p>
        </div>
    </div>
</div>
{% endblock %}

{% block pageMain %}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <ul class="nhsuk-card-group">
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/",
                    "clickable": "true",
                    "heading": "Homepage",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
                </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
                "href": "/layouts/listing",
                "clickable": "true",
                "heading": "Listing",
                "headingLevel": "3",
                "headingClasses": "nhsuk-heading-s",
                "description": ""
            }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/layouts/minihub",
                    "clickable": "true",
                    "heading": "Minihub",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                {{ card({
                    "href": "/layouts/article",
                    "clickable": "true",
                    "heading": "Article",
                    "headingLevel": "3",
                    "headingClasses": "nhsuk-heading-s",
                    "description": ""
                }) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}