<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!-->
<html lang="en" style=""><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <base href="/hee-prototypes/">
  <title>Publication Item - Examples - NWP Prototype Kit</title>
  <link href="https://www.nhs.uk/" rel="preconnect">
  <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
  <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
  <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
  <link href="/css/nhsuk-4.1.0.min.css" rel="stylesheet" />
  <link href="/css/hee.css" rel="stylesheet" />
  <style>
    .example {}

    .example--template {}

    .example--blocks {
      padding: 1em;
      background-color: #f0f4f5;
    }
  </style>
  <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
  <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
  <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
  <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
  <meta name="msapplication-TileColor" content="#005eb8">
  <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
  <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
  <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">
</head>

<body class="example example--template">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
  <div class="site-header">
    <header class="nhsuk-header nhsuk-header--organisation nhsuk-header--white" role="banner">
      <div class="nhsuk-width-container nhsuk-header__container">
        <div class="nhsuk-header__multilogo">
          <span class="nhsuk-header__logo nhsuk-header__logo-home">
            <a class="nhsuk-header__link" href="http://hee.nhs.uk/" aria-label="Health Education England  Dental Education Hub homepage">
              <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="presentation" focusable="false" viewBox="0 0 40 16">
                <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
                <path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
                <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
              </svg>
              <span class="nhsuk-organisation-name">Health Education England</span>
            </a>
            <a class="nhsuk-header__link" href="/" aria-label="Health Education England  Dental Education Hub homepage">
              <span class="nhsuk-organisation-descriptor">Dental Education Hub</span>
            </a>
          </span>
        </div>
        <div class="nhsuk-header__content" id="content-header">
          <div class="nhsuk-header__menu">
            <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-label="Open menu">Menu</button>
          </div>
          <div class="nhsuk-header__search">
            <button class="nhsuk-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
              <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
            <div class="nhsuk-header__search-wrap" id="wrap-search">
              <form class="nhsuk-header__search-form" id="search" action="https://www.nhs.uk/search/" method="get" role="search">
                <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
                <div class="autocomplete-container" id="autocomplete-container">
                  <div class="autocomplete__wrapper">
                    <input class="nhsuk-search__input" id="search-field" name="q" type="search" placeholder="Search" autocomplete="off">
                  </div>
                </div>
                <button class="nhsuk-search__submit" type="submit">
                  <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Search</span>
                </button>
                <button class="nhsuk-search__close" id="close-search">
                  <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Close search</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <nav class="nhsuk-header__navigation nhsuk-header__navigation--more-items" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
        <div class="nhsuk-width-container">
          <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
            <button class="nhsuk-header__navigation-close" id="close-menu">
              <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Close menu</span>
            </button>
          </p>
          <ul class="nhsuk-header__navigation-list">
            <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--for-mobile">
              <a class="nhsuk-header__navigation-link" href="/"> Home </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="/templates"> Templates </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="/templates"> Templates longer name </a>
            </li>
            <li class="nhsuk-header__navigation-item nhsuk-subnav" aria-haspopup="true" aria-expanded="false">
              <a class="nhsuk-header__navigation-link" href="#">
                <div class="nhsuk-subnav__wrapper">
                  <span class="nhsuk-header__link-text">Components</span>
                  <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                  </svg>
                </div>
              </a>
              <ul class="nhsuk-subnav__list">
                <li class="nhsuk-subnav__list-item">
                  <a class="nhsuk-subnav__list-link" href="/components"> Components </a>
                </li>
                <li class="nhsuk-subnav__list-item">
                  <a class="nhsuk-subnav__list-link" href="/scaffolding"> Scaffolding </a>
                </li>
                <li class="nhsuk-subnav__list-item">
                  <a class="nhsuk-subnav__list-link" href="/components/furniture"> Furniture </a>
                </li>
                <li class="nhsuk-subnav__list-item">
                  <a class="nhsuk-subnav__list-link" href="/components/contentblocks"> Content Blocks </a>
                </li>
                <li class="nhsuk-subnav__list-item">
                  <a class="nhsuk-subnav__list-link" href="/components/rightblocks"> Right Blocks </a>
                </li>
                <li class="nhsuk-subnav__list-item">
                  <a class="nhsuk-subnav__list-link" href="/components/featureblocks"> Feature Blocks </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
  <div class="site-notifications">
  </div>
  <main class="page page--rightbar" id="maincontent" role="main">
    <div class="page__breadcrumbs">
      <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/templates">Templates</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/templates/examples/publications-item">Publication Item</a></li>
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/templates/examples/publications-item">Back to Publication Item</a></p>
        </div>
      </nav>
    </div>
    <div class="page__header">
      <div class="nhsuk-width-container">
        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="#">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg> Go back</a>
        </div>
        <h1>Publication title</h1>
        <span class="nhsuk-caption-xl">Caption</span>
      </div>
    </div>
    <div class="nhsuk-width-container">
      <div class="page__layout">
        <div class="page__main">
          <p class="nhsuk-body-l">This report has been produced in partnership between Health Education England (HEE) and Unity Insights.</p>
          <h2>Introduction</h2>
          <p>This report has been produced in partnership between Health Education England (HEE) and Unity Insights.</p>
          <h3>Health Education England</h3>
          <p>Health Education England (HEE) exists for one reason only: to support the delivery of excellent healthcare and health improvement to the patients and public of England by ensuring that the workforce of today and tomorrow has the right numbers, skills, values and behaviours, at the right time and in the right place.</p>
          <p>At any one time HEE supports more than 160,000 students and trainees whilst working closely with partners across the NHS locally, regionally and nationally on shared priorities.</p>
          <p>In 2019, HEE were commissioned by the then Secretary of State to deliver the Topol Review recommendations looking at the impact of leading edge digital technologies on the workforce. The Digital, Artificial Intelligence and Robotics Technologies in Education (DART-Ed) programme picks up from this in 2021 to explore the linkage between mature evidenced AI and its workforce impact and required training and education.</p>
          <h3>Unity Insights</h3>
          <p>Unity Insights offer bespoke analytics and evaluation services to the NHS, the AHSN Network, academia, innovators, and industry. It was formed in 2021 following several years of sustained growth as the analytics and evaluation function within Kent Surrey Sussex Academic Health Science Network (KSS AHSN).</p>
          <p>Unity Insights has extensive experience of working with the NHS, from supporting measurement capture of small-scale local programmes to providing analytics</p>
          <p>KSS AHSN, in collaboration with the AHSN Network, originally conducted a survey and developed a report in 2018 entitled:</p>
          <p>“Accelerating Artificial Intelligence in health and care: results from a state of the nation survey” at the request of the Department of Health and Social Care (DHSC) and NHS England (NHSE) to help map out and define the state of the AI landscape in the UK, its definition and various forms. This new roadmap in 2021 picks up on the earlier version and work done since by NHSX to update and capture the latest progress in this area and present it in an easy, readable and user-friendly format.</p>
          <h3>Health Education England</h3>
          <p>Health Education England (HEE) exists for one reason only: to support the delivery of excellent healthcare and health improvement to the patients and public of England by ensuring that the workforce of today and tomorrow has the right numbers, skills, values and behaviours, at the right time and in the right place.</p>
          <p>At any one time HEE supports more than 160,000 students and trainees whilst working closely with partners across the NHS locally, regionally and nationally on shared priorities.</p>
          <p>In 2019, HEE were commissioned by the then Secretary of State to deliver the Topol Review recommendations looking at the impact of leading edge digital technologies on the workforce. The Digital, Artificial Intelligence and Robotics Technologies in Education (DART-Ed) programme picks up from this in 2021 to explore the linkage between mature evidenced AI and its workforce impact and required training and education.</p>
          <h3>Unity Insights</h3>
          <p>Unity Insights offer bespoke analytics and evaluation services to the NHS, the AHSN Network, academia, innovators, and industry. It was formed in 2021 following several years of sustained growth as the analytics and evaluation function within Kent Surrey Sussex Academic Health Science Network (KSS AHSN).</p>
          <p>Unity Insights has extensive experience of working with the NHS, from supporting measurement capture of small-scale local programmes to providing analytics</p>
          <p>KSS AHSN, in collaboration with the AHSN Network, originally conducted a survey and developed a report in 2018 entitled:</p>
          <p>“Accelerating Artificial Intelligence in health and care: results from a state of the nation survey” at the request of the Department of Health and Social Care (DHSC) and NHS England (NHSE) to help map out and define the state of the AI landscape in the UK, its definition and various forms. This new roadmap in 2021 picks up on the earlier version and work done since by NHSX to update and capture the latest progress in this area and present it in an easy, readable and user-friendly format.</p>
        </div>
        <aside class="page__rightbar">
          <div class="nhsuk-anchor-links hee-anchorlinks" data-disable-js=true data-headings="h2,h3,h4,h5,h6">
            <h2 data-anchorlinksignore="true">On this page</h2>
            <ul>
              <li>
                <a href="#">Introduction</a>
              </li>
              <li class=has-children>
                <a href="#">Foreword</a>
                <ul>
                  <li>
                    <span>
                      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00019 6.99994C8.00095 7.13155 7.97572 7.26201 7.92596 7.38385C7.87619 7.50569 7.80287 7.6165 7.71019 7.70994L2.71019 12.7099C2.61695 12.8032 2.50626 12.8771 2.38443 12.9276C2.26261 12.9781 2.13204 13.004 2.00019 13.004C1.86833 13.004 1.73776 12.9781 1.61594 12.9276C1.49411 12.8771 1.38342 12.8032 1.29018 12.7099C1.19695 12.6167 1.12299 12.506 1.07253 12.3842C1.02206 12.2624 0.996094 12.1318 0.996094 11.9999C0.996094 11.8681 1.02206 11.7375 1.07253 11.6157C1.12299 11.4939 1.19695 11.3832 1.29018 11.2899L5.59019 6.99994L1.29018 2.70994C1.10188 2.52164 0.996094 2.26624 0.996094 1.99994C0.996094 1.73364 1.10188 1.47825 1.29018 1.28994C1.47849 1.10164 1.73388 0.99585 2.00019 0.99585C2.26649 0.99585 2.52188 1.10164 2.71019 1.28994L7.71019 6.28994C7.80287 6.38338 7.87619 6.4942 7.92596 6.61603C7.97572 6.73787 8.00095 6.86833 8.00019 6.99994Z" fill="black" />
                      </svg>
                    </span>
                    <a href="#">Executive summary</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Acknowledgments</a>
              </li>
              <li class=has-children>
                <a href="#">Notes to the reader</a>
                <ul>
                  <li>
                    <span>
                      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00019 6.99994C8.00095 7.13155 7.97572 7.26201 7.92596 7.38385C7.87619 7.50569 7.80287 7.6165 7.71019 7.70994L2.71019 12.7099C2.61695 12.8032 2.50626 12.8771 2.38443 12.9276C2.26261 12.9781 2.13204 13.004 2.00019 13.004C1.86833 13.004 1.73776 12.9781 1.61594 12.9276C1.49411 12.8771 1.38342 12.8032 1.29018 12.7099C1.19695 12.6167 1.12299 12.506 1.07253 12.3842C1.02206 12.2624 0.996094 12.1318 0.996094 11.9999C0.996094 11.8681 1.02206 11.7375 1.07253 11.6157C1.12299 11.4939 1.19695 11.3832 1.29018 11.2899L5.59019 6.99994L1.29018 2.70994C1.10188 2.52164 0.996094 2.26624 0.996094 1.99994C0.996094 1.73364 1.10188 1.47825 1.29018 1.28994C1.47849 1.10164 1.73388 0.99585 2.00019 0.99585C2.26649 0.99585 2.52188 1.10164 2.71019 1.28994L7.71019 6.28994C7.80287 6.38338 7.87619 6.4942 7.92596 6.61603C7.97572 6.73787 8.00095 6.86833 8.00019 6.99994Z" fill="black" />
                      </svg>
                    </span>
                    <a href="#">1. Initial analysis and profiling</a>
                  </li>
                  <li>
                    <span>
                      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00019 6.99994C8.00095 7.13155 7.97572 7.26201 7.92596 7.38385C7.87619 7.50569 7.80287 7.6165 7.71019 7.70994L2.71019 12.7099C2.61695 12.8032 2.50626 12.8771 2.38443 12.9276C2.26261 12.9781 2.13204 13.004 2.00019 13.004C1.86833 13.004 1.73776 12.9781 1.61594 12.9276C1.49411 12.8771 1.38342 12.8032 1.29018 12.7099C1.19695 12.6167 1.12299 12.506 1.07253 12.3842C1.02206 12.2624 0.996094 12.1318 0.996094 11.9999C0.996094 11.8681 1.02206 11.7375 1.07253 11.6157C1.12299 11.4939 1.19695 11.3832 1.29018 11.2899L5.59019 6.99994L1.29018 2.70994C1.10188 2.52164 0.996094 2.26624 0.996094 1.99994C0.996094 1.73364 1.10188 1.47825 1.29018 1.28994C1.47849 1.10164 1.73388 0.99585 2.00019 0.99585C2.26649 0.99585 2.52188 1.10164 2.71019 1.28994L7.71019 6.28994C7.80287 6.38338 7.87619 6.4942 7.92596 6.61603C7.97572 6.73787 8.00095 6.86833 8.00019 6.99994Z" fill="black" />
                      </svg>
                    </span>
                    <a href="#">2. Creation and population of the database</a>
                  </li>
                  <li>
                    <span>
                      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00019 6.99994C8.00095 7.13155 7.97572 7.26201 7.92596 7.38385C7.87619 7.50569 7.80287 7.6165 7.71019 7.70994L2.71019 12.7099C2.61695 12.8032 2.50626 12.8771 2.38443 12.9276C2.26261 12.9781 2.13204 13.004 2.00019 13.004C1.86833 13.004 1.73776 12.9781 1.61594 12.9276C1.49411 12.8771 1.38342 12.8032 1.29018 12.7099C1.19695 12.6167 1.12299 12.506 1.07253 12.3842C1.02206 12.2624 0.996094 12.1318 0.996094 11.9999C0.996094 11.8681 1.02206 11.7375 1.07253 11.6157C1.12299 11.4939 1.19695 11.3832 1.29018 11.2899L5.59019 6.99994L1.29018 2.70994C1.10188 2.52164 0.996094 2.26624 0.996094 1.99994C0.996094 1.73364 1.10188 1.47825 1.29018 1.28994C1.47849 1.10164 1.73388 0.99585 2.00019 0.99585C2.26649 0.99585 2.52188 1.10164 2.71019 1.28994L7.71019 6.28994C7.80287 6.38338 7.87619 6.4942 7.92596 6.61603C7.97572 6.73787 8.00095 6.86833 8.00019 6.99994Z" fill="black" />
                      </svg>
                    </span>
                    <a href="#">3. Case studies</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Limitations and recommendations</a>
              </li>
              <li>
                <a href="#">Conclusion</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <div class="page__footer">
    </div>
    <section class="page__feature">
    </section>
  </main>
  <footer class="nhsuk-footer site-footer" id="nhsuk-footer" role="contentinfo">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/blog">Blog</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/about">About us</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/contact">Contact us</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </footer>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/nhsuk.min.js"></script>
  <script src="/js/hee.js"></script>
</body>

</html>